<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Sign in</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">-->
        <link rel="stylesheet" href="../vendors/bootstrap/bootstrap-modal-only.css">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/responsiveness.css" media="(max-width: 767px)">
    </head>
    <body>

        <div class="gate gate--inverted">
            <div class="gate__cell">
                <!-- editable background -->
                <div class="gate__background">
                    <img class="gate__photo"
                         srcset="../temp/gate@2x.jpg"
                         src="../temp/gate.jpg"
                         width="1440"
                         height="767"
                         alt=""
                    >
                    <div class="gate__overlay"></div>
                    <div class="gate__credits">
                        Photo by <a class="link" href="#">Model Name</a>
                    </div>
                </div>
                <!--/editable background -->
                <div class="gate__wrap container container--auth">
                    <div class="gate__intro">
                        <div class="gate__branding auth-logo">
                            STAGETIME
                        </div>
                        <div class="gate__slogan">
                            The <strong class="gate__highlight">professional network</strong> for the performing&nbsp;arts
                        </div>

                        <!-- temp -->
                        <br><br>or:<br><br>
                        <!--/temp -->

                        <div class="gate__org">
                            <div class="gate__org-summary">
                                <div class="gate__preview">
                                    <div class="spot spot--smaller-on-mobile" style="background-color: #65758A;">
                                        <div class="spot__members">
                                            <img class="spot__logo"
                                                 srcset="../temp/organization-a-44x44@2x.jpg 2x"
                                                 src="../temp/organization-a-44x44.jpg"
                                                 width="44"
                                                 height="44"
                                                 alt=""
                                            >
                                        </div>
                                        <div class="spot__data" style="color: #FFFFFF;">
                                            <div class="spot__year">2023</div>
                                            <div class="spot__class">AMFS Class</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gate__org-branding auth-logo">
                                    STAGETIME
                                </div>
                            </div>
                            <div class="gate__org-slogan">
                                Welcome to the <strong class="gate__org-highlight">2023 Student, Faculty, and Staff of the Aspen Music Festival and School</strong>
                            </div>
                        </div>
                    </div>
                    <form class="gate__form auth">
                        <div class="auth__heading">
                            Sign in
                        </div>
                        <div class="auth__alternative">
                            Don’t have an account? <a class="auth__alt-action link link--fading" href="#">Sign up</a><span class="auth__dot">.</span>
                        </div>
                        <div class="auth__fieldset">
                            <div class="auth__field input input--auth">
                                <input class="input__widget" type="email" placeholder="Email address">
                            </div>
                            <div class="auth__field input input--auth">
                                <input class="input__widget" type="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="auth__forgot-password">
                            <a class="link link--fading" href="#">
                                Forgot password?
                            </a>
                        </div>
                        <button class="auth__submit button button--auth-primary" type="submit">
                            Continue
                        </button>
                        <div class="auth__separator bar">
                            <div class="bar__label">or</div>
                        </div>
                        <div class="auth__social-networks">
                            <a class="auth__net button button--auth-secondary" href="#">
                                <img class="button__icon button__icon--left" src="../symbols/24-google-color.svg" width="20" height="20" alt="">
                                Continue with Google
                            </a>
                            <a class="auth__net button button--auth-secondary" href="#">
                                <img class="button__icon button__icon--left" src="../symbols/24-apple-color.svg" width="20" height="20" alt="">
                                Continue with Apple
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!-- 3/3 Modals: -->
        <!-- No modal windows on this page -->




        <div class="size-checker" role="presentation" aria-hidden="true"></div>

        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.6.0.min.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/wavesurfer/wavesurfer.js"></script>
        <script src="../vendors/expanding-textareas/dist/expanding.jquery.js"></script>
        <script src="../vendors/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script src="../vendors/sortable/Sortable.min.js"></script>
        <script src="../vendors/bootstrap/bootstrap-modal-only.js"></script>
        <script src="../vendors/jquery-mousewheel/jquery.mousewheel.min.js"></script>
        <script src="../vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="../vendors/select2/js/select2.min.js"></script>
        <script src="../scripts/_global.js"></script>
        <script src="../scripts/_operations.js"></script>
        <script src="../scripts/_profile.js"></script>
        <script src="../scripts/_sidebar.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_search.js"></script>
        <script src="../scripts/_carousel.js"></script>
        <script src="../scripts/_player3.js"></script>
        <script src="../scripts/_updates.js"></script>
        <script src="../scripts/_side.js"></script>
        <script src="../scripts/_happening.js"></script>
        <script src="../scripts/_input.js"></script>
        <script src="../scripts/_edit-post.js"></script>
        <script src="../scripts/_post-form.js"></script>
        <script src="../scripts/_button.js"></script>
        <script src="../scripts/_quick-message.js"></script>
        <script src="../scripts/_explore.js"></script>
        <script src="../scripts/_shortcut.js"></script>
        <script src="../scripts/_scrollbar.js"></script>
        <script src="../scripts/_overlay.js"></script>
        <script src="../scripts/_notifications.js"></script>
        <script src="../scripts/_enter.js"></script>
        <script src="../scripts/_suggesting.js"></script>
        <script src="../scripts/_chat.js"></script>
        <script src="../scripts/_badge.js"></script>
        <script src="../scripts/_media-bar.js"></script>
        <script src="../scripts/_settings.js"></script>
        <script src="../scripts/_slideshow.js"></script>
        <script src="../scripts/_expandable-bio.js"></script>
        <script src="../scripts/_parallax.js"></script>
        <script src="../scripts/_simple-parallax.js"></script>
        <script src="../scripts/_anchor.js"></script>
        <script src="../scripts/_modal.js"></script>
        <script src="../scripts/_full-media-card.js"></script>
        <script src="../scripts/_color-selection.js"></script>
        <script src="../scripts/_layout-type.js"></script>
        <script src="../scripts/_sortable.js"></script>
        <script src="../scripts/_biography.js"></script>
        <script src="../scripts/_full-biography.js"></script>
        <script src="../scripts/_media-clip.js"></script>
        <script src="../scripts/_typing.js"></script>
        <script src="../scripts/_circles.js"></script>
        <script src="../scripts/_brief.js"></script>
        <script src="../scripts/_non-performer.js"></script>
        <script src="../scripts/_classic.js"></script>
        <script src="../scripts/_owl-carousel.js"></script>
        <script src="../scripts/_add-filter.js"></script>
        <script src="../scripts/_select2.js"></script>
        <script src="../scripts/_multiline.js"></script>
        <script src="../scripts/_network-news.js"></script>
        <script src="../scripts/_vertical-artist.js"></script>
        <script src="../scripts/_tabs.js"></script>
        <script src="../scripts/_picking.js"></script>
        <script src="../scripts/_copying.js"></script>
        <script src="../scripts/_spotlight.js"></script>
        <script src="../scripts/_flyover.js"></script>


    </body>
</html>
