<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Reset password</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">-->
        <link rel="stylesheet" href="../vendors/bootstrap/bootstrap-modal-only.css">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/responsiveness.css" media="(max-width: 767px)">
    </head>
    <body>

        <div class="gate">
            <div class="gate__cell">
                <!-- editable background -->
                <picture>
                    <source srcset="../temp/gate-desktop@2x.jpg 2x, ../temp/gate-desktop.jpg 1x" media="(min-width: 768px)">
                    <source srcset="../temp/gate-mobile@2x.jpg 2x,  ../temp/gate-mobile.jpg 1x"  media="(max-width: 767px)">
                    <img class="gate__background" src="../temp/gate-desktop.jpg" alt="">
                </picture>
                <div class="gate__overlay" style="background-color: rgba(51, 51, 51, 0.8);"></div>
                <!--/editable background -->
                <div class="gate__wrap container container--auth">
                    <div class="gate__intro">
                        <div class="gate__branding auth-logo">
                            STAGETIME
                        </div>
                        <div class="gate__slogan">
                            The <strong class="gate__highlight">professional network</strong> for the performing&nbsp;arts
                        </div>
                    </div>
                    <form class="gate__form auth">
                        <div class="auth__heading">
                            Reset password
                        </div>
                        <div class="auth__fieldset">
                            <div class="auth__field input input--auth">
                                <input class="input__widget" type="email" placeholder="Email address">
                            </div>
                        </div>
                        <button class="auth__submit button button--auth-primary" type="submit">
                            Send reset intructions
                        </button>
                    </form>
                </div>
                <div class="gate__credits">
                    Photo by <a class="link" href="#">Model Name</a>
                </div>
            </div>
        </div>


        <!-- 3/3 Modals: -->
        <!-- No modal windows on this page -->




        <div class="size-checker" role="presentation" aria-hidden="true"></div>

        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.6.0.min.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/wavesurfer/wavesurfer.js"></script>
        <script src="../vendors/expanding-textareas/dist/expanding.jquery.js"></script>
        <script src="../vendors/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script src="../vendors/sortable/Sortable.min.js"></script>
        <script src="../vendors/bootstrap/bootstrap-modal-only.js"></script>
        <script src="../vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="../scripts/_global.js"></script>
        <script src="../scripts/_operations.js"></script>
        <script src="../scripts/_profile.js"></script>
        <script src="../scripts/_sidebar.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_search.js"></script>
        <script src="../scripts/_carousel.js"></script>
        <script src="../scripts/_player3.js"></script>
        <script src="../scripts/_updates.js"></script>
        <script src="../scripts/_side.js"></script>
        <script src="../scripts/_happening.js"></script>
        <script src="../scripts/_input.js"></script>
        <script src="../scripts/_edit-post.js"></script>
        <script src="../scripts/_post-form.js"></script>
        <script src="../scripts/_button.js"></script>
        <script src="../scripts/_quick-message.js"></script>
        <script src="../scripts/_explore.js"></script>
        <script src="../scripts/_shortcut.js"></script>
        <script src="../scripts/_scrollbar.js"></script>
        <script src="../scripts/_overlay.js"></script>
        <script src="../scripts/_notifications.js"></script>
        <script src="../scripts/_enter.js"></script>
        <script src="../scripts/_suggesting.js"></script>
        <script src="../scripts/_chat.js"></script>
        <script src="../scripts/_badge.js"></script>
        <script src="../scripts/_media-bar.js"></script>
        <script src="../scripts/_settings.js"></script>
        <script src="../scripts/_slideshow.js"></script>
        <script src="../scripts/_expandable-bio.js"></script>
        <script src="../scripts/_parallax.js"></script>
        <script src="../scripts/_simple-parallax.js"></script>
        <script src="../scripts/_anchor.js"></script>
        <script src="../scripts/_modal.js"></script>
        <script src="../scripts/_full-media-card.js"></script>
        <script src="../scripts/_color-selection.js"></script>
        <script src="../scripts/_layout-type.js"></script>
        <script src="../scripts/_sortable.js"></script>
        <script src="../scripts/_biography.js"></script>
        <script src="../scripts/_media-clip.js"></script>
        <script src="../scripts/_typing.js"></script>
        <script src="../scripts/_circles.js"></script>
        <script src="../scripts/_brief.js"></script>
        <script src="../scripts/_non-performer.js"></script>
        <script src="../scripts/_owl-carousel.js"></script>


    </body>
</html>
