<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">-->
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <!-- temp -->
        <img src="../temp/header-bar.png" alt="" style="width: 100%; vertical-align: top;">
        <!--/temp -->

        <div class="summary">
            <div class="summary__background" role="presentation" aria-hidden="true">
                <style>
                    .summary__background {
                        background-image: url(../temp/summary-1440x467.jpg)
                    }
                    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
                        .summary__background {
                            background-image: url(../temp/summary-1440x467@2x.jpg);
                        }
                    }

                    @media (max-width: 900px) {
                        .summary__background {
                            background-image: url(../temp/summary-768x467.jpg)
                        }
                        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
                            .summary__background {
                                background-image: url(../temp/summary-768x467@2x.jpg);
                            }
                        }
                    }
                </style>
            </div>
            <div class="summary__wrap container container--organisation">
                <div class="summary__brand">
                    <img class="summary__logo"
                         srcset="../temp/org-logo@2x.png 2x"
                         src="../temp/org-logo.png"
                         width="113"
                         height="113"
                         alt=""
                    >
                    <h1 class="summary__title">
                        Indiana University
                    </h1>
                </div>
                <div class="summary__location">
                    <img class="summary__map-pin" src="../symbols/24-location.svg" width="24" height="24" alt="">
                    Bloomington, IN — USA
                </div>
            </div>
        </div>
        <div class="org-nav separator">
            <div class="org-nav__wrap container container--organisation">
                <div class="org-nav__menu alt-nav">
                    <a class="alt-nav__link" href="#">Home</a>
                    <a class="alt-nav__link alt-nav__link--current" href="organization-people.html">People</a>
                    <a class="alt-nav__link" href="organization-events.html">Events</a>
                    <a class="alt-nav__link" href="organization-virtual.html">Virtual</a>
                    <a class="alt-nav__link" href="#">Jobs</a>
                </div>
                <div class="org-nav__social media">
                    <a class="media__link" href="#">
                        <img class="media__icon" src="../symbols/28-media-instagram.svg" width="28" height="28" alt="">
                    </a>
                    <a class="media__link" href="#">
                        <img class="media__icon" src="../symbols/28-media-facebook.svg" width="28" height="28" alt="">
                    </a>
                    <a class="media__link" href="#">
                        <img class="media__icon" src="../symbols/28-media-twitter.svg" width="28" height="28" alt="">
                    </a>
                    <a class="media__link" href="#">
                        <img class="media__icon" src="../symbols/28-media-link.svg" width="28" height="28" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="people container container--organisation">
            <section class="group">
                <a class="group__back action action--simplified action--neutral" href="organization-people.html">
                    <span class="action__image">
                        <img class="action__icon" src="../symbols/16-left.svg" width="16" height="16" alt="">
                    </span>
                    <span class="action__label">
                        Back
                    </span>
                </a>
                <h3 class="group__heading title title--heading-2">
                    Artists <i>&nbsp;or:&nbsp;</i> Staff
                </h3>
                <div class="group__control-panel">
                    <div class="group__sorting">
                        <div class="switch">
                            <b class="switch__heading">
                                Sort by
                            </b>
                            <div class="switch__body">
                                <label class="switch__option">
                                    <input class="switch__widget" type="radio" name="any-temp-name-for-sort-a">
                                    <span class="switch__label">Year</span>
                                </label>
                                <label class="switch__option">
                                    <input class="switch__widget" type="radio" name="any-temp-name-for-sort-a">
                                    <span class="switch__label">Instrument</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="group__filtering">
                        <input class="query" type="text" placeholder="Search Staff…">
                    </div>
                </div>
                <div class="group__search-notice search-heading">
                    <div class="search-heading__message">
                        <i>Search page only:</i> You are viewing search results containing keyword <strong>“Sarah”</strong>
                    </div>
                    <button class="search-heading__cancel" type="button">
                        <img class="search-heading__cross" src="../symbols/20-rounded-cross.svg" width="20" height="20" alt="">
                    </button>
                </div>
                <div class="group__body">
                    <div class="group__listing">
                        <div class="group__item squared-person">
                            <a class="squared-person__preview-link" href="#">
                                <img class="squared-person__image"
                                     srcset="../temp/person-a-146x146@2x.jpg 2x"
                                     src="../temp/person-a-146x146.jpg"
                                     width="146"
                                     height="146"
                                     alt=""
                                >
                            </a>
                            <div class="squared-person__data">
                                <h4 class="squared-person__name">
                                    <a class="squared-person__link" href="#">
                                        Deniz Uzun
                                    </a>
                                </h4>
                                <div class="squared-person__note">
                                    Mezzo-soprano
                                </div>
                            </div>
                        </div>
                        <div class="group__item squared-person">
                            <a class="squared-person__preview-link" href="#">
                                <img class="squared-person__image"
                                     srcset="../temp/person-b-146x146@2x.jpg 2x"
                                     src="../temp/person-b-146x146.jpg"
                                     width="146"
                                     height="146"
                                     alt=""
                                >
                            </a>
                            <div class="squared-person__data">
                                <h4 class="squared-person__name">
                                    <a class="squared-person__link" href="#">
                                        Alyssa Dessoye
                                    </a>
                                </h4>
                                <div class="squared-person__note">
                                    Soprano
                                </div>
                            </div>
                        </div>
                        <div class="group__item squared-person">
                            <a class="squared-person__preview-link" href="#">
                                <img class="squared-person__image"
                                     srcset="../temp/person-c-146x146@2x.jpg 2x"
                                     src="../temp/person-c-146x146.jpg"
                                     width="146"
                                     height="146"
                                     alt=""
                                >
                            </a>
                            <div class="squared-person__data">
                                <h4 class="squared-person__name">
                                    <a class="squared-person__link" href="#">
                                        Konstantin Konstantinopolsky
                                    </a>
                                </h4>
                                <div class="squared-person__note">
                                    Tenor
                                </div>
                            </div>
                        </div>
                        <div class="group__item squared-person">
                            <a class="squared-person__preview-link" href="#">
                                <img class="squared-person__image"
                                     srcset="../temp/person-a-146x146@2x.jpg 2x"
                                     src="../temp/person-a-146x146.jpg"
                                     width="146"
                                     height="146"
                                     alt=""
                                >
                            </a>
                            <div class="squared-person__data">
                                <h4 class="squared-person__name">
                                    <a class="squared-person__link" href="#">
                                        Deniz Uzun
                                    </a>
                                </h4>
                                <div class="squared-person__note">
                                    Mezzo-soprano
                                </div>
                            </div>
                        </div>
                        <div class="group__item squared-person">
                            <a class="squared-person__preview-link" href="#">
                                <img class="squared-person__image"
                                     srcset="../temp/person-b-146x146@2x.jpg 2x"
                                     src="../temp/person-b-146x146.jpg"
                                     width="146"
                                     height="146"
                                     alt=""
                                >
                            </a>
                            <div class="squared-person__data">
                                <h4 class="squared-person__name">
                                    <a class="squared-person__link" href="#">
                                        Alyssa Dessoye
                                    </a>
                                </h4>
                                <div class="squared-person__note">
                                    Soprano
                                </div>
                            </div>
                        </div>
                        <div class="group__item squared-person">
                            <a class="squared-person__preview-link" href="#">
                                <img class="squared-person__image"
                                     srcset="../temp/person-a-146x146@2x.jpg 2x"
                                     src="../temp/person-a-146x146.jpg"
                                     width="146"
                                     height="146"
                                     alt=""
                                >
                            </a>
                            <div class="squared-person__data">
                                <h4 class="squared-person__name">
                                    <a class="squared-person__link" href="#">
                                        Deniz Uzun
                                    </a>
                                </h4>
                                <div class="squared-person__note">
                                    Mezzo-soprano
                                </div>
                            </div>
                        </div>
                        <div class="group__item squared-person">
                            <a class="squared-person__preview-link" href="#">
                                <img class="squared-person__image"
                                     srcset="../temp/person-b-146x146@2x.jpg 2x"
                                     src="../temp/person-b-146x146.jpg"
                                     width="146"
                                     height="146"
                                     alt=""
                                >
                            </a>
                            <div class="squared-person__data">
                                <h4 class="squared-person__name">
                                    <a class="squared-person__link" href="#">
                                        Alyssa Dessoye
                                    </a>
                                </h4>
                                <div class="squared-person__note">
                                    Soprano
                                </div>
                            </div>
                        </div>
                        <div class="group__item squared-person">
                            <a class="squared-person__preview-link" href="#">
                                <img class="squared-person__image"
                                     srcset="../temp/person-c-146x146@2x.jpg 2x"
                                     src="../temp/person-c-146x146.jpg"
                                     width="146"
                                     height="146"
                                     alt=""
                                >
                            </a>
                            <div class="squared-person__data">
                                <h4 class="squared-person__name">
                                    <a class="squared-person__link" href="#">
                                        Konstantin Konstantinopolsky
                                    </a>
                                </h4>
                                <div class="squared-person__note">
                                    Tenor
                                </div>
                            </div>
                        </div>
                        <div class="group__item squared-person">
                            <a class="squared-person__preview-link" href="#">
                                <img class="squared-person__image"
                                     srcset="../temp/person-c-146x146@2x.jpg 2x"
                                     src="../temp/person-c-146x146.jpg"
                                     width="146"
                                     height="146"
                                     alt=""
                                >
                            </a>
                            <div class="squared-person__data">
                                <h4 class="squared-person__name">
                                    <a class="squared-person__link" href="#">
                                        Andres Acosta
                                    </a>
                                </h4>
                                <div class="squared-person__note">
                                    Tenor
                                </div>
                            </div>
                        </div>
                        <div class="group__item squared-person">
                            <a class="squared-person__preview-link" href="#">
                                <img class="squared-person__image"
                                     srcset="../temp/person-a-146x146@2x.jpg 2x"
                                     src="../temp/person-a-146x146.jpg"
                                     width="146"
                                     height="146"
                                     alt=""
                                >
                            </a>
                            <div class="squared-person__data">
                                <h4 class="squared-person__name">
                                    <a class="squared-person__link" href="#">
                                        Deniz Uzun
                                    </a>
                                </h4>
                                <div class="squared-person__note">
                                    Mezzo-soprano
                                </div>
                            </div>
                        </div>
                        <div class="group__item squared-person">
                            <a class="squared-person__preview-link" href="#">
                                <img class="squared-person__image"
                                     srcset="../temp/person-c-146x146@2x.jpg 2x"
                                     src="../temp/person-c-146x146.jpg"
                                     width="146"
                                     height="146"
                                     alt=""
                                >
                            </a>
                            <div class="squared-person__data">
                                <h4 class="squared-person__name">
                                    <a class="squared-person__link" href="#">
                                        Andres Acosta
                                    </a>
                                </h4>
                                <div class="squared-person__note">
                                    Tenor
                                </div>
                            </div>
                        </div>
                        <div class="group__item squared-person">
                            <a class="squared-person__preview-link" href="#">
                                <img class="squared-person__image"
                                     srcset="../temp/person-a-146x146@2x.jpg 2x"
                                     src="../temp/person-a-146x146.jpg"
                                     width="146"
                                     height="146"
                                     alt=""
                                >
                            </a>
                            <div class="squared-person__data">
                                <h4 class="squared-person__name">
                                    <a class="squared-person__link" href="#">
                                        Deniz Uzun
                                    </a>
                                </h4>
                                <div class="squared-person__note">
                                    Mezzo-soprano
                                </div>
                            </div>
                        </div>
                        <div class="group__item squared-person">
                            <a class="squared-person__preview-link" href="#">
                                <img class="squared-person__image"
                                     srcset="../temp/person-a-146x146@2x.jpg 2x"
                                     src="../temp/person-a-146x146.jpg"
                                     width="146"
                                     height="146"
                                     alt=""
                                >
                            </a>
                            <div class="squared-person__data">
                                <h4 class="squared-person__name">
                                    <a class="squared-person__link" href="#">
                                        Deniz Uzun
                                    </a>
                                </h4>
                                <div class="squared-person__note">
                                    Mezzo-soprano
                                </div>
                            </div>
                        </div>
                        <div class="group__item squared-person">
                            <a class="squared-person__preview-link" href="#">
                                <img class="squared-person__image"
                                     srcset="../temp/person-c-146x146@2x.jpg 2x"
                                     src="../temp/person-c-146x146.jpg"
                                     width="146"
                                     height="146"
                                     alt=""
                                >
                            </a>
                            <div class="squared-person__data">
                                <h4 class="squared-person__name">
                                    <a class="squared-person__link" href="#">
                                        Andres Acosta
                                    </a>
                                </h4>
                                <div class="squared-person__note">
                                    Tenor
                                </div>
                            </div>
                        </div>
                        <div class="group__item squared-person">
                            <a class="squared-person__preview-link" href="#">
                                <img class="squared-person__image"
                                     srcset="../temp/person-a-146x146@2x.jpg 2x"
                                     src="../temp/person-a-146x146.jpg"
                                     width="146"
                                     height="146"
                                     alt=""
                                >
                            </a>
                            <div class="squared-person__data">
                                <h4 class="squared-person__name">
                                    <a class="squared-person__link" href="#">
                                        Deniz Uzun
                                    </a>
                                </h4>
                                <div class="squared-person__note">
                                    Mezzo-soprano
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- optional:
                    <a class="group__more button button--faded" href="organization-people-details.html">
                        See More
                    </a>
                    -->
                </div>
            </section>
        </div>


        <!-- temp -->
        <img src="../temp/footer.jpg" alt="" style="width: 100%; vertical-align: top;">
        <!--/temp -->


        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.6.0.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../scripts/_operations.js"></script>


    </body>
</html>
