<!DOCTYPE html>
<html class="has-sidebar has-aside search-centered" lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Settings</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">-->
        <link rel="stylesheet" href="../vendors/bootstrap/bootstrap-modal-only.css">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/responsiveness.css" media="(max-width: 767px)">
    </head>
    <body>

        <!-- 1/3: .header, .search, .notifications -->
        <header class="header">
            <div class="header__detachable-panel">
                <a class="header__branding logo" href="#">
                    STAGETIME
                </a>
                <!-- optional:
                <div class="header__greetings">
                    Good afternoon, <strong class="user-color">Jennie</strong>.
                </div>
                -->
                <!-- optional:
                <div class="header__auth">
                    <a class="header__login" href="#"><span class="header__label">Log In</span></a>
                    <a class="header__join" href="#"><span class="header__label">Join Stagetime</span></a>
                </div>
                -->
                <div class="header__menu">
                    <button class="header__item search-button" type="button">
                        <img class="search-button__icon" src="../symbols/16-magnifier.svg" width="16" height="16" alt="">
                    </button>
                    <a class="header__item header-button header-button--messages" href="#">
                        <img class="header-button__icon" src="../symbols/32-envelope.svg" width="32" height="32" alt="">
                        <span class="visuallyhidden">Messages</span>
                        <span class="visuallyhidden">New:</span>
                        <span class="header-button__updates counter counter--danger">4</span>
                    </a>
                    <a class="header__item header-button header-button--notifications" href="#">
                        <img class="header-button__icon" src="../symbols/32-bell.svg" width="32" height="32" alt="">
                        <span class="visuallyhidden">Notifications</span>
                        <span class="visuallyhidden">New:</span>
                        <span class="header-button__updates counter counter--danger">4</span>
                    </a>
                    <a class="header__item profile-button" href="#">
                        <span class="avatar avatar--alt-hover avatar--fancy">
                            <img class="avatar__image"
                                 srcset="../temp/person-a-26x26@2x.jpg 2x"
                                 src="../temp/person-a-26x26.jpg"
                                 width="26"
                                 height="26"
                                 alt=""
                            >
                        </span>
                    </a>
                </div>
            </div>
        </header>
        <form class="search">
            <div class="search__bar">
                <button class="search__close" type="button">
                    <img class="search__arrow" src="../symbols/16-left.svg" width="16" height="16" alt="">
                </button>
                <div class="search__body">
                    <input class="search__widget" type="text" placeholder="Search Stagetime">
                    <img class="search__icon" src="../symbols/16-magnifier.svg" width="16" height="16" alt="">
                </div>
            </div>
            <div class="search__dropdown">
                <div class="search__scroll scrollbar scrollbar-macosx">
                    <div class="search__section">
                        <div class="search__separator section-separator">
                            <div class="section-separator__heading">
                                People
                            </div>
                            <a class="section-separator__action button button--another-faded" href="#">
                                See All
                            </a>
                        </div>
                        <a class="search__suggest" href="#">
                            <div class="user-badge user-badge--search">
                                <div class="user-badge__preview">
                                    <div class="avatar avatar--non-clickable">
                                        <img class="avatar__image"
                                             srcset="../temp/person-a-56x56@2x.jpg 2x"
                                             src="../temp/person-a-56x56.jpg"
                                             width="56" height="56"
                                             alt=""
                                        >
                                    </div>
                                </div>
                                <div class="user-badge__heading">
                                    Elena Villalón
                                </div>
                                <div class="user-badge__note">
                                    Soprano, Houston, TX
                                </div>
                            </div>
                        </a>
                        <a class="search__suggest" href="#">
                            <div class="user-badge user-badge--search">
                                <div class="user-badge__preview">
                                    <div class="avatar avatar--non-clickable">
                                        <img class="avatar__image"
                                             srcset="../temp/person-b-56x56@2x.jpg 2x"
                                             src="../temp/person-b-56x56.jpg"
                                             width="56" height="56"
                                             alt=""
                                        >
                                    </div>
                                </div>
                                <div class="user-badge__heading">
                                    Marlen Nahas
                                </div>
                                <div class="user-badge__note">
                                    Soprano, Washington, DC
                                </div>
                            </div>
                        </a>
                        <a class="search__suggest" href="#">
                            <div class="user-badge user-badge--search">
                                <div class="user-badge__preview">
                                    <div class="avatar avatar--non-clickable">
                                        <img class="avatar__image"
                                             srcset="../temp/person-d-56x56@2x.jpg 2x"
                                             src="../temp/person-d-56x56.jpg"
                                             width="56" height="56"
                                             alt=""
                                        >
                                    </div>
                                </div>
                                <div class="user-badge__heading">
                                    Shea Owens
                                </div>
                                <div class="user-badge__note">
                                    Soprano, Salt Lake City, UT
                                </div>
                            </div>
                        </a>
                        <a class="search__suggest" href="#">
                            <div class="user-badge user-badge--search">
                                <div class="user-badge__preview">
                                    <div class="avatar avatar--non-clickable">
                                        <img class="avatar__image"
                                             srcset="../temp/person-e-56x56@2x.jpg 2x"
                                             src="../temp/person-e-56x56.jpg"
                                             width="56" height="56"
                                             alt=""
                                        >
                                    </div>
                                </div>
                                <div class="user-badge__heading">
                                    Elena Villalón
                                </div>
                                <div class="user-badge__note">
                                    Soprano, Houston, TX
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="search__section">
                        <div class="search__separator section-separator">
                            <div class="section-separator__heading">
                                Organizations
                            </div>
                            <a class="section-separator__action button button--another-faded" href="#">
                                See All
                            </a>
                        </div>
                        <a class="search__suggest" href="#">
                            <div class="user-badge user-badge--search">
                                <div class="user-badge__preview">
                                    <div class="avatar avatar--squared avatar--non-clickable">
                                        <img class="avatar__image"
                                             srcset="../temp/organization-a-56x56@2x.jpg 2x"
                                             src="../temp/organization-a-56x56.jpg"
                                             width="56" height="56"
                                             alt=""
                                        >
                                    </div>
                                </div>
                                <div class="user-badge__heading">
                                    <img class="icon" src="../symbols/16-city.svg" width="16" height="16" alt="">
                                    Aspen Music Festival & School
                                </div>
                                <div class="user-badge__note">
                                    Aspen, CO
                                </div>
                            </div>
                        </a>
                        <a class="search__suggest" href="#">
                            <div class="user-badge user-badge--search">
                                <div class="user-badge__preview">
                                    <div class="avatar avatar--squared avatar--non-clickable">
                                        <img class="avatar__image"
                                             srcset="../temp/organization-b-56x56@2x.jpg 2x"
                                             src="../temp/organization-b-56x56.jpg"
                                             width="56" height="56"
                                             alt=""
                                        >
                                    </div>
                                </div>
                                <div class="user-badge__heading">
                                    <img class="icon" src="../symbols/16-city.svg" width="16" height="16" alt="">
                                    Aspen Music Festival & School
                                </div>
                                <div class="user-badge__note">
                                    Aspen, CO
                                </div>
                            </div>
                        </a>
                        <a class="search__suggest" href="#">
                            <div class="user-badge user-badge--search">
                                <div class="user-badge__preview">
                                    <div class="avatar avatar--squared avatar--non-clickable">
                                        <img class="avatar__image"
                                             srcset="../temp/organization-a-56x56@2x.jpg 2x"
                                             src="../temp/organization-a-56x56.jpg"
                                             width="56" height="56"
                                             alt=""
                                        >
                                    </div>
                                </div>
                                <div class="user-badge__heading">
                                    <img class="icon" src="../symbols/16-city.svg" width="16" height="16" alt="">
                                    Aspen Music Festival & School
                                </div>
                                <div class="user-badge__note">
                                    Aspen, CO
                                </div>
                            </div>
                        </a>
                        <a class="search__suggest" href="#">
                            <div class="user-badge user-badge--search">
                                <div class="user-badge__preview">
                                    <div class="avatar avatar--squared avatar--non-clickable">
                                        <img class="avatar__image"
                                             srcset="../temp/organization-b-56x56@2x.jpg 2x"
                                             src="../temp/organization-b-56x56.jpg"
                                             width="56" height="56"
                                             alt=""
                                        >
                                    </div>
                                </div>
                                <div class="user-badge__heading">
                                    <img class="icon" src="../symbols/16-city.svg" width="16" height="16" alt="">
                                    Aspen Music Festival & School
                                </div>
                                <div class="user-badge__note">
                                    Aspen, CO
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </form>
        <div class="notifications">
            <div class="notifications__head top-bar">
                <div class="top-bar__heading">
                    Notifications
                </div>
                <button class="top-bar__close" type="button">
                    <img class="top-bar__cross" src="../symbols/16-cross.svg" width="16" height="16" alt="">
                </button>
            </div>
            <div class="notifications__scroll scrollbar scrollbar-macosx">
                <div class="notifications__separator section-separator">
                    <div class="section-separator__heading">
                        Collaborator Requests
                    </div>
                    <a class="section-separator__action button button--another-faded" href="#">
                        See All
                    </a>
                </div>




                <div class="simpler-null">
                    You don’t currently have<br> any notifications.
                </div>
                <!-- temp -->
                or:
                <!--/temp -->
                <div class="notifications__separator section-separator">
                    <div class="section-separator__heading">
                        Collaborator Requests
                    </div>
                    <a class="section-separator__action button button--another-faded" href="#">
                        See All
                    </a>
                </div>
                <div class="notifications__section">
                    <div class="notice">
                        <a class="notice__preview avatar avatar--alt-hover" href="#">
                            <img class="avatar__image"
                                 srcset="../temp/person-f-44x44@2x.jpg 2x"
                                 src="../temp/person-f-44x44.jpg"
                                 width="44"
                                 height="44"
                                 alt="Mark Zuckerberg"
                            >
                        </a>
                        <a class="notice__wrapper" href="#">
                            <div class="notice__body">
                                <span class="link link--text-alike">Jennie Moser</span> is requesting to connect.
                            </div>
                            <div class="notice__bubble">
                                Hi Terrence! It’s so great to see you here. Was lovely meeting you at Cardiff.
                            </div>
                            <div class="notice__time">
                                1h
                            </div>
                        </a>
                        <div class="notice__operations">
                            <a class="notice__action  notice__action--50pct  button  button--submit" href="#">Connect</a>
                            <a class="notice__action  notice__action--50pct  button  button--cancel" href="#">Connect</a>
                        </div>
                    </div>
                    <div class="notice">
                        <a class="notice__preview avatar avatar--alt-hover" href="#">
                            <img class="avatar__image"
                                 srcset="../temp/person-f-44x44@2x.jpg 2x"
                                 src="../temp/person-f-44x44.jpg"
                                 width="44"
                                 height="44"
                                 alt="Mark Zuckerberg"
                            >
                        </a>
                        <a class="notice__wrapper" href="#">
                            <div class="notice__body">
                                <span class="link link--text-alike">Jennie Moser</span> is requesting to connect.
                            </div>
                            <div class="notice__bubble">
                                Hi Terrence! It’s so great to see you here. Was lovely meeting you at Cardiff.
                            </div>
                            <div class="notice__time">
                                1h
                            </div>
                        </a>
                        <div class="notice__operations">
                            <a class="notice__action  notice__action--50pct  button  button--submit" href="#">Connect</a>
                            <a class="notice__action  notice__action--50pct  button  button--cancel" href="#">Connect</a>
                        </div>
                    </div>
                </div>
                <div class="notifications__separator section-separator">
                    <div class="section-separator__heading">
                        Activity
                    </div>
                    <a class="section-separator__action button button--another-faded" href="#">
                        See All
                    </a>
                </div>
                <div class="notifications__section">
                    <div class="notice">
                        <a class="notice__preview avatar avatar--alt-hover" href="#">
                            <img class="avatar__image"
                                 srcset="../temp/person-a-44x44@2x.jpg 2x"
                                 src="../temp/person-a-44x44.jpg"
                                 width="44"
                                 height="44"
                                 alt="Mark Zuckerberg"
                            >
                        </a>
                        <a class="notice__wrapper" href="#">
                            <div class="notice__body">
                                <span class="link link--text-alike">Jennie Moser</span> was live
                            </div>
                            <div class="notice__time">
                                1h
                            </div>
                        </a>
                    </div>
                    <div class="notice">
                        <a class="notice__preview avatar avatar--alt-hover" href="#">
                            <img class="avatar__image"
                                 srcset="../temp/person-b-44x44@2x.jpg 2x"
                                 src="../temp/person-b-44x44.jpg"
                                 width="44"
                                 height="44"
                                 alt="Mark Zuckerberg"
                            >
                        </a>
                        <a class="notice__wrapper" href="#">
                            <div class="notice__body">
                                <span class="link link--text-alike">Jennie Moser</span> has accepted your collaborator request.
                            </div>
                            <div class="notice__time">
                                1h
                            </div>
                        </a>
                    </div>
                    <div class="notice">
                        <a class="notice__preview avatar avatar--alt-hover" href="#">
                            <img class="avatar__image"
                                 srcset="../temp/person-c-44x44@2x.jpg 2x"
                                 src="../temp/person-c-44x44.jpg"
                                 width="44"
                                 height="44"
                                 alt="Mark Zuckerberg"
                            >
                        </a>
                        <a class="notice__wrapper" href="#">
                            <div class="notice__body">
                                <span class="link link--text-alike">Konstantin Konstantinopolsky</span> and <span class="link link--text-alike">Constantin Constantinopolsky</span>
                                are now friends
                            </div>
                            <div class="notice__time">
                                1h
                            </div>
                        </a>
                    </div>
                    <div class="notice">
                        <a class="notice__preview avatar avatar--alt-hover" href="#">
                            <img class="avatar__image"
                                 srcset="../temp/person-d-44x44@2x.jpg 2x"
                                 src="../temp/person-d-44x44.jpg"
                                 width="44"
                                 height="44"
                                 alt="Mark Zuckerberg"
                            >
                        </a>
                        <a class="notice__wrapper" href="#">
                            <div class="notice__body">
                                Are you sure you want to confirm that you are on <span class="link link--text-alike">Justin Werner</span>’s roster at <span class="link">Stratagem Artists</span>?
                            </div>
                            <div class="notice__time">
                                1h
                            </div>
                        </a>
                        <div class="notice__operations">
                            <a class="notice__action notice__action--grow button button--submit" href="#">Confirm</a>
                            <a class="notice__action button button--cancel" href="#">Back</a>
                        </div>
                    </div>
                    <div class="notice">
                        <a class="notice__preview avatar avatar--alt-hover" href="#">
                            <img class="avatar__image"
                                 srcset="../temp/person-e-44x44@2x.jpg 2x"
                                 src="../temp/person-e-44x44.jpg"
                                 width="44"
                                 height="44"
                                 alt="Mark Zuckerberg"
                            >
                        </a>
                        <a class="notice__wrapper" href="#">
                            <div class="notice__body">
                                <span class="link link--text-alike">Jennie Moser</span> has joined Stagetime.
                            </div>
                            <div class="notice__time">
                                1h
                            </div>
                        </a>
                        <div class="notice__operations">
                            <a class="notice__action  notice__action--50pct  button  button--submit" href="#">Connect</a>
                            <a class="notice__action  notice__action--50pct  button  button--cancel" href="#">Connect</a>
                        </div>
                    </div>
                    <div class="notice notice--success">
                        <a class="notice__preview avatar avatar--alt-hover" href="#">
                            <img class="avatar__image"
                                 srcset="../temp/person-c-44x44@2x.jpg 2x"
                                 src="../temp/person-c-44x44.jpg"
                                 width="44"
                                 height="44"
                                 alt="Mark Zuckerberg"
                            >
                        </a>
                        <div class="notice__wrapper">
                            <div class="notice__body">
                                <span class="link link--text-alike">Andres Acosta</span> added you as management.
                            </div>
                        </div>
                    </div>
                    <div class="notice notice--cancel">
                        <a class="notice__preview avatar avatar--alt-hover" href="#">
                            <img class="avatar__image"
                                 srcset="../temp/person-d-44x44@2x.jpg 2x"
                                 src="../temp/person-d-44x44.jpg"
                                 width="44"
                                 height="44"
                                 alt="Mark Zuckerberg"
                            >
                        </a>
                        <div class="notice__wrapper">
                            <div class="notice__body">
                                Request <strong>deleted</strong>.
                            </div>
                        </div>
                    </div>
                    <div class="notice">
                        <a class="notice__preview avatar avatar--alt-hover" href="#">
                            <img class="avatar__image"
                                 srcset="../temp/person-a-44x44@2x.jpg 2x"
                                 src="../temp/person-a-44x44.jpg"
                                 width="44"
                                 height="44"
                                 alt="Mark Zuckerberg"
                            >
                        </a>
                        <a class="notice__wrapper" href="#">
                            <div class="notice__body">
                                <span class="link link--text-alike">Jennie Moser</span> was live
                            </div>
                            <div class="notice__time">
                                1h
                            </div>
                        </a>
                    </div>
                    <div class="notice">
                        <a class="notice__preview avatar avatar--alt-hover" href="#">
                            <img class="avatar__image"
                                 srcset="../temp/person-b-44x44@2x.jpg 2x"
                                 src="../temp/person-b-44x44.jpg"
                                 width="44"
                                 height="44"
                                 alt="Mark Zuckerberg"
                            >
                        </a>
                        <a class="notice__wrapper" href="#">
                            <div class="notice__body">
                                <span class="link link--text-alike">Jennie Moser</span> has accepted your collaborator request.
                            </div>
                            <div class="notice__time">
                                1h
                            </div>
                        </a>
                    </div>
                    <div class="notice">
                        <a class="notice__preview avatar avatar--alt-hover" href="#">
                            <img class="avatar__image"
                                 srcset="../temp/person-c-44x44@2x.jpg 2x"
                                 src="../temp/person-c-44x44.jpg"
                                 width="44"
                                 height="44"
                                 alt="Mark Zuckerberg"
                            >
                        </a>
                        <a class="notice__wrapper" href="#">
                            <div class="notice__body">
                                <span class="link link--text-alike">Konstantin Konstantinopolsky</span> and <span class="link link--text-alike">Constantin Constantinopolsky</span>
                                are now friends
                            </div>
                            <div class="notice__time">
                                1h
                            </div>
                        </a>
                    </div>
                    <div class="notice">
                        <a class="notice__preview avatar avatar--alt-hover" href="#">
                            <img class="avatar__image"
                                 srcset="../temp/person-d-44x44@2x.jpg 2x"
                                 src="../temp/person-d-44x44.jpg"
                                 width="44"
                                 height="44"
                                 alt="Mark Zuckerberg"
                            >
                        </a>
                        <a class="notice__wrapper" href="#">
                            <div class="notice__body">
                                Are you sure you want to confirm that you are on <span class="link link--text-alike">Justin Werner</span>’s roster at <span class="link">Stratagem Artists</span>?
                            </div>
                            <div class="notice__time">
                                1h
                            </div>
                        </a>
                        <div class="notice__operations">
                            <a class="notice__action notice__action--grow button button--submit" href="#">Confirm</a>
                            <a class="notice__action button button--cancel" href="#">Back</a>
                        </div>
                    </div>
                    <div class="notice">
                        <a class="notice__preview avatar avatar--alt-hover" href="#">
                            <img class="avatar__image"
                                 srcset="../temp/person-e-44x44@2x.jpg 2x"
                                 src="../temp/person-e-44x44.jpg"
                                 width="44"
                                 height="44"
                                 alt="Mark Zuckerberg"
                            >
                        </a>
                        <a class="notice__wrapper" href="#">
                            <div class="notice__body">
                                <span class="link link--text-alike">Jennie Moser</span> has joined Stagetime.
                            </div>
                            <div class="notice__time">
                                1h
                            </div>
                        </a>
                        <div class="notice__operations">
                            <a class="notice__action  notice__action--50pct  button  button--submit" href="#">Connect</a>
                            <a class="notice__action  notice__action--50pct  button  button--cancel" href="#">Connect</a>
                        </div>
                    </div>
                    <div class="notice notice--success">
                        <a class="notice__preview avatar avatar--alt-hover" href="#">
                            <img class="avatar__image"
                                 srcset="../temp/person-c-44x44@2x.jpg 2x"
                                 src="../temp/person-c-44x44.jpg"
                                 width="44"
                                 height="44"
                                 alt="Mark Zuckerberg"
                            >
                        </a>
                        <div class="notice__wrapper">
                            <div class="notice__body">
                                <span class="link link--text-alike">Andres Acosta</span> added you as management.
                            </div>
                        </div>
                    </div>
                    <div class="notice notice--cancel">
                        <a class="notice__preview avatar avatar--alt-hover" href="#">
                            <img class="avatar__image"
                                 srcset="../temp/person-d-44x44@2x.jpg 2x"
                                 src="../temp/person-d-44x44.jpg"
                                 width="44"
                                 height="44"
                                 alt="Mark Zuckerberg"
                            >
                        </a>
                        <div class="notice__wrapper">
                            <div class="notice__body">
                                Request <strong>deleted</strong>.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile">
            <div class="profile__head top-bar">
                <div class="top-bar__heading">
                    Profile
                </div>
                <button class="top-bar__close" type="button">
                    <img class="top-bar__cross" src="../symbols/16-cross.svg" width="16" height="16" alt="">
                </button>
            </div>
            <div class="profile__body">
                <a class="profile__link user-link" href="#">
                    <span class="user-link__preview avatar avatar--alt-hover avatar--fancy">
                        <img class="avatar__image"
                             srcset="../temp/person-a-28x28@2x.jpg 2x"
                             src="../temp/person-a-28x28.jpg"
                             width="28"
                             height="28"
                             alt=""
                        >
                    </span>
                    View Profile
                </a>
                <div class="profile__menu">
                    <a class="nav-link" href="#">
                        <img class="nav-link__icon" src="../symbols/16-pencil.svg" width="16" height="16" alt="">
                        Edit Profile
                    </a>
                    <a class="nav-link" href="#">
                        <img class="nav-link__icon" src="../symbols/16-envelope-outline.svg" width="16" height="16" alt="">
                        <img class="menu__sparkle" src="../symbols/16-sparkle.svg" width="16" height="16" alt="">
                        Invite
                        <span class="visuallyhidden">Explain meaning of sparkles here</span>
                    </a>
                    <a class="nav-link" href="#">
                        <img class="nav-link__icon" src="../symbols/16-question-spot.svg" width="16" height="16" alt="">
                        Support
                    </a>
                    <a class="nav-link" href="#">
                        <img class="nav-link__icon" src="../symbols/16-cog.svg" width="16" height="16" alt="">
                        Settings
                    </a>
                </div>
                <a class="profile__organisation button button--faded" href="#">
                    <img class="button__icon button__icon--left" src="../symbols/16-city.svg" width="16" height="16" alt="">
                    Create Organization
                </a>
                <a class="profile__logout nav-link" href="#">
                    <img class="nav-link__icon" src="../symbols/16-logout.svg" width="16" height="16" alt="">
                    Log Out
                </a>
            </div>
        </div>
        <div class="page">
            <div class="dashboard dashboard--no-aside">
                <div class="dashboard__sidebar">
                    <div class="scrollbar scrollbar-macosx">
                        <div class="navigation">
                            <div class="navigation__section">
                                <div class="navigation__sub-heading">
                                    Menu
                                </div>
                                <nav class="navigation__menu">
                                    <a class="user-link user-link--sidebar-ready user-link--user-color" href="#">
                                        <span class="user-link__preview avatar avatar--non-clickable">
                                            <img class="avatar__image"
                                                 srcset="../temp/person-a-16x16@2x.jpg 2x"
                                                 src="../temp/person-a-16x16.jpg"
                                                 width="16"
                                                 height="16"
                                                 alt=""
                                            >
                                        </span>
                                        Ben Bliss
                                    </a>
                                    <a class="nav-link nav-link--sidebar-ready nav-link--current" href="#">
                                        <img class="nav-link__icon" src="../symbols/20-nav-house.svg" width="20" height="20" alt="">
                                        Home
                                    </a>
                                    <a class="nav-link nav-link--sidebar-ready" href="#">
                                        <img class="nav-link__icon" src="../symbols/20-nav-globe.svg" width="20" height="20" alt="">
                                        Explore
                                    </a>
                                    <a class="nav-link nav-link--sidebar-ready" href="#">
                                        <img class="nav-link__icon" src="../symbols/20-nav-envelope.svg" width="20" height="20" alt="">
                                        Messages <span class="nav-link__counter">(4)</span>
                                    </a>
                                    <a class="nav-link nav-link--sidebar-ready" href="#">
                                        <img class="nav-link__icon" src="../symbols/20-nav-crowd.svg" width="20" height="20" alt="">
                                        Collaborators
                                    </a>
                                </nav>
                            </div>
                            <div class="navigation__section">
                                <div class="navigation__sub-heading">
                                    Tools
                                </div>
                                <div class="navigation__menu">
                                    <a class="nav-link nav-link--sidebar-ready" href="#">
                                        <img class="nav-link__icon" src="../symbols/20-nav-house.svg" width="20" height="20" alt="">
                                        Jobs
                                    </a>
                                    <a class="nav-link nav-link--sidebar-ready" href="#">
                                        <img class="nav-link__icon" src="../symbols/20-nav-collections.svg" width="20" height="20" alt="">
                                        Collections
                                    </a>
                                </div>
                            </div>
                            <div class="navigation__section">
                                <div class="navigation__sub-heading">
                                    Page manager
                                </div>
                                <div class="navigation__menu">
                                    <a class="user-link user-link--sidebar-ready" href="#">
                                        <span class="user-link__preview avatar avatar--non-clickable">
                                            <img class="avatar__image"
                                                 srcset="../temp/person-a-16x16@2x.jpg 2x"
                                                 src="../temp/person-a-16x16.jpg"
                                                 width="16"
                                                 height="16"
                                                 alt=""
                                            >
                                        </span>
                                        Stagetime
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dashboard__content">
                    <div class="settings container container-settings">
                        <h1 class="settings__heading">
                            Settings
                        </h1>
                        <div class="settings__section">
                            <div class="settings__preview" style="background-image: linear-gradient(135deg, #9CB2BE 20.83%, #B3BEB2 100%);">
                                <img class="settings__icon" src="../symbols/20-crowd-full.svg" width="20" height="20" alt="">
                            </div>
                            <h2 class="settings__sub-heading">
                                Profile Information
                            </h2>
                            <div class="settings__item">
                                <a class="settings__handler settings__handler--external" href="#">
                                    Name, location, and general information
                                </a>
                                <a class="settings__update settings__update--external button button--update-form" href="#">
                                    Update
                                </a>
                            </div>
                            <div class="settings__item">
                                <button class="settings__handler" type="button">
                                    Contact information
                                </button>
                                <button class="settings__update button button--update-form" type="button">
                                    Update
                                </button>
                                <div class="settings__dropdown">
                                    <div class="form">
                                        <div class="form__item">
                                            <div class="input input--semi-bold">
                                                <input class="input__widget" type="tel" placeholder="Phone number">
                                            </div>
                                        </div>
                                        <div class="form__item">
                                            <div class="label label--larger">
                                                Birthday
                                            </div>
                                            <div class="split">
                                                <div class="split__item input input--semi-bold input--select input--placeholder-is-chosen">
                                                    <select class="input__widget">
                                                        <option value="placeholder">Month</option>
                                                        <option>January</option>
                                                        <option>February</option>
                                                        <option>...</option>
                                                        <option>December</option>
                                                    </select>
                                                </div>
                                                <div class="split__item input input--semi-bold">
                                                    <input class="input__widget" type="tel" placeholder="Phone number" id="phone-number">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="settings__save button button--submit-form" type="button">
                                    Save
                                </button>
                            </div>
                        </div>
                        <div class="settings__section">
                            <div class="settings__preview" style="background-image: linear-gradient(45.58deg, rgba(234, 199, 179, 0.87) 20.86%, rgba(187, 154, 165, 0.87) 66.71%);">
                                <img class="settings__icon" src="../symbols/20-crowd-preferences.svg" width="20" height="20" alt="">
                            </div>
                            <h2 class="settings__sub-heading">
                                Site Preferences <span class="settings__note">Manage your Stagetime experience</span>
                            </h2>
                            <div class="settings__item">
                                <a class="settings__handler settings__handler--external" href="#">
                                    Customize your feed
                                </a>
                                <a class="settings__update settings__update--external button button--update-form" href="#">
                                    Update
                                </a>
                            </div>
                        </div>
                        <div class="settings__section">
                            <div class="settings__preview" style="background-image: linear-gradient(180deg, #A8B1D5 4.69%, #DDEAF1 100%);">
                                <img class="settings__icon" src="../symbols/20-lock.svg" width="20" height="20" alt="">
                            </div>
                            <h2 class="settings__sub-heading">
                                Account Management <span class="settings__note">Control your Stagetime account</span>
                            </h2>
                            <div class="settings__item">
                                <button class="settings__handler" type="button">
                                    Email address
                                </button>
                                <button class="settings__update button button--update-form" type="button">
                                    Update
                                </button>
                                <div class="settings__dropdown">
                                    <div class="form">
                                        <div class="form__item">
                                            <div class="input input--semi-bold">
                                                <input class="input__widget" type="email" placeholder="Email address" id="email-address">
                                            </div>
                                            <span class="form-note" style="margin-right: -146px;"><!-- Align text manually using this margin -->
                                                If you’d like to update your email address, enter your new email address above. Our team
                                                will reach out once we’ve updated your email address.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <button class="settings__save button button--submit-form" type="button">
                                    Save
                                </button>
                            </div>
                            <div class="settings__item">
                                <button class="settings__handler" type="button">
                                    Change Password
                                </button>
                                <button class="settings__update button button--update-form" type="button">
                                    Update
                                </button>
                                <div class="settings__dropdown">
                                    <div class="form">
                                        <span class="form__description" style="margin-right: -146px;"><!-- Align text manually using this margin -->
                                            Passwords must be at least 8 characters and contain at least one uppercase letter and
                                        </span>
                                        <div class="form__item">
                                            <div class="input input--semi-bold">
                                                <input class="input__widget" type="password" placeholder="Old password">
                                            </div>
                                        </div>
                                        <div class="form__item">
                                            <div class="input input--semi-bold">
                                                <input class="input__widget" type="password" placeholder="New password">
                                            </div>
                                        </div>
                                        <div class="form__item">
                                            <div class="input input--semi-bold">
                                                <input class="input__widget" type="password" placeholder="Confirm new password">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="settings__save button button--submit-form" type="button">
                                    Save
                                </button>
                            </div>
                            <div class="settings__item">
                                <button class="settings__handler" type="button">
                                    Close account
                                </button>
                                <button class="settings__update button button--update-form" type="button">
                                    Update
                                </button>
                                <div class="settings__dropdown">
                                    <div class="close-account">
                                        <div class="close-account__description">
                                            Let us know why you’re closing your account:
                                        </div>
                                        <div class="close-account__reason">
                                            <label class="choice choice--alternate choice--radio choice--full-width">
                                                <input class="choice__widget" type="radio" name="reason">
                                                <i class="choice__icon" role="presentation"></i>
                                                <span class="choice__label">I have a duplicate account</span>
                                            </label>
                                            <label class="choice choice--alternate choice--radio choice--full-width">
                                                <input class="choice__widget" type="radio" name="reason">
                                                <i class="choice__icon" role="presentation"></i>
                                                <span class="choice__label">I am getting too many emails</span>
                                            </label>
                                            <label class="choice choice--alternate choice--radio choice--full-width">
                                                <input class="choice__widget" type="radio" name="reason">
                                                <i class="choice__icon" role="presentation"></i>
                                                <span class="choice__label">I’m not getting any value from my membership</span>
                                            </label>
                                            <label class="choice choice--alternate choice--radio choice--full-width">
                                                <input class="choice__widget" type="radio" name="reason">
                                                <i class="choice__icon" role="presentation"></i>
                                                <span class="choice__label">I have a privacy concern</span>
                                            </label>
                                            <label class="choice choice--alternate choice--radio choice--full-width">
                                                <input class="choice__widget" type="radio" name="reason">
                                                <i class="choice__icon" role="presentation"></i>
                                                <span class="choice__label">I’m receiving unwanted contact</span>
                                            </label>
                                            <label class="choice choice--alternate choice--radio choice--full-width">
                                                <input class="choice__widget" type="radio" name="reason">
                                                <i class="choice__icon" role="presentation"></i>
                                                <span class="choice__label">Other</span>
                                            </label>
                                        </div>
                                        <div class="close-account__feedback">
                                            <div class="close-account__feedback-description">
                                                We value your feedback, but please note that we aren’t able to respond to comments about your account submitted in this form. If you have a question or request about your account that requires attention, please contact us <a class="link link--text-alike" href="#">here</a>.
                                            </div>
                                            <div class="close-account__feedback-field input input--area">
                                                <textarea class="input__widget" placeholder="Message" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <a class="close-account__submit button button--submit-form" href="#">
                                            Close my account
                                        </a>
                                    </div>
                                </div>
                                <button class="settings__save button button--submit-form" type="button">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 3/3 Modals: -->




        <div class="size-checker" role="presentation" aria-hidden="true"></div>

        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.6.0.min.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/wavesurfer/wavesurfer.js"></script>
        <script src="../vendors/expanding-textareas/dist/expanding.jquery.js"></script>
        <script src="../vendors/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script src="../vendors/bootstrap/bootstrap-modal-only.js"></script>
        <script src="../scripts/_global.js"></script>
        <script src="../scripts/_operations.js"></script>
        <script src="../scripts/_profile.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_search.js"></script>
        <script src="../scripts/_carousel.js"></script>
        <script src="../scripts/_player.js"></script>
        <script src="../scripts/_player2.js"></script>
        <script src="../scripts/_player3.js"></script>
        <script src="../scripts/_updates.js"></script>
        <script src="../scripts/_dash-side.js"></script>
        <script src="../scripts/_happening.js"></script>
        <script src="../scripts/_input.js"></script>
        <script src="../scripts/_edit-post.js"></script>
        <script src="../scripts/_post-form.js"></script>
        <script src="../scripts/_button.js"></script>
        <script src="../scripts/_quick-message.js"></script>
        <script src="../scripts/_explore.js"></script>
        <script src="../scripts/_shortcut.js"></script>
        <script src="../scripts/_scrollbar.js"></script>
        <script src="../scripts/_referral.js"></script>
        <script src="../scripts/_overlay.js"></script>
        <script src="../scripts/_notifications.js"></script>
        <script src="../scripts/_enter.js"></script>
        <script src="../scripts/_suggesting.js"></script>
        <script src="../scripts/_chat.js"></script>
        <script src="../scripts/_badge.js"></script>
        <script src="../scripts/_media-bar.js"></script>
        <script src="../scripts/_settings.js"></script>


    </body>
</html>
