.access-panel {
    display: flex;
    align-items: flex-start;
    padding: 11px 14px;
    background-color: #EBEFF4;
    border-radius: 5px;
}
    .access-panel__preview {
        width: 28px;
        height: 28px;
        padding: 6px;
        background-color: #FFFFFF;
        border-radius: 2px;
    }
        .access-panel__icon {
            vertical-align: top;
            width: 16px;
            height: 16px;
            fill: #39606C;
        }

    .access-panel__message {
        flex-grow: 1;
        padding: 3px 14px;
        font-size: 13px;
        line-height: 20px;
        color: #333333;
    }
        .access-panel__message strong {
            font-weight: 600;
        }

    .access-panel__action {

    }

    .access-panel__close {
        margin-left: 4px;
        margin-right: -8px;
        padding: 6px;
        width: 28px;
        height: 28px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        border-radius: 2px;
    }

    .access-panel__close:hover {
        background-color: rgba(255, 255, 255, 0.6);
    }

    .access-panel__close:active {
        background-color: #FFFFFF;
    }

        .access-panel__cross {
            vertical-align: top;
            width: 16px;
            height: 16px;
            fill: #545454;
        }
