.activity-feed {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 42px 40px 71px;
    background-color: #F6F6F6;
    border-radius: 12px;
}
    .activity-feed__item {
        margin-top: 19px;
    }

    .activity-feed__item:first-child {
        margin-top: 0;
    }
