.action {
    display: block;
    vertical-align: top;
    width: 60px;
    height: 60px;
    border: none;
    padding: 4px 0 5px;
    background-color: transparent;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}
    .action__image {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border: 1px solid #8B8B8B;
        border-radius: 50%;
        transition: background-color var(--transition-show),
                    border-color var(--transition-show);
    }
        .action__icon {
            vertical-align: top;
            fill: #8B8B8B;
            transition: fill var(--transition-show);
        }

    .action__label {
        display: block;
        font-weight: bold;
        font-size: 9px;
        line-height: 12px;
        letter-spacing: -0.1px;
        color: #8B8B8B;
        text-transform: uppercase;
        transition: color var(--transition-show);
    }



.action--alternate {

}
    .action--alternate .action__image {
        margin-top: 2px;
        margin-bottom: 9px;
        width: 28px;
        height: 28px;
        background-color: #C4C4C4;
        border-color: transparent;
    }

    .action--alternate:hover .action__image {
        background-color: #545454;
    }
        .action--alternate .action__icon {
            fill: #FFFFFF;
        }

    .action--alternate .action__label {
        font-size: 8px;
        color: #C4C4C4;
    }






.action--faded {

}
    .action--faded .action__image {
        margin-top: 2px;
        margin-bottom: 9px;
        width: 28px;
        height: 28px;
        background-color: #F4F4F4;
        border-color: transparent;
    }
        .action--faded .action__icon {
            fill: #8B8B8B;
        }

        .action--faded .action__label {
            font-size: 8px;
            color: #8B8B8B;
        }

.action--faded:hover {

}
    .action--faded:hover .action__image {
        background-color: #8B8B8B;
    }
        .action--faded:hover .action__icon {
            fill: #FFFFFF;
        }



.action--gray {

}
    .action--gray .action__image {
        margin-top: 2px;
        margin-bottom: 9px;
        width: 28px;
        height: 28px;
        background-color: #E8E8E8;
        border-color: transparent;
    }
        .action--gray .action__icon {
            fill: #545454;
        }

        .action--gray .action__label {
            font-size: 8px;
            color: #8B8B8B;
        }

.action--gray:hover {

}
    .action--gray:hover .action__image {
        background-color: #8B8B8B;
    }
        .action--gray:hover .action__icon {
            fill: #FFFFFF;
        }



.action--grey {
    width: 40px;
    height: 40px;
    padding: 6px;
}
    .action--grey .action__image {
        margin: auto;
        width: 28px;
        height: 28px;
        background-color: #AAAAAA;
        border-color: transparent;
    }
        .action--grey .action__icon {
            fill: #FFFFFF;
        }

        .action--grey .action__label {
            font-size: 8px;
            color: #FFFFFF;
        }

.action--grey:hover {

}
    .action--grey:hover .action__image {
        background-color: #545454;
    }
        .action--grey:hover .action__icon {

        }


.action--white {
    width: 40px;
    height: 40px;
    padding: 6px;
}
    .action--white .action__image {
        margin: auto;
        width: 28px;
        height: 28px;
        background-color: #FFFFFF;
        border-color: transparent;
    }
        .action--white .action__icon {
            fill: #AAAAAA;
        }

        .action--white .action__label {
            font-size: 8px;
            color: #FFFFFF;
        }

.action--white:hover {

}
    .action--white:hover .action__image {
        background-color: #AAAAAA;
    }
        .action--white:hover .action__icon {
            fill: #FFFFFF;
        }





.action--multi-line {
    height: auto;
}
    .action--multi-line .action__image {

    }
        .action--multi-line .action__icon {

        }

    .action--multi-line .action__label {
        padding-top: 6px;
    }



.action--simplified {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}
    .action--simplified .action__image {
        margin: 0;
    }
        .action--simplified .action__icon {

        }

    .action--simplified .action__label {
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }


.action--horizontal {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 40px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
}
    .action--horizontal .action__image {
        margin: 0 18px 0 0;
    }
        .action--horizontal .action__icon {

        }

    .action--horizontal .action__label {
        /*position: absolute;*/
        /*opacity: 0;*/
        /*visibility: hidden;*/
        font-weight: normal;
        font-size: 11px;
        line-height: 14px;
        text-transform: none;
    }

.action--horizontal:hover {
    background-color: #F3F3F3;
    box-shadow: 0 0 0 4px #F3F3F3;

}


.action--flipped {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
}
    .action--flipped .action__image {
        margin: 0;
        width: 36px;
        height: 36px;
        background-color: transparent;
        border-color: transparent;
    }

    .action--flipped:hover .action__image {
        background-color: #E8E8E8;
    }
        .action--flipped .action__icon {
            fill: #8B8B8B;
        }

    .action--flipped.action--disabled,
    .action--flipped.action--disabled:hover {
        cursor: default;
    }
        .action--flipped.action--disabled .action__image,
        .action--flipped.action--disabled:hover .action__image {
            background-color: transparent;
        }
            .action--flipped.action--disabled .action__icon,
            .action--flipped.action--disabled:hover .action__icon {
                fill: #C5C5C5;
            }



.action--inverted {

}
    .action--inverted .action__image {
        border-color: #FFFFFF;
    }
        .action--inverted .action__icon {
            fill: #FFFFFF;
        }

    .action--inverted .action__label {
        color: #FFFFFF;
    }


.action--inverted.action--alternate {

}
    .action--inverted.action--alternate .action__image {
        border-color: transparent;
        background-color: #FFFFFF;
    }
        .action--inverted.action--alternate .action__icon {
            fill: #333333;
        }

    .action--inverted.action--alternate .action__label {
        color: #FFFFFF;
    }

.action--inverted.action--alternate:hover {

}
    .action--inverted.action--alternate:hover .action__image {
        border-color: transparent;
        background-color: #AAAAAA;
    }
        .action--inverted.action--alternate:hover .action__icon {
            fill: #FFFFFF;
        }

    .action--inverted.action--alternate:hover .action__label {
        color: #AAAAAA;
    }

