.action {
    display: block;
    vertical-align: top;
    width: 60px;
    height: 60px;
    border: none;
    padding: 4px 0 5px;
    background-color: transparent;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}
    .action__image {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border: 1px solid #8B8B8B;
        border-radius: 50%;
    }
        .action__icon {
            vertical-align: top;
            fill: #8B8B8B;
        }

    .action__label {
        display: block;
        font-weight: bold;
        font-size: 9px;
        line-height: 12px;
        letter-spacing: -0.1px;
        color: #8B8B8B;
        text-transform: uppercase;
    }



.action--alternate {

}
    .action--alternate .action__image {
        margin-top: 2px;
        margin-bottom: 9px;
        width: 28px;
        height: 28px;
        background-color: #C4C4C4;
        border-color: transparent;
    }

    .action--alternate:hover .action__image {
        background-color: #545454;
    }
        .action--alternate .action__icon {
            fill: #FFFFFF;
        }

    .action--alternate .action__label {
        font-size: 8px;
        color: #C4C4C4;
    }





.action--multi-line {
    height: auto;
}
    .action--multi-line .action__image {

    }
        .action--multi-line .action__icon {

        }

    .action--multi-line .action__label {
        padding-top: 6px;
    }



.action--simplified {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}
    .action--simplified .action__image {
        margin: 0;
    }
        .action--simplified .action__icon {

        }

    .action--simplified .action__label {
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }




.action--inverted {

}
    .action--inverted .action__image {
        border-color: #FFFFFF;
    }
        .action--inverted .action__icon {
            fill: #FFFFFF;
        }

    .action--inverted .action__label {
        color: #FFFFFF;
    }


.action--inverted.action--alternate {

}
    .action--inverted.action--alternate .action__image {
        border-color: transparent;
        background-color: #FFFFFF;
    }
        .action--inverted.action--alternate .action__icon {
            fill: #333333;
        }

    .action--inverted.action--alternate .action__label {
        color: #FFFFFF;
    }

.action--inverted.action--alternate:hover {

}
    .action--inverted.action--alternate:hover .action__image {
        border-color: transparent;
        background-color: #AAAAAA;
    }
        .action--inverted.action--alternate:hover .action__icon {
            fill: #FFFFFF;
        }

    .action--inverted.action--alternate:hover .action__label {
        color: #AAAAAA;
    }

