.activity-feed {
    background-color: #F6F6F6;
}
    .activity-feed__wrap {
        padding-top: 42px;
        padding-bottom: 71px;
    }
        .activity-feed__heading {
            margin-top: -25px;
            margin-bottom: 16px;
            font-weight: bold;
            font-size: 13px;
            line-height: 20px;
            color: #8B8B8B;
        }

        .activity-feed__list {

        }

        .activity-feed__list:first-child {
            margin-top: -12px;
        }

            .activity-feed__item {
                margin-top: 19px;
            }

            .activity-feed__item:first-child {
                margin-top: 0;
            }

            .activity-feed__emptiness {
                margin-bottom: -29px;
            }




.activity-feed--as-column {
    background-color: transparent;
}
    .activity-feed--as-column .activity-feed__wrap {
        background-color: #F6F6F6;
        border-radius: 12px;
    }
