.add-resource {

}
    .add-resource__upload {

    }


    .add-resource__files {
        margin-top: 8px;
        margin-left: -12px;
    }
        .add-resource__attachment {
            margin-top: 12px;
            margin-left: 12px;
        }

    .add-resource__description {
        margin-top: 20px;
    }

    .add-resource__operations {
        margin-top: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 12px; /* same as .workspace__footer */
    }
        .add-resource__action {
            min-width: 90px; /* same as .workspace__cancel */
        }

