.add-people {
    background-color: #FFFFFF;
    border-radius: 5px;
}
    .add-people__head {
        padding: 36px 38px 0;
    }
        .add-people__heading {
            font-weight: 600;
            font-size: 13px;
            line-height: 18px;
            color: #333333;
            text-align: center;
        }

        .add-people__note {
            margin-top: 10px;
            font-size: 12px;
            line-height: 20px;
            color: #545454;
        }

    .add-people__body {
        padding: 18px 38px 30px;
    }
        .add-people__search {

        }

        .add-people__output {
            margin-left: -16px;
            display: flex;
            flex-wrap: wrap;
        }
            .add-people__item {
                margin-left: 16px;
                margin-top: 12px;
            }

    .add-people__shared {
        border-top: 1px solid #E8E8E8;
        padding: 31px 17px 32px;
    }
        .add-people__sub-heading {
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 8px;
            font-weight: 600;
            font-size: 13px;
            line-height: 20px;
            color: #333333;
        }

