.all-connections {
    display: block;
    border: none;
    margin: -10px -14px -8px;
    padding: 10px 13px 11px;
    background-color: transparent;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color var(--transition-hover);
    text-align: left;
    cursor: pointer;
}


.all-connections--no-hover {
    cursor: auto;
}

.all-connections:not(.all-connections--no-hover):hover {
    background-color: var(--theme-light);
}

.all-connections:not(.all-connections--no-hover):active {
    background-color: var(--theme-light);
    transition: none;
}
    .all-connections__heading {
        margin-left: 6px;
        margin-top: 4px;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #545454;
        white-space: nowrap;
    }
        .all-connections__icon {
            vertical-align: top;
            width: 20px;
            height: 20px;
            float: left;
            margin-left: -4px;
            margin-right: 8px;
            fill: currentColor;
        }

    .all-connections__body {
        margin-top: 7px;
        display: flex;
        align-items: center;
        text-decoration: none;
    }
        .all-connections__people {
            margin-top: 1px;
            margin-bottom: 1px;
            margin-right: 15px;
            align-self: flex-start;
        }

        .all-connections__details {

        }

            .all-connections__description {
                min-height: 36px;
                font-size: 11px;
                line-height: 18px;
                color: #545454;
            }
                .all-connections__more {
                    font-style: italic;
                }



.all-connections--faded {

}
    /* stylelint-disable */
    .all-connections--faded .all-connections__people {
        filter: blur(3px);
        /* blur performance hack: */
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
        -webkit-transform: translate3d(0,0,0);
        -webkit-transform: translateZ(0);
        backface-visibility: hidden;
        perspective: 1000;
        transform: translate3d(0,0,0);
        transform: translateZ(0);
    }
    /* stylelint-enable */
