.all-connections {

}
    .all-connections__head {
        display: flex;
        align-items: flex-start;
        text-decoration: none;
        color: inherit;
    }
        .all-connections__icon {
            margin-left: -2px;
            margin-top: -6px;
            width: 32px;
            height: 32px;
            fill: #545454;
        }

        .all-connections__heading {
            margin-left: 6px;
            margin-top: 4px;
        }

    .all-connections__body {
        margin-top: 13px;
        display: flex;
        align-items: flex-start;
        text-decoration: none;
    }
        .all-connections__people {
            margin-top: 1px;
        }

        .all-connections__details {
            margin-left: 15px;
        }

            .all-connections__description {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                font-size: 11px;
                line-height: 18px;
                color: #545454;
            }
                .all-connections__description .link {
                    font-weight: normal;
                }

            .all-connections__more {
                font-size: 11px;
                line-height: 18px;
            }



.all-connections--faded {

}
    /* stylelint-disable */
    .all-connections--faded .all-connections__people {
        filter: blur(3px);
        /* blur performance hack: */
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
        -webkit-transform: translate3d(0,0,0);
        -webkit-transform: translateZ(0);
        backface-visibility: hidden;
        perspective: 1000;
        transform: translate3d(0,0,0);
        transform: translateZ(0);
    }
    /* stylelint-enable */


    .all-connections--faded .all-connections__description .link {
        font-weight: bold;
    }
