.alt-playback {
    position: relative;
    width: 32px;
    height: 32px;
}
    .alt-playback__bar {
        position: absolute;
        bottom: 0;
        display: block;
        width: 4px;
        height: 100%;
        background-color: #FFFFFF;
        transition: height 0.23s ease;
    }

    .alt-playback__bar:nth-child(1) {
        left: 0;
        height: 20%;
        animation: alt-playback 2.8s ease 0.2s infinite alternate;
    }

    .alt-playback__bar:nth-child(2) {
        left: 8px;
        height: 45%;
        opacity: 0.6;
        animation: alt-playback 2.2s ease 0.1s infinite alternate;
    }

    .alt-playback__bar:nth-child(3) {
        left: 16px;
        height: 8%;
        animation: alt-playback 2.6s ease 0.1s infinite alternate;
    }

    .alt-playback__bar:nth-child(4) {
        left: 24px;
        opacity: 0.6;
        animation: alt-playback 2.7s ease 0.4s infinite alternate;
    }


/* Keyframes from here: https://www.jqueryscript.net/demo/single-button-audio-player/ */
/* stylelint-disable */
@keyframes alt-playback {
     0% { height:  20%; }
    10% { height:  50%; }
    20% { height:  20%; }
    30% { height:  70%; }
    40% { height:  10%; }
    50% { height:  60%; }
    60% { height:  40%; }
    70% { height: 100%; }
    80% { height:  20%; }
    90% { height:  50%; }
   100% { height: 100%; }
}
/* stylelint-enable */

