.alt-nav {
    display: flex;
    align-items: flex-start;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
}
    .alt-nav__link {
        margin-top: -2px;
        margin-left: 40px;
        border-top: 4px solid transparent;
        padding: 23px 24px 28px;
        color: inherit;
        text-decoration: none;
    }

    .alt-nav__link:first-child {
        margin-left: 0;
    }

    .alt-nav__link--current {
        border-top-color: #C4C4C4;
    }
