.alt-icon-bar {
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    overflow: hidden; /* cut progress bar */
}
    .alt-icon-bar__progress {
        height: 9px;
        background-color: #F0F1F2;
    }
        .alt-icon-bar__value {
            height: 100%;
            background-color: #ADB7AC;
        }

    .alt-icon-bar__body {
        display: flex;
        align-items: center;
        padding: 18px 12px 18px 16px;
    }

    .alt-icon-bar__preview {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-right: 18px;
        background-color: var(--theme-light);
        border-radius: 4px;
    }
        .alt-icon-bar__image {
            vertical-align: top;
            fill: #333333;
        }


    .alt-icon-bar__content {
        overflow: hidden; /* cut progress bar corners */
    }
        .alt-icon-bar__heading {
            font-size: 13px;
            line-height: 20px;
            color: #333333;
        }

        .alt-icon-bar__description {
            margin-top: 2px;
            font-weight: 600;
            font-size: 13px;
            line-height: 20px;
            color: #ADB7AC;
            overflow: hidden;
        }
            .alt-icon-bar__description .link {
                font-weight: 600;
            }


.alt-icon-bar--swim-test {

}
    .alt-icon-bar--swim-test .alt-icon-bar__progress {

    }
        .alt-icon-bar--swim-test .alt-icon-bar__value {
            background-color: #9CB2BE;
        }

    .alt-icon-bar--swim-test .alt-icon-bar__preview {
        background-color: #EDF1F3;
    }

    .alt-icon-bar--swim-test .alt-icon-bar__content {

    }
        .alt-icon-bar--swim-test .alt-icon-bar__heading {

        }

        .alt-icon-bar--swim-test .alt-icon-bar__description {
            color: #9CB2BE;
        }
