.artist {

}
    .artist::before {

    }

    .artist__jumbotron {
        height: auto;
        box-shadow: none;
    }

    .artist__mobile-bio {
        display: block;
    }

    .artist__summary {
        padding-top: 0;
        padding-bottom: 0;
    }
        .artist__header {
            display: none;
        }

        .artist__data {
            position: relative; /* gallery comes here via absolute positioning   */
            padding-top: 288px;
            margin-top: 0;
            display: block;
        }
            .artist__sidebar {
                width: auto;
                margin-right: 0;
            }
                .artist__connections {
                    padding-top: 10px;
                }

                .artist__event {

                }

                .artist__highlights {

                }

            .artist__content {
                width: auto;
            }
                .artist__description {
                    display: none;
                }

                .artist__gallery {
                    margin-top: 0;
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    border-left: none;
                    border-right: none;
                    border-bottom: none;
                    padding-left: 0;
                    padding-right: 0;
                    border-radius: 0;
                }
                    .artist__gallery .icon-bar {

                    }

                .artist__footer {
                    display: block;
                }
                    .artist__management {
                        width: auto;
                    }

                    .artist__social {
                        margin-top: 32px;
                    }

                .artist__register {

                }

                .artist__edits {

                }
                    .artist__editing-handler {
                       
                    }

                    .artist__editing-handler:first-child {
                        /*margin-left: 0;*/
                    }

                    .artist__editing-handler.button,
                    .artist__editing-handler .button {
                        /*padding-left: 40px;*/
                        /*padding-right: 40px;*/
                    }


