.artist {
    position: relative;
    padding-top: 20px;
    border-bottom: 26px solid var(--theme-light);
}
    .artist::before {
        content: "";
        position: absolute;
        z-index: 30;
        left: 0;
        top: 0;
        right: 0;
        height: 20px;
        background-color: var(--theme-main);
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
    }

    .artist__stripe {
        position: relative;
        z-index: 20;
        height: 567px;
    }
        .artist__stripe::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 0.5;
            background-color: var(--theme-light);
        }

        .artist__jumbotron {
            position: relative;
            height: 100%;
            max-width: 1440px;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

            .artist__mobile-bio {
                display: none;
            }

            .artist__summary {
                padding-top: 32px;
                padding-bottom: 50px;
            }
                .artist__header {

                }

                .artist__data {
                    margin-top: 21px;
                    display: flex;
                    align-items: flex-start;
                }
                    .artist__sidebar {
                        flex-shrink: 0;
                        width: 280px;
                        margin-right: 60px;
                    }
                        .artist__connections {
                            padding-bottom: 20px;
                        }

                        .artist__career {
                            border-top: 1px solid var(--theme-light);
                            padding-top: var(--profile-widget-padding);
                            padding-bottom: var(--profile-widget-padding);
                        }

                        .artist__highlights {
                            border-top: 1px solid var(--theme-light);
                            padding-top: var(--profile-widget-padding);
                            padding-bottom: var(--profile-widget-padding);
                        }

                        .artist__event {
                            border-top: 1px solid var(--theme-light);
                            padding-top: var(--profile-widget-padding);
                            padding-bottom: var(--profile-widget-padding);
                        }

                    .artist__content {
                        width: calc(100% - 280px - 60px);
                    }
                        .artist__menu {

                        }

                        .artist__description {
                            margin-top: 22px;
                        }

                        .artist__description:first-child {
                            margin-top: 0;
                        }

                        .artist__gallery {
                            margin-top: 24px;
                            border: 1px solid var(--theme-light);
                            border-radius: 6px;
                            /*height: 262px; this has become troublesome when Edit button appeared */
                        }
                            .artist__gallery .icon-bar {
                                border: 7px solid transparent;
                            }

                        .artist__footer {
                            margin-top: 32px;
                            display: flex;
                            align-items: flex-start;
                        }
                            .artist__management {
                                width: 308px;
                                border-top: 1px solid var(--theme-light);
                                padding-top: var(--profile-widget-padding);
                                padding-bottom: var(--profile-widget-padding);
                            }

                            .artist__social {
                                margin-top: 0; /* bootstrap conflict */
                                margin-left: 58px;
                                flex-grow: 1;
                                border-top: 1px solid var(--theme-light);
                                padding-top: var(--profile-widget-padding);
                                padding-bottom: var(--profile-widget-padding);
                            }

                        .artist__register {
                            margin-top: 37px;
                        }

                        .artist__edits {
                            margin-top: 29px;
                            display: flex;
                        }
                            .artist__editing-handler {
                                margin-left: 30px;
                            }

                            .artist__editing-handler:first-child {
                                margin-left: 0;
                            }

                            .artist__editing-handler.button,
                            .artist__editing-handler .button {
                                padding-left: 40px;
                                padding-right: 40px;
                            }



@media (min-width: 1240px) {
    .artist__sidebar {
        margin-right: 86px;
    }

    .artist__content {
        width: calc(100% - 280px - 86px);
    }
}
