.artist {
    position: relative;
    padding-top: 20px;
    border-bottom: 26px solid #EDF1F3;
}
    .artist::before {
        content: "";
        position: absolute;
        z-index: 30;
        left: 0;
        top: 0;
        right: 0;
        height: 20px;
        background-color: #9CB2BE;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
    }

    .artist__jumbotron {
        position: relative;
        z-index: 20;
        height: 467px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .artist__summary {
        padding-top: 32px;
        padding-bottom: 50px;
    }
        .artist__header {

        }

        .artist__data {
            margin-top: 21px;
            display: flex;
            align-items: flex-start;
        }
            .artist__sidebar {
                flex-shrink: 0;
                width: 280px;
                margin-right: 60px;
            }
                .artist__connections {

                }

                .artist__event {
                    margin-top: 31px;
                    border-top: 1px solid #F2F2F2;
                    padding-top: 20px;
                }

                .artist__highlights {
                    margin-top: 26px;
                    border-top: 1px solid #F2F2F2;
                    padding-top: 21px;
                }

            .artist__content {
                width: calc(100% - 280px - 60px);
            }
                .artist__description {

                }

                .artist__gallery {
                    margin-top: 24px;
                    border: 1px solid #E8E8E8;
                    border-radius: 6px;
                    /*height: 262px; this has become troublesome when Edit button appeared */
                }
                    .artist__gallery .icon-bar {
                        border: 7px solid transparent;
                    }

                .artist__footer {
                    margin-top: 32px;
                    display: flex;
                    align-items: flex-start;
                }
                    .artist__management {
                        width: 308px;
                        border-top: 1px solid #F2F2F2;
                        padding-top: 25px;
                    }

                    .artist__social {
                        margin-left: 58px;
                        border-top: 1px solid #F2F2F2;
                        padding-top: 25px;
                        flex-grow: 1;
                    }

                .artist__edits {
                    margin-top: 29px;
                    display: flex;
                }
                    .artist__editing-handler {
                        margin-left: 30px;
                    }

                    .artist__editing-handler:first-child {
                        margin-left: 0;
                    }

                    .artist__editing-handler.button,
                    .artist__editing-handler .button {
                        padding-left: 40px;
                        padding-right: 40px;
                    }



@media (min-width: 1240px) {
    .artist__sidebar {
        margin-right: 86px;
    }

    .artist__content {
        width: calc(100% - 280px - 86px);
    }
}
