.artist-card {
    height: 100vh;
    max-height: 600px;
}
    .artist-card__preview {

    }
        .artist-card__edit {
            display: none;
        }

    .artist-card__content {
        display: none;
    }
        .artist-card__heading {

        }

        .artist-card__position {

        }

        .artist-card__last-updated {

        }

