.aside {
    position: fixed;
    z-index: 500;
    right: 0;
    top: var(--header-height);
    bottom: 0;
    width: var(--aside-width);
    background-color: #FFFFFF;
    box-shadow: inset 1px 0 0 #E8E8E8;
    overflow-y: auto;
}
