.auth {
    padding: 39px 28px 43px;
    background-color: #545454;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.14);
    border-radius: 17px;
    text-align: center;
}
    .auth__heading {
        font-size: 15px;
        line-height: 20px;
        color: #AFAFAF;
    }

    .auth__fieldset {
        margin-top: 43px;
    }
        .auth__field {
            margin-top: 20px;
        }

        .auth__field:first-child {
            margin-top: 0;
        }

    .auth__password {
        margin-top: 12px;
        font-size: 10px;
        line-height: 18px;
        color: #AFAFAF;
        text-align: right;
    }
        .auth__password .link {
            transition: color var(--transition-hover);
        }

        .auth__password .link:hover {
            color: #FFFFFF;
        }

    .auth__submit {
        margin-top: 13px;
    }

    .auth__separator {
        margin-top: 9px;
    }

    .auth__social-networks {
        margin-top: 10px;
    }
        .auth__net {

        }

    .auth__alternative {
        margin-top: 38px;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
    }
