.auth {
    padding: 40px 44px 46px;
    background-color: #FFFFFF;
    border-radius: 4px;
}
    .auth__heading {
        font-weight: 600;
        font-size: 19px;
        line-height: 28px;
        color: #333333;
    }

    .auth__alternative {
        margin-top: 9px;
        font-size: 12px;
        line-height: 18px;
        color: #333333;
    }
        .auth__alt-action {

        }

        .auth__dot {

        }

    .auth__fieldset {
        margin-top: 42px;
    }
        .auth__field {
            margin-top: 20px;
        }

        .auth__field:first-child {
            margin-top: 0;
        }

        .auth__note {
            margin-top: 14px;
            font-weight: 600;
            font-size: 10px;
            line-height: 16px;
            color: #757575;
        }

    .auth__forgot-password {
        margin-top: 18px;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #333333;
        text-align: right;
    }
        .auth__forgot-password .link {
            font-weight: inherit;
        }

    .auth__submit {
        margin-top: 18px;
    }

    .auth__separator {
        margin-top: 27px;
    }

    .auth__social-networks {
        margin-top: 28px;
    }
        .auth__net {
            margin-top: 16px;
        }

        .auth__net:first-child {
            margin-top: 0;
        }

    .auth__agreement {
        max-width: 250px;
        margin-top: 12px;
        margin-left: auto;
        margin-right: auto;
        font-size: 10px;
        line-height: 17px;
        color: #AAAAAA;
        text-align: center;
    }
        .auth__agreement .link {
            font-weight: inherit;
            color: inherit;
            border-bottom-color: currentColor;
            white-space: nowrap;
        }

        .auth__agreement .link:hover {
            border-bottom-color: transparent;
        }


    .auth__footer {
        margin-top: 64px;
        border-top: 1px solid #E8E8E8;
        padding-top: 21px;
        font-size: 12px;
        line-height: 20px;
        color: #333333;
    }
        .auth__footer .link {
            font-weight: 600;
        }
