.auth {
    /*padding: 39px 28px 43px;*/
    /*background-color: #545454;*/
    box-shadow: none;
    /*border-radius: 17px;*/
    /*text-align: center;*/
}

.auth__heading {
        display: none;
        /*font-size: 15px;*/
        /*line-height: 20px;*/
        /*color: #AFAFAF;*/
    }

    .auth__fieldset {
        margin-top: 0;
    }
        .auth__field {
            margin-top: 15px;
        }

        .auth__field:first-child {
            /*margin-top: 0;*/
        }

    .auth__password {
        margin-top: 14px;
        font-size: 11px;
        /*line-height: 18px;*/
        /*color: #AFAFAF;*/
        /*text-align: right;*/
    }

    .auth__submit {
        margin-top: 21px;
    }

    .auth__separator {
        margin-top: 7px;
    }

    .auth__social-networks {
        margin-top: 8px;
    }
        .auth__net {

        }

    .auth__alternative {
        /*margin-top: 38px;*/
        font-size: 17px;
        line-height: 24px;
        /*color: #FFFFFF;*/
    }
