.auth-logo {
    position: relative;
    width: 226px;
    height: 59px;
    background-image: url("../images/logo-dark.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}
