.auth {
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: 0;
}
    .auth__heading {

    }

    .auth__alternative {

    }
        .auth__alt-action,
        .auth__alt-action:hover,
        .auth__alt-action:active {

        }

        .auth__dot {

        }

    .auth__fieldset {

    }
        .auth__field {
            /*margin-top: 20px;*/
        }

        .auth__field:first-child {
            /*margin-top: 0;*/
        }

    .auth__forgot-password {
        /*margin-top: 18px;*/
        /*font-weight: 600;*/
        /*font-size: 12px;*/
        /*line-height: 18px;*/
        /*color: #FFFFFF;*/
        /*text-align: right;*/
    }
        .auth__forgot-password .link {
            /*font-weight: inherit;*/
        }

    .auth__submit {
        /*margin-top: 18px;*/
    }

    .auth__separator {
        /*margin-top: 33px;*/
    }

    .auth__social-networks {
        /*margin-top: 28px;*/
    }
        .auth__net {
            /*margin-top: 16px;*/
        }

        .auth__net:first-child {
            /*margin-top: 0;*/
        }

    .auth__agreement {
        /*max-width: 250px;*/
        /*margin-top: 12px;*/
        /*margin-left: auto;*/
        /*margin-right: auto;*/
        /*font-size: 10px;*/
        /*line-height: 17px;*/
        /*color: #C4C4C4;*/
        /*text-align: center;*/
    }
        .auth__agreement .link {
            /*font-weight: inherit;*/
            /*white-space: normal;*/
            /*color: inherit;*/
        }

    .auth__note {
        /*color: #757575;*/
    }

    .auth__footer {
        /*margin-top: 64px;*/
        /*border-top: 1px solid #E8E8E8;*/
        /*border-top-color: #C4C4C4;*/
        /*padding-top: 21px;*/
        /*font-size: 12px;*/
        /*line-height: 20px;*/
        /*color: #FFFFFF;*/
    }
        .auth__footer .link {
            /*font-weight: 600;*/
        }



.gate--inverted .auth {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*padding: 0;*/
    background-color: transparent;
    /*border-radius: 0;*/
}
    .gate--inverted .auth__heading {

    }

    .gate--inverted .auth__alternative {

    }
        .gate--inverted .auth__alt-action,
        .gate--inverted .auth__alt-action:hover,
        .gate--inverted .auth__alt-action:active {

        }

        .gate--inverted .auth__dot {

        }

    .gate--inverted .auth__fieldset {

    }
        .gate--inverted .auth__field {
            /*margin-top: 20px;*/
        }

        .gate--inverted .auth__field:first-child {
            /*margin-top: 0;*/
        }

    .gate--inverted .auth__forgot-password {
        /*margin-top: 18px;*/
        /*font-weight: 600;*/
        /*font-size: 12px;*/
        /*line-height: 18px;*/
        color: #FFFFFF;
        /*text-align: right;*/
    }
        .gate--inverted .auth__forgot-password .link {
            /*font-weight: inherit;*/
        }

    .gate--inverted .auth__submit {
        /*margin-top: 18px;*/
    }

    .gate--inverted .auth__separator {
        /*margin-top: 33px;*/
    }

    .gate--inverted .auth__social-networks {
        /*margin-top: 28px;*/
    }
        .gate--inverted .auth__net {
            /*margin-top: 16px;*/
        }

        .gate--inverted .auth__net:first-child {
            /*margin-top: 0;*/
        }

    .gate--inverted .auth__agreement {
        /*max-width: 250px;*/
        /*margin-top: 12px;*/
        /*margin-left: auto;*/
        /*margin-right: auto;*/
        /*font-size: 10px;*/
        /*line-height: 17px;*/
        color: #C4C4C4;
        /*text-align: center;*/
    }
        .gate--inverted .auth__agreement .link {
            /*font-weight: inherit;*/
            /*white-space: normal;*/
            /*color: inherit;*/
        }

    .gate--inverted .auth__note {
        color: #757575;
    }

    .gate--inverted .auth__footer {
        /*margin-top: 64px;*/
        /*border-top: 1px solid #E8E8E8;*/
        border-top-color: #C4C4C4;
        /*padding-top: 21px;*/
        /*font-size: 12px;*/
        /*line-height: 20px;*/
        color: #FFFFFF;
    }
        .gate--inverted .auth__footer .link {
            /*font-weight: 600;*/
        }
