.auth-logo {
    position: relative;
    width: 375px;
    height: 73px;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}
    .auth-logo::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 73px;
        height: 73px;
        background-image: url("../images/responsive-logo-emblem.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .auth-logo::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 279px;
        height: 73px;
        background-image: url("../images/responsive-logo-title.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
