.avatar {
    position: relative;
    display: inline-flex; /* inline-block could be enough but that one inherit line-height for images smaller than 24px */
    vertical-align: top;
    padding: 0;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    -webkit-transform: translate3d(0, 0, 0); /* make transition works in safari: https://stackoverflow.com/questions/48470833/overflow-not-hidden-while-css-animation-in-safari */
}
    .avatar__image {
        vertical-align: top;
        background-color: var(--image-fallback);
        transition: transform 0.3s cubic-bezier(0, 0.55, 0.45, 1);
    }

    .avatar__cancel {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(51, 51, 51, 0.3);
        padding: 0;
        border: none;
        cursor: pointer;
        opacity: 0;
        transition: opacity var(--transition-hover);
    }

    .avatar__cancel:hover {
        opacity: 1;
    }

    .avatar__cancel:active {
        background-color: rgba(51, 51, 51, 0.5);
    }
        .avatar__cross {
            vertical-align: top;
            fill: #FFFFFF;
            width: 10px;
            height: 10px;
        }

    .avatar__delete {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(51, 51, 51, 0.3);
        padding: 0;
        border: none;
        cursor: pointer;
        opacity: 0;
        transition: opacity var(--transition-hover);
    }

    .avatar__delete:hover {
        opacity: 1;
    }

    .avatar__delete:active {
        opacity: 1;
        background-color: rgba(51, 51, 51, 0.5);
    }
        .avatar__bin {
            vertical-align: top;
            fill: #FFFFFF;
            width: 20px;
            height: 20px;
        }

.avatar:not(.avatar--non-clickable):hover {

}
    .user-card:hover .avatar__image,
    .avatar:not(.avatar--non-clickable):hover .avatar__image {
        transform: scale(1.05);
    }

    .avatar:not(.avatar--non-clickable):hover .dummy {
        transform: none;
        background-color: #545454;
    }


.avatar--squared {
    border-radius: 10px;
}

.avatar--a-bit-squared {
    border-radius: 6px;
}

.avatar--less-squared {
    border-radius: 4px;
}


.avatar--alt-hover {
    background-color: #FFFFFF; /* half white on hover */
}
    .avatar--alt-hover .avatar__image {
        transition: opacity var(--transition-hover),
                    background-color var(--transition-hover); /* in case of dummy */
        transform: none !important;
    }

    .profile-button:hover .avatar__image,
    .avatar--alt-hover:hover .avatar__image {
        opacity: 0.5; /* half white on hover */
    }

    .avatar--alt-hover .dummy {
        opacity: 1 !important;
    }


.avatar--shadow {
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.15);
}
    .avatar--shadow .avatar--image {

    }

.avatar--fancy {
    border: 1px solid #FFFFFF;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}
    .avatar--fancy .avatar__image {

    }


.avatar--non-clickable {
    cursor: inherit;
}


.avatar--panel {
    border: 1px solid #E8E8E8;
    border-radius: 3px;
}
    .avatar--panel .avatar__image {

    }
