.back-panel {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #F3F3F3;
    padding: 19px 25px 18px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #757575;
    text-decoration: none;
    transition: background-color var(--transition-hover);
}

.back-panel:hover {
    background-color: #FAFAFA;
}
    .back-panel__icon {
        vertical-align: top;
        margin-right: 14px;
        fill: #545454;
    }
