.badge {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
    .badge__body {
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding: 3px 20px;
        border: none;
        background-color: transparent;
        border-radius: 18px;
        font-weight: 600;
        font-size: 11px;
        line-height: 20px;
        text-align: center;
        text-decoration: none;
        transition: opacity var(--transition-hover);
        cursor: pointer;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
        .badge__angle {
            position: absolute;
            right: 6px;
            top: 5px;
            opacity: 0;
            fill: #757575;
            transition: opacity var(--transition-show);
        }

        .badge__body:hover .badge__angle {
            opacity: 1;
        }


    .badge__dropdown {
        position: absolute;
        left: 0;
        top: 100%;
        background-color: #FFFFFF;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid #E8E8E8;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
        transition: opacity var(--transition-show),
                    visibility var(--transition-show);
    }

    .badge--expanded .badge__dropdown {
        opacity: 1;
        visibility: visible;
    }
        .badge__choice {
            width: 100%;
            padding: 10px 28px;
            background-color: transparent;
            border: none;
            text-align: left;
            cursor: pointer;
        }

        .badge__choice--selected {
            background-image: url("../vectors/badge-choice-selected.svg");
            background-size: 16px 16px;
            background-position: 8px center;
            background-repeat: no-repeat;
        }

        .badge__choice:hover {
            background-color: #F6F6F6;
        }
            .badge__item {
                display: inline-block;
                vertical-align: top;
                padding: 3px 20px;
                border-radius: 18px;
                font-weight: 600;
                font-size: 11px;
                line-height: 20px;
                text-align: center;
                white-space: nowrap;
            }

            .badge__item--bulk {
                margin-left: -10px;
                color: #C4C4C4;
            }
