.badge {
    display: inline-block;
    vertical-align: top;
    padding: 3px 10px;
    border: none;
    border-radius: 18px;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    transition: opacity var(--transition-hover);
    overflow: hidden;
    text-overflow: ellipsis;
}

.badge:hover {
    opacity: 0.7;
}
