.bar {
    position: relative;
    height: 20px;
}
    .bar::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 10px;
        display: block;
        height: 1px;
        background-color: #7D7D7D;
    }

    .bar__label {
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding-right: 17px;
        padding-left: 17px;
        background-color: #545454;
        font-size: 12px;
        line-height: 20px;
        color: #C4C4C4;
    }
