.bar {
    position: relative;
    height: 20px;
    text-align: center;
}
    .bar::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 10px;
        display: block;
        height: 1px;
        background-color: #E8E8E8;
    }

    .bar__label {
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding-right: 17px;
        padding-left: 17px;
        background-color: #FFFFFF;
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
        color: #C4C4C4;
    }
