.beginning {
    width: 100%;
    padding: 17px 30px 1px;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    color: #76797C;
    text-align: center;
}

.beginning--side {
    padding-top: 12px;
    margin-bottom: 23px;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 16px;
    color: #8B8B8B;
}
