.bio {

}
    .bio__content {
        margin-bottom: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        color: #545454;
    }

    .bio__handler {
        font-size: 12px;
        line-height: 18px;
    }


.bio--9-rows {

}
    .bio--9-rows .bio__content {
        margin-bottom: 22px;
        -webkit-line-clamp: 9;
    }
