.bio {

}
    .bio__heading {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #545454;
    }

    .bio__null {
        margin-top: 15px;
    }

    .bio__content {
        margin-bottom: 12px;
        padding-top: 3px;
        color: #545454;
    }

    .bio__handler {
        font-size: 12px;
        line-height: 18px;
    }

