.biography {
    padding-top: 22px;
}
    .biography__heading {
        display: none;
    }

    .biography__mobile-heading {

    }

    .biography__mobile-footer {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-left: -10px;
    }
        .biography__mobile-action {
            margin-top: 10px;
            margin-left: 10px;
        }
        .biography__mobile-action.button {
            padding: 9px 30px;
        }

    .biography__null {
        /*margin-top: 24px;*/
    }

    .biography__body {
        margin-top: 20px;
        display: block;
    }
        .biography__sidebar {
            display: none;
            width: auto;
            margin-right: 0;
        }

        .biography__content {
            /*flex-shrink: 0;*/
            width: auto;
        }
            .biography__wrapper {
                display: block;
                /*align-items: flex-start;*/
            }
                .biography__about {
                    width: auto;
                    padding-bottom: 23px;
                    margin-right: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                }

                .biography--expanded .biography__about {
                    -webkit-line-clamp: inherit;
                }

                .biography__expand {
                    margin-top: 18px;
                    display: inline-block;
                    vertical-align: top;
                    width: 100%;
                    border: none;
                    background-color: transparent;
                    border-top: 1px solid var(--theme-light);
                    padding-top: 18px;
                    padding-bottom: 18px;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 16px;
                    color: var(--theme-main);
                    cursor: pointer;
                }

                .biography--expanded .biography__expand {
                    display: none;
                }


                .biography__comments {
                    margin-top: 0;
                    padding-top: 22px;
                    padding-bottom: 23px;
                    width: auto;
                }
                    .biography__comments-heading {
                        display: block;
                        margin-top: 0;
                        margin-bottom: 20px;
                    }

            .biography__footer {
               display: none;
            }
                .biography__action {

                }
