.biography {

}
    .biography__heading {

    }

    .biography__body {
        margin-top: 49px;
        display: flex;
        align-items: flex-start;
    }
        .biography__sidebar {
            flex-shrink: 0;
            width: var(--profile-sidebar);
            margin-right: var(--profile-gap);
            margin-top: 2px;
        }
            .biography__sub-heading {
                margin-top: 0;
                margin-bottom: 0;
            }

        .biography__content {
            flex-shrink: 0;
            width: calc(100% - var(--profile-sidebar) - var(--profile-gap));
        }
            .biography__wrapper {
                display: flex;
                align-items: flex-start;
            }
                .biography__about {
                    width: 484px;
                    margin-right: 64px;
                    color: #545454;
                }

                .biography__comments {
                    margin-top: 4px;
                    width: calc(100% - 484px - 64px);
                }

            .biography__footer {
                margin-top: 48px;
                display: flex;
                align-items: flex-start;
            }
                .biography__action {
                    flex-grow: 1;
                    flex-basis: 0;
                    margin-left: 77px;
                }

                .biography__action:first-child {
                    margin-left: 0;
                }
                    .biography__action.button,
                    .biography__action .button {
                        font-size: 12px;
                    }
