.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    border: none;
    padding: 9px 20px;
    background-color: #333333;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    font-family: inherit;
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
    color: #FFFFFF;
    letter-spacing: -0.1px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color var(--transition-hover),
                color var(--transition-hover);
}
    .button__icon {
        vertical-align: top;
        fill: currentColor;
        transition: fill var(--transition-hover);
        flex-shrink: 0;
    }

    .button__icon[height="20"] {
        margin-top: -2px;
        margin-bottom: -2px;
    }

    .button__icon[height="24"] {
        margin-top: -4px;
        margin-bottom: -4px;
    }

    .button__icon--left {
        margin-left: -4px;
        margin-right: 8px;
    }

    .button__icon--right {
        margin-left: 8px;
        margin-right: -4px;
    }

    .button__icon--follow {
        margin-left: -4px;
        margin-right: 2px;
    }

    .button__icon--success {
        margin-left: -8px;
        margin-right: 6px;
    }

    .button__logo {
        vertical-align: top;
        border-radius: 50%;
        margin: 1px 8px 1px -8px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.13);
    }

    .button__media {
        margin: -4px 11px -4px -1px;
        vertical-align: top;
    }


.button:hover {
    background: #757575;
}

.button:active {
    background-color: #E8E8E8;
    color: #333333;
    box-shadow: none;
    transition: none !important;
}

.button--small {
    padding: 7px 16px;
    font-size: 9px;
}

.button--smaller {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 9px;
}

.button--larger {
    padding-top: 12px;
    padding-bottom: 12px;
}



.button--faded {
    background-color: #F4F4F4;
    font-weight: bold;
    color: #8B8B8B;
    box-shadow: none;
    letter-spacing: -0.1px;
}

.button--faded:hover,
.button--faded:active {
    background-color: #8B8B8B;
    color: #F4F4F4;
}


.button--alt-faded {
    background-color: #F4F4F4;
    font-weight: bold;
    color: #8B8B8B;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12);
}

.button--alt-faded:hover,
.button--alt-faded:active {
    background-color: #757575;
    color: #FFFFFF;
}



.button--another-faded {
    padding: 7px 12px;
    background-color: #F5F5F5;
    box-shadow: none;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #545454;
}

.button--another-faded:hover,
.button--another-faded:active {
    background-color: #757575;
    color: #FFFFFF;
}



.button--gray {
    background-color: #C4C4C4;
    font-weight: bold;
    color: #FFFFFF;
    box-shadow: none;
    letter-spacing: -0.1px;
}

.button--gray:hover,
.button--gray:active {
    background-color: #545454;
    color: #FFFFFF;
}



.button--dark-gray {
    background-color: #757575;
    font-weight: bold;
    color: #FFFFFF;
    box-shadow: none;
    letter-spacing: -0.1px;
}

.button--dark-gray:hover {
    background-color: #C4C4C4;
    color: #545454;
}

.button--dark-gray:active {
    background-color: #E8E8E8;
    color: #757575;
}




.button--lighter {
    background-color: #F1F1F1;
    color: #757575;
    box-shadow: none;
}

.button--lighter:hover,
.button--lighter:active {
    background-color: #757575;
    color: #F1F1F1;
}



.button--darker {
    background-color: #E8E8E8;
    color: #757575;
    box-shadow: none;
}

.button--darker:hover,
.button--darker:active {
    background-color: #C4C4C4;
    color: #757575;
}


.button--alt-darker {
    background-color: #E8E8E8;
    color: #757575;
    box-shadow: none;
}

.button--alt-darker:hover,
.button--alt-darker:active {
    background-color: #757575;
    color: #E8E8E8;
}


.button--another-darker {
    background-color: #E8E8E8;
    font-weight: bold;
    color: #333333;
    box-shadow: none;
}

.button--another-darker:hover,
.button--another-darker:active {
    background-color: #757575;
    color: #E8E8E8;
}




.button--alternate {
    box-shadow: inset 0 0 0 1px #E8E8E8;
    background-color: transparent;
    color: #8B8B8B;
}

.button--alternate:hover,
.button--alternate:active {
    box-shadow: inset 0 0 0 1px #E8E8E8;
    background-color: #F2F2F2;
    color: #8B8B8B;
}


.button--secondary {
    box-shadow: inset 0 0 0 1px #757575;
    background-color: transparent;
    color: #757575;
}

.button--secondary:hover,
.button--secondary:active {
    box-shadow: inset 0 0 0 1px #F1F1F1;
    background-color: #F1F1F1;
    color: #8B8B8B;
}


.button--volumetric {
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
    font-weight: bold;
    color: #757575;
}

.button--volumetric:hover {
    background-color: #E8E8E8;
    color: #757575;
}

.button--volumetric:active {
    background-color: #E8E8E8;
    color: #757575;
    box-shadow: none;
}



.button--submit {
    background-color: #545454;
    border-radius: 7px;
    box-shadow: none;
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
}

.button--submit:hover {
    background-color: #E8E8E8;
    color: #757575;
}

.button--submit:active {
    background-color: #E8E8E8;
    color: #757575;
    box-shadow: none;
}



.button--cancel {
    background-color: #E1E1E1;
    color: #545454;
    box-shadow: none;
    border-radius: 7px;
    font-weight: bold;
    font-size: 12px;
}

.button--cancel:hover,
.button--cancel:active {
    background-color: #757575;
    color: #E8E8E8;
}



.button--expandable {
    justify-content: flex-start;
    overflow: hidden;
    transition: padding-left var(--transition-show),
                padding-right var(--transition-show),
                width var(--transition-show),
                color var(--transition-show);
}
    .button--expandable .button__icon {
        transition: margin-left var(--transition-show),
                    margin-right var(--transition-show);
    }

.button--expandable:not(:hover) {
    width: 34px !important;
    padding-left: 9px;
    padding-right: 9px;
}
    .button--expandable:not(:hover) .button__icon {
        margin-left: 0;
        margin-right: 10px;
    }



.button--auth-primary {
    width: 100%;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    background-color: #757575;
    box-shadow: none;
    color: #FFFFFF;
}

.button--auth-primary:hover {
    background-color: #2F2F2F;
    color: #FFFFFF;
}

.button--auth-primary:active {
    background-color: #2F2F2F;
    color: #FFFFFF;
}



.button--auth-secondary {
    width: 100%;
    padding: 10px 20px;
    background-color: #FFFFFF;
    box-shadow: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #AFAFAF;
}
    .button--auth-secondary .button__icon {
        fill: #545454;
    }

.button--auth-secondary:hover {
    background-color: #2F2F2F;
    color: #FFFFFF;
}
    .button--auth-secondary:hover .button__icon {
        fill: #757575;
    }
