.buttons-alike-nav {
    display: flex;
    align-items: flex-start;
}
    .buttons-alike-nav__item {
        margin-left: 15px;
        padding: 7px 30px;
        background-color: #44474A;
        border-radius: 17px;
        border: none;
        flex-shrink: 0;
        font-family: inherit;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        color: #FFFFFF;
        text-decoration: none;
        transition: background-color var(--transition-hover),
                    color var(--transition-hover);
    }

    .buttons-alike-nav__item:first-child {
        margin-left: 0;
    }

    .buttons-alike-nav__item:hover {
        background-color: #FFFFFF;
        color: #23282C;
    }


    .buttons-alike-nav__item--current,
    .buttons-alike-nav__item--current:hover {
        background-color: #FFFFFF;
        color: #23282C;
        cursor: default;
    }
