.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    border: none;
    padding: 9px 20px;
    background-color: #333333;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    font-family: inherit;
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
    color: #FFFFFF;
    letter-spacing: -0.1px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: background-color var(--transition-hover),
                color var(--transition-hover);
}
    .button__icon {
        vertical-align: top;
        fill: currentColor;
        transition: fill var(--transition-hover),
                    color var(--transition-hover);
        flex-shrink: 0;
    }

    .button__icon[height="20"] {
        margin-top: -2px;
        margin-bottom: -2px;
    }

    .button__icon[height="24"] {
        margin-top: -4px;
        margin-bottom: -4px;
    }

    .button__icon--left {
        margin-left: -4px;
        margin-right: 8px;
    }

    .button__icon--right {
        margin-left: 8px;
        margin-right: -4px;
    }

    .button__icon--follow {
        margin-left: -4px;
        margin-right: 2px;
    }

    .button__icon--success {
        margin-left: -8px;
        margin-right: 6px;
    }

    .button__logo {
        vertical-align: top;
        border-radius: 50%;
        margin: 1px 8px 1px -8px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.13);
    }

    .button__media {
        margin: -4px 11px -4px -1px;
        vertical-align: top;
    }


.button:hover {
    background-color: #757575;
}

.button:active {
    background-color: #E8E8E8;
    color: #333333;
    box-shadow: none;
    transition: none !important;
}
    .button:active .button__icon {
        transition: none;
    }


.button--disabled,
.button--disabled:hover,
.button--disabled:active {
    background-color: #E8E8E8;
    box-shadow: none;
    color: #C4C4C4;
    cursor: default;
}
    .button--disabled .button__icon {
        fill: currentColor;
    }

.button--small {
    padding: 7px 16px;
    font-size: 9px;
}

.button--smaller {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 9px;
}

.button--larger {
    padding-top: 12px;
    padding-bottom: 12px;
}

.button--alt-large {
    padding: 12px 47px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}



.button--faded {
    background-color: #F4F4F4;
    font-weight: bold;
    color: #8B8B8B;
    box-shadow: none;
    letter-spacing: -0.1px;
}

.button--faded:hover,
.button--faded:active {
    background-color: #8B8B8B;
    color: #F4F4F4;
}


.button--alt-faded {
    background-color: #F4F4F4;
    font-weight: normal;
    font-size: 13px;
    color: #757575;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12);
}

.button--alt-faded:hover,
.button--alt-faded:active {
    background-color: #757575;
    color: #FFFFFF;
}



.button--another-faded {
    padding: 7px 12px;
    background-color: #F5F5F5;
    box-shadow: none;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #545454;
}

.button--another-faded:hover,
.button--another-faded:active {
    background-color: #757575;
    color: #FFFFFF;
}



.button--gray {
    background-color: #C4C4C4;
    font-weight: bold;
    color: #FFFFFF;
    box-shadow: none;
    letter-spacing: -0.1px;
}

.button--gray:hover,
.button--gray:active {
    background-color: #545454;
    color: #FFFFFF;
}



.button--dark-gray {
    background-color: #757575;
    font-weight: bold;
    color: #FFFFFF;
    box-shadow: none;
    letter-spacing: -0.1px;
}

.button--dark-gray:hover {
    background-color: #C4C4C4;
    color: #545454;
}

.button--dark-gray:active {
    background-color: #E8E8E8;
    color: #757575;
}




.button--lighter {
    background-color: #F1F1F1;
    color: #757575;
    box-shadow: none;
}

.button--lighter:hover,
.button--lighter:active {
    background-color: #757575;
    color: #F1F1F1;
}



.button--darker {
    background-color: #E8E8E8;
    color: #757575;
    box-shadow: none;
}

.button--darker:hover,
.button--darker:active {
    background-color: #C4C4C4;
    color: #757575;
}


.button--alt-darker {
    background-color: #E8E8E8;
    color: #757575;
    box-shadow: none;
}

.button--alt-darker:hover,
.button--alt-darker:active {
    background-color: #757575;
    color: #E8E8E8;
}


.button--another-darker {
    background-color: #E8E8E8;
    font-weight: 600;
    color: #333333;
    box-shadow: none;
}

.button--another-darker:hover {
    background-color: #757575;
    color: #E8E8E8;
}

.button--another-darker:active {
    background-color: #545454;
    color: #FFFFFF;
}




.button--alternate {
    box-shadow: inset 0 0 0 1px #E8E8E8;
    background-color: transparent;
    color: #8B8B8B;
}

.button--alternate:hover,
.button--alternate:active {
    box-shadow: inset 0 0 0 1px #E8E8E8;
    background-color: #F2F2F2;
    color: #8B8B8B;
}


.button--secondary {
    box-shadow: inset 0 0 0 1px #757575;
    background-color: transparent;
    color: #757575;
}

.button--secondary:hover,
.button--secondary:active {
    box-shadow: inset 0 0 0 1px #F1F1F1;
    background-color: #F1F1F1;
    color: #8B8B8B;
}


.button--volumetric {
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
    font-weight: normal;
    font-size: 13px;
    color: #545454;
}

.button--volumetric:hover {
    background-color: #E8E8E8;
    color: #545454;
}

.button--volumetric:active {
    background-color: #E8E8E8;
    color: #545454;
    box-shadow: none;
}


.button--alt-volumetric {
    padding: 12px 20px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #545454;
}

.button--alt-volumetric:hover {
    background-color: #E8E8E8;
    color: #757575;
}

.button--alt-volumetric:active {
    background-color: #E8E8E8;
    color: #757575;
    box-shadow: none;
}



.button--submit {
    background-color: #545454;
    border-radius: 7px;
    box-shadow: none;
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
}

.button--submit:hover {
    background-color: #E8E8E8;
    color: #757575;
}

.button--submit:active {
    background-color: #E8E8E8;
    color: #757575;
    box-shadow: none;
}



.button--cancel {
    background-color: #E1E1E1;
    color: #545454;
    box-shadow: none;
    border-radius: 7px;
    font-weight: bold;
    font-size: 12px;
}

.button--cancel:hover,
.button--cancel:active {
    background-color: #757575;
    color: #E8E8E8;
}

.button--add {
    padding: 7px 17px 7px 23px;
    background-color: #94A2A3;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
}
    .button--add .button__icon {

    }

.button--add:hover,
.button--add:active {
    background-color: #757575;
    color: #E8E8E8;
}



.button--expandable {
    justify-content: flex-start;
    overflow: hidden;
    transition: padding-left var(--transition-show),
                padding-right var(--transition-show),
                width var(--transition-show),
                color var(--transition-show);
}
    .button--expandable .button__icon {
        transition: margin-left var(--transition-show),
                    margin-right var(--transition-show);
    }

.button--expandable:not(:hover) {
    width: 34px !important;
    padding-left: 9px;
    padding-right: 9px;
}
    .button--expandable:not(:hover) .button__icon {
        margin-left: 0;
        margin-right: 10px;
    }



.button--auth-primary {
    width: 100%;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    background-color: #757575;
    box-shadow: none;
    color: #FFFFFF;
}

.button--auth-primary:hover {
    background-color: #2F2F2F;
    color: #FFFFFF;
}

.button--auth-primary:active {
    background-color: #2F2F2F;
    color: #FFFFFF;
}



.button--auth-secondary {
    width: 100%;
    padding: 10px 20px;
    background-color: #FFFFFF;
    box-shadow: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #545454;
}
    .button--auth-secondary .button__icon {
        fill: #545454;
    }

.button--auth-secondary:hover {
    background-color: #2F2F2F;
    color: #FFFFFF;
}
    .button--auth-secondary:hover .button__icon {
        fill: #757575;
    }


.button--blue {
    background-color: #9CB2BE;
}

.button--blue:hover {
    background-color: #B1C9D7;
}

.button--blue:active {
    background-color: #E6E6E6;
}



.button--link-alike {
    background-color: transparent;
    box-shadow: none;
    color: #757575;
}

.button--link-alike:hover {
    background-color: #E8E8E8;
    color: #757575;
}

.button--link-alike:active {
    background-color: #E8E8E8;
    color: #757575;
}


.button--fancy {
    padding: 8px 20px 9px;
    background-color: transparent;
    background-image: linear-gradient(135deg, #9CB2BE, #B1BDB4);
    box-shadow: none;
    border-radius: 19px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.button--fancy:hover,
.button--fancy:active {
    background: linear-gradient(135deg, #7D8E97, #8E978F);
    color: #FFFFFF;
}

    .button--fancy .button__icon {
        margin-right: 8px;
    }


.button--panel {
    padding: 6px 15px 8px;
    background-color: #F2F2F2;
    border-radius: 4px;
    box-shadow: none;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #757575;
}

.button--panel:hover {
    background-color: #757575;
    color: #F2F2F2;
}

.button--panel:active {
    background-color: #333333;
    color: #F2F2F2;
}


.button--submit-panel {
    padding: 6px 15px 8px;
    border-radius: 4px;
    box-shadow: none;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
}


.button--submit-form {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #545454;
    color: #FFFFFF;
    font-size: 14px;
}


.button--submit-form:hover {
    background-color: #757575;
    color: #FFFFFF;
}


.button--update-form {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #E8E8E8;
    box-shadow: none;
    font-size: 14px;
    color: #757575;
}

.button--update-form:hover,
.button--update-form:active {
    background-color: #AAAAAA;
    color: #FFFFFF;
}

.button--card-submit {
    padding: 6px 20px;
    box-shadow: none;
    border-radius: 6px;
    font-size: 14px;
    line-height: 24px;
}

.button--alt-submit {
    padding: 8px 20px;
    box-shadow: none;
    border-radius: 6px;
    font-size: 14px;
    line-height: 24px;
}
    .button--alt-submit .button__icon--left {
        margin-left: -10px;
    }

.button--dropdown-submit {
    padding: 12px 18px;
    box-shadow: none;
    border-radius: 4px;
    font-size: 13px;
    line-height: 16px;
}
    .button--dropdown-submit .button__icon {
        margin-left: -3px;
        margin-right: 8px;
        fill: #FFFFFF;
        color: rgba(255, 255, 255, 0.4);
    }

    .button--dropdown-submit:active .button__icon {
        fill: currentColor;
        color: currentColor;
    }


.button--submit-bar {
    padding: 8px 20px;
    border-radius: 4px;
    box-shadow: none;
    font-size: 13px;
    line-height: 24px;
}

.button--large-submit {
    padding: 6px 20px;
    box-shadow: none;
    font-size: 14px;
    line-height: 24px;
}

.button--large-secondary {
    padding: 6px 20px;
    background-color: transparent;
    box-shadow: none;
    font-size: 14px;
    line-height: 24px;
    color: #757575;
}

.button--large-secondary:hover {
    background-color: #E8E8E8;
}



.button--info {
    padding: 7px 18px;
    background-color: var(--user-color);
    box-shadow: none;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #181F30;
    transition: filter var(--transition-hover);
}

.button--info:hover {
    background-color: var(--user-color);
    color: #181F30;
    filter: brightness(1.1);
    /* default color (legacy): */
    /*background-color: #B4CDDB;*/
    /*color: #181F30;*/
}

.button--info:active {
    background-color: var(--user-color);
    color: #181F30;
    filter: brightness(0.9);
    /* default color (legacy): */
    /*background-color: #8497A2;*/
    /*color: #FFFFFF;/*/
}




.button--alt-secondary {
    padding: 12px 24px;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 0 1px #E3EDF3;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #181F30;
}

.button--alt-secondary:hover {
    background-color: #FAFAFA;
    box-shadow: inset 0 0 0 1px #E3EDF3;
    color: #181F30;
}

.button--alt-secondary:active {
    background-color: #F5F5F5;
    box-shadow: inset 0 0 0 1px #E3EDF3;
    color: #181F30;
}



.button--dark-secondary {
    padding: 12px 24px;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 0 1px #D9D9D9;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #333333;
}

.button--dark-secondary:hover {
    background-color: #FCFCFC;
    box-shadow: inset 0 0 0 1px #D1D1D1;
    color: #181F30;
}

.button--dark-secondary:active {
    background-color: #FAFAFA;
    box-shadow: inset 0 0 0 1px #C8C8C8;
    color: #181F30;
}



/* Same to .button--alt-secondary but not a button.
   It mean to work as a part of larger clickable thing. */
.button--inner,
.button--inner:hover,
.button--inner:active {
    padding: 12px 24px;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 0 1px #D9D9D9;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #333333;
}



.button--big-secondary {
    padding: 12px 32px;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #E3EDF3;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #545454;
}

.button--big-secondary:hover {
    background-color: #FAFAFA;
    box-shadow: inset 0 0 0 1px #E3EDF3;
    color: #181F30;
}

.button--big-secondary:active {
    background-color: #F5F5F5;
    box-shadow: inset 0 0 0 1px #E3EDF3;
    color: #181F30;
}


.button--gradient {
    background-image: linear-gradient(91.95deg, #E3EDF3 5.46%, #9CB2BE 95.95%);
    box-shadow: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #181F30;
    transition: filter var(--transition-hover);
}

.button--gradient:hover {
    filter: contrast(1.075);
}

.button--gradient:active {
    filter: contrast(0.9);
    transition: none;
}


.button--modal-submit {
    padding: 12px 26px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}



.button--modal-submit.button--disabled,
.button--modal-submit.button--disabled:hover,
.button--modal-submit.button--disabled:active {
    background-color: #F1F1F1;
    box-shadow: none;
    color: #8B8B8B;
}


.button--modal-secondary {
    padding: 12px 26px;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #757575;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #757575;
}

.button--modal-secondary:hover {
    box-shadow: inset 0 0 0 1px #F1F1F1;
    background-color: #F1F1F1;
    color: #8B8B8B;
}

.button--modal-secondary:active {
    background-color: #C4C4C4;
    box-shadow: none;
    color: #545454;
}




.button--modal-action {
    /* backgrounds, colors and shadows are similar to default button */
    padding: 12px 26px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}


.button--design-submit {
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    background-color: var(--user-color);
    font-weight: 600;
    font-size: 14px;
    color: #333333;
    box-shadow: none;
    transition: filter var(--transition-hover);
}

.button--design-submit:hover {
    background-color: var(--user-color);
    color: #333333;
    filter: brightness(1.1);
    /* default (legacy): */
    /*background-color: #AEC5D2;*/
}

.button--design-submit:active {
    background-color: var(--user-color);
    color: #333333;
    filter: brightness(0.9);
    /* default (legacy): */
    /*background-color: #8FA3AE;*/
}
