.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    border: none;
    padding: 9px 20px;
    background-color: #333333;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    font-family: inherit;
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
    color: #FFFFFF;
    letter-spacing: -0.1px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: box-shadow var(--transition-hover),
                background-color var(--transition-hover),
                color var(--transition-hover);
}
    .button__icon {
        vertical-align: top;
        fill: currentColor;
        flex-shrink: 0;
    }

    .button__icon[height="20"] {
        margin-top: -2px;
        margin-bottom: -2px;
    }

    .button__icon[height="24"] {
        margin-top: -4px;
        margin-bottom: -4px;
    }

    .button__icon--left {
        margin-left: -4px;
        margin-right: 8px;
    }

    .button__icon--right {
        margin-left: 8px;
        margin-right: -4px;
    }

    .button__icon--follow {
        margin-left: -4px;
        margin-right: 2px;
    }

    .button__icon--success {
        margin-left: -8px;
        margin-right: 6px;
    }

    .button__media {
        margin: -4px 11px -4px -1px;
        vertical-align: top;
    }

    .button__counter {
        position: absolute;
        right: -9px;
        top: -9px;
    }


.button:hover {
    background-color: #757575;
}

.button:active {
    background-color: #E8E8E8;
    color: #333333;
    box-shadow: none;
    transition: none !important;
}
    .button:active .button__icon {
        transition: none;
    }


.button--disabled,
.button--disabled:hover,
.button--disabled:active {
    background-color: #E8E8E8;
    box-shadow: none;
    color: #C4C4C4;
    cursor: default;
}
    .button--disabled .button__icon {
        fill: currentColor;
    }

.button--small {
    padding: 7px 16px;
    font-size: 9px;
}

.button--larger {
    padding-top: 12px;
    padding-bottom: 12px;
}

.button--alt-large {
    padding: 12px 47px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}



.button--faded {
    background-color: #F4F4F4;
    font-weight: bold;
    color: #8B8B8B;
    box-shadow: none;
    letter-spacing: -0.1px;
}

.button--faded:hover,
.button--faded:active {
    background-color: #8B8B8B;
    color: #F4F4F4;
}


.button--alt-faded {
    background-color: #F4F4F4;
    font-weight: normal;
    font-size: 13px;
    color: #757575;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12);
}

.button--alt-faded:hover,
.button--alt-faded:active {
    background-color: #757575;
    color: #FFFFFF;
}



.button--another-faded {
    padding: 7px 12px;
    background-color: #F5F5F5;
    box-shadow: none;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #545454;
}

.button--another-faded:hover,
.button--another-faded:active {
    background-color: #757575;
    color: #FFFFFF;
}



.button--blue {
    background-color: #BFCCDE;
    box-shadow: none;
    color: #23282C;
}

.button--blue:hover {
    background-color: #C8D6E9;
    color: #23282C;
}
.button--blue:active {
    background-color: #BFCBDD;
    color: #23282C;
}



.button--gray {
    background-color: #C4C4C4;
    font-weight: bold;
    color: #FFFFFF;
    box-shadow: none;
    letter-spacing: -0.1px;
}

.button--gray:hover,
.button--gray:active {
    background-color: #545454;
    color: #FFFFFF;
}



.button--dark-gray {
    background-color: #757575;
    font-weight: bold;
    color: #FFFFFF;
    box-shadow: none;
    letter-spacing: -0.1px;
}

.button--dark-gray:hover {
    background-color: #C4C4C4;
    color: #545454;
}

.button--dark-gray:active {
    background-color: #E8E8E8;
    color: #757575;
}


.button--darkest-gray {
    padding: 12px 20px;
    background-color: #44474A;
    border-radius: 4px;
    font-weight: bold;
    color: #FFFFFF;
    box-shadow: none;
    letter-spacing: -0.1px;
}

.button--darkest-gray:hover {

}

.button--darkest-gray:active {

}




.button--lighter {
    background-color: #F1F1F1;
    color: #757575;
    box-shadow: none;
}

.button--lighter:hover,
.button--lighter:active {
    background-color: #757575;
    color: #F1F1F1;
}



.button--darker {
    background-color: var(--light-panel);
    color: #757575;
    box-shadow: none;
}

.button--darker:hover {
    background-color: var(--light-panel-hover);
    color: #757575;
}

.button--darker:active {
    background-color: var(--light-panel-active);
    color: #757575;
}


.button--alt-darker {
    background-color: #E8E8E8;
    color: #757575;
    box-shadow: none;
}

.button--alt-darker:hover,
.button--alt-darker:active {
    background-color: #757575;
    color: #E8E8E8;
}


.button--another-darker {
    background-color: #E8E8E8;
    font-weight: 600;
    color: #333333;
    box-shadow: none;
}

.button--another-darker:hover {
    background-color: #757575;
    color: #E8E8E8;
}

.button--another-darker:active {
    background-color: #545454;
    color: #FFFFFF;
}




.button--alternate {
    box-shadow: inset 0 0 0 1px #E8E8E8;
    background-color: transparent;
    color: #8B8B8B;
}

.button--alternate:hover,
.button--alternate:active {
    box-shadow: inset 0 0 0 1px #E8E8E8;
    background-color: #F2F2F2;
    color: #8B8B8B;
}


.button--border {
    padding: 12px 27px;
    box-shadow: inset 0 0 0 1px #8B8B8B;
    background-color: transparent;
    font-size: 11px;
    line-height: 16px;
    color: #8B8B8B;
}

.button--border:hover {
    box-shadow: inset 0 0 0 1px #8B8B8B;
    background-color: var(--panel-hover);
    color: #8B8B8B;
}

.button--border:active {
    box-shadow: inset 0 0 0 1px #8B8B8B;
    background-color: var(--panel-active);
    color: #8B8B8B;
}


.button--alt-border {
    padding: 12px 27px;
    box-shadow: inset 0 0 0 1px #757575;
    background-color: transparent;
    font-size: 14px;
    line-height: 16px;
    color: #757575;
}

.button--alt-border:hover {
    box-shadow: inset 0 0 0 1px #757575;
    background-color: rgba(255, 255, 255, 0.8);
    color: #757575;
}

.button--alt-border:active {
    box-shadow: inset 0 0 0 1px #757575;
    background-color: #FFFFFF;
    color: #757575;
}




.button--black {
    background-color: #23282C;
    box-shadow: none;
    color: #FFFFFF;
}

.button--black:hover {
    background-color: #343C42;
    box-shadow: none;
    color: #FFFFFF;
}

.button--black:active {
    background-color: #111416;
    box-shadow: none;
    color: #FFFFFF;
}


.button--black.button--disabled,
.button--black.button--disabled:hover,
.button--black.button--disabled:active {
    background-color: #E8E8E8;
    box-shadow: none;
    color: #C4C4C4;
    cursor: default;
}


.button--transparent-black {
    background-color: transparent;
    box-shadow: none;
    color: #44474A;
}

.button--transparent-black:hover {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: none;
    color: #44474A;
}

.button--transparent-black:active {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
    color: #44474A;
}


.button--purple {
    box-shadow: none;
    background-color: #1D4451;
    color: #FFFFFF;
}

.button--purple:hover {
    box-shadow: none;
    background-color: #285F72;
    color: #FFFFFF;
}

.button--purple:active {
    box-shadow: none;
    background-color: #1A3D4A;
    color: #FFFFFF;
}


.button--secondary {
    box-shadow: inset 0 0 0 1px #757575;
    background-color: transparent;
    color: #757575;
}

.button--secondary:hover,
.button--secondary:active {
    box-shadow: inset 0 0 0 1px #F1F1F1;
    background-color: #F1F1F1;
    color: #8B8B8B;
}


.button--volumetric {
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
    font-weight: normal;
    font-size: 13px;
    color: #545454;
}

.button--volumetric:hover {
    background-color: #E8E8E8;
    color: #545454;
}

.button--volumetric:active {
    background-color: #E8E8E8;
    color: #545454;
    box-shadow: none;
}


.button--alt-volumetric {
    padding: 12px 20px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #545454;
}

.button--alt-volumetric:hover {
    background-color: #E8E8E8;
    color: #757575;
}

.button--alt-volumetric:active {
    background-color: #E8E8E8;
    color: #757575;
    box-shadow: none;
}



.button--submit {
    background-color: #545454;
    border-radius: 5px;
    box-shadow: none;
    font-weight: 600;
    font-size: 13px;
    color: #FFFFFF;
}

.button--submit:hover {
    background-color: #E8E8E8;
    color: #757575;
}

.button--submit:active {
    background-color: #E8E8E8;
    color: #757575;
    box-shadow: none;
}



.button--cancel {
    background-color: #FFFFFF;
    box-shadow: 0 0 0 1px #44474A;
    color: #44474A;
    border-radius: 5px;
    font-weight: 600;
    font-size: 13px;
}

.button--cancel:hover {
    background-color: #E8E8E8;
    box-shadow: none;
    color: #44474A;
}
.button--cancel:active {
    background-color: #E8E8E8;
    box-shadow: none;
    color: #44474A;
}




.button--expandable {
    justify-content: flex-start;
    overflow: hidden;
    transition: padding-left var(--transition-show),
                padding-right var(--transition-show),
                width var(--transition-show),
                color var(--transition-show);
}
    .button--expandable .button__icon {
        transition: margin-left var(--transition-show),
                    margin-right var(--transition-show);
    }

.button--expandable:not(:hover) {
    width: 34px !important;
    padding-left: 9px;
    padding-right: 9px;
}
    .button--expandable:not(:hover) .button__icon {
        margin-left: 0;
        margin-right: 10px;
    }



.button--auth-primary {
    width: 100%;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    box-shadow: none;
    color: #FFFFFF;
}

.button--auth-primary:hover {
}

.button--auth-primary:active {

}



.button--auth-secondary {
    width: 100%;
    padding: 10px 20px;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 0 1px #E8E8E8;
    font-size: 12px;
    line-height: 20px;
    color: #333333;
}
    .button--auth-secondary .button__icon {
        fill: #545454;
    }

.button--auth-secondary:hover {
    background-color: var(--panel-hover);
    box-shadow: inset 0 0 0 1px #E4E4E4;
}

.button--auth-secondary:active {
    background-color: var(--panel-active);
    box-shadow: inset 0 0 0 1px #E1E1E1;
}



.button--swim-test {
    background-color: #9CB2BE;
}

.button--swim-test:hover {
    background-color: #B1C9D7;
}

.button--swim-test:active {
    background-color: #E6E6E6;
}



.button--link-alike {
    background-color: transparent;
    box-shadow: none;
    color: #757575;
}

.button--link-alike:hover {
    background-color: #E8E8E8;
    color: #757575;
}

.button--link-alike:active {
    background-color: #E8E8E8;
    color: #757575;
}


.button--fancy {
    padding: 8px 20px 9px;
    background-color: transparent;
    background-image: linear-gradient(135deg, #9CB2BE, #B1BDB4);
    box-shadow: none;
    border-radius: 19px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.button--fancy:hover,
.button--fancy:active {
    background: linear-gradient(135deg, #7D8E97, #8E978F);
    color: #FFFFFF;
}

    .button--fancy .button__icon {
        margin-right: 8px;
    }


.button--panel {
    padding: 6px 15px 8px;
    background-color: #F2F2F2;
    border-radius: 4px;
    box-shadow: none;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #757575;
}

.button--panel:hover {
    background-color: #757575;
    color: #F2F2F2;
}

.button--panel:active {
    background-color: #333333;
    color: #F2F2F2;
}


.button--submit-panel {
    padding: 6px 15px 8px;
    border-radius: 4px;
    box-shadow: none;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
}


.button--submit-form {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #545454;
    color: #FFFFFF;
    font-size: 14px;
}


.button--submit-form:hover {
    background-color: #757575;
    color: #FFFFFF;
}


.button--update-form {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #E8E8E8;
    box-shadow: none;
    font-size: 14px;
    color: #757575;
}

.button--update-form:hover,
.button--update-form:active {
    background-color: #AAAAAA;
    color: #FFFFFF;
}

.button--card-submit {
    padding: 6px 20px;
    box-shadow: none;
    border-radius: 6px;
    font-size: 14px;
    line-height: 24px;
}

.button--alt-submit {
    padding: 8px 20px;
    box-shadow: none;
    border-radius: 6px;
    font-size: 14px;
    line-height: 24px;
}
    .button--alt-submit .button__icon--left {
        margin-left: -10px;
    }

.button--dropdown-submit {
    padding: 12px 18px;
    box-shadow: none;
    border-radius: 4px;
    font-size: 13px;
    line-height: 16px;
}
    .button--dropdown-submit .button__icon {
        margin-left: -3px;
        margin-right: 8px;
        fill: #FFFFFF;
        color: rgba(255, 255, 255, 0.4);
    }

    .button--dropdown-submit:active .button__icon {
        fill: currentColor;
        color: currentColor;
    }


.button--dropdown-secondary {
    padding: 12px 18px;
    box-shadow: none;
    border-radius: 4px;
    background-color: transparent;
    font-size: 13px;
    line-height: 16px;
    color: #76797C;
}

.button--dropdown-secondary:hover {
    background-color: var(--panel-hover);
    color: #76797C;
}

.button--dropdown-secondary:active {
    background-color: var(--panel-active);
    color: #76797C;
}
    .button--dropdown-secondary .button__icon {
        margin-left: -3px;
        margin-right: 8px;
        fill: #76797C;
    }

    .button--dropdown-secondary:active .button__icon {
        fill: #76797C;
    }


.button--side-submit {
    padding: 12px 18px;
    box-shadow: none;
    border-radius: 4px;
    font-size: 13px;
    line-height: 16px;
}



.button--submit-bar {
    padding: 8px 20px;
    border-radius: 4px;
    box-shadow: none;
    font-size: 13px;
    line-height: 24px;
}



.button--transparent-bar {
    padding: 8px 20px;
    background-color: transparent;
    box-shadow: none;
    border-radius: 4px;
    font-size: 13px;
    line-height: 24px;
    color: #757575;
}

.button--transparent-bar:hover {
    background-color: var(--panel-hover);
    box-shadow: none;
    color: #757575;
}

.button--transparent-bar:active {
    background-color: var(--panel-active);
    box-shadow: none;
    color: #757575;
}


.button--frame-bar {
    padding: 8px 20px;
    border-radius: 4px;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #44474A;
    font-size: 13px;
    line-height: 24px;
    color: #23282C;
}

.button--frame-bar:hover {
    background-color: #44474A;
    color: #FFFFFF;
}

.button--frame-bar:active {
    background-color: #E8E8E8;
    color: #23282C;
    box-shadow: none;
    transition: none !important;
}

.button--large-submit {
    padding: 6px 20px;
    box-shadow: none;
    font-size: 14px;
    line-height: 24px;
}

.button--large-secondary {
    padding: 6px 20px;
    background-color: transparent;
    box-shadow: none;
    font-size: 14px;
    line-height: 24px;
    color: #757575;
}

.button--large-secondary:hover {
    background-color: #E8E8E8;
}



.button--info {
    padding: 7px 18px;
    background-color: var(--theme-main);
    box-shadow: none;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: var(--theme-text);
    transition: filter var(--transition-hover);
}

.button--info:hover {
    background-color: var(--theme-main-hover);
    color: var(--theme-text);
}

.button--info:active {
    background-color: var(--theme-main-press);
    color: var(--theme-text);
}





.button--alt-secondary {
    padding: 12px 24px;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 0 1px var(--theme-light);
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #333333;
}

.button--alt-secondary:hover {
    background-color: var(--theme-light);
    box-shadow: inset 0 0 0 1px var(--theme-light);
    color: #333333;
}

.button--alt-secondary:active {
    background-color: var(--theme-main-press);
    box-shadow: inset 0 0 0 1px var(--theme-main-press);
    color: #333333;
}



.button--dark-secondary {
    padding: 12px 24px;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 0 1px #D9D9D9;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #333333;
}

.button--dark-secondary:hover {
    background-color: #FCFCFC;
    box-shadow: inset 0 0 0 1px #D1D1D1;
    color: #181F30;
}

.button--dark-secondary:active {
    background-color: #FAFAFA;
    box-shadow: inset 0 0 0 1px #C8C8C8;
    color: #181F30;
}



/* Same to .button--alt-secondary but not a button.
   It mean to work as a part of larger clickable thing. */
.button--inner,
.button--inner:hover,
.button--inner:active {
    padding: 12px 24px;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 0 1px #D9D9D9;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #333333;
}


.button--gradient {
    background-image: linear-gradient(106deg, var(--theme-light), var(--theme-main));
    box-shadow: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: var(--theme-text);
    transition: filter var(--transition-hover);
}

.button--gradient:hover {
    background-image: linear-gradient(106deg, var(--theme-light), var(--theme-main-hover));
    color: var(--theme-text);
}

.button--gradient:active {
    background-image: linear-gradient(106deg, var(--theme-light), var(--theme-main-press));
    color: var(--theme-text);
    transition: none;
}


.button--modal-submit {
    padding: 12px 26px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}



.button--modal-submit.button--disabled,
.button--modal-submit.button--disabled:hover,
.button--modal-submit.button--disabled:active {
    background-color: #F1F1F1;
    box-shadow: none;
    color: #8B8B8B;
}


.button--modal-secondary {
    padding: 12px 26px;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #757575;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #757575;
}

.button--modal-secondary:hover {
    box-shadow: inset 0 0 0 1px #F1F1F1;
    background-color: #F1F1F1;
    color: #8B8B8B;
}

.button--modal-secondary:active {
    background-color: #C4C4C4;
    box-shadow: none;
    color: #545454;
}




.button--modal-action {
    /* backgrounds, colors and shadows are similar to default button */
    padding: 12px 26px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}


.button--design-submit {
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    background-color: var(--theme-main);
    font-weight: 600;
    font-size: 14px;
    color: var(--theme-text);
    box-shadow: none;
    transition: filter var(--transition-hover);
}

.button--design-submit:hover {
    background-color: var(--theme-main-hover);
    color: var(--theme-text);
}

.button--design-submit:active {
    background-color: var(--theme-main-press);
    color: var(--theme-text);
}

.button--design-submit.button--disabled,
.button--design-submit.button--disabled:hover,
.button--design-submit.button--disabled:active {
    background-color: var(--theme-light);
    color: var(--theme-main);
}


.button--accept {
    padding: 4px 14px;
    border-radius: 2px;
    background-color: #44474A;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    box-shadow: none;
}

.button--accept:hover {
    background-color: #585C60;
    color: #FFFFFF;
}

.button--accept:active {
    background-color: #3D4043;
    color: #FFFFFF;
}


.button--accept-border {
    padding: 4px 14px;
    border-radius: 4px;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #23282C;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #23282C;
}

.button--accept-border:hover {
    background-color: #23282C;
    color: #FFFFFF;
}

.button--accept-border:active {
    background-color: #111416;
    color: #FFFFFF;
}


.button--accept-fill {
    padding: 4px 14px;
    border-radius: 2px;
    background-color: transparent;
    box-shadow: none;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #23282C;
}

.button--accept-fill:hover {
    background-color: #23282C;
    color: #FFFFFF;
}

.button--accept-fill:active {
    background-color: #111416;
    color: #FFFFFF;
}




.button--edit {
    min-width: 164px;
}

.button--recommend {
    min-width: 188px;
}


.button--notification {
    padding: 3px 14px 5px;
    background-color: #23282C;
    color: #FFFFFF;
    box-shadow: none;
    border-radius: 2px;
    font-size: 12px;
    line-height: 20px;
}

.button--notification:hover {
    background-color: #235262;
    color: #FFFFFF;
    box-shadow: none;
}

.button--notification:active {
    background-color: #183643;
    color: #FFFFFF;
    box-shadow: none;
}


.button--white {
    padding: 6px 20px 8px;
    background-color: #FFFFFF;
    color: #181F30;
    box-shadow: none;
    border-radius: 5px;
    font-size: 13px;
    line-height: 20px;
}

.button--white:hover {
    background-color: #EEEEEE;
    color: #181F30;
    box-shadow: none;
}

.button--white:active {
    background-color: #DDDDDD;
    color: #181F30;
    box-shadow: none;
}



.button--white-outline {
    padding: 6px 20px 8px;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #FFFFFF;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 13px;
    line-height: 20px;
}

.button--white-outline:hover {
    background-color: #EEEEEE;
    color: #181F30;
    box-shadow: none;
}

.button--white-outline:active {
    background-color: #DDDDDD;
    color: #181F30;
    box-shadow: none;
}



.button--refresh {
    width: 64px;
    height: 32px;
    padding: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
}

.button--refresh:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.button--refresh:active {
    box-shadow: none;
}



.button--add-people {
    width: 64px;
    height: 32px;
    padding: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
}

.button--add-people:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.button--add-people:active {
    box-shadow: none;
}
    .button--add-people .button__icon {
        width: 20px;
        height: 20px;
    }


.button--user-primary {
    padding: 10px 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    box-shadow: none;
    border-radius: 4px;
    background-color: var(--theme-main);
    color: #FFFFFF; /* we supposed to use --theme-text here, but no */
}

.button--user-primary:hover {
    background-color: var(--theme-main-hover);
    color: #FFFFFF;
}

.button--user-primary:active {
    background-color: var(--theme-main-press);
    color: #FFFFFF;
}


.button--user-secondary {
    padding: 10px 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    border-radius: 4px;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--theme-main);
    color: var(--theme-main);
}

.button--user-secondary:hover {
    box-shadow: none;
    background-color: var(--theme-main-hover);
    color: #FFFFFF;
}

.button--user-secondary:active {
    box-shadow: none;
    background-color: var(--theme-main-press);
    color: #FFFFFF;
}
