.career-highlights {
    position: relative;
}
    .career-highlights__heading {

    }

    .career-highlights__details {
        position: absolute;
        right: 0;
        top: 13px;
        padding: 10px 12px;
        border-radius: 4px;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: #757575;
        text-decoration: none;
        transition: var(--transition-hover);
    }

    .career-highlights__details:hover {
        background-color: var(--panel-hover);
    }

    .career-highlights__details:active {
        background-color: var(--panel-active);
        transition: none;
    }

    .career-highlights__null {
        margin-top: 15px;
    }

    .career-highlights__list {
        margin-top: 11px;
    }
        .career-highlights__item {
            margin-top: 8px;
            margin-left: -13px;
            margin-right: -13px;
        }

        .career-highlights__item:first-child {
            margin-top: 0;
        }

    .career-highlights__edit {
        margin-top: 29px;
    }
