.carousel {
    position: relative; /* for arrows */
}
    /* stylelint-disable */
    .carousel__container {
        overflow-x: auto; /* add scroll functionallity */
        -webkit-overflow-scrolling: touch; /* make it smooth on mobiles */
        scrollbar-width: none; /* hide scrollbar in Firefox */
        -ms-overflow-style: none; /* hide scrollbar in Edge */
        display: flex;
        align-items: flex-start;
        scroll-snap-type: x proximity;
    }
    /* stylelint-enable */

    .carousel__container::-webkit-scrollbar {
        display: none;
    }
        .carousel__item {
            flex-shrink: 0;
            scroll-snap-align: start;
        }

    .carousel__control {
        display: none; /* don't show at first */
        background-color: transparent;
        padding: 0;
        border: none;
        font-family: inherit;
        cursor: pointer;
    }

    .carousel--initialized .carousel__control {
        display: block; /* show when initialized (enough content to scroll) */
    }


    .carousel__control--disabled {
        opacity: 0.5;
        pointer-events: none;
    }


/* during animation */
.carousel--being-scrolled-by-arrow {

}


/* Disable scroll snapping when scrolled by arrows */
.carousel--last-scroll-was-made-by-arrow {
    scroll-snap-type: none;
}
    .carousel--last-scroll-was-made-by-arrow .carousel__item {
        scroll-snap-align: none;
    }




.carousel--faded-right {

}
    /* white 60px white bar to the right of gradient (under arrows). Can't click through or scroll over */
    .carousel--faded-right::before {
        content: "";
        position: absolute;
        z-index: 10;
        right: 0;
        top: -10px;    /* to cover tiles shadows */
        bottom: -10px; /* if there are any */
        width: 60px;
        background-color: #FFFFFF;
        transition: opacity var(--transition-show),
                    visibility var(--transition-show);
    }


    /* this is gradient itself, you can click through and scroll over */
    .carousel--faded-right::after {
        content: "";
        position: absolute;
        z-index: 10;
        right: 60px;
        top: -10px;     /* to cover tiles shadows */
        bottom: -10px;  /* if there are any */
        width: 152px;
        background-image: linear-gradient(to left, #FFFFFF 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.48) 56.25%, rgba(255, 255, 255, 0) 100%);
        pointer-events: none;
        transition: opacity var(--transition-show),
                    visibility var(--transition-show);
    }



.carousel--arrows-on-top {

}
    .carousel--arrows-on-top .carousel__control {
        position: absolute;
        bottom: 100%;
        margin-bottom: 10px;
    }

    .carousel--arrows-on-top .carousel__control--prev {
        right: 29px;
    }

    .carousel--arrows-on-top .carousel__control--next {
        right: -11px;
    }

    /* since there are no arrows on the right we can decrease size of fading gradient */
    .carousel--arrows-on-top.carousel--faded-right::before {
        width: 15px;
    }

    .carousel--arrows-on-top.carousel--faded-right::after {
        right: 15px;
        width: 124px;
    }


.carousel--for-user-card {

}
    .carousel--for-user-card .carousel__container {
        padding-right: 40px;
    }
        .carousel--for-user-card .carousel__item {

        }

        .carousel--for-user-card .carousel__item:last-child {

        }


    .carousel--for-user-card .carousel__control {
        position: absolute;
        z-index: 100;
        right: -12px;
    }

    .carousel--for-user-card .carousel__control--prev {
        top: 48px;
    }

    .carousel--for-user-card .carousel__control--next {
        top: 10px;
    }

    .carousel--for-user-card.carousel--scrolled-to-right::before,
    .carousel--for-user-card.carousel--scrolled-to-right::after {
        opacity: 0;
        visibility: hidden;
    }


    /* white 60px white bar to the right of gradient (under arrows). Can't click through or scroll over */
    .carousel--for-user-card.carousel--faded-right::before {
        width: 24px;
    }

    /* this is gradient itself, you can click through and scroll over */
    .carousel--for-user-card.carousel--faded-right::after {
        right: 24px;
        width: 144px;
        background-image: linear-gradient(to left, #FFFFFF 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.48) 56.25%, rgba(255, 255, 255, 0) 100%);
    }


.carousel--for-profile-media {

}
    .carousel--for-profile-media .carousel__container {
        padding-right: 40px;
    }
        .carousel--for-profile-media .carousel__item {
            margin-right: 56px;
        }

        .carousel--for-profile-media .carousel__item:last-child {

        }


    .carousel--for-profile-media .carousel__control {
        position: absolute;
        z-index: 100;
        right: -12px;
    }

    .carousel--for-profile-media .carousel__control--prev {
        top: 50%;
        margin-top: 5px;
    }

    .carousel--for-profile-media .carousel__control--next {
        top: 50%;
        margin-top: -45px;
    }

    .carousel--for-profile-media.carousel--scrolled-to-right::before,
    .carousel--for-profile-media.carousel--scrolled-to-right::after {
        opacity: 0;
        visibility: hidden;
    }


    /* white 60px white bar to the right of gradient (under arrows). Can't click through or scroll over */
    .carousel--for-profile-media.carousel--faded-right::before {
        width: 24px;
    }

    /* this is gradient itself, you can click through and scroll over */
    .carousel--for-profile-media.carousel--faded-right::after {
        right: 24px;
        width: 144px;
        background-image: linear-gradient(to left, #FFFFFF 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.48) 56.25%, rgba(255, 255, 255, 0) 100%);
    }





.carousel--for-profile-projects {
    padding: 18px;
    background-color: #EBF0F2;
}
    .carousel--for-profile-projects .carousel__container {
        border-radius: 6px;
    }
        .carousel--for-profile-projects .carousel__item {
            margin-right: 25px;
        }

        .carousel--for-profile-projects .carousel__item:last-child {
            margin-right: 0;
        }

        .carousel--for-profile-projects .carousel__item:last-child {

        }

        .carousel--for-profile-projects .carousel__control {
            position: absolute;
            z-index: 100;
            top: 50%;
            right: 18px;
        }

        .carousel--for-profile-projects .carousel__control--prev {
            margin-top: 5px;
        }

        .carousel--for-profile-projects .carousel__control--next {
            margin-top: -45px;
        }

    .carousel--for-profile-projects.carousel--faded-right::before {
        background-color: #EBF0F2;
        top: 0;
        bottom: 0;
    }

    .carousel--for-profile-projects.carousel--faded-right::after {
        top: 0;
        bottom: 0;
        background-image: linear-gradient(to left, #EBF0F2 0%, rgba(235, 240, 242, 0.9) 25%, rgba(235, 240, 242, 0.48) 56.25%, rgba(235, 240, 242, 0) 100%);
    }



.carousel--for-alt-profile-projects {
    padding: 18px;
    background-color: #EBF0F2;
    border-radius: 5px;
}
    .carousel--for-alt-profile-projects .carousel__container {
        border-radius: 6px;
    }
        .carousel--for-alt-profile-projects .carousel__item {
            margin-right: 25px;
        }

        .carousel--for-alt-profile-projects .carousel__item:last-child {
            margin-right: 0;
        }

        .carousel--for-alt-profile-projects .carousel__item:last-child {

        }





.carousel--for-schedule {

}
    .carousel--for-schedule .carousel__container {

    }
        .carousel--for-schedule .carousel__item {
            margin-right: 20px;
            width: 335px;
        }

        .carousel--for-schedule .carousel__item:last-child {
            margin-right: 0;
        }





.carousel--for-updates {

}
    .carousel--for-updates .carousel__container {

    }
        .carousel--for-updates .carousel__item {
            padding-bottom: 23px;
        }

        .carousel--for-updates .carousel__item:last-child {

        }


        .carousel--for-updates .carousel__control {
            position: absolute;
            z-index: 100;
            top: 50%;
            right: 0;
        }

        .carousel--for-updates .carousel__control--prev {
            margin-top: -10px;
        }

        .carousel--for-updates .carousel__control--next {
            margin-top: -52px;
        }


/* make gradients to not to overlap borders:  */
.carousel--for-updates.carousel--faded-right::before,
.carousel--for-updates.carousel--faded-right::after {
    margin-bottom: 32px;
}




.carousel--for-side-updates {
    position: relative;
    padding-bottom: 56px;
}
    .carousel--for-side-updates.carousel--initialized::after {

    }

    .carousel--for-side-updates .carousel__container {

    }
        .carousel--for-side-updates .carousel__item {
            margin-right: 4px;
        }

        .carousel--for-side-updates .carousel__item:last-child {
            margin-right: 0;
        }


    .carousel--for-side-updates .carousel__control {
        position: absolute;
        z-index: 100;
        left: 50%;
        bottom: 0;
    }

    .carousel--for-side-updates .carousel__control--prev {
        margin-left: -42px;
    }

    .carousel--for-side-updates .carousel__control--next {
        margin-left: 2px;
    }

    .carousel--for-side-updates .carousel__control:hover {

    }


.carousel--for-profile-activity {

}
    .carousel--for-profile-activity .carousel__container {

    }
        .carousel--for-profile-activity .carousel__item {
            width: 480px;
            margin-right: 32px;
        }

        .carousel--for-side-updates .carousel__item:last-child {
            margin-right: 0;
        }


