.career {

}
    .career__heading {
        max-width: 560px;
        margin: 0 auto;
        font-weight: 600;
        font-size: 26px;
        line-height: 38px;
        text-align: center;
    }

    .career__description {
        max-width: 560px;
        margin: 13px auto 0;
        font-size: 14px;
        line-height: 26px;
        color: #545454;
        text-align: center;
    }

    .career__form {
        width: 684px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }