.carousel {
    position: relative; /* for arrows */
}
    /* stylelint-disable */
    .carousel__container {
        overflow-x: auto; /* add scroll functionallity */
        -webkit-overflow-scrolling: touch; /* make it smooth on mobiles */
        scrollbar-width: none; /* hide scrollbar in Firefox */
        -ms-overflow-style: none; /* hide scrollbar in Edge */
        display: flex;
        align-items: flex-start;
    }
    /* stylelint-enable */

    .carousel__container::-webkit-scrollbar {
      display: none;
    }
        .carousel__item {
            flex-shrink: 0;
        }

    .carousel__control {
        display: none; /* don't show at first */
        background-color: transparent;
        padding: 0;
        border: none;
        font-family: inherit;
        cursor: pointer;
    }

    .carousel--initialized .carousel__control {
        display: block; /* show when initialized (enough content to scroll) */
    }


    .carousel__control--disabled {
        opacity: 0.5;
        pointer-events: none;
    }





.carousel--media {
    position: relative;
}
    .carousel--media::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 140px;
        pointer-events: none;
        /* stylelint-disable */
        background: linear-gradient(to right,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.7) 30%,
            rgba(255, 255, 255, 1) 60%,
            rgba(255, 255, 255, 1)
        );
        /* stylelint-enable */
    }

    .carousel--media .carousel__container {

    }
        .carousel--media .carousel__item {
            margin-left: 12px;
        }
        .carousel--media .carousel__item:first-child {
            margin-left: 0;
        }


    .carousel--media .carousel__control {
        position: absolute;
        z-index: 100;
        right: -12px;
    }

    .carousel--media .carousel__control--prev {
        top: 64px;
    }

    .carousel--media .carousel__control--next {
        top: 22px;
    }

    .carousel--media .carousel__control:hover {

    }
