.carousel {

}
    .carousel__container {
        scroll-snap-type: none;
    }

    .carousel__container::-webkit-scrollbar {

    }
        .carousel__item {

        }

    .carousel__control {

    }

    .carousel--initialized .carousel__control {

    }


    .carousel__control--disabled {

    }



.carousel--disable-on-smartphone {
    padding-right: 0;
}
    .carousel--disable-on-smartphone::before,
    .carousel--disable-on-smartphone::after {
        display: none;
    }

    .carousel--disable-on-smartphone .carousel__container {
        overflow: visible;
        display: block;
    }

    .carousel--disable-on-smartphone .carousel__control {
        display: none;
    }




.carousel--faded-right {

}
    .carousel--faded-right::after {

    }




.carousel--for-updates {

}
    .carousel--for-updates .carousel__container {

    }
        .carousel--for-updates .carousel__item {

        }

        .carousel--for-updates .carousel__item:last-child {

        }


        .carousel--for-updates .carousel__control {

        }

        .carousel--for-updates .carousel__control--prev {

        }

        .carousel--for-updates .carousel__control--next {

        }

.carousel--for-updates.carousel--faded-right::after {

}




.carousel--for-side-updates {

}
    .carousel--for-side-updates.carousel--initialized::after {

    }

    .carousel--for-side-updates .carousel__container {

    }
        .carousel--for-side-updates .carousel__item {

        }

        .carousel--for-side-updates .carousel__item:last-child {

        }


    .carousel--for-side-updates .carousel__control {

    }

    .carousel--for-side-updates .carousel__control--prev {

    }

    .carousel--for-side-updates .carousel__control--next {

    }

    .carousel--for-side-updates .carousel__control:hover {

    }




.carousel--for-profile-media {
    margin-left: calc(-1 * var(--container-mobile-padding));
    margin-right: calc(-1 * var(--container-mobile-padding));
    padding-right: 0;
}
    .carousel--for-profile-media.carousel--initialized::before,
    .carousel--for-profile-media.carousel--initialized::after {
        display: none;
    }

    .carousel--for-profile-media .carousel__container {
        padding-left: calc(var(--container-mobile-padding) - 4px);
        padding-right: calc(var(--container-mobile-padding) - 4px);
    }
        .carousel--for-profile-media .carousel__item {
            margin-right: 35px;
        }

        @media (max-width: 374px) {
            .carousel--for-profile-media .carousel__item {
                margin-right: 20px;
            }
        }

        @media (max-width: 359px) {
            .carousel--for-profile-media .carousel__item {
                margin-right: 12px;
            }
        }

        .carousel--for-profile-media .carousel__item:last-child {

        }


    .carousel--for-profile-media .carousel__control {
        display: none;
    }

    .carousel--for-profile-media .carousel__control--prev {

    }

    .carousel--for-profile-media .carousel__control--next {

    }

    .carousel--for-profile-media .carousel__control:hover {

    }



.carousel--for-profile-schedule {

}
    .carousel--for-profile-schedule .carousel__item {
        margin-top: 20px;
        width: auto;
        margin-right: 0;
    }

    .carousel--for-profile-schedule .carousel__item:first-child {
        margin-top: 0;
    }



.carousel--for-profile-projects {
    padding: 0;
    border-radius: 0;
}
    .carousel--for-profile-projects.carousel--faded-right::before,
    .carousel--for-profile-projects.carousel--faded-right::after {
        display: none;
    }

    .carousel--for-profile-projects .carousel__container {
        scroll-snap-type: x proximity;
        border-radius: 0;
    }
        .carousel--for-profile-projects .carousel__item {
            width: 100%;
            margin-right: 0;
        }

        .carousel--for-profile-projects .carousel__control {
            display: none;
        }


.carousel--for-profile-schedule {
    margin-top: 0;
}
    .carousel--for-profile-schedule .carousel__container {
        padding-top: 0;
    }




.carousel--arrows-behind-edit-button {

}
    .carousel--arrows-behind-edit-button .carousel__control {
        margin-right: 0;
    }



.carousel--for-schedule {

}
    .carousel--for-schedule .carousel__item {
        margin-top: 20px;
        margin-right: 0;
        width: auto;
    }

    .carousel--for-schedule .carousel__item:first-child {
        margin-top: 0;
    }
