.chat {
    height: 100%;
    padding-left: var(--dialogs-width);
}
    .chat__list {
        position: absolute;
        left: var(--sidebar-width);
        top: 0;
        width: var(--dialogs-width);
        background-color: #F9F9F9;
        overflow-y: auto;
    }

    @media (min-width: 1240px) {
        .chat__list {
            position: fixed;
            top: var(--header-height);
            bottom: 0;
        }
    }

        .chat__crowd {

        }
            .chat__sub-head {
                position: relative;
                padding: 27px 80px 22px 26px;
            }
                .chat__heading {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-weight: normal;
                    font-size: 21px;
                    line-height: 24px;
                    color: #545454;
                }

                .chat__new {
                    position: absolute;
                    right: 23px;
                    top: 18px;
                    width: 40px;
                    height: 40px;
                    background-color: #E2E2E2;
                    border: none;
                    border-radius: 50%;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition: background-color var(--transition-hover);
                }

                .chat__new:hover {
                    background-color: #C4C4C4;
                }
                    .chat__pencil {
                        width: 22px;
                        height: 22px;
                        vertical-align: top;
                        fill: #545454;
                    }

            .chat__dialogs {
                height: calc(100% - 73px); /* 73px is a height of .chat__sub-head */
            }
                .chat__empty-dialogs {

                }

    .chat__room {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
        .chat__head {
            flex-shrink: 0;
            height: 85px;
            background-color: #FFFFFF;
            border-bottom: 1px solid #E8E8E8;
        }

        .chat__body {
            flex-grow: 1;
            overflow-y: auto;
        }
            .chat__ribbon {
                min-height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                padding-left: 30px;
                padding-right: 30px;
            }

        .chat__foot {
            flex-shrink: 0;
        }
