.chat {
    /*height: 100%;*/
    padding-left: 0;
}
    .chat__list {
        display: none;
        position: static;
        /*left: var(--sidebar-width);*/
        /*top: var(--header-height);*/
        /*bottom: 0;*/
        width: auto;
        height: 100%;
        background-color: transparent;
        /*overflow-y: auto;*/
    }
        .chat__crowd {
            height: 100%;
        }
            .chat__sub-head {
                /*position: relative;*/
                padding: 22px 80px 18px 26px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);
            }
                .chat__heading {
                    /*margin-top: 0;*/
                    /*margin-bottom: 0;*/
                    /*font-weight: normal;*/
                    /*font-size: 21px;*/
                    /*line-height: 24px;*/
                    /*color: #545454;*/
                }

                .chat__new {
                    /*position: absolute;*/
                    right: 21px;
                    top: 12px;
                    /*width: 40px;*/
                    /*height: 40px;*/
                    /*background-color: #E2E2E2;*/
                    /*border: none;*/
                    /*border-radius: 50%;*/
                    /*padding: 0;*/
                    /*display: flex;*/
                    /*align-items: center;*/
                    /*justify-content: center;*/
                    /*cursor: pointer;*/
                    /*transition: background-color var(--transition-hover);*/
                }

                .chat__new:hover {
                    /*background-color: #C4C4C4;*/
                }
                    .chat__pencil {
                        /*width: 22px;*/
                        /*height: 22px;*/
                        /*vertical-align: top;*/
                        /*fill: #545454;*/
                    }

            .chat__dialogs {
                height: calc(100% - 64px);
                overflow-y: auto;
            }

    .chat__room {
        /*display: flex;*/
        /*flex-direction: column;*/
        /*height: 100%;*/
    }
        .chat__empty-room {

        }

        .chat__head {
            /*flex-shrink: 0;*/
            height: 64px;
            /*background-color: #FFFFFF;*/
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);
            border-bottom: none;
        }

        .chat__body {
            /*flex-grow: 1;*/
            /*overflow-y: auto;*/
        }
            .chat__ribbon {
                /*min-height: 100%;*/
                /*display: flex;*/
                /*flex-direction: column;*/
                /*justify-content: flex-end;*/
                /*align-items: flex-start;*/
                /*padding-left: 30px;*/
                /*padding-right: 30px;*/
            }

        .chat__foot {
            /*flex-shrink: 0;*/
        }


.dialogs-visible {

}
    .dialogs-visible .chat__list {
        display: block;
    }

    .dialogs-visible .chat__room {
        display: none;
    }

.chat-creating {

}
    .chat-creating .chat__empty-room {
        display: none;
    }
