.choice {
    position: relative;
    display: inline-block;
    vertical-align: top;
    min-width: 20px;
    min-height: 40px;
    cursor: pointer;
    user-select: none;
}
    .choice__widget {
        opacity: 0;
        position: absolute;
        left: 2px;
        top: 12px;
    }

    .choice__icon {
        position: absolute;
        left: 0;
        top: 10px;
        width: 18px;
        height: 18px;
        border: 2px solid #E8E8E8;
        background-color: #FFFFFF;
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 2px;
        transition: background-color var(--transition-hover),
                    border-color var(--transition-hover);
    }

    .choice--checkbox .choice__icon {
        background-image: url("../vectors/16-choice-checkbox.svg"); /* by default it can't be seen because of white background */
    }

    .choice--radio .choice__icon {
        background-image: url("../vectors/16-choice-radio.svg"); /* by default it can't be seen because of white background */
        border-radius: 50%;
    }

    .choice__widget:focus ~ .choice__icon {
        outline: auto;
    }

    .choice:hover .choice__icon {
        background-color: #E8E8E8;
        border-color: transparent;
    }

    .choice__widget:checked ~ .choice__icon {
        transition: none;
        background-color: #9AC796;
        border-color: transparent;
    }

    /*.choice:hover .choice__widget:checked ~ .choice__icon {*/
    /*    background-color: #83E0A4;*/
    /*    border-color: #83E0A4;*/
    /*}*/

    /* Cancel radio hover */
    /*.choice--radio:hover .choice__widget:checked ~ .choice__icon {*/
    /*    background-color: #08C149;*/
    /*    border-color: #08C149;*/
    /*}*/

    .choice__label {
        position: relative;
        display: flex;
        vertical-align: top;
        padding: 10px 0 10px 34px;
        font-size: 11px;
        line-height: 20px;
        color: #757575;
    }






.choice__widget[type="radio"]:checked ~ .choice__icon,
.choice__widget[type="radio"]:checked ~ .choice__icon ~ .choice__label {
    cursor: default;
}



/* .choice--hidden-label */

.choice--hidden-label {

}
    .choice--hidden-label .choice__label {
        position: absolute;
        left: -4px;
        top: 0;
        right: -4px;
        bottom: 0;
        padding: 0;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
    }





.choice--disabled {
    cursor: default;
}

    .choice--disabled .choice__icon,
    .choice--disabled:hover .choice__icon {
        background-color: #C5C5C5;
        border-color: #C5C5C5;
        cursor: default;
    }

    .choice--disabled       .choice__widget:checked ~ .choice__icon,
    .choice--disabled:hover .choice__widget:checked ~ .choice__icon {
        background-color: #C5C5C5;
        border-color: #C5C5C5;
        cursor: default;
    }

    .choice--disabled .choice__label {
        cursor: default;
        color: #8B8B8B;
    }






.choice--full-width {
    width: 100%;
}
    .choice--full-width .choice__label {
        width: 100%;
    }

