.circles-link {
    position: relative;
    display: block;
    padding: 23px 16px 23px 63px;
    text-decoration: none;
    transition: background-color var(--transition-hover);
}

.circles-link:hover {
    background-color: var(--grey-panel-hover);
}

.circles-link:active {
    background-color: var(--grey-panel-active);
    transition: none;
}
    .circles-link__preview {
        flex-shrink: 0;
        position: absolute;
        left: 15px;
        top: 14px;
        margin-right: 12px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }

    .circles-link__counter {
        position: absolute;
        left: 44px;
        top: 10px;
        box-shadow: 0 0 0 1px #FFFFFF;
        font-weight: bold;
    }

    .circles-link__label {
        font-size: 13px;
        line-height: 18px;
        color: #545454;
    }

    .circles-link__label--highlighted-with-note {
        margin-top: -9px;
        font-weight: 600;
        color: #333333;
    }

    .circles-link__note {
        margin-bottom: -9px;
        font-size: 9px;
        line-height: 18px;
        color: #545454;
    }



.circles-link--current {
    background-color: #F3F5F8;
}
    .circles-link--current .circles-link__preview {

    }
        .circles-link--current .abbreviation {
            background-color: #23282C;
            border-color: transparent;
            color: #FFFFFF;
        }

    .circles-link--current .circles-link__counter {

    }

    .circles-link--current .circles-link__label {
        font-weight: 600;
        color: #333333;
    }



.circles-link--placeholder {
    pointer-events: none;
}
    .circles-link--placeholder .circles-link__preview {

    }
        .circles-link--placeholder .abbreviation {

        }

    .circles-link--placeholder .circles-link__counter {

    }

    .circles-link--placeholder .circles-link__label {
        width: 100%;
        margin-top: 3px;
        height: 11px;
        background-color: #44474A;
    }
