.circle-settings {
    padding: 23px var(--modal-padding) 46px;
}
    .circle-settings__field {
        margin-top: 26px;
    }

    .circle-settings__field:first-child {
        margin-top: 0;
    }
        .circle-settings__hint {
            font-size: 11px;
            line-height: 17px;
            color: #545454;
        }

        .circle-settings__note {
            margin-top: 8px;
            font-style: italic;
            font-size: 12px;
            line-height: 20px;
            color: #757575;
        }
