.circles {
    padding-top: 3px; /* equal spacing to .happening */
}
    .circles__heading {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
        color: #8B8B8B;
    }

    .circles__body {
        margin-top: 14px;
    }
        .circles__list {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            margin: 0 -9px;
        }
            .circles__item {
                margin: 6px 9px;
            }

    .circles__more {
        margin-top: -13px;
        margin-left: auto;
        margin-right: auto;
    }


.circles--simplified {
    padding-top: 0;
}
    .circles--simplified .circles__heading {
        text-align: center;
    }

    .circles--simplified .circles__body {
        margin-top: 15px;
        padding-top: 0;
        padding-bottom: 0;
        border-color: transparent;
    }
