.circles-link {
    position: relative;
    display: flex;
    align-items: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color var(--transition-hover);
}

.circles-link:hover {
    background-color: var(--grey-panel-hover);
}
.circles-link:active {
    background-color: var(--grey-panel-active);
    transition: none;
}

    .circles-link__preview {
        flex-shrink: 0;
        margin-right: 12px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }

    .circles-link__counter {
        position: absolute;
        left: 44px;
        top: 10px;
        box-shadow: 0 0 0 1px #FFFFFF;
        font-weight: bold;
    }

    .circles-link__label {
        font-size: 13px;
        line-height: 18px;
        color: #545454;
    }



.circles-link--current {

}
    .circles-link--current .circles-link__preview {

    }
        .circles-link--current .abbreviation {
            background-color: #23282C;
            color: #FFFFFF;
        }

    .circles-link--current .circles-link__counter {

    }

    .circles-link--current .circles-link__label {
        font-weight: 600;
        color: #333333;
    }
