.circles {
    width: 226px;
    margin-left: auto;
    margin-right: auto;
}
    .circles__heading {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 3px; /* equal spacing to .happening */
        font-weight: normal;
        font-size: 15px;
        line-height: 24px;
        color: #545454;
    }

    .circles__body {
        margin-top: 14px;
    }
        .circles__list {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            margin: -3px -9px;
        }
            .circles__item {
                margin: 9px;
            }

    .circles__more {
        margin-top: -9px;
        margin-left: auto;
        margin-right: auto;
    }
