/* These styles applies to the UI of CKEditor and it doesn't affect typing area itself.
   Typing area done using iframe so it has it's own stylefile.
 */

/* instruments panel appearance */
.cke_top {
    margin-bottom: 12px !important;
    background-color: #F3F5F8 !important;
    border-radius: 4px !important;
    border-bottom: none !important;
}


.cke {
    border: 1px solid #E8E8E8;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

/* Optional class to be used in circles */
.cke_no-border {
    border: none !important;
}
