/* These styles applies to the UI of CKEditor and it doesn't affect typing area itself.
   Typing area done using iframe so it has it's own stylefile.
 */

.cke {
    border: none !important;
}

.cke_top {
    margin-bottom: 12px !important;
    background-color: #F3F5F8 !important;
    border-radius: 4px !important;
    border-bottom: none !important;
}

