.classic {
    position: relative;
    padding-top: 20px;
    padding-bottom: 100px;
}
    .classic::before {
        content: "";
        position: absolute;
        z-index: 30;
        left: 0;
        top: 0;
        right: 0;
        height: 20px;
        background-color: var(--theme-main);
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
    }

    .classic__wrap {
        padding-top: 31px;
    }
        .classic__header {

        }

        .classic__page-ownership {
            position: absolute !important; /* !important is to override position related if conflicted */
            z-index: 100;
            left: 50%;
            top: 54px;
            width: 760px;
            margin-left: -380px;
        }

        .classic__body {
            margin-top: 14px;
            display: flex;
            align-items: stretch;
        }
            .classic__sidebar {
                width: 330px;
                flex-shrink: 0;
                box-shadow: inset -2px 0 0 var(--theme-light);
                padding-right: 50px;
            }
                .classic__detachable-area {

                }
                    .classic__edit-bio {
                        margin-bottom: 24px;
                    }

                    .classic__preview {
                        position: relative;
                        width: 280px;
                        height: 280px;
                        padding: 3px;
                        background-color: var(--theme-light);
                        border-radius: 4px;
                    }
                        .classic__photo {
                            vertical-align: top;
                            background-color: var(--image-fallback);
                        }

                        .classic__upload-photo {
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            border-bottom-right-radius: 4px;
                        }

                        .classic__photo ~ .classic__upload-photo {
                            right: 3px;
                            bottom: 3px;
                            border-bottom-right-radius: 0;
                        }

                        .classic__edit-preview {
                            position: absolute;
                            right: 3px;
                            bottom: 3px;
                        }

                    .classic__position {

                    }

                    .classic__currently {

                    }
                        .classic__position {
                            margin-top: 17px;
                        }

                        .classic__connections {
                            margin-top: 17px;
                            border-top: 1px solid var(--theme-light);
                            padding-top: 24px;
                        }

                    .classic__region {

                    }
                        .classic__widget {
                            margin-top: var(--talent-gap);
                            border-top: 1px solid var(--theme-light);
                            padding-top: 24px;
                        }

                    .classic__mobile-bio {
                        display: none;
                    }

                    .classic__mobile-career-heading {
                        display: none;
                    }

                    .classic__career {
                        margin: 22px -24px 0 -16px;
                    }


                    .classic__tags {
                        margin-top: 31px;
                        border-top: 1px solid var(--theme-light);
                        padding-top: 26px;
                    }

                    .classic__highlights {
                        margin-top: 29px;
                        border-top: 1px solid var(--theme-light);
                        padding-top: 21px;
                    }

                    .classic__social {
                        margin-top: 27px;
                        border-top: 1px solid var(--theme-light);
                        padding-top: 20px;
                    }

                    .classic__add-info {
                        margin-bottom: 30px;
                    }

                    .classic__add-connections {
                        margin-top: 30px;
                    }

                    .classic__add-highlight {
                        margin-top: 30px;
                    }

                    .classic__add-social {
                        margin-top: 20px;
                    }

            .classic__content {
                width: calc(100% - 330px);
                flex-shrink: 0;
                box-shadow: -2px 0 0 var(--theme-light);
                padding-left: 48px;
            }
                .classic__description {
                    margin-top: -4px;
                }

                .classic__register {
                    margin-top: 22px;
                }

                .classic__summary {
                    margin-top: 28px;
                    border-top: 1px solid var(--theme-light);
                    padding-top: 25px;
                }

                .classic__people {
                    margin-top: 32px;
                }

                .classic__employment-history {
                    margin-top: 31px;
                }

                .classic__gallery {
                    margin-top: 43px;
                }

                .classic__schedule {
                    margin-top: 43px;
                    border-top: 1px solid var(--theme-light);
                    padding-top: 35px;
                }

                .classic__activity {
                    margin-top: 43px;
                    border-top: 1px solid var(--theme-light);
                    padding-top: 35px;
                }

                .classic__recommendations {
                    margin-top: 43px;
                    border-top: 1px solid var(--theme-light);
                    padding-top: 35px;
                }

                .classic__null {
                    margin-top: 24px;
                }

                .classic__null:first-child {
                    margin-top: 0;
                }
