.close-account {

}
    .close-account__description {
        font-size: 13px;
        line-height: 20px;
        color: #757575;
    }

    .close-account__reason {
        margin-top: 20px;
        max-width: var(--form-width);
    }

    .close-account__feedback {
        margin-top: 22px;
    }
        .close-account__feedback-description {
            font-size: 13px;
            line-height: 20px;
            color: #757575;
        }

        .close-account__feedback-field {
            margin-top: 9px;
            max-width: var(--form-width);
        }

    .close-account__submit {
        margin-top: 23px;
    }

    .close-account__submit.button,
    .close-account__submit .button {
        width: 205px;
    }
