.column-updates {

}
    .column-updates__head {
        padding-top: 22px;
        padding-bottom: 2px;
    }
        .column-updates__pre-heading {
            font-weight: 600;
            font-size: 11px;
            line-height: 18px;
            color: #757575;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .column-updates__heading {
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            color: #545454;
        }


    .column-updates__list {
        height: 100%;
    }
        .column-updates__list.null,
        .column-updates__list .null {
            margin-top: 13px;
        }

        .column-updates__item {
            border-top: 1px solid #E6E6E6;
        }

        .column-updates__item:first-child {
            border-top: none;
        }
