.column-updates {
    /*position: relative;*/
    /*padding: 19px 14px 20px;*/
    padding: 19px 0 20px;
    height: auto;
}
    .column-updates__heading {
        top: 0;
        left: 0;
        /*display: flex;*/
        /*margin-left: 3px;*/
        /*align-items: flex-start;*/
        /*font-weight: bold;*/
        /*font-size: 11px;*/
        /*line-height: 18px;*/
        /*color: #757575;*/
    }
        .column-updates__icon {
            /*width: 18px;*/
            /*height: 18px;*/
            /*margin-right: 10px;*/
            /*fill: #C5C5C5;*/
        }

    .column-updates__list {
        /*margin-top: 12px;*/
        display: flex;
        align-items: flex-start;
        overflow-x: auto;
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 14px;
        padding-right: 14px;
    }

    .column-updates__list.null,
    .column-updates__list .null {
        margin: 8px 0;
        padding: 0;
    }

        .column-updates__list .null__inner {
            margin-left: auto;
            margin-right: auto;
        }

        .column-updates__item {
            /*margin-top: 4px;*/
        }

        .column-updates__item:first-child {
            /*margin-top: 0;*/
        }
