.collaborator-card {
    width: 344px;
    position: relative;
    text-align: left;
}
    .collaborator-card__body {
        padding: 16px 12px 21px 107px;
    }
        .collaborator-card__photo {
            position: absolute;
            left: 16px;
            top: 17px;
        }

        .collaborator-card__name {
            font-weight: bold;
            font-size: 14px;
            line-height: 22px;
            color: #545454;
        }
            .collaborator-card__name .link--text-alike {
                transition: opacity var(--transition-hover);
            }

            .collaborator-card__name .link--text-alike:hover {
                opacity: 0.7;
            }

        .collaborator-card__note {
            font-size: 14px;
            line-height: 22px;
            color: #545454;
        }

        .collaborator-card__crowd {
            margin-top: 11px;
            position: relative;
            padding-left: 36px;
        }
            .collaborator-card__crowd-icon {
                position: absolute;
                left: -4px;
                top: -3px;
                width: 32px;
                height: 32px;
                fill: #C5C5C5;
            }

            .collaborator-card__connections {
                font-size: 13px;
                line-height: 20px;
                color: #757575;
            }
                .collaborator-card__connections .link--text-alike {
                    transition: opacity var(--transition-hover);
                }

                .collaborator-card__connections .link--text-alike:hover {
                    opacity: 0.7;
                }

            .collaborator-card__list {
                margin-top: 12px;
                margin-left: -1px;
            }

    .collaborator-card__operations {
        display: flex;
        align-items: stretch;
        padding: 0 8px 15px;
    }
        .collaborator-card__action {
            margin-left: 7px;
            margin-right: 7px;
        }

        .collaborator-card__action.button,
        .collaborator-card__action .button {
            border-radius: 5px;
            padding-bottom: 11px;
            flex-grow: 1;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
        }
            .collaborator-card__action .button__icon {
                width: 24px;
                height: 24px;
                margin-top: -4px;
                margin-bottom: -4px;
                fill: rgba(255, 255, 255, 0.6);
            }

