.collection-crowd {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: -10px -5px -5px -17px; /* -5px because of card padding */
}
    .collection-crowd__item {
        margin-top: 5px;
        margin-left: 12px;
    }
