.collaborator-card {
    width: 344px;
    position: relative;
    text-align: left;
}
    .collaborator-card__body {
        padding: 16px 12px 21px 107px;
    }
        .collaborator-card__photo {
            position: absolute;
            left: 16px;
            top: 17px;
        }

        .collaborator-card__name {
            font-weight: bold;
            font-size: 14px;
            line-height: 22px;
            color: #545454;
        }
            .collaborator-card__name .link--text-alike {
                transition: opacity var(--transition-hover);
            }

            .collaborator-card__name .link--text-alike:hover {
                opacity: 0.7;
            }

        .collaborator-card__note {
            font-size: 14px;
            line-height: 22px;
            color: #545454;
        }

        .collaborator-card__crowd {
            margin-top: 11px;
            position: relative;
            padding-left: 36px;
        }
            .collaborator-card__crowd-icon {
                position: absolute;
                left: -4px;
                top: -3px;
                width: 32px;
                height: 32px;
                fill: #C5C5C5;
            }

            .collaborator-card__connections {
                font-size: 13px;
                line-height: 20px;
                color: #757575;
            }
                .collaborator-card__connections .link--text-alike {
                    transition: opacity var(--transition-hover);
                }

                .collaborator-card__connections .link--text-alike:hover {
                    opacity: 0.7;
                }

            .collaborator-card__list {
                margin-top: 12px;
                margin-left: -1px;
            }

    .collaborator-card__operations {
        display: flex;
        align-items: flex-start;
        padding: 0 8px 15px;
    }
        .collaborator-card__action {
            margin-left: 7px;
            margin-right: 7px;
            width: calc(50% - 14px);
            flex-shrink: 0;
        }

        .collaborator-card__action.button,
        .collaborator-card__action .button {
            border-radius: 5px;
            padding-bottom: 11px;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
        }

        .collaborator-card__action .button {
            width: 100%;
        }


            .collaborator-card__action .button__icon {
                width: 22px;
                height: 22px;
                margin-top: -3px;
                margin-bottom: -3px;
                fill: rgba(255, 255, 255, 0.6);
            }

            .collaborator-card__action.button--disabled .button__icon,
            .collaborator-card__action .button--disabled .button__icon {
                fill: currentColor;
            }



.collaborator-card--smaller {
    width: 258px;
}
    .collaborator-card--smaller .collaborator-card__body {
        padding: 16px 12px 21px 82px;
    }
        .collaborator-card--smaller .collaborator-card__photo {
            left: 12px;
            top: 12px;
        }
            .collaborator-card--smaller .collaborator-card__photo .avatar__image {
                width: 56px;
                height: 56px;
            }

        .collaborator-card--smaller .collaborator-card__name {
            font-size: 13px;
            line-height: 20px;
        }

        .collaborator-card--smaller .collaborator-card__note {
            font-size: 13px;
            line-height: 20px;
        }

        .collaborator-card--smaller .collaborator-card__crowd {
            padding-left: 0;
        }
            .collaborator-card--smaller .collaborator-card__crowd-icon {
                display: none;
            }

            .collaborator-card--smaller .collaborator-card__connections {
                font-size: 11px;
                line-height: 16px;
            }
                .collaborator-card--smaller .collaborator-card__connections .link--text-alike {

                }

                .collaborator-card--smaller .collaborator-card__connections .link--text-alike:hover {

                }

            .collaborator-card--smaller .collaborator-card__list {

            }

    .collaborator-card--smaller .collaborator-card__operations {

    }
        .collaborator-card--smaller .collaborator-card__action {
            margin-left: 4px;
            margin-right: 4px;
        }

        .collaborator-card--smaller .collaborator-card__action.button,
        .collaborator-card--smaller .collaborator-card__action .button {
            font-size: 12px;
            line-height: 16px;
        }
            .collaborator-card--smaller .collaborator-card__action .button__icon {
                width: 18px;
                height: 18px;
            }

