.column-updates {
    position: relative;
    padding: 19px 14px 20px;
}
    .column-updates__heading {
        display: flex;
        margin-left: 3px;
        align-items: flex-start;
        font-weight: bold;
        font-size: 11px;
        line-height: 18px;
        color: #757575;
    }
        .column-updates__icon {
            width: 18px;
            height: 18px;
            margin-right: 10px;
            fill: #C5C5C5;
        }

    .column-updates__list {
        margin-top: 12px;
    }
        .column-updates__item {
            margin-top: 4px;
        }

        .column-updates__item:first-child {
            margin-top: 0;
        }
