.collections {
    position: relative;
    height: 100%;
}
    .collections__head {
        display: flex;
        align-items: flex-start;
        padding: 26px 36px;
        height: var(--collections-head-height);
        background-color: #23282C;
    }
        .collections__intro {
            max-width: 538px;
            margin-top: 13px;
            margin-left: 36px;
            font-size: 13px;
            line-height: 20px;
            color: #FFFFFF;
        }

        .collections__add {
            min-width: 142px;
            padding: 10px 18px;
            font-size: 13px;
            line-height: 20px;

            margin-left: auto;
            margin-top: 7px;
            flex-shrink: 0;
            display: flex;
            align-items: flex-start;
        }
            .collections__add .button__icon[height="24"] {
                margin-top: -2px;
                margin-bottom: -2px;
            }

        .collections__heading {
            margin-top: 2px;
            margin-bottom: 0;
            font-weight: normal;
            font-size: 22px;
            line-height: 30px;
            color: #FFFFFF;
        }
            .collections__icon {
                float: left;
                margin-top: 6px;
                margin-right: 12px;
                width: 20px;
                height: 20px;
                fill: #FFFFFF;
            }

        .collections__filter {
            margin-top: 18px;
        }

    .collections__body {
        height: calc(100% - var(--collections-head-height));
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .collections__list {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 24px 24px 60px;
        margin-left: -4px;
        margin-right: -4px;
    }

        .collections__list .simpler-null {
            width: 100%;
        }
            .collections__list .simpler-null__action,
            .collections__list .simpler-null__action.button {
                width: 342px;
            }

        .collections__item {

        }

        .collections__item {
            width: 33.3333%;
            flex-shrink: 0;
        }

        @media (min-width: 1500px) {
            .collections__item {
                width: 25%;
            }
        }


        @media (min-width: 1900px) {
            .collections__item {
                width: 20%;
            }
        }