.collection-crowd {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: -5px; /* compensate card paddings */
}
    .collection-crowd__item {
        margin-top: 5px;
        margin-left: 12px;
    }
