.collection-crowd {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -5px;
    margin-right: -5px;
}
    .collection-crowd__item {
        margin-left: 13px;
    }
