.collection {
    display: flex;
    align-items: stretch;
    height: 100%;
}
    .collection__wrapper {
        width: calc(100% - 343px);
        display: flex;
        flex-direction: column;
    }
        .collection__head {
            position: relative;
            z-index: 100; /* dropdowns inside of header should fly higher than page */
            flex-shrink: 0;
            height: 94px;
            border-bottom: 1px solid #E8E8E8;
            padding: 0 28px 0 16px;
            display: flex;
            align-items: center;
        }
            .collection__head-primary {
                display: flex;
                align-items: center;
            }
                .collection__back {

                }

                .collections__select {
                    margin-left: 15px;
                }

                .collection__share {
                    margin-left: 21px;
                }

            .collection__head-secondary {
                display: flex;
                align-items: center;
                margin-left: auto;
            }
                .collection__sort {

                }

                .collection__add {

                }


        .collection__body {
            flex-grow: 1;
            overflow: hidden;
            display: flex;
            align-items: stretch;
        }
            .collection__sidebar {
                width: 42.5%;
                flex-shrink: 0;
                display: flex;
                flex-direction: column;
            }
                .collection__sidebar-head {
                    flex-shrink: 0;
                    display: flex;
                    align-items: flex-start;
                }
                    .collection__people-heading.thead,
                    .collection__people-heading > .thead {
                        flex-grow: 1;
                    }

                    .collection__status-heading.thead,
                    .collection__status-heading > .thead {
                        flex-shrink: 0;
                        width: 124px;
                        border-left: 1px solid #E8E8E8;
                    }

                .collection__sidebar-body {
                    flex-grow: 1;
                    overflow-y: auto;
                }
                    .collection__sidebar-body .simpler-null {
                        height: auto;
                        padding-top: 47px;
                    }
                        .collection__sidebar-body .simpler-null__action {
                            padding-left: 25px;
                            padding-right: 25px;
                        }
                            .collection__sidebar-body .simpler-null__action .button__icon {
                                width: 16px;
                                height: 16px;
                            }

            .collection__content {
                border-left: 1px solid #E8E8E8;
                width: 57.5%;
                overflow: hidden;
            }
                .collection__content-head {
                    flex-shrink: 0;
                }

                .collection__content-body {
                    flex-grow: 1;
                    overflow-y: auto;
                }

                .collection__content-body .simpler-null {
                    max-width: 340px;
                    height: auto;
                    padding-top: 47px;
                    margin-left: auto;
                    margin-right: auto;
                }

    .collection__aside {
        flex-shrink: 0;
        width: 343px;
        border-left: 1px solid #E8E8E8;
        background-color: #F4F4F4;
        display: flex;
        flex-direction: column;
        overflow: hidden; /* just to cut shadow .collections__sub-nav */
    }
        .collection__sub-nav {
            display: flex;
            align-items: stretch;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.12);
        }
            .collection__sub-link {
                position: relative;
                z-index: 10;
                width: 50%;
                border: none;
                padding: 13px 20px 10px;
                background-color: transparent;
                font-family: inherit;
                font-weight: bold;
                font-size: 11px;
                line-height: 18px;
                color: #8B8B8B;
                text-align: center;
                cursor: pointer;
                transition: color var(--transition-hover);
            }

            .collection__sub-link:hover {
                color: #545454;
            }

                .collection__sub-link::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -1px;
                    height: 2px;
                    background-color: transparent;
                    transition: background-color var(--transition-hover);
                }

            .collection__sub-link--current {
                color: #545454;
                cursor: default;
            }
                .collection__sub-link--current::after {
                    background-color: currentColor;
                }

        .collection__chat {
            flex-grow: 1;
            overflow: hidden;
        }

        .collection__player {
            padding: 25px 28px 52px;
            background-color: #FFFFFF;
        }
