.column-updates {
    position: relative;
    height: 100%;
    padding: 49px 14px 20px;
}
    .column-updates__heading {
        position: absolute;
        left: 14px;
        top: 19px;
        display: flex;
        margin-left: 3px;
        align-items: flex-start;
        font-weight: bold;
        font-size: 11px;
        line-height: 18px;
        color: #757575;
    }
        .column-updates__icon {
            width: 18px;
            height: 18px;
            margin-right: 10px;
            fill: #C5C5C5;
        }

    .column-updates__list {
        height: 100%;
    }
        .column-updates__list .null__inner {

        }

        .column-updates__item {
            margin-top: 4px;
        }

        .column-updates__item:first-child {
            margin-top: 0;
        }
