.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
}

.container--organisation {
    width: 1110px;
}

.container--feed {
    width: 670px;
    border-left: none;
    border-right: none;
}

.container--explore {
    width: 100%;
    max-width: 950px;
    border-left-width: 24px;
    border-right-width: 24px;
}

.container--referral {
    width: 750px;
}

.container--auth {
    width: 960px;
}


.container--welcome {
    width: 700px;
}


.container--org-creating {
    width: 632px;
}


.container--dashboard {
    width: 670px;
    border-left-width: 0;
    border-right-width: 0;
}

    @media (min-width: 1240px) {
        .container--dashboard {
            width: 100%;
            max-width: 1200px;
            border-left-width: 40px;
            border-right-width: 40px;
        }
    }

    @media (min-width: 1300px) {
        .container--dashboard {
            border-left-width: 58px;
            border-right-width: 58px;
        }
    }
