.connections {
    min-height: 204px;
}
    .connections__head {
        padding: 26px 40px;
        display: flex;
        align-items: center;
    }
        .connections__back {
            margin-left: -25px;
            margin-right: 5px;
            transition: background-color var(--transition-hover);
        }

        .connections__emblem {
            margin-right: 18px;
        }

        .connections__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: inherit;
            font-size: 15px;
            line-height: 20px;
            color: #545454;
        }
            .connections__highlight {
                font-weight: bold;
            }

        .connections__details {
            margin-left: auto;
            margin-right: -16px;
        }

    .connections__body {
        border-top: 1px solid #F3F3F3;
    }
        .connections__list {
            padding: 30px 40px;
            display: flex;
            align-items: stretch;
            flex-wrap: wrap;
            margin: -9px;
        }
            .connections__item {
                width: 50%;
                padding: 9px;
            }

            @media (min-width: 1340px) {
                .connections__item {
                    width: 33.3333%;
                }
            }

            @media (min-width: 1560px) {
                .connections__item {
                    width: 25%;
                }
            }

            @media (min-width: 1780px) {
                .connections__item {
                    width: 20%;
                }
            }

        .connections__sync {
            display: flex;
            align-items: flex-start;
            padding: 24px 40px 32px;
        }
            .connections__note {
                font-size: 13px;
                line-height: 24px;
                color: #757575;
            }

            .connections__submit {
                margin-left: 40px;
                margin-right: -16px;
            }


.connections--limited {

}
    .connections--limited .connections__item:nth-child(n+3) {
        display: none;
    }

    @media (min-width: 1340px) {
        .connections--limited .connections__item:nth-child(3) {
            display: block;
        }
    }

    @media (min-width: 1560px) {
        .connections--limited .connections__item:nth-child(4) {
            display: block;
        }
    }

    @media (min-width: 1780px) {
        .connections--limited .connections__item:nth-child(5) {
            display: block;
        }
    }
