.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
}

.container--results {
    width: 1160px;
}

.container--organisation {
    width: 1110px;
    padding-left: 0;  /* override bootstrap */
    padding-right: 0; /* override bootstrap */
}

.container--org {
    width: 1304px;
    padding-left: 0;  /* override bootstrap */
    padding-right: 0; /* override bootstrap */
}

.container--feed {
    width: 670px;
    border-left: none;
    border-right: none;
    padding-left: 0;  /* override bootstrap */
    padding-right: 0; /* override bootstrap */
}

.container--explore {
    width: 100%;
    max-width: 950px;
    border-left-width: 24px;
    border-right-width: 24px;
    padding-left: 0;  /* override bootstrap */
    padding-right: 0; /* override bootstrap */
}

.container--referral {
    width: auto;
    max-width: 1200px;
    border-left-width: 28px;
    border-right-width: 28px;
    padding-left: 0;  /* override bootstrap */
    padding-right: 0; /* override bootstrap */
}

.container--auth {
    width: 1060px;
    padding-left: 0;  /* override bootstrap */
    padding-right: 0; /* override bootstrap */
}

.container--refs {
    width: auto;
    max-width: 880px;
    padding-left: 0; /* override bootstrap */
    padding-right: 0; /* override bootstrap */
}


.container--welcome {
    width: 700px;
    padding-left: 0;  /* override bootstrap */
    padding-right: 0; /* override bootstrap */
}


.container--org-creating {
    width: 632px;
    padding-left: 0;  /* override bootstrap */
    padding-right: 0; /* override bootstrap */
}


.container--dashboard {
    width: 670px;
    border-left-width: 0;
    border-right-width: 0;
    padding-left: 0;  /* override bootstrap */
    padding-right: 0; /* override bootstrap */
}

    @media (min-width: 1240px) {
        .container--dashboard {
            width: 100%;
            max-width: 1200px;
            border-left-width: 40px;
            border-right-width: 40px;
        }
    }

    @media (min-width: 1300px) {
        .container--dashboard {
            border-left-width: 58px;
            border-right-width: 58px;
        }
    }


.container-settings {
    width: 1080px;
}

.container--profile {
    width: 100%;
    max-width: 1306px;
}

.container--theming {
    width: 100%;
    max-width: 1520px;
}

.container--alt-profile {
    width: 100%;
    max-width: 1304px;
}

.container--text {
    width: 100%;
    max-width: 880px;
}
