.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.container--organisation {
    width: 1110px;
}

.container--feed {
    width: 750px;
}

.container--explore {
    width: 902px;
    padding-left: 0;
    padding-right: 0;
}

.container--updates {
    width: 100%;
    max-width: 958px;
    padding-left: 0;
    padding-right: 0;
}

.container--referral {
    width: 750px;
}

.container--auth {
    width: 960px;
}


.container--welcome {
    width: 700px;
}


.container--org-creating {
    width: 632px;
}


.container--dashboard {
    width: 100%;
    max-width: 1200px;
    min-width: 750px;
    padding-left: 58px;
    padding-right: 58px;
}
