.connections {

}
    .connections__head {
        padding: 25px 20px;
    }
        .connections__back {
            margin-left: -10px;
            margin-top: -12px;
            margin-bottom: -12px;
        }

        .connections__emblem {
            display: none;
        }

        .connections__heading {
            font-weight: bold;
        }
            .connections__highlight {

            }

            .connections__from {
                display: none;
            }

        .connections__details {
            display: none;
        }

    .connections__body {
        /*border-top: 1px solid #F3F3F3;*/
    }
        .connections__list {
            padding: 0;
            display: block;
            /*align-items: stretch;*/
            /*flex-wrap: wrap;*/
            margin: 0;
        }
            .connections__item {
                width: auto;
                padding: 0;
            }

        .connections__sync {
            display: block;
            padding: 0;
        }
            .connections__note {
                /*font-size: 13px;*/
                /*line-height: 24px;*/
                /*color: #757575;*/
            }

            .connections__submit {
                margin-left: 0;
                margin-right: 0;
            }


.connections--limited {

}
    .connections--limited .connections__item:nth-child(n+3) {
        /*display: none;*/
    }
