.container {
    width: auto;
    border-left-width: var(--container-mobile-padding);
    border-right-width: var(--container-mobile-padding);
}

.container--dashboard {
    min-width: 0;
}

.container--setting {

}

.container--organisation {
    width: 100%;
    border-left-width: var(--container-mobile-padding);
    border-right-width: var(--container-mobile-padding);
}
