.counter {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    min-width: 16px;
    height: 16px;
    padding: 2px 3px;
    border-radius: 8px;
    font-size: 9px;
    line-height: 12px;
    text-align: center;
}

.counter--danger {
    background-color: #EA4524;
    color: #FFFFFF;
}
