.cover {
    position: relative;
    width: 112px;
    height: 112px;
    background-color: #D2D2D2;
    border: none;
    padding: 0;
    border-radius: 8px;
}
    .cover__icon {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        vertical-align: top;
        width: 32px;
        height: 32px;
        fill: #FFFFFF;
    }


.cover--clickable {
    cursor: pointer;
    transition: background-color var(--transition-hover);
}

.cover--clickable:hover {
    background-color: #757575;
}
