.crew {
    position: relative;
    height: 100%;
}
    .crew__inner {
        height: 100%;
        display: flex;
        align-items: stretch;
    }
        .crew__sidebar {
            position: relative;
            z-index: 90; /* higher than blurred .crew__inner-content */
            width: var(--crew-sidebar-width);
            flex-shrink: 0;
        }
            .crew__side-head {
                padding: 35px 16px 0 68px;
                height: var(--crew-head-height);
                background-color: #44474A;
                background-image: url("../images/rings.svg");
                background-size: 30px 30px;
                background-repeat: no-repeat;
                background-position: 20px center;
            }
                .crew__circles {
                    display: block;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 18px;
                    color: #FFFFFF;
                }

                .crew__updated {
                    font-size: 11px;
                    line-height: 16px;
                    color: #FFFFFF;
                }

                .crew__close-sidebar {
                    display: none;
                }

            .crew__navigation {
                height: calc(100% - var(--crew-head-height));
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
                background-color: #EEF0F3;
            }
                .crew__latch {
                    padding-top: 14px;
                    padding-bottom: 40px;
                }
                    .crew__pending {
                        position: relative;
                        margin: 14px 20px;
                    }
                        .crew__pending .button {
                            width: 100%;
                        }

                        .crew__pending-counter {
                            position: absolute;
                            right: -8px;
                            top: -8px;
                            box-shadow: 0 0 0 1px #FFFFFF;
                            font-weight: bold;
                            pointer-events: none;
                        }

                        .crew__list {

                        }

                        .crew__add {
                            margin-top: 12px;
                            margin-left: 20px;
                        }
                            .crew__add.button,
                            .crew__add .button {
                                box-shadow: none;
                            }


        .crew__content {
            position: relative;
            width: calc(100% - var(--crew-sidebar-width));
        }
            .crew__inner-content {
                height: 100%;
            }
                .crew__head {
                    display: flex;
                    align-items: flex-start;
                    padding: 26px 36px;
                    height: var(--crew-head-height);
                    background-color: #23282C;
                }
                    .crew__show-sidebar {
                        display: none;
                    }

                    .crew__intro {
                        max-width: 440px;
                        margin-top: 6px;
                        margin-left: 36px;
                        font-size: 13px;
                        line-height: 20px;
                        color: #FFFFFF;
                    }

                    .crew__head-texts {
                        padding-right: 20px;
                    }
                        .crew__heading {
                            margin-top: 0;
                            margin-bottom: 0;
                            font-weight: normal;
                            font-size: 22px;
                            line-height: 26px;
                            color: #FFFFFF;
                        }

                        .crew__note {
                            margin-top: 8px;
                            font-size: 11px;
                            line-height: 20px;
                            color: #C4C4C4;
                        }

                    .crew__operations {
                        margin-left: auto;
                        margin-top: 7px;
                        flex-shrink: 0;
                        display: flex;
                        align-items: flex-start;
                    }
                        .crew__settings {

                        }
                            .crew__settings.button,
                            .crew__settings .button {
                                padding: 12px 8px;
                            }

                        .crew__head-add-person {
                            margin-left: 11px;
                        }
                            .crew__head-add-person.button,
                            .crew__head-add-person .button {
                                min-width: 142px;
                                padding: 10px 18px;
                                font-size: 13px;
                                line-height: 20px;
                            }

                        .crew__head-add-circle {
                            margin-left: 11px;
                        }
                            .crew__head-add-circle.button,
                            .crew__head-add-circle .button {
                                min-width: 142px;
                                padding: 10px 18px;
                                font-size: 13px;
                                line-height: 20px;
                            }

                .crew__body {
                    position: relative;
                    padding-right: var(--crew-aside-width);
                    height: calc(100% - var(--crew-head-height));
                }
                    .crew__tabs {
                        position: absolute;
                        right: 0;
                        top: 0;
                        padding-bottom: 30px;
                        width: var(--crew-aside-width);
                        display: flex;
                        align-items: stretch;
                        padding-left: 20px;
                        padding-right: 20px;
                        overflow: hidden; /* to cut (1) and prevent horizontal scrollbar */
                    }
                        .crew__tabs::before {
                            content: "";
                            position: absolute;
                            left: -1px;
                            bottom: 0;
                            right: -1px; /* (1) */
                            height: 30px;
                            border-top-left-radius: 30px;
                            border-top-right-radius: 30px;
                            border-left: 1px solid #E1E3E6;
                            border-top: 1px solid #E1E3E6;
                            border-right: 1px solid #E1E3E6;
                        }

                        .crew__tag {
                            position: relative;
                            background-color: transparent;
                            flex-grow: 1;
                            flex-basis: 0;
                            border: none;
                            padding: 15px 10px;
                            text-align: center;
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 18px;
                            color: #76797C;
                            cursor: pointer;
                            transition: color var(--transition-hover);
                        }

                        .crew__tag:hover {
                            color: #23282C;
                        }

                        .crew__tag:active {
                            color: #23282C;
                            transition: none;
                        }

                            /* hover background */
                            .crew__tag::before {
                                content: "";
                                position: absolute;
                                left: 0;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                width: 100px;
                                height: 64px;
                                margin: auto;
                                display: block;
                                border-radius: 8px;
                                transition: background-color var(--transition-hover);
                            }

                            .crew__tag:hover::before {
                                background-color: var(--panel-hover);
                            }

                            .crew__tag:active::before {
                                background-color: var(--panel-active);
                                transition: none;
                            }

                            .crew__icon {
                                position: relative;
                                width: 20px;
                                height: 20px;
                                fill: currentColor;
                            }

                            .crew__label {
                                position: relative;
                                display: block;
                                margin-top: 4px;
                            }

                            /* line */
                            .crew__tag::after {
                                content: "";
                                position: absolute;
                                bottom: -2px;
                                left: 50%;
                                width: 52px;
                                height: 3px;
                                display: block;
                                margin-left: -26px;
                                border-radius: 2px;
                            }


                        .crew__tag--chat {
                            display: none; /* no need for this on desktop */
                        }

                        .crew__tag--current {
                            color: #23282C;
                            cursor: default;
                        }
                            .crew__tag--current::before {
                                display: none;
                            }

                            .crew__tag--current::after {
                                background-color: currentColor;
                            }

                    .crew__panel {
                        position: absolute;
                        right: 0;
                        top: var(--crew-tabs-height);
                        bottom: 0;
                        width: var(--crew-aside-width);
                        display: none;
                    }

                    .crew__panel--visible {
                        display: block;
                    }

                    .crew__panel--chat {
                        display: block; /* always show on desktop */
                        position: static;
                        width: auto;
                        height: 100%;
                        border-right: 1px solid #E1E3E6;
                    }
                        .crew__feed {
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                        }
                            .crew__messages {
                                flex-grow: 1;
                                overflow-y: auto;
                                -webkit-overflow-scrolling: touch;
                            }

                            .crew__form {
                                flex-shrink: 0;
                                padding: var(--padding-under-chat) 36px;
                                border-top: 1px solid #E1E3E6;
                            }

                .crew__list {
                    position: relative;
                    height: calc(100% - var(--crew-head-height));
                }
                    .crew__inner-list {
                        height: 100%;
                        overflow-y: auto;
                        -webkit-overflow-scrolling: touch;
                    }

            .crew__new {
                height: calc(100% - var(--crew-head-height));
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
            }


            .crew__modal {
                position: absolute;
                left: 50%;
                top: 10vh;
                width: 380px;
                margin-left: -190px;
                background-color: #FFFFFF;
                border: 1px solid #E8E8E8;
                border-radius: 13px;
            }
