.create-org {
    padding-top: 28px;
}
    .create-org__heading {

    }
        .create-org__icon {

        }

    .create-org__note {
        margin-top: 26px;
    }

    .create-org__form {
        /*max-width: 310px;*/
        margin-top: 30px;
        /*margin-left: auto;*/
        /*margin-right: auto;*/
    }
        .create-org__field {
            /*margin-top: 16px;*/
        }

        .create-org__field:first-child {
            /*margin-top: 0;*/
        }

        .create-org__submit {
            /*margin-top: 40px;*/
            /*width: 100%;*/
        }

        .create-org__submit.button,
        .create-org__submit > .button {
            width: 231px;
        }
