.crew {
    position: relative;
    height: 100%;
    display: block;
    /*align-items: stretch;*/
}
    .crew__sidebar {
        position: absolute;
        z-index: 90;
        right: 100%;
        margin-right: 11px;
        top: 0;
        bottom: 0;
        width: 260px;
        overflow-y: visible;
        box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);
        transition: margin-right var(--transition-long-show);
    }

    .crew--expanded .crew__sidebar {
        margin-right: -260px;
    }
        .crew__side-head {
            /*padding: 35px 0 0 76px;*/
            padding-right: 56px;
            /*height: var(--crew-head-height);*/
            /*background-color: #44474A;*/
            /*background-image: url("../images/rings.svg");*/
            /*background-size: 30px 30px;*/
            /*background-repeat: no-repeat;*/
            /*background-position: 28px 37px;*/
        }
            .crew__circles {
                /*display: block;*/
                /*font-weight: 600;*/
                /*font-size: 12px;*/
                /*line-height: 18px;*/
                /*color: #FFFFFF;*/
            }

            .crew__updated {
                /*font-size: 11px;*/
                /*line-height: 16px;*/
                /*color: #FFFFFF;*/
            }

            .crew__close-sidebar {
                position: absolute;
                right: 14px;
                top: 31px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 44px;
                height: 44px;
                padding: 0;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
                .crew__close-sidebar::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    display: block;
                    width: 32px;
                    height: 32px;
                    border: 1px solid #FFFFFF;
                    border-radius: 50%;
                }

                .crew__cross {
                    vertical-align: top;
                    fill: #FFFFFF;
                }

        .crew__navigation {
            /*height: calc(100% - var(--crew-head-height));*/
            /*overflow-y: auto;*/
            /*-webkit-overflow-scrolling: touch;*/
            /*background-color: #EEF0F3;*/
        }
            .crew__latch {
                /*padding-top: 14px;*/
                /*padding-bottom: 40px;*/
            }
                .crew__pending {
                    /*position: relative;*/
                    /*margin: 14px 20px;*/
                }
                    .crew__pending .button {
                        /*width: 100%;*/
                    }

                    .crew__pending-counter {
                        /*position: absolute;*/
                        /*right: -8px;*/
                        /*top: -8px;*/
                        /*box-shadow: 0 0 0 1px #FFFFFF;*/
                        /*font-weight: bold;*/
                        /*pointer-events: none;*/
                    }

            .crew__list {

            }

            .crew__add {
                /*margin-top: 12px;*/
                /*margin-left: 20px;*/
            }
            .crew__add.button,
            .crew__add .button {
                /*box-shadow: none;*/
            }


    .crew__content {
        width: auto;
        height: 100%;
    }
        .crew__head {
            padding: 20px 20px 20px 74px;
            /*height: var(--crew-head-height);*/
            /*background-color: #23282C;*/
        }
            .crew__show-sidebar {
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                width: 72px;
                height: 76px;
                border: none;
                padding: 0;
                background-color: transparent;
                background-image: url("../images/rings.svg");
                background-size: 30px 30px;
                background-repeat: no-repeat;
                background-position: center center;
                text-indent: 200%;
                white-space: nowrap;
                overflow: hidden;
                cursor: pointer;
            }
                .crew__show-sidebar--has-updates::after {
                    content: "";
                    position: absolute;
                    right: 15px;
                    top: 19px;
                    display: block;
                    width: 8px;
                    height: 8px;
                    background-color: #EB5757;
                    border-radius: 50%;
                }

            .crew__intro {
                /*max-width: 440px;*/
                margin-top: 0;
                margin-left: 0;
                /*font-size: 13px;*/
                /*line-height: 20px;*/
                /*color: #FFFFFF;*/
            }

            .crew__head-texts {
                padding-right: 16px;
            }
                .crew__heading {
                    font-size: 18px;
                    line-height: 24px;
                }

                .crew__note {
                    margin-top: 4px;
                    font-size: 11px;
                    line-height: 18px;
                }

            .crew__operations {

            }
                .crew__settings {

                }

                .crew__head-add {
                    display: none;
                }

        .crew__body {
            /*position: relative;*/
            padding-right: 0;
            height: calc(100% - var(--crew-head-height));
        }
            .crew__tabs {
                position: static;
                /*right: 0;*/
                /*top: 0;*/
                padding-bottom: 0;
                width: auto;
                border-bottom: 1px solid #E1E3E6;
                /*display: flex;*/
                /*align-items: stretch;*/
                padding-left: 0;
                padding-right: 0;
                overflow: visible; /* to cut (1) and prevent horizontal scrollbar */
            }
                .crew__tabs::before {
                    display: none;
                    /*content: "";*/
                    /*position: absolute;*/
                    /*left: -1px;*/
                    /*bottom: 0;*/
                    /*right: -1px; !* (1) *!*/
                    /*height: 30px;*/
                    /*border-top-left-radius: 30px;*/
                    /*border-top-right-radius: 30px;*/
                    /*border-left: 1px solid #E1E3E6;*/
                    /*border-top: 1px solid #E1E3E6;*/
                    /*border-right: 1px solid #E1E3E6;*/
                }

                .crew__tag {
                    /*position: relative;*/
                    /*background-color: transparent;*/
                    /*flex-grow: 1;*/
                    /*flex-basis: 0;*/
                    /*border: none;*/
                    /*padding: 15px 10px;*/
                    /*text-align: center;*/
                    /*font-weight: 600;*/
                    /*font-size: 12px;*/
                    /*line-height: 18px;*/
                    /*color: #76797C;*/
                    /*cursor: pointer;*/
                    /*transition: color var(--transition-hover);*/
                }

                .crew__tag:hover {
                    /*color: #23282C;*/
                }

                .crew__tag:active {
                    /*color: #23282C;*/
                    /*transition: none;*/
                }

                    /* hover background */
                    .crew__tag::before {
                        display: none;
                        /*content: "";*/
                        /*position: absolute;*/
                        /*left: 0;*/
                        /*top: 0;*/
                        /*right: 0;*/
                        /*bottom: 0;*/
                        /*width: 100px;*/
                        /*height: 64px;*/
                        /*margin: auto;*/
                        /*display: block;*/
                        /*border-radius: 8px;*/
                        /*transition: background-color var(--transition-hover);*/
                    }

                    .crew__tag:hover::before {
                        /*background-color: var(--panel-hover);*/
                    }

                    .crew__tag:active::before {
                        /*background-color: var(--panel-active);*/
                        /*transition: none;*/
                    }

                    .crew__icon {
                        /*position: relative;*/
                        /*width: 20px;*/
                        /*height: 20px;*/
                        /*fill: currentColor;*/
                    }

                    .crew__label {
                        /*position: relative;*/
                        /*display: block;*/
                        /*margin-top: 4px;*/
                    }

                    /* line */
                    .crew__tag::after {
                        /*content: "";*/
                        /*position: absolute;*/
                        /*bottom: -2px;*/
                        /*left: 50%;*/
                        /*width: 52px;*/
                        /*height: 3px;*/
                        /*display: block;*/
                        /*margin-left: -26px;*/
                        /*border-radius: 2px;*/
                    }


                .crew__tag--chat {
                    display: block; /* was hidden on desktop */
                }

                .crew__tag--current {
                    /*color: #23282C;*/
                    /*cursor: default;*/
                }
                    .crew__tag--current::before {
                        /*display: none;*/
                    }

                    .crew__tag--current::after {
                        /*background-color: currentColor;*/
                    }

            .crew__panel {
                position: static;
                /*right: 0;*/
                /*top: var(--crew-tabs-height);*/
                /*bottom: 0;*/
                width: auto;
                height: calc(100% - var(--crew-tabs-mobile-height));
                display: none; /* hide all panels again because .crew__panel--chat was always visible on desktop */
            }

            .crew__panel--visible {
                display: block;
            }

            .crew__panel--chat {
                /*display: block; !* always show on desktop *!*/
                /*position: static;*/
                /*width: auto;*/
                /*height: 100%;*/
                border-right: none;
            }
                .crew__feed {
                    /*display: block;*/
                    /*flex-direction: column;*/
                }
                    .crew__messages {
                        /*flex-grow: 1;*/
                        /*overflow-y: visible;*/
                        /*-webkit-overflow-scrolling: touch;*/
                    }

                    .crew__form {
                        /*flex-shrink: 0;*/
                        /*padding: var(--padding-under-chat) 36px;*/
                        padding-left: 20px;
                        padding-right: 20px;
                        /*border-top: 1px solid #E1E3E6;*/
                    }



