@media (min-width: 768px) {

    /* Firefox */
    .css-scrollbar {
        scrollbar-color: #7D7D7D transparent;
    }



    /* All other browsers */

    .css-scrollbar::-webkit-scrollbar {
        width: 11px;
        background-color: transparent; /* must be white color because white will be used later in gradient */
    }


    .css-scrollbar::-webkit-scrollbar-thumb {
        background-color: #C2C2C2;
        border-radius: 4px;
    }

    .css-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: #7D7D7D;
    }


    /* stylelint-disable */
    .css-scrollbar::-webkit-scrollbar-thumb {
        background-color:    #FFFFFF;
        background-image:    linear-gradient(to right, #FFFFFF,                                                                                                                                                                                                                 #FFFFFF),
                             linear-gradient(to right, #FFFFFF,                                                                                                                                                                                                                 #FFFFFF),
                             linear-gradient(to right, #FFFFFF, #FFFFFF 2px, #FBFBFB 2px, #FBFBFB 3px, #E0E0E0 3px, #E0E0E0 4px, #D1D1D1 4px, #D1D1D1 5px, #C2C2C2 5px, #C2C2C2 6px, #D1D1D1 6px, #D1D1D1 7px, #E0E0E0 7px, #E0E0E0 8px, #FBFBFB 8px, #FBFBFB 9px, #FFFFFF 9px, #FFFFFF),
                             linear-gradient(to right, #FFFFFF, #FFFFFF 2px, #FBFBFB 2px, #FBFBFB 3px, #E0E0E0 3px, #E0E0E0 4px, #D1D1D1 4px, #D1D1D1 5px, #C2C2C2 5px, #C2C2C2 6px, #D1D1D1 6px, #D1D1D1 7px, #E0E0E0 7px, #E0E0E0 8px, #FBFBFB 8px, #FBFBFB 9px, #FFFFFF 9px, #FFFFFF),
                             linear-gradient(to right, #FFFFFF, #FFFFFF 2px, #E0E0E0 2px, #E0E0E0 3px, #D1D1D1 3px, #D1D1D1 4px, #C2C2C2 4px,                                                     #C2C2C2 7px, #D1D1D1 7px, #D1D1D1 8px, #E0E0E0 8px, #E0E0E0 9px, #FFFFFF 9px, #FFFFFF),
                             linear-gradient(to right, #FFFFFF, #FFFFFF 2px, #E0E0E0 2px, #E0E0E0 3px, #D1D1D1 3px, #D1D1D1 4px, #C2C2C2 4px,                                                     #C2C2C2 7px, #D1D1D1 7px, #D1D1D1 8px, #E0E0E0 8px, #E0E0E0 9px, #FFFFFF 9px, #FFFFFF),
                             linear-gradient(to right, #FFFFFF, #FFFFFF 2px, #D1D1D1 2px, #D1D1D1 3px, #C2C2C2 3px,                                                                                                         #C2C2C2 8px, #D1D1D1 8px, #D1D1D1 9px, #FFFFFF 9px, #FFFFFF),
                             linear-gradient(to right, #FFFFFF, #FFFFFF 2px, #D1D1D1 2px, #D1D1D1 3px, #C2C2C2 3px,                                                                                                         #C2C2C2 8px, #D1D1D1 8px, #D1D1D1 9px, #FFFFFF 9px, #FFFFFF),
                             linear-gradient(to right, #FFFFFF, #FFFFFF 2px, #C2C2C2 2px,                                                                                                                                                             #C2C2C2 9px, #FFFFFF 9px, #FFFFFF);
        background-size:     11px 1px,
                             11px 1px,
                             11px 2px,
                             11px 2px,
                             11px 3px,
                             11px 3px,
                             11px 4px,
                             11px 4px,
                             11px;
        background-position: right top,
                             right bottom,
                             right top,
                             right bottom,
                             right top,
                             right bottom,
                             right top,
                             right bottom,
                             right center;
        background-repeat:   no-repeat;
    }


    .css-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color:    #FFFFFF;
        background-image:    linear-gradient(to right, #FFFFFF,                                                                                                                                                                                                                 #FFFFFF),
                             linear-gradient(to right, #FFFFFF,                                                                                                                                                                                                                 #FFFFFF),
                             linear-gradient(to right, #FFFFFF, #FFFFFF 2px, #F7F7F7 2px, #F7F7F7 3px, #BEBEBE 3px, #BEBEBE 4px, #9D9D9D 4px, #9D9D9D 5px, #7D7D7D 5px, #7D7D7D 6px, #9D9D9D 6px, #9D9D9D 7px, #BEBEBE 7px, #BEBEBE 8px, #F7F7F7 8px, #F7F7F7 9px, #FFFFFF 9px, #FFFFFF),
                             linear-gradient(to right, #FFFFFF, #FFFFFF 2px, #F7F7F7 2px, #F7F7F7 3px, #BEBEBE 3px, #BEBEBE 4px, #9D9D9D 4px, #9D9D9D 5px, #7D7D7D 5px, #7D7D7D 6px, #9D9D9D 6px, #9D9D9D 7px, #BEBEBE 7px, #BEBEBE 8px, #F7F7F7 8px, #F7F7F7 9px, #FFFFFF 9px, #FFFFFF),
                             linear-gradient(to right, #FFFFFF, #FFFFFF 2px, #BEBEBE 2px, #BEBEBE 3px, #9D9D9D 3px, #9D9D9D 4px, #7D7D7D 4px,                                                     #7D7D7D 7px, #9D9D9D 7px, #9D9D9D 8px, #BEBEBE 8px, #BEBEBE 9px, #FFFFFF 9px, #FFFFFF),
                             linear-gradient(to right, #FFFFFF, #FFFFFF 2px, #BEBEBE 2px, #BEBEBE 3px, #9D9D9D 3px, #9D9D9D 4px, #7D7D7D 4px,                                                     #7D7D7D 7px, #9D9D9D 7px, #9D9D9D 8px, #BEBEBE 8px, #BEBEBE 9px, #FFFFFF 9px, #FFFFFF),
                             linear-gradient(to right, #FFFFFF, #FFFFFF 2px, #9D9D9D 2px, #9D9D9D 3px, #7D7D7D 3px,                                                                                                         #7D7D7D 8px, #9D9D9D 8px, #9D9D9D 9px, #FFFFFF 9px, #FFFFFF),
                             linear-gradient(to right, #FFFFFF, #FFFFFF 2px, #9D9D9D 2px, #9D9D9D 3px, #7D7D7D 3px,                                                                                                         #7D7D7D 8px, #9D9D9D 8px, #9D9D9D 9px, #FFFFFF 9px, #FFFFFF),
                             linear-gradient(to right, #FFFFFF, #FFFFFF 2px, #7D7D7D 2px,                                                                                                                                                             #7D7D7D 9px, #FFFFFF 9px, #FFFFFF);

    }
    /* stylelint-enable */
}
