.currently-in {
    margin-left: 0;
    margin-right: 0;
    /*padding: 4px 24px 7px;*/
    /*border-bottom: 1px solid #E8E8E8;*/
}
    .currently-in__location {
        /*margin-left: -11px;*/
        display: none;
    }

    .currently-in__mobile-heading {
        display: block;
        padding-top: 9px;
        font-weight: bold;
        font-size: 13px;
        line-height: 22px;
        color: #757575;
    }

    .currently-in__list {
        margin-top: 15px;
    }
        .currently-in__item {
            /*margin-top: 13px;*/
        }

        .currently-in__item:first-child {
            /*margin-top: 0;*/
        }

    .currently-in__more {
        /*margin-top: 19px;*/
        /*margin-left: auto;*/
        /*margin-right: auto;*/
    }
