.customize {
    padding-top: 18px;
    padding-bottom: 16px;
}
    .customize__head {
        display: flex;
        align-items: flex-start;
    }
        .customize__greetings {
            margin-top: 10px;
            /*margin-left: 29px; don't need because there is container in .customize now */
            margin-right: auto;
            font-weight: 600;
            font-size: 17px;
            line-height: 24px;
            color: #545454;
        }

        .customize__updated {
            margin-top: 13px;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: #757575;
        }
            .customize__time {
                font-weight: bold;
                color: #545454;
            }

        .customize__viewer {
            margin-left: 27px;
        }

    .customize__progress {
        margin-top: 18px;
    }

    .customize__options {
        margin-top: 18px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border: 1px solid var(--theme-light);
        padding: 17px 16px 20px;
        border-radius: 5px;
    }

    .customize__options--non-performer {
        justify-content: flex-start;
    }

        .customize__section {
            margin-left: 10px;
            margin-right: 10px;
        }
            .customize__head {

            }
                .customize__preview {

                }
                    .customize__icon {

                    }

                .customize__heading {

                }

                .customize__description {

                }

            .customize__save {

            }

