.dash-tiles {

}
    .dash-tiles__summary {

        /*position: relative;*/
        box-shadow: none;
        border-bottom: 1px solid #E8E8E8;
    }
        .dash-tiles__summary-wrap {
            padding-top: 0;
            padding-bottom: 0;
            /*display: flex;*/
            /*align-items: flex-start;*/
        }
            .dash-tiles__links {
                margin-left: -20px;
                margin-right: -20px;
                padding: 21px 20px 23px;
                overflow-y: auto;
                /*display: flex;*/
                /*align-items: flex-start;*/
                width: auto;
            }
                .dash-tiles__open-search {
                    margin-left: -20px;
                    padding: 0 5px 0 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    vertical-align: top;
                    width: 40px;
                    height: 100%;
                    flex-shrink: 0;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                }
                    .dash-tiles__magnifier {
                        width: 20px;
                        height: 20px;
                        fill: #545454;
                    }

                .dash-tiles__item {
                    margin-right: 2px;
                }

                .dash-tiles__item:first-child {
                    /*margin-left: 0;*/
                }

            .dash-tiles__search {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background-color: #FFFFFF;
                margin-top: 0;
                width: auto;
                padding-left: 0;
                padding-right: 0;
                padding-top: 32px;
                opacity: 0;
                visibility: hidden;
            }

            .dash-tiles--search-expanded .dash-tiles__search {
                opacity: 1;
                visibility: visible;
            }
                .dash-tiles__sub-heading {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 13px;
                    line-height: 18px;
                    /*color: #757575;*/
                    /*text-align: center;*/
                }
                    .dash-tiles__close-search {
                        display: inline-block;
                        vertical-align: top;
                        width: 32px;
                        height: 32px;
                        margin: -6px 22px -8px -54px;
                        padding: 0;
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                    }
                        .dash-tiles__arrow-back {
                            vertical-align: top;
                            fill: #545454;
                        }

                .dash-tiles__search-field {
                    margin-top: 18px;
                    width: 256px;
                    margin-left: auto;
                    margin-right: auto;
                }

                .dash-tiles__close {
                    position: absolute;
                    left: 50%;
                    top: 0;
                }

    .dash-tiles__body {
        /*padding-top: 12px;*/
        padding-bottom: 12px;
        background-color: #FFFFFF;
        background-image: none;
        /*background-size: 100% 1000px;*/
        /*background-repeat: no-repeat;*/
        /*background-position: center top;*/
    }
        .dash-tiles__body-wrap {

        }
            .dash-tiles__gallery {
                margin-left: 0;
                margin-right: 0;
            }
                .dash-tiles__gallery-heading {
                    display: block;
                    margin-top: 3px;
                    margin-bottom: 7px;
                    /*margin-left: 6px;*/
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 18px;
                    color: #757575;
                }

            .dash-tiles__content {
                display: flex;
                flex-direction: column-reverse;
            }
                .dash-tiles__next {
                    padding-top: 0;
                    width: auto;
                    box-shadow: none;
                    display: none;
                    /*background-color: #FFFFFF;*/
                    /*border-radius: 10px;*/
                }

                .dash-tiles__news {
                    width: auto;
                    margin-left: 0;
                    box-shadow: none;
                    padding: 0;
                    /*background-color: #FFFFFF;*/
                    /*border-radius: 10px;*/
                }

                .dash-tiles__next,
                .dash-tiles__news {
                    max-height: none;
                    overflow-y: visible;
                }

                .dash-tiles__news {

                }
                    .dash-tiles__news .column-updates__icon {
                        display: none;
                    }

        .dash-tiles__body::after {
            display: none;
        }



.explore-location-visible {

}
    .explore-location-visible .dash-tiles__body {
        display: none;
    }


.playlist-expanded {

}
    .playlist-expanded .dash-tiles__next {
        display: block;
    }

    .playlist-expanded .dash-tiles__summary {
        display: none;
    }

    .playlist-expanded .dash-tiles__gallery {
        display: none;
    }

    .playlist-expanded .dash-tiles__news {
        display: none;
    }

    .playlist-expanded .dash-tiles__body {
        padding-top: 0;
        padding-bottom: 0;
    }
