.dash-side {
    position: relative;
    padding: 15px 32px 20px;
}
    .dash-side__customize {
        position: absolute;
        right: 32px;
        top: 8px;
    }

    .dash-side__people {

    }

    .dash-side__music {
        margin-top: 20px;
    }

    .dash-side__updates {
        margin-top: 18px;
    }
