.dash-side {
    position: relative;
    padding-top: 15px;
    padding-bottom: 20px;

    /* or: */
    /*padding-left: 32px;*/
    /*padding-right: 32px;*/

    /* or (this will be centered if aside scrollbar appears and it takes extra space): */
    width: 226px;
    margin-left: auto;
    margin-right: auto;
}
    .dash-side__customize {
        position: absolute;
        right: 32px;
        top: 8px;
    }

    .dash-side__people {

    }

    .dash-side__music {
        margin-top: 20px;
    }

    .dash-side__updates {
        margin-top: 18px;
    }
