.dash-side {
    position: relative;
    padding-top: 15px;
    padding-bottom: 20px;
}
    .dash-side__container {
        width: 226px;
        margin-left: auto;
        margin-right: auto;
    }
        .dash-side__show-customization {
            position: absolute;
            z-index: 200;
            right: 26px;
            top: 8px;
        }

        .dash-side__people {

        }

        .dash-side__audio {
            margin-top: 20px;
        }

        .dash-side__updates {
            margin-top: 18px;
        }

    .dash-side__customization-panel {
        position: absolute;
        z-index: 200;
        left: 1px;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.97);
        text-align: center;
    }
        .dash-side__close-customization {
            margin-left: auto;
            margin-right: auto;
        }

        .dash-side__about-customization {
            margin-top: 14px;
            margin-left: auto;
            margin-right: auto;
            width: 164px;
            font-size: 11px;
            line-height: 24px;
            color: #757575;
        }

        .ash-side__customize {
            margin-top: 25px;
        }
        .ash-side__customize.button,
        .ash-side__customize > .button {
            width: 114px;
        }
