.dash-intro {
    padding-top: 21px;
    padding-bottom: 43px;
    position: relative;
    z-index: 100; /* make shadow overlap followign component */
    background-color: #FFFFFF;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
}
    .dash-intro__wrap {

    }
        .dash-intro__greetings {
            font-size: 14px;
            line-height: 18px;
            color: #757575;
        }
            .dash-intro__person {
                color: #9CB2BE;
            }

        .dash-intro__posting {
            margin-top: 20px;
        }

        .dash-intro__news {
            margin-top: 20px;
        }

        .dash-intro__related {
            margin-top: 22px;
        }

        .dash-tiles__gallery .null__inner {
            margin: 8px 6px 21px;
        }
