.dash-tiles {

}
    .dash-tiles__summary {

    }

    @media (min-width: 1240px) {

        .dash-tiles {
            padding-top: 320px;
            transition: var(--transition-long-show);
        }

        .explore-collapsed .dash-tiles {
            padding-top: 112px;
        }
            .dash-tiles__summary {
                position: fixed;
                z-index: 100;
                background-color: #FFFFFF;
                top: var(--header-height);
                left: var(--sidebar-width);
                right: var(--aside-enlarged-width);
            }

            .dashboard--enlarged-aside .dash-tiles__summary {
                right: var(--aside-enlarged-width);
            }
    }


    .dash-tiles__body {

    }
        .dash-tiles__emptiness {
            padding-top: 20px;
            padding-bottom: 60px;
        }

        .dash-tiles__content {
            display: flex;
            align-items: stretch;
            justify-content: center;
        }
            .dash-tiles__news {
                width: 45%;
                padding-right: 24px;
            }

            .dash-tiles__next {
                width: 55%;
                border-left: 1px solid #E8E8E8;
                padding-left: 24px;
            }

                .dash-tiles__body {

                }

                .dash-tiles__next,
                .dash-tiles__news {

                }


.has-player3 .dash-tiles {
    padding-bottom: var(--player3-height);
}
