.dash-intro {
    padding-top: 18px;
    padding-bottom: 43px;
    position: relative;
    z-index: 100; /* make shadow overlap followign component */
    background-color: #FFFFFF;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
}
    .dash-intro__wrap {

    }
        .dash-intro__greetings {
            font-size: 14px;
            line-height: 18px;
            color: #757575;
        }
            .dash-intro__person {
                color: #9CB2BE;
            }

        .dash-intro__posting {
            margin-top: 20px;
        }

        .dash-intro__news {
            margin-top: 18px;
            border: 1px solid #E8E8E8;
            padding: 13px 22px 0;
            border-radius: 13px;
        }
            .dash-intro__news .updates__switch {
                right: 22px;
                top: 7px;
            }

        .dash-intro__related {
            margin-top: 22px;
        }
