.dash {
    display: inline-flex;
    align-items: center;
    padding: 10px 16px;
    background-color: transparent;
    border-radius: 6px;
    border: none;
    font-family: inherit;
    font-weight: bold;
    font-size: 11px;
    line-height: 20px;
    color: #6C6C6C;
    text-decoration: none;
    cursor: pointer;
    transition: background-color var(--transition-hover),
                color var(--transition-hover);
}

.dash:hover {
    background-color: #F2F2F2;
    color: #545454;
}

    .dash__icon {
        vertical-align: top;
        fill: currentColor;
    }

    .dash__icon:first-child {
        margin-right: 6px;
    }

    .dash__icon:last-child {
        margin-left: 6px;
    }

    .dash__label {
        fill: currentColor;
    }
