.dashboard {
    position: static;
    display: block;
    padding-left: 0;
    padding-right: 0;
}
    .dashboard__sidebar {
        display: none;
    }

    .dashboard__content {

    }

    .dashboard__aside {
        display: none;
        /* if you still need dashboard on smartphone: */
        /*position: static;*/
        /*width: auto;*/
        /*box-shadow: none;*/
        /*overflow: visible;*/
    }


.playlist-expanded {

}
    .playlist-expanded .dashboard {
        padding-bottom: 0;
    }




.hide-aside-on-smartphone .dashboard {
    padding-bottom: 0;
}

.hide-aside-on-smartphone .dashboard__aside {
    display: none;
}
