.dashboard {
    position: static;
    display: block;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 75px; /* under the player */
}
    .dashboard__sidebar {
        display: none;
    }

    .dashboard__content {

    }

    .dashboard__aside {
        position: static;
        width: auto;
        box-shadow: none;
        overflow: visible;
    }



.playlist-expanded {

}
    .playlist-expanded .dashboard {
        padding-bottom: 0;
    }

