.dashboard {
    position: relative;
    padding-left: var(--sidebar-width);
    padding-right: var(--aside-width);
    height: 100%;
}
    .dashboard__sidebar {
        position: fixed;
        z-index: 500;
        width: var(--sidebar-width);
        background-color: #FFFFFF;
        box-shadow: inset -1px 0 0 #E8E8E8;
        left: 0;
        top: var(--header-height);
        bottom: 0;
    }

    .dashboard__content {
        flex-grow: 1;
        height: 100%;
    }

    .dashboard__aside {
        flex-shrink: 0;
        position: fixed;
        z-index: 500;
        width: var(--aside-width);
        background-color: #FFFFFF;
        box-shadow: inset 1px 0 0 #E8E8E8;
        right: 0;
        top: var(--header-height);
        bottom: 0;
    }


.dashboard--no-aside {
    padding-right: 0;
}
