:root {
    --data-section: 24px;
}

.data-section {
    position: relative;
    border: 1px solid #E8E8E8;
    padding: 21px var(--data-section) 25px;
    border-radius: 3px;
}
    .data-section__heading {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
    }
        .data-section__icon {
            vertical-align: top;
            margin-right: 4px;
            margin-top: -2px;
        }

        .data-section__icon[width="16"] {
            margin-top: 2px;
        }

    .data-section__more {
        position: absolute;
        right: 60px;
        top: 15px;
    }
        .data-section__more.button,
        .data-section__more .button {
            border-radius: 4px;
        }

    .data-section__hint {
        position: absolute;
        top: 17px;
        right: 22px;
    }
        .data-section__hint.explainer {
            position: absolute;
        }

    .data-section__body {
        margin-top: 17px;
    }
        .data-section__body .carousel__container {
            margin-left: calc(-1 * var(--data-section));
            margin-right: calc(-1 * var(--data-section));
        }
            .data-section__body .carousel__item {
                box-sizing: content-box;
                padding-left: var(--data-section); /* it's made so complicated because of carousel scroll snapping on the left */
                margin: 0;
            }

            .data-section__body .carousel__container::after {
                content: "";
                display: block;
                flex-shrink: 0;
                width: var(--data-section);
                height: 1px;
            }
