.design {

}
    .design__heading {
        max-width: 300px;
        /*margin: 0 auto;*/
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        /*text-align: center;*/
    }

    .design__body {
        margin-top: 21px;
        /*text-align: center;*/
    }
        .design__panel {
            display: block;
            /*align-items: flex-start;*/
            /*justify-content: space-between;*/
            /*gap: 17px;*/
            border: none;
            padding: 0;
            /*border-radius: 5px;*/
            /*text-align: left;*/
        }
            .design__section {
                margin-top: 33px;
            }

            .design__section:first-child {
                margin-top: 0;
            }