.dummy {
    vertical-align: top;
    background-color: #C4C4C4;
    color: #FFFFFF;
    user-select: none;
    transition: background-color var(--transition-hover);
}


.dummy--dark {
    background-color: #44474A;
}
