.edit-opportunity {

}
    .edit-opportunity__head {
        /*position: relative;*/
        /*max-width: 1240px;*/
    }
        .edit-opportunity__note {
            /*max-width: 679px;*/
            /*font-weight: 600;*/
            /*font-size: 13px;*/
            /*line-height: 24px;*/
            /*color: #757575;*/
        }

        .edit-opportunity__operations {
            position: static;
            /*right: 0;*/
            /*top: 0;*/
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            /*gap: 23px;*/
        }

    .edit-opportunity__body {
        /*margin-top: 29px;*/
        border-top: none;
        /*max-width: 1228px;*/
        padding-top: 0;
        display: block;
        /*grid-template-columns: 35fr 65fr;*/
        /*gap: 40px;*/
    }

    .edit-opportunity__primary {
        /*flex-shrink: 0;*/
    }
        .edit-opportunity__summary {
            padding: 10px var(--container-mobile-padding) 20px;
            /*padding: 17px 30px 23px;*/
            /*background-color: #F3F5F8;*/
            /*border-radius: 4px;*/
        }
            .edit-opportunity__type {
                /*display: flex;*/
                /*align-items: flex-start;*/
                /*gap: 40px;*/
            }

            .edit-opportunity__title {

            }

            .edit-opportunity__currently {
                /*margin-top: 7px;*/
            }

            .edit-opportunity__are-not-hint {
                /*font-style: italic;*/
                /*font-size: 12px;*/
                /*line-height: 20px;*/
                /*color: #757575;*/
            }

        .edit-opportunity__data {
            /*margin-top: 10px;*/
            /*padding: 36px 30px 10px;*/
            padding: 0;
            box-shadow: none;
            /*border-radius: 4px;*/
        }
            .edit-opportunity__field {
                /*margin-top: 11px;*/
            }

            .edit-opportunity__field:first-child {
                /*margin-top: 0;*/
            }

            .edit-opportunity__field--rate {
                /*display: grid;*/
                /*grid-template-columns: 1fr 99px;*/
                /*gap: 10px;*/
            }

    .edit-opportunity__secondary {
        /*flex-shrink: 0;*/
        margin-top: 9px;
    }
        .edit-opportunity__description {

        }

        .edit-opportunity__tags {
            /*margin-top: 24px;*/
            display: block;
            /*grid-template-columns: 1fr 1fr;*/
            /*gap: 52px;*/
        }
            .edit-opportunity__section {
                margin-top: 20px;
            }

            .edit-opportunity__section:first-child {
                margin-top: 0;
            }
                .edit-opportunity__sub-section-heading {
                    /*display: block;*/
                    /*font-weight: 600;*/
                    /*font-size: 13px;*/
                    /*line-height: 20px;*/
                    /*color: #686868;*/
                }

                .edit-opportunity__sub-section-note {
                    /*margin-top: 8px;*/
                    /*font-size: 12px;*/
                    /*line-height: 24px;*/
                    /*color: #44474A;*/
                }

                .edit-opportunity__sub-section-field {
                    /*margin-top: 19px;*/
                }

        .edit-opportunity__footer {
            /*margin-top: 27px;*/
            /*display: flex;*/
            /*align-items: flex-start;*/
            /*justify-content: flex-end;*/
            /*gap: 10px;*/
        }

        .edit-opportunity__footer .button {
            flex-grow: 1;
            flex-basis: 0;
        }

        @media (max-width: 359px) {
            .edit-opportunity__footer .button {
                flex-basis: auto;
            }
        }
