.edit-event {

}
    .edit-event__step {
        border-top: 1px solid #E8E8E8;
        padding: 24px var(--modal-padding);
    }

    .edit-event__step:first-child {
        border-top: none;
    }
        .edit-event__heading {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #333333;
        }

        .edit-event__index {
            margin-top: 3px;
            font-weight: 600;
            font-size: 13px;
            line-height: 20px;
            color: #333333;
        }

        .edit-event__info {
            margin-top: 10px;
            font-size: 13px;
            line-height: 22px;
            color: #545454;
        }

        .edit-event__widget {
            margin-top: 18px;
        }

        .edit-event__widget--fieldset-alike {
            padding: 20px 24px 24px;
            border: 1px solid #E8E8E8;
            border-radius: 4px;
        }

            .edit-event__field {
                margin-top: 20px;
            }

            .edit-event__field:first-child {
                margin-top: 0;
            }
                .edit-event__date {
                    margin-top: 23px;
                    margin-bottom: 20px;
                }
                    /* 2nd tab contains: */
                    .edit-event__multiple-dates {
                        padding-left: 20px;
                        padding-right: 20px;
                        display: flex;
                        align-items: flex-start;
                    }
                        .edit-event__calendar {
                            margin-top: 3px;
                            width: 281px;
                            flex-shrink: 0;
                            margin-right: 50px;
                        }

                        .edit-event__notes {

                        }
                            .edit-event__sub-heading {
                                margin-top: 0;
                                margin-bottom: 0;
                                font-weight: 600;
                                font-size: 13px;
                                line-height: 20px;
                                color: #545454;
                            }

                            .edit-event__description {
                                margin-top: 20px;
                                font-size: 13px;
                                line-height: 22px;
                                color: #545454;
                            }

                    /* 4th tab */
                    .edit-event__season {
                        max-width: 450px;
                        margin-left: auto;
                        margin-right: auto;
                        display: flex;
                        align-items: flex-start;
                        gap: 20px;
                    }
                        .edit-event__season-column {
                            flex-grow: 1;
                        }

                .edit-event__option {
                  
                }
