.emblem {
    width: 52px;
    height: 52px;
    background-image: url("../images/emblem.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
