.endorsements {
    position: relative;
    padding-top: 57px;
}
    .endorsements__heading {

    }
        .endorsements__heading .underlined-title__action.button,
        .endorsements__heading .underlined-title__action .button {
            padding-left: 40px;
            padding-right: 40px;
        }



    .endorsements__body {
        margin-top: 45px;
        display: flex;
        align-items: flex-start;
    }
        .endorsements__sidebar {
            flex-shrink: 0;
            width: var(--profile-sidebar);
            margin-right: var(--profile-gap);
            margin-top: 2px;
        }
            .endorsements__operations {
                display: inline-flex;
                align-items: stretch;
                flex-direction: column;
                margin-top: -13px;
                margin-left: -14px;
            }
                .endorsements__action {
                    margin-top: 0;
                    margin-bottom: 0;
                }
                    .endorsements__filter {
                        width: 100%;
                        background-color: transparent;
                        border: none;
                        padding: 10px 28px 10px 14px;
                        border-radius: 4px;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 20px;
                        color: #545454;
                        text-align: left;
                        white-space: nowrap;
                        text-decoration: none;
                        transition: background-color var(--transition-hover);
                        cursor: pointer;
                    }

                    .endorsements__filter:hover {
                        background-color: var(--panel-hover);
                    }

                    .endorsements__filter:active {
                        background-color: var(--panel-active);
                    }

        .endorsements__content {
            flex-shrink: 0;
            width: calc(100% - var(--profile-gap) - var(--profile-sidebar));
        }
            .endorsements__list {
                border: 1px solid var(--theme-light);
                border-bottom: none;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                padding-left: 32px;
                padding-right: 32px;
            }
                .endorsements__item {
                    border-top: 1px solid var(--theme-light);
                    padding-top: 42px;
                    padding-bottom: 22px;
                }

                .endorsements__item:first-child {
                    border-top: none;
                }

            .endorsements__details {
                width: 100%;
                padding: 20px 40px;
                border: none;
                background-color: transparent;
                background-image: linear-gradient(106deg, var(--theme-light), var(--theme-main));
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                color: var(--theme-text);
                cursor: pointer;
                transition: background-image var(--transition-hover);
            }

            .endorsements__details:hover {
                background-image: linear-gradient(106deg, var(--theme-light), var(--theme-main-hover));
            }

            .endorsements__details:active {
                background-image: linear-gradient(106deg, var(--theme-light), var(--theme-main-press));
                transition: none;
            }




.endorsements--faded {
    filter: blur(3px);
    /* blur performance hack: */
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
}
    .endorsements--faded::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 1));
    }
