.engagements {
    padding: 22px var(--modal-padding) 49px;
}
    .engagements__description {
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        color: #757575;
    }

    .engagements__navigation {
        margin-top: 19px;
    }

    .engagements__list {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

