.engagement-card {
    position: relative;
    display: flex;
    align-items: center;
    padding: 13px 24px 16px 32px;
    background-color: #F2F2F2;
    border-radius: 5px;
}
    .engagement-card__bar {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 14px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .engagement-card__content {
        margin-right: auto;
    }
        .engagement-card__heading {
            margin-bottom: 2px;
            font-size: 13px;
            line-height: 24px;
            color: #545454;
        }
            .engagement-card__heading strong {
                font-weight: bold;
            }

        .engagement-card__note {
            font-size: 12px;
            line-height: 20px;
            color: #545454;
        }
            .engagement-card__note strong {
                font-weight: 600;
            }

            .engagement-card__note .link {
                font-weight: normal;
                transition: opacity var(--transition-hover);
            }

            .engagement-card__note .link:hover {
                opacity: 0.7;
            }

        .engagement-card__view-more {
            display: inline-block;
            vertical-align: top;
            padding: 4px 0 0;
            border: none;
            background-color: transparent;
            font-family: inherit;
            font-weight: 600;
            font-size: 13px;
            line-height: 20px;
            color: #39606C;
            cursor: pointer;
        }

        .engagement-card__view-more:hover {
            border-bottom: 1px dotted;
        }

    .engagement-card__operations {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 208px;
        margin-left: 30px;
    }
        .engagement-card__lock {
            margin-right: 10px;
            position: relative;
            width: 28px;
            height: 28px;
            padding: 3px;
            border: 1px solid #757575;
            border-radius: 50%;
        }
            .engagement-card__lock-icon {
                vertical-align: top;
                fill: #000000;
            }

            .engagement-card__lock .bubble--right-leaf {
                margin-right: -14px;
                margin-bottom: 6px;
            }

        .engagement-card__action {

        }
            .engagement-card__action.button,
            .engagement-card__action .button {
                width: 170px;
            }
