.entry {
    position: relative;
    padding-left: 108px;
    padding-top: 18px;
    padding-bottom: 18px;
}
    .entry__preview {
        position: absolute;
        left: 36px;
        top: 18px;
    }

    .entry__heading {
        font-size: 14px;
        line-height: 24px;
        color: #757575;
    }
        .entry__name {
            padding-top: 4px;
            padding-bottom: 4px;
            font-weight: 600;
            color: #1F1F1F;
            text-decoration: none;
            transition: opacity var(--transition-hover);
        }

        .entry__name:hover {
            opacity: 0.7;
        }

    .entry__content {
        margin-top: 1px;
        font-size: 14px;
        line-height: 24px;
        color: #1F1F1F;
    }

    .entry__addition {
        margin-top: 15px;
    }
        .entry__photo {
            display: inline-block;
            vertical-align: top;
            transition: opacity var(--transition-hover);
        }

        .entry__photo:hover {
            opacity: 0.7;
        }

            .entry__image {
                vertical-align: top;
                border-radius: 2px;
                background-color: var(--image-fallback);
            }
