.event-card {
    position: relative;
}
    .event-card__link {
        display: block;
        text-decoration: none;
        min-height: 161px;
        padding: 26px 44px 24px 167px;
        background-color: #F6F6F6;
        border-radius: 20px;
        color: #757575;
    }

    .event-card:hover .event-card__link {
        background-color: #E8E8E8;
    }
        .event-card__date {
            position: absolute;
            left: 22px;
            top: 22px;
            width: 117px;
            height: 117px;
            background-color: #FFFFFF;
            border-radius: 10px;
        }
            .event-card__month {
                padding-top: 24px;
                font-weight: bold;
                font-size: 14px;
                line-height: 20px;
                color: #AAAAAA;
                padding-left: 5px;
                letter-spacing: 5px;
                text-transform: uppercase;
                text-align: center;
            }

            .event-card__day {
                margin-top: 4px;
                font-weight: 300;
                font-size: 46px;
                line-height: 46px;
                color: #545454;
                letter-spacing: -1px;
                text-align: center;
            }

        .event-card__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: inherit;
            font-size: 21px;
            line-height: 24px;
            letter-spacing: -0.3px;
        }

        .event-card__data {
            margin-top: 23px;
        }
            .event-card__note {
                margin-top: 6px;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: -0.2px;
            }

            .event-card__note:first-child {
                margin-top: 0;
            }

            .event-card__author {
                margin-top: -9px;
                margin-bottom: -2px;
            }

        .event-card__people {
            position: absolute;
            right: 13px;
            top: 75px;
        }

    .event-card__actions {
        position: absolute;
        right: -3px;
        top: 7px;
    }
        .event-card__actions .operations__dropdown {
            z-index: 10; /* make dropdown higher then .event-card itself, even higher than the following .event-card */
        }
