/* This is original and outdated piece of code that makes news to be a horizontal carousel.
   Also check _network-news-responsiveness.css

   Scroll down to see actual version.
   http://joxi.ru/MAjlv11FjnGeJm

.event {
    padding-left: 84px;
    padding-right: 16px;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #E8E8E8;
    border-radius: 3px;
}

.event + .event {
    margin-top: 0;
}
    .event + .event::before {
        display: none;
    }

    .event__preview,
    .event__preview.avatar {
        left: 17px;
    }
*/


/* This is more recent stylefile update that makes it simpler: no scrollbar and no carousel */

.event {
    /*position: relative;*/
    /*display: block;*/
    /*padding: 12px 30px 12px 91px;*/
    padding-left: 71px;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    /*text-decoration: none;*/
    /*border-radius: 8px;*/
    /*transition: background-color var(--transition-hover);*/
}

.event:hover {
    background-color: transparent;
}

.event:active {
    background-color: transparent;
}

.event + .event {
    /*margin-top: -1px;*/
}
    .event + .event::before {
        /*content: "";*/
        /*position: absolute;*/
        /*left: 0;*/
        /*top: 0;*/
        /*right: 0;*/
        /*height: 1px;*/
        /*background-color: #E8E8E8;*/
        /*transition: opacity var(--transition-hover);*/
    }

    .event:hover::before,
    .event:hover + .event::before {
        /*opacity: 0;*/
    }


    .event__preview,
    .event__preview.avatar {
        /*position: absolute;*/
        left: 0;
        /*top: 12px;*/
    }

    .event__head {
        /*padding-top: 2px;*/
        /*font-size: 13px;*/
        /*line-height: 20px;*/
        /*color: #333333;*/
    }
        .event__icon {
            /*vertical-align: top;*/
            /*margin-right: 6px;*/
            /*width: 18px;*/
            /*height: 18px;*/
            /*fill: #757575;*/
        }

        .event__name {
            /*font-weight: 600;*/
        }

        .event__time {
            /*color: #757575;*/
            /*white-space: nowrap;*/
        }

    .event__content {
        /*padding-bottom: 2px;*/
        /*font-size: 13px;*/
        /*line-height: 24px;*/
        /*color: #333333;*/
    }
