.explore-side {
    position: relative;
    padding-top: 10px;
    padding-bottom: 40px;
}
    .explore-side__container {
        width: 226px;
        margin-left: auto;
        margin-right: auto;
    }

    .dashboard--enlarged-aside .explore-side__container {
        width: 238px;
    }

        .explore-side__location {

        }

        .explore-side__show-audio {
            margin-top: 24px;
        }

        .explore-side__audio {
            margin-top: 24px;
        }

        .explore-side__people {
            margin-top: 24px;
        }
