.experience {

}
    .experience__heading {
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        padding: 5px 21px;
        background-color: var(--theme-light);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #545454;
    }
        .experience__edit {
            margin-left: auto;
        }
        .experience__edit.button,
        .experience__edit .button {
            box-shadow: inset 0 0 0 1px var(--theme-main);
        }

    .experience__body {
        border: 1px solid var(--theme-light);
        padding: 25px 28px 30px;
        border-top: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
        .experience__list {

        }
            .experience__item {
                margin-top: 40px;
            }

            .experience__item:first-child {
                margin-top: 0;
            }

        .experience__more {
            margin-top: 13px;
        }

        .experience__more.button,
        .experience__more .button {
            width: 188px;
        }
