.explore {

}
    .explore__wrap {

    }
        .explore__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 18px;
            line-height: 20px;
            color: #545454;
        }

        .explore__desktop-links {
            display: flex;
            align-items: flex-start;
        }
            .explore__desktop-item {
                margin-left: 10px;
            }

            .explore__desktop-item:first-child {
                margin-left: 0;
            }


        .explore__mobile-links {
            display: flex;
            align-items: flex-start;
            padding-top: 24px;
            padding-bottom: 22px;
        }
            .explore__mobile-item {
                margin-left: 10px;
            }

            .explore__mobile-item:first-child {
                margin-left: 0;
            }
