.explore-side {
    /*position: relative;*/
    padding-top: 0;
    padding-bottom: 0;
}
    .explore-side__container {
        width: 100%;
        /*margin-left: auto;*/
        /*margin-right: auto;*/
    }
        .explore-side__location {
            display: none; /* will be shown by .explore-location-visible */
        }

        .explore-location-visible .explore-side__location {
            display: block;
        }

        .explore-side__show-audio {
            display: none;
        }

        .explore-side__audio {
            position: fixed;
            z-index: 800;
            left: 0;
            right: 0;
            bottom: 0;
        }


        .playlist-expanded .explore-side__audio {
            margin-top: 0;
            bottom: auto;
            top: 0;
        }

        .explore-side__people {
            display: none;
        }
