.file-bar {
    display: flex;
    align-items: center;
    padding: 9px 13px 9px 24px;
    border: 1px solid var(--theme-light);
    border-radius: 8px;
}
    .file-bar__drag {
        margin-left: -30px;
        padding: 10px;
        cursor: move;
    }
        .file-bar__dots {
            vertical-align: top;
            width: 24px;
            height: 24px;
            fill: #757575;
        }

    .file-bar__icon {
        flex-shrink: 0;
        margin-right: 20px;
        vertical-align: top;
        fill: #333333;
    }

    .file-bar__body {
        padding-right: 20px;
        overflow: hidden;
    }
        .file-bar__heading {
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: #333333;
        }

        .file-bar__description {
            margin-top: 1px;
            margin-bottom: -1px;
            font-size: 12px;
            line-height: 20px;
            color: #545454;
        }

    .file-bar__action {
        margin-left: auto;
    }

