.find-connections {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, max-content)); /* this solution works only with specific widths: when parental
                                                                             widths is limited by 2 columns of 220px. If parent will be 660+
                                                                             3rd column will appear because of repeat thing */
    align-items: center;
    gap: 12px 24px;
    padding: 16px 24px 24px;
    background-color: var(--theme-light);
    border-radius: 4px;
}
    .find-connections__body  {

    }
        .find-connections__heading {
            display: flex;
            align-items: flex-start;
        }
            .find-connections__icon {
                margin-left: -2px;
                margin-right: 11px;
                fill: var(--theme-text);
            }

            .find-connections__heading {
                margin-top: 5px;
                font-weight: 600;
                font-size: 14px;
                line-height: 22px;
                color: var(--theme-text);
            }

        .find-connections__description {
            margin-top: 9px;
            font-size: 13px;
            line-height: 25px;
            color: var(--theme-text);
        }

    .find-connections__action {

    }
        .find-connections__action.button,
        .find-connections__action .button {
            width: 100%;
            padding-left: 40px;
            padding-right: 40px;
        }
