.flyover {
    position: fixed;
    z-index: 1050; /* higher than header (same as bootstrap) */
    padding-bottom: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition-show),
                visibility var(--transition-show);
}

.flyover--visible {
    opacity: 1;
    visibility: visible;
}
    /* peak */
    .flyover__peak {
        position: absolute;
        display: block;
        width: 12px;
        height: 12px;
        transform: rotate(45deg);
    }

    .flyover__peak--shadow {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.11);
    }

    .flyover__peak--background {
        background-color: #FFFFFF;
    }


    .flyover__bubble {
        position: relative;
        background-color: #FFFFFF;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.11);
        border-radius: 7px;
    }

