.followers {
    position: relative;
    padding: 12px 20px 18px;
    background-color: #F6F6F6;
    border-radius: 4px;
}
    .followers__heading {
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: #545454;
    }

    .followers__add {
        position: absolute;
        right: 9px;
        top: 6px;
        border: none;
        display: block;
        width: 32px;
        height: 32px;
        padding: 8px;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color var(--transition-hover);
    }

    .followers__add:hover {
        background-color: #CCCCCC;
    }
        .followers__plus {
            vertical-align: top;
            fill: #9CB2BE;
        }

    .followers__value {
        margin-top: 7px;
        font-size: 41px;
        line-height: 41px;
        color: #333333;
    }

    .followers__stats {
        margin-top: 6px;
        font-size: 13px;
        line-height: 20px;
        color: #545454;
    }
        .followers__growth {
            margin-right: 11px;
            margin-top: -1px;
            float: left;
            fill: #9CB2BE;
        }
