.footer {
    padding-top: 20px;
    padding-bottom: 31px;
}

.has-player3 .footer {
    border-bottom: var(--player3-mobile-height) solid #23282C;
}
    .footer__wrap {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-bottom: 82px;
    }
        .footer__summary {

        }
            .footer__logo {

            }

            .footer__slogan {

            }

            .footer__operations {
                margin-top: 35px;
                display: block;
            }
                .footer__action {
                    width: 100%;
                }

                .footer__action--register {

                }

                .footer__action--register:hover {

                }

                .footer__action--register:active {

                }


                .footer__action--login {
                    margin-top: 16px;
                    margin-left: 0;
                }

                .footer__action--login:hover {

                }

                .footer__action--login:active {

                }

            .footer__copyright {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 28px;
                margin-top: 0;
            }

        .footer__contacts {
            order: 3;
            display: flex;
            flex-direction: column;
            margin-top: 0;
        }
            .footer__email {

            }

            .footer__email:hover {

            }

            .footer__address {

            }

            .footer__social-networks {
                margin-top: 16px;
                margin-bottom: 13px;
                order: -1;
            }

        .footer__navigation {
            margin-top: 54px;
        }
            .footer__nav-heading {

            }

            .footer__menu {

            }
                .footer__column {

                }

                .footer__column:first-child {

                }
                    .footer__link {

                    }

                    .footer__link:hover {

                    }


            .footer__policies {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                margin-top: 0;
            }

            .footer__policies:hover {

            }



.explore-location-visible {

}
    .explore-location-visible .footer {

    }


.playlist-expanded {

}
    .playlist-expanded .footer {

    }
