.form {
    max-width: var(--form-width);
}
    .form__description {
        font-size: 13px;
        line-height: 20px;
        color: #757575;
    }

    .form__item {
        margin-top: 13px;
    }

    .form__item:first-child {
        margin-top: 0;
    }



