.full-user-media {
    padding-top: 57px;
}
    .full-user-media__head {

    }

    .full-user-media__body {
        padding: 34px 15px 37px;
        border-left: 1px solid var(--theme-light);
        border-right: 1px solid var(--theme-light);
        border-bottom: 1px solid var(--theme-light);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
        .full-user-media__section {
            margin-top: 32px;
            display: flex;
            align-items: flex-start;
        }
            .full-user-media__sidebar {
                flex-shrink: 0;
                width: 70px;
                margin-right: var(--profile-gap);
            }
                .full-user-media__sub-heading {
                    margin-top: 4px;
                    margin-bottom: 0;
                }

            .full-user-media__content {
                flex-shrink: 0;
                width: calc(100% - var(--profile-gap) - 70px);
                padding-right: 105px;
            }

            .full-user-media__content {

            }
