.full-media-card {

}
    .full-media-card__link {

    }
        .full-media-card__stage {
            width: 100%;
            border-radius: 0; /* same as modals */
        }
            .full-media-card__image {

            }

            .full-media-card__overlay {

            }

            .full-media-card:hover .full-media-card__overlay {

            }

            .full-media-card__upload-spot {

            }

            .full-media-card:hover .full-media-card__upload-spot {

            }
                .full-media-card__circle {

                }
                    .full-media-card__arrow {

                    }

            .full-media-card__upload-button {

            }

            .full-media-card:hover .full-media-card__upload-button {

            }


        .full-media-card__playback {

        }

        .full-media-card__playback:hover {

        }

        .full-media-card__playback:active {

        }
            .full-media-card__play {

            }

            .full-media-card--playing .full-media-card__play {

            }

            .full-media-card:not(.full-media-card--playing) .full-media-card__pause {

            }


        .full-media-card__type {

        }

        .full-media-card__content {

        }
            .full-media-card__company {

            }

            .full-media-card__heading {

            }

            .full-media-card__name {

            }

        .full-media-card__details {

        }
            .full-media-card__cover {
                border-radius: 0;
            }
                .full-media-card__box-art {

                }

                .full-media-card__cover::after {

                }

            .full-media-card__bars {

            }
            .full-media-card__bars.alt-playback {

            }

            .full-media-card--playing .full-media-card__bars {

            }

            .full-media-card__timing {

            }


    .full-media-card__crop {

    }
        .full-media-card__crop.button,
        .full-media-card__crop .button {

        }


    .full-media-card__info {

    }
        .full-media-card__info.button,
        .full-media-card__info .button {

        }

    .full-media-card__actions {

    }

.full-media-card--audio {

}
    .full-media-card--audio .full-media-card__stage {

    }

    .full-media-card--audio .full-media-card__content {

    }


.full-media-card--project {

}
    .full-media-card--project .full-media-card__stage {

    }

    .full-media-card--project .full-media-card__content {

    }


.full-media-card--popup {

}
    .full-media-card--popup .full-media-card__stage {

    }
