.full-biography {

}
    .full-biography__head {
        margin-top: 0;
        margin-bottom: 0;
    }

    .full-biography__mobile-footer {
        display: none;
    }

    .full-biography__body {
        display: flex;
        align-items: flex-start;
        border-left: 1px solid var(--theme-light);
        border-right: 1px solid var(--theme-light);
        border-bottom: 1px solid var(--theme-light);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 34px 21px 29px;
    }
        .full-biography__content {

        }
            .full-biography__wrapper {
                display: flex;
                align-items: flex-start;
                gap: 50px;
            }
                .full-biography__about {
                    width: 50%;
                    color: #545454;
                    margin-top: 2px;
                }
                    .full-biography__sub-heading {
                        margin-top: 0;
                        margin-bottom: 12px;
                    }

                .full-biography__expand {
                    display: none;
                }

                .full-biography__comments {
                    width: 50%;
                }
                    .full-biography__comments-heading {
                        display: none;
                    }

            .full-biography__footer {
                margin-top: 39px;
                display: flex;
                align-items: flex-start;
                margin-left: -20px;
                margin-right: -20px;
            }
                .full-biography__action {
                    width: calc(33.3333% - 40px);
                    margin-left: 20px;
                    margin-right: 20px;
                }
