.full-media-card {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
    .full-media-card__link {
        position: relative;
        display: block;
    }
        .full-media-card__stage {
            position: relative;
            border-radius: 6px;
            overflow: hidden;
        }
            .full-media-card__image {
                vertical-align: top;
                background-color: var(--image-fallback);
            }

            /*.full-media-card__overlay {*/
            /*    position: absolute;*/
            /*    left: 0;*/
            /*    top: 0;*/
            /*    right: 0;*/
            /*    bottom: 0;*/
            /*    display: block;*/
            /*    background-image: linear-gradient(32.38deg, rgba(51, 51, 51, 0.89) 25.89%, rgba(51, 51, 51, 0.4094) 42.15%, rgba(255, 255, 255, 0) 71.61%);*/
            /*    background-repeat: no-repeat;*/
            /*    background-position: center center;*/
            /*    transition: transform 0.3s ease;*/
            /*}*/

            /*.full-media-card:hover .full-media-card__overlay {*/
            /*    transform: translate(25%, -25%) scale(2);*/
            /*}*/

            .full-media-card__upload {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(196, 196, 196, 0.89);
                opacity: 0;
                transition: opacity var(--transition-hover);
            }

            .full-media-card:hover .full-media-card__upload {
                opacity: 1;
            }
                .full-media-card__circle {
                    position: absolute;
                    left: 0;
                    top: 10px;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    width: 66px;
                    height: 66px;
                    padding: 14px 16px 18px;
                    background-color: #FFFFFF;
                    border-radius: 50%;
                }
                    .full-media-card__arrow {
                        vertical-align: top;
                        fill: #333333;
                        width: 34px;
                        height: 34px;
                    }

        .full-media-card__content {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding-left: 26px;
            padding-right: 26px;
            padding-bottom: 25px;
        }
            .full-media-card__heading {
                margin-top: 18px;
                font-weight: bold;
                font-size: 14px;
                line-height: 20px;
                color: #FFFFFF;
            }

            .full-media-card__name {
                margin-top: 4px;
                font-size: 14px;
                line-height: 20px;
                color: #FFFFFF;
            }

    .full-media-card__crop {
        position: absolute;
        right: 25px;
        bottom: 25px;
    }
        .full-media-card__crop.button,
        .full-media-card__crop .button {
            padding-left: 20px;
            padding-right: 20px;
        }
