.gallery {
    display: flex;
    align-items: center;
}
    .gallery__list {
        flex-grow: 1;
    }
        .gallery__preview {
            display: inline-block;
            vertical-align: top;
            transition: opacity var(--transition-hover);
        }

        .gallery__preview:hover {
            opacity: 0.8;
        }
            .gallery__image {
                width: 100%;
                height: auto;
                vertical-align: top;
                background-color: var(--image-fallback);
                border-radius: 3px;
            }

    .gallery__more {
        margin-left: 30px;
    }


.gallery--one-photo {

}
    .gallery--one-photo .gallery__list {

    }
        .gallery--one-photo .gallery__preview {

        }
            .gallery--one-photo .gallery__image {
                max-width: 100%;
                width: auto;
                max-height: 438px;
                border-radius: 4px;
            }


.gallery--two-photo {

}
    .gallery--two-photo .gallery__list {
        display: grid;
        gap: 18px;
        grid-template-columns: 2fr 2fr;
    }
        .gallery--two-columns .gallery__preview {

        }


.gallery--3-or-4-or-5-photo {

}
    .gallery--3-or-4-or-5-photo .gallery__list {
        display: grid;
        gap: 18px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
    }

    /* stylelint-disable */
    .gallery--3-or-4-or-5-photo .gallery__preview:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .gallery--3-or-4-or-5-photo .gallery__preview:nth-child(2) {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .gallery--3-or-4-or-5-photo .gallery__preview:nth-child(3) {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .gallery--3-or-4-or-5-photo .gallery__preview:nth-child(4) {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .gallery--3-or-4-or-5-photo .gallery__preview:nth-child(5) {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    /* stylelint-enable */
