.gate {
    background-color: #FFFFFF;
}
    .gate__cell {

    }
        .gate__background {
            display: none;
        }

        .gate__wrap {
            display: block;
        }
            .gate__intro {
                padding-bottom: 0;
            }
                .gate__branding {
                    margin-left: auto;
                    margin-right: auto;
                }

                .gate__slogan {
                    margin: 19px 0 0;
                    text-align: center;
                    width: auto;
                    /*font-size: 12px;*/
                    /*line-height: 20px;*/
                    color: #333333;
                }
                    .gate__highlight {
                        /*font-weight: bold;*/
                    }

            .gate__form {
                width: auto;
                margin-top: 50px;
                max-width: 380px;
                margin-left: auto;
                margin-right: auto;
            }




.gate--inverted {
    background-color: #404041;
}
.gate--inverted .gate__cell {

}
.gate--inverted .gate__background {

}
.gate--inverted .gate__photo {

}

.gate--inverted .gate__overlay {

}

.gate--inverted .gate__credits {

}
.gate--inverted .gate__credits .link {

}


.gate--inverted .gate__wrap {

}
.gate--inverted .gate__intro {

}
.gate--inverted .gate__branding {

}

.gate--inverted .gate__slogan {
    color: #FFFFFF;
}
.gate--inverted .gate__highlight {

}

.gate--inverted .gate__form {

}

