.gate {
    display: block;
    height: auto;
    min-height: 100%;
    /*width: auto;*/
    /*height: auto;*/
}
    .gate__cell {
        display: block;
        /*width: auto;*/
        /*height: auto;*/
    }
        .gate__wrap {
            display: block;
            padding-top: 40px;
            /*padding-bottom: 90px;*/
            max-width: 400px;
        }
            .gate__intro {
                padding-left: 0;
                padding-bottom: 0;
            }
                .gate__branding {
                    margin-left: auto;
                    margin-right: auto;
                }

                .gate__slogan {
                    display: none;
                    /*margin-top: 24px;*/
                    /*width: 286px;*/
                    /*font-size: 18px;*/
                    /*line-height: 29px;*/
                    /*color: #8B8B8B;*/
                }

                .gate__mobile-slogan {
                    display: block;
                    margin-top: 13px;
                    font-size: 17px;
                    line-height: 20px;
                    color: #AFAFAF;
                    text-align: center;
                }

                    .gate__highlight {
                        /*font-weight: inherit;*/
                        /*color: #FFFFFF;*/
                    }

            .gate__form {
                margin-top: 49px;
                width: auto;
                padding: 0;
                background-color: transparent;
            }
