.gate {
    display: table;
    vertical-align: top;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    background-color: #404041;
}
    .gate__cell {
        position: relative;
        display: table-cell;
        padding: 0;
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }
        .gate__background {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
            .gate__photo {
                width: 100%;
                height: 100%;
                object-fit: cover;
                vertical-align: top;
            }

            .gate__overlay {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(35, 40, 44, 0.8);
            }

            .gate__credits {
                position: fixed;
                z-index: 20;
                left: 30px;
                bottom: 18px;
                font-weight: 300;
                font-size: 12px;
                line-height: 20px;
                color: #FFFFFF;
            }
                .gate__credits .link {
                    font-weight: 600;
                    color: inherit;
                }


        .gate__wrap {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 60px;
            padding-bottom: 60px;
        }
            .gate__intro {
                padding-bottom: 34px;
            }
                .gate__branding {
                    margin-left: auto;
                    margin-right: auto;
                }

                .gate__slogan {
                    margin-top: 19px;
                    width: 286px;
                    font-size: 12px;
                    line-height: 20px;
                    color: #FFFFFF;
                }
                    .gate__highlight {
                        font-weight: bold;
                    }


                .gate__org {

                }
                    .gate__org-summary {
                        display: flex;
                        align-items: flex-start;
                    }
                        .gate__preview {
                            position: relative;
                            flex-shrink: 0;
                            margin-left: -5px;
                        }
                            .gate__preview::after {
                                content: "";
                                position: absolute;
                                left: 100%;
                                margin-left: 32px;
                                top: 47px;
                                width: 1px;
                                height: 49px;
                                background-color: #FFFFFF;
                            }

                        .gate__org-branding {
                            margin-left: 54px;
                            margin-top: 41px;
                        }


                    .gate__org-slogan {
                        margin-top: 23px;
                        width: 377px;
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 26px;
                        color: #FFFFFF;
                        letter-spacing: -0.3px;
                    }
                        .gate__org-highlight {
                            font-weight: 600;
                        }




            .gate__form {
                width: 380px;
                flex-shrink: 0;
            }

