.group {

}

.group + .group {
    margin-top: 3px;
}

    .group__back {
        float: left;
        margin-top: 2px;
        margin-right: 26px;
        margin-left: -6px;
    }

    .group__heading {
        margin-top: 0;
        margin-bottom: 0;
        color: #757575;
    }

    .group__control-panel {
        position: relative;
        display: flex;
        align-items: flex-start;
        margin-top: 26px;
    }
        .group__control-panel::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: 10px;
            right: 0;
            height: 1px;
            background-color: #C4C4C4;
        }

        .group__sorting {
            position: relative;
            background-color: #FFFFFF;
            padding-right: 25px;
            padding-bottom: 10px; /* to make sure this is over bottom line, even while zooming */
        }

        .group__filtering {
            margin-left: auto;
            width: 278px;
            padding-left: 30px;
            padding-bottom: 10px; /* to make sure this is over bottom line, even while zooming */
            position: relative;
            background-color: #FFFFFF;
        }

    .group__body {
        margin-top: 20px;
        position: relative;
    }
        .group__listing {
            padding-left: 22px;
            padding-right: 22px;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
        }
            .group__item {

            }

        .group__more {
            position: absolute;
            right: -65px;
            top: 73px;
        }
