.happening {

}
    .happening__head {
        display: flex;
        align-items: flex-start;
    }
        .happening__icon {
            margin-left: -3px;
            fill: #C5C5C5;
            vertical-align: top;
        }

        .happening__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
            color: #8B8B8B;
        }

        .happening__icon + .happening__heading {
            margin-left: 10px;
        }

        .happening__filters {
            display: flex;
            align-items: flex-start;
            margin: -3px -5px -3px 7px;
        }

    .happening__body {
        margin-top: 10px;
        margin-left: -6px;
        margin-right: -6px;
    }
        .happening__body .null__inner {
            min-height: 128px;
            margin-top: 8px;
        }
