.header-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 64px;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
    /* hover: */
    .header-button::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 34px;
        height: 34px;
        border: 1px solid #EAEAEA;
        border-radius: 50%;
        transition: background-color var(--transition-hover);
    }

    .header-button:hover::before {
        background-color: var(--panel-hover);
    }

    .header-button:active::before {
        background-color: var(--panel-active);
        transition: none;
    }

    .header-button__icon {
        position: relative;
        vertical-align: top;
        fill: #000000;
    }

    .header-button--messages .header-button__icon {
        width: 20px;
        height: 20px;
    }

    .header-button--notifications .header-button__icon {
        width: 16px;
        height: 16px;
    }



    .header-button__updates {
        position: absolute;
        right: 9px;
        top: 12px;
    }


.header-button--dark {

}
    .header-button--dark .header-button::before {

    }

    .header-button--dark .header-button__icon {
        fill: #F2F2F2;
    }

    .header-button--dark .header-button__updates {

    }


.header-button--dark:hover {

}
    .header-button--dark:hover::before {
        background-color: #4E4E4E;
    }

    .header-button--dark:hover .header-button__icon {

    }

    .header-button--dark:hover .header-button__updates {

    }
