.header { /* This always stays on the page and reserves height for the header */
    position: relative;
    z-index: 1000;
    height: var(--header-height);
}
    .header__detachable-panel { /* This is inside of .header by default or can be position:fixed on 1240+ */
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        min-width: 1220px;
        height: var(--header-height);
        background: #FFFFFF;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);
        display: flex;
        align-items: flex-start;
    }
        .header__branding {
            box-sizing: content-box;
            border-top: 12px solid transparent; /* expand clickable area using borders */
            border-bottom: 12px solid transparent;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
        }

        .header__auth {
            position: absolute; /* take it away from .header__top-bar */
            right: 0;
            top: 0;
            display: flex;
            align-items: flex-start;
        }
            .header__login {
                position: relative;
                display: inline-block;
                vertical-align: top;
                height: 64px;
                padding: 22px;
                font-size: 12px;
                line-height: 20px;
                color: #AAAAAA;
                text-decoration: none;
            }
                .header__login::before {
                    content: "";
                    position: absolute;
                    left: 6px;
                    right: 6px;
                    top: 50%;
                    margin-top: -18px;
                    height: 36px;
                    border-radius: 18px;
                    display: block;
                }

                .header__login:hover::before {
                    background-color: #F2F2F2;
                }

            .header__join {
                position: relative;
                display: inline-block;
                vertical-align: top;
                height: 64px;
                padding: 22px 50px 22px 34px;
                font-size: 12px;
                line-height: 20px;
                color: #AAAAAA;
                text-align: center;
                text-decoration: none;
            }
                .header__join::before {
                    content: "";
                    position: absolute;
                    left: 6px;
                    right: 22px;
                    top: 50%;
                    margin-top: -18px;
                    height: 36px;
                    border: 1px solid #E8E8E8;
                    border-radius: 18px;
                    display: block;
                }

                .header__join:hover::before {
                    background-color: #F2F2F2;
                }

                .header__label {
                    position: relative;
                }

        .header__greetings {
            position: absolute;
            right: 210px;
            top: 20px;
            font-size: 14px;
            line-height: 20px;
            color: #757575;
        }

        .header__menu {
            position: absolute;
            right: 15px;
            top: 0;
            display: flex;
            align-items: flex-start;
        }
            .header__item {

            }

            .header__item:first-child {
                margin-left: 0;
            }




.header--dark {

}
    .header--dark .header__detachable-panel {
        background-color: #333333;
        box-shadow: none;
    }


        .header--dark .header__greetings {
            color: #F2F2F2;
        }



        .header--dark .header__auth {

        }
            .header--dark .header__login {

            }

            .header--dark .header__join {

            }
                .header__label {

                }


        .header--dark .header__login {
            color: #AAAAAA;
        }
            .header--dark .header__login::before {

            }

        .header--dark .header__login:hover {

        }
            .header--dark .header__login:hover::before {
                background-color: #4E4E4E;
            }

        .header--dark .header__join {
            color: #AAAAAA;
        }
            .header--dark .header__join::before {
                border-color: #AAAAAA;
            }

        .header--dark .header__join:hover {

        }
            .header--dark .header__join:hover::before {
                background-color: #4E4E4E;
            }


        .header--dark .header__menu {

        }
            .header--dark .header__item {

            }


@media (max-width: 991px) {
    .header__greetings {
        display: none;
    }
}
