.header-button {
    width: 56px;
}
    .header-button__icon {

    }

    .header-button__icon--burger {

    }

    .header-button__icon--close-burger {
        display: none;
    }

    .header-button__icon--burger {
        display: block;
    }


    .sidebar-visible .header-button__icon--burger {
        display: none;
    }

    .sidebar-visible .header-button__icon--close-burger {
        display: block;
    }


.header-button--sidebar {
    display: flex;
}
