.header {

}
    .header__detachable-panel {
        position: fixed;
        display: block;
        min-width: 0;
        padding: 0;
        background-color: #FFFFFF;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);
    }
        .header__branding {

        }

        @media (max-width: 359px) {
            .header__branding {
                width: 40px;
            }
        }

        .header__auth {
            right: 0;
        }
            .header__login {

            }

            .header__join {

            }
                .header__label {

                }

                    @media (max-width: 399px) {
                        .header__stagetime-label {
                            display: none;
                        }
                    }

        .header__greetings {

        }

        .header__menu {
            right: 4px;
        }
            .header__item {
                /*margin-left: 26px;*/
            }

            .header__item:first-child {
                /*margin-left: 0;*/
            }


.playlist-expanded .header {
    display: none;
}
