.header-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
    .header-button__icon {
        vertical-align: top;
        fill: #545454;
    }


.header-button--flagged {
    padding-top: 4px;
    padding-right: 4px;
}
    .header-button--flagged .header-button__icon {
        width: 24px;
        height: 24px;
    }

    .header-button__updates {
        position: absolute;
        right: 4px;
        top: 4px;
    }


.header-button--dark {

}
    .header-button--dark .header-button__icon {
        fill: #F2F2F2;
    }

.header-button--user-color {

}
    .header-button--user-color .header-button__icon {
        fill: var(--user-color);
    }
