.header-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    width: 64px;
    height: 64px;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
    /* hover: */
    .header-button::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: background-color var(--transition-hover);
    }

    .header-button:hover::before {
        background-color: #F4F4F4;
    }

    .header-button__icon {
        position: relative;
        vertical-align: top;
        width: 24px;
        height: 24px;
        fill: #545454;
    }

    .header-button__updates {
        position: absolute;
        right: 14px;
        top: 14px;
    }


.header-button--dark {

}
    .header-button--dark .header-button::before {

    }

    .header-button--dark .header-button__icon {
        fill: #F2F2F2;
    }

    .header-button--dark .header-button__updates {

    }


.header-button--dark:hover {

}
    .header-button--dark:hover::before {
        background-color: #4E4E4E;
    }

    .header-button--dark:hover .header-button__icon {

    }

    .header-button--dark:hover .header-button__updates {

    }



.header-button--user-color {

}
    .header-button--user-color .header-button__icon {
        fill: var(--user-color);
    }
