.header {

}
    .header__detachable-panel {
        position: fixed;
        display: block;
        min-width: 0;
        padding: 0;
        background-color: #FFFFFF;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);
    }
        .header__branding {

        }

        .header__auth {
            right: 0;
        }
            .header__login {

            }

            .header__join {

            }

        .header__greetings {

        }

        .header__menu {
            right: 4px;
        }
            .header__item {
                /*margin-left: 26px;*/
            }

            .header__item:first-child {
                /*margin-left: 0;*/
            }


.header--dark {

}
    .header--dark .header__detachable-panel {
        /*background-color: #333333;*/
        /*box-shadow: none;*/
    }
        .header--dark .header__top-bar {
            background-color: #333333;
            box-shadow: none;
        }
            .header--dark .header__branding {

            }

            .header--dark .header__handlers {
                /*display: none;*/
            }
                .header--dark .header__search-handler {

                }
                    .header--dark .header__search-handler::before {
                        background-color: #AAAAAA;
                    }

                    .header--dark .header__magnifier {
                        fill: #FFFFFF;
                    }

                .header--dark .header__notifications-handler {

                }
                    .header--dark .header__bell {
                        fill: #AAAAAA;
                    }

                .header--dark .header__profile-handler {

                }

        .header--dark .header__dropdown {

        }

        .header--dark .header__private-area {

        }
            .header--dark .header__greetings {

            }

            .header--dark .header__menu {

            }
                .header--dark .header__item {

                }

                .header--dark .header__item:first-child {

                }


                .header--dark .header__login {
                    color: #C4C4C4;
                }

                .header--dark .header__join {
                    /*background-color: transparent;*/
                    /*border-color: #AAAAAA;*/
                    color: #C4C4C4;
                }

                .header--dark .header__join:hover {
                    background-color: transparent;
                }

.playlist-expanded .header {
    display: none;
}
