.header {

}
    .header__detachable-panel {
        position: fixed;
        display: block;
        min-width: 0;
        padding: 0;
        background-color: #FFFFFF;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);
    }
        .header__branding {
            box-sizing: content-box;
            border-top: 12px solid transparent; /* expand clickable area using borders */
            border-bottom: 12px solid transparent;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
        }

        .header__auth {
            position: absolute;
            right: 0;
            top: 0;
        }
            .header__login {
                margin-top: 0;
                padding: 20px;
                /*display: inline-block;*/
                /*vertical-align: top;*/
                font-size: 12px;
                line-height: 20px;
                color: #757575;
                /*text-decoration: none;*/
            }

            .header__join {
                position: relative;
                margin-top: 0;
                margin-left: 0;
                /*display: inline-block;*/
                /*vertical-align: top;*/
                border: none;
                /*border-color: #757575;*/
                /*border-radius: 17px;*/
                height: auto;
                padding: 20px 51px 20px 24px;
                font-size: 12px;
                line-height: 20px;
                color: #757575;
                /*text-decoration: none;*/
            }
                .header__join::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 27px;
                    top: 50%;
                    margin-top: -15px;
                    height: 30px;
                    border: 1px solid currentColor;
                    border-radius: 15px;
                    display: block;
                }

            .header__join:hover {
                /*border-color: #F2F2F2;*/
            }

            @media (max-width: 359px) {

                .header__login {
                    padding-left: 15px;
                    padding-right: 15px;
                }

                .header__join {
                    padding-right: 41px;
                }
                    .header__join::after {
                        right: 17px;
                    }
            }

        .header__greetings {

        }

        .header__menu {
            right: 4px;
        }
            .header__item {
                /*margin-left: 26px;*/
            }

            .header__item:first-child {
                /*margin-left: 0;*/
            }


.header--dark {

}
    .header--dark .header__detachable-panel {
        /*background-color: #333333;*/
        /*box-shadow: none;*/
    }
        .header--dark .header__top-bar {
            background-color: #333333;
            box-shadow: none;
        }
            .header--dark .header__branding {

            }

            .header--dark .header__handlers {
                /*display: none;*/
            }
                .header--dark .header__search-handler {

                }
                    .header--dark .header__search-handler::before {
                        background-color: #AAAAAA;
                    }

                    .header--dark .header__magnifier {
                        fill: #FFFFFF;
                    }

                .header--dark .header__notifications-handler {

                }
                    .header--dark .header__bell {
                        fill: #AAAAAA;
                    }

                .header--dark .header__profile-handler {

                }

        .header--dark .header__dropdown {

        }

        .header--dark .header__private-area {

        }
            .header--dark .header__greetings {

            }

            .header--dark .header__menu {

            }
                .header--dark .header__item {

                }

                .header--dark .header__item:first-child {

                }


                .header--dark .header__login {
                    color: #C4C4C4;
                }

                .header--dark .header__join {
                    /*background-color: transparent;*/
                    /*border-color: #AAAAAA;*/
                    color: #C4C4C4;
                }

                .header--dark .header__join:hover {
                    background-color: transparent;
                }

.playlist-expanded .header {
    display: none;
}
