:root {
    --hint-gap: 15px;
}

.hint {
    display: inline-block;
    vertical-align: top;
    position: relative;
}
    /* dropdown wrapper */
    .hint__dropdown {
        position: absolute;
        z-index: 500;
        left: 50%;
        transform: translateX(-50%);
        bottom: 100%;
        padding-bottom: var(--hint-gap); /* gap in between bubble and target */
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease,
                    visibility 0.3s ease;
    }
        /* bubble shadow */
        .hint__dropdown::before {
            content: "";
            position: absolute;  /* 1) Bubble shadow at the very bottom of Z axis */
            left: 0;
            top: 0;
            right: 0;
            bottom: var(--hint-gap);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.11);
            border-radius: 7px;
        }

        /* peak */
        .hint__dropdown::after {
            content: "";
            position: absolute;/* 2) Bubble peak is higher than bubble shadow on Z axis */
            top: 100%;
            left: 50%;
            margin-left: -6px;
            margin-top: calc(-1 * (var(--hint-gap) + 6px));
            width: 12px;
            height: 12px;
            background-color: #FFFFFF;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.11);
            display: block;
            transform: rotate(45deg);
        }

        .hint__bubble {
            position: relative;
            z-index: 10; /* 3) bubble background is higher than peak on Z-axis */
            background-color: #FFFFFF;
            border-radius: 7px;
        }


    @keyframes hint-dropdown-show {
        from { margin-bottom: -10px; }
        to { margin-bottom: 0; }
    }

    .hint:hover .hint__dropdown {
        opacity: 1;
        visibility: visible;
        margin-bottom: 0;
        animation: hint-dropdown-show 0.3s ease;
    }


.hint--to-bottom {

}
    /* dropdown wrapper */
    .hint--to-bottom .hint__dropdown {
        bottom: auto;
        top: 100%;
        padding-bottom: 0;
        padding-top: var(--hint-gap); /* gap in between bubble and target */
    }
        /* bubble shadow */
        .hint--to-bottom .hint__dropdown::before {
            top: var(--hint-gap);
            bottom: 0;
        }

        /* peak */
        .hint--to-bottom .hint__dropdown::after {
            top: auto;
            bottom: 100%;
            margin-top: 0;
            margin-bottom: calc(-1 * (var(--hint-gap) + 6px));
        }

        .hint--to-bottom .hint__bubble {

        }


    @keyframes hint-dropdown-show-bottom {
        from { margin-top: -10px; }
        to { margin-top: 0; }
    }

    .hint--to-bottom:hover .hint__dropdown {
        animation: hint-dropdown-show-bottom 0.3s ease;
    }



.hint--activity-feed {

}
    .hint--activity-feed .hint__dropdown {
        transform: none;
        left: -37px;
    }

    .hint--activity-feed .hint__dropdown::after {
        left: 65px;
    }



.hint--sidebar-left {

}
    .hint--sidebar-left .hint__dropdown {
        transform: none;
        left: -15px;
        margin-top: 0 !important;
    }

    .hint--sidebar-left .hint__dropdown::after {
        left: 67px;
    }


.hint--sidebar-right {

}
    .hint--sidebar-right .hint__dropdown {
        transform: none;
        left: -138px;
        margin-top: 0 !important;
    }

    .hint--sidebar-right .hint__dropdown::after {
        left: 191px;
    }


/*.dash-side__people .circles__item:nth-child(even) .hint__dropdown {*/
/*    transform: none;*/
/*    left: auto;*/
/*    right: -35px;*/
/*}*/
