.home {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    /*position: relative;*/
    /*padding-left: var(--home-sidebar);*/
    /*padding-right: var(--home-aside);*/
}
    .home__sidebar {
        display: none;
    }

    .home__content {
        border: none;
        border-top: 4px solid #F6F6F6;
        padding: 0;
        box-shadow: none;
    }
        .home__desktop-access.access-panel,
        .home__desktop-access .access-panel {
            display: none;
        }

        .home__stats {
            /*margin-top: 22px;*/
        }

        .home__player {
            /*margin-top: 32px;*/
            border-top-width: 4px;
            /*padding-top: 32px;*/
        }

        .home__feeds {
            /*margin-top: 32px;*/
            border-top-width: 4px;
            /*padding-top: 32px;*/
            /*padding-bottom: 80px;*/
            display: block;
            /*align-items: flex-start;*/
        }
            .home__updates {
                width: auto;
                padding-right: 0;
                margin-top: 0;
            }

            .home__media {
                margin-top: 32px;
                border-top: 4px solid #F6F6F6;
                padding-top: 32px;
                width: auto;
            }


    .home__aside {
        order: -1;
        position: static;
        width: auto;
        border-left: none;
    }
        .home__summary {
            padding: 20px 30px 40px;
        }

        @media (max-width: 359px) {
            .home__summary {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

            .home__smartphone-access,
            .home__smartphone-access.access-panel {
                display: block;
            }

            .home__user {
                margin-top: 40px;
            }

            @media (max-width: 359px) {
                .home__user {
                    margin-top: 30px;
                }
            }

        .home__people {
            border-top: 4px solid #F6F6F6;
            padding-bottom: 26px;
        }


.has-player3 .home__sidebar {
    padding-bottom: 0;
}

.has-player3 .home__content {
    padding-bottom: 100px;
}

.has-player3 .home__aside {
    padding-bottom: 0;
}
