.home {
    position: relative;
    padding-right: var(--home-aside-shortened);
}
    .home__content {
        box-shadow: -2px 0 0 #E8E8E8,
                     2px 0 0 #E8E8E8;
        padding: 24px 24px 80px;
    }
        .home__desktop-access {

        }

        .home__stats {
            margin-top: 26px;
        }

        .home__player {
            margin-top: 32px;
            border-top: 2px solid #F6F6F6;
            padding-top: 32px;
        }

        .home__feeds {
            margin-top: 32px;
            border-top: 2px solid #F6F6F6;
            padding-top: 32px;
            padding-bottom: 80px;
            display: flex;
            align-items: flex-start;
        }
            .home__updates {
                width: calc(100% - 352px);
                padding-right: 24px;
            }

            .home__media {
                width: 352px;
            }

    .home__aside {
        flex-shrink: 0;
        position: absolute;
        z-index: 500;
        width: var(--home-aside-shortened);
        background-color: #FFFFFF;
        right: 0;
        top: 0;
        border-left: 2px solid #E8E8E8;
    }
        .home__summary {
            padding: 24px;
        }
            .home__smartphone-access,
            .home__smartphone-access.access-panel {
                display: none;
            }

            .home__user {

            }

        .home__people {
            padding-top: 7px;
            padding-bottom: 80px;
        }


@media (min-width: 1240px) {

    .home {
        height: 100%;
        padding-right: var(--home-aside-full);
    }
        .home__content {
            min-height: 100%;
            padding-left: 6.72%;  /* there was small 24px padding */
            padding-right: 6.72%; /* and now it is big */
        }

        .home__aside {
            position: fixed;
            top: var(--header-height);
            bottom: 0;
            width: var(--home-aside-full);
        }
}




.has-player3 {

}
    .has-player3 .home__sidebar,
    .has-player3 .home__content,
    .has-player3 .home__aside {
        padding-bottom: var(--player3-height);
    }
