.horizontal {
    position: relative;
    padding-top: 20px;
    border-bottom: 26px solid var(--theme-light);
}
    .horizontal::before {
        content: "";
        position: absolute;
        z-index: 30;
        left: 0;
        top: 0;
        right: 0;
        height: 20px;
        background-color: var(--theme-main);
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
    }

    .horizontal__stripe {
        position: relative;
        z-index: 20;
        height: 567px;
    }
        .horizontal__stripe::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 0.5;
            background-color: var(--theme-light);
        }

        .horizontal__jumbotron {
            position: relative;
            height: 100%;
            max-width: 1440px;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

            .horizontal__mobile-bio {
                display: none;
            }

            .horizontal__summary {
                padding-top: 32px;
                padding-bottom: 50px;
            }
                .horizontal__header {

                }

                .horizontal__data {
                    margin-top: 21px;
                    display: flex;
                    align-items: flex-start;
                }
                    .horizontal__sidebar {
                        flex-shrink: 0;
                        width: 280px;
                        margin-right: 60px;
                    }
                        .horizontal__currently {

                        }
                            .horizontal__connections {
                                padding-top: 28px;
                            }

                            .horizontal__position {
                                padding-top: 17px;
                            }

                        .horizontal__left-region {

                        }
                            .horizontal__widget {
                                margin-top: var(--talent-gap);
                                border-top: 1px solid var(--theme-light);
                                padding-top: 24px;
                            }

                    .horizontal__content {
                        width: calc(100% - 280px - 60px);
                    }
                        .horizontal__menu {

                        }

                        .horizontal__description {
                            margin-top: 36px;
                        }

                        .horizontal__description:first-child {
                            margin-top: 0;
                        }

                        .horizontal__gallery {
                            margin-top: 36px;
                            border: 1px solid var(--theme-light);
                            border-radius: 6px;
                            /*height: 262px; this has become troublesome when Edit button appeared */
                        }

                        .horizontal__gallery:first-child {
                            margin-top: 0;
                        }

                            .horizontal__gallery .icon-bar {
                                border: 7px solid transparent;
                            }

                        .horizontal__footer {
                            margin-top: 32px;
                            display: flex;
                            align-items: flex-start;
                        }
                            .horizontal__management {
                                width: 308px;
                                border-top: 1px solid var(--theme-light);
                                padding-top: 25px;
                            }

                            .horizontal__social {
                                margin-top: 0; /* bootstrap conflict */
                                margin-left: 58px;
                                border-top: 1px solid var(--theme-light);
                                padding-top: 25px;
                                flex-grow: 1;
                            }

                        .horizontal__register {
                            margin-top: 37px;
                        }

                        .horizontal__edits {
                            margin-top: 29px;
                            display: flex;
                        }
                            .horizontal__editing-handler {
                                margin-left: 30px;
                            }

                            .horizontal__editing-handler:first-child {
                                margin-left: 0;
                            }

                            .horizontal__editing-handler.button,
                            .horizontal__editing-handler .button {
                                padding-left: 40px;
                                padding-right: 40px;
                            }



@media (min-width: 1240px) {
    .horizontal__sidebar {
        margin-right: 86px;
    }

    .horizontal__content {
        width: calc(100% - 280px - 86px);
    }
}
