html {
    min-width: 1220px; /* dashboard is widest page so far: 1200px (plus 20px for scrollbar on the right */
    overflow-y: scroll;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
