.icon-bar {
    display: flex;
    align-items: center;
    padding: 18px;
}
    .icon-bar__preview {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-right: 20px;
        background-color: #EDF1F3;
        border-radius: 4px;
    }
        .icon-bar__image {
            vertical-align: top;
            fill: #333333;
        }


    .icon-bar__body {
        padding-right: 20px;
    }
        .icon-bar__heading {
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: #333333;
        }

        .icon-bar__description {
            margin-top: 1px;
            margin-bottom: -1px;
            font-size: 12px;
            line-height: 20px;
            color: #545454;
        }


    .icon-bar__note {
        margin-left: auto;
        font-size: 12px;
        line-height: 20px;
        color: #333333;
    }

    .icon-bar__action {
        margin-left: auto;
    }
        .icon-bar__action.button,
        .icon-bar__action .button {
            padding-left: 35px;
            padding-right: 35px;
        }
