.img-pad {
    width: 96px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #E8E8E8;
    padding: 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    color: #8B8B8B;
    cursor: pointer;
    transition: background-color var(--transition-hover);
}

.img-pad:hover {
    background-color: #F6F6F6;
}



.img-pad--cover {
    width: 100%;
    height: 177px;
}
