.input {
    display: block;
    position: relative;
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding: 0;
    text-align: left;
}
    .input__widget {
        position: relative;
        width: 100%;
        height: 40px;
        vertical-align: top;
        padding: 9px 19px;
        background-color: #FFFFFF;
        border: 1px solid #E8E8E8;
        outline: none;
        background-clip: padding-box; /* reset iOS default shadow */
        border-radius: 5px; /* reset iOS default border-radius */
        font-family: inherit;
        font-weight: inherit;
        font-size: 11px;
        line-height: 20px;
        color: #545454;
        transition: background-color var(--transition-hover),
                    border-color var(--transition-hover),
                    box-shadow var(--transition-hover);
        /*overflow: hidden;  why? */
        text-overflow: ellipsis;
        white-space: nowrap;

        /* in case of <div>: */
        /* Also in case of .input--adjustable */
        max-width: 100%;
    }

    .input__widget:hover {
        border-color: #C4C4C4;
    }

    .input__widget:focus {
        border-color: #757575;
        box-shadow: 0 0 0 1px #757575;
        transition: none;
    }

    /* stylelint-disable block-opening-brace-space-before */
    .input__widget::-webkit-input-placeholder { font-style: normal; color: #8B8B8B; }
    .input__widget::-moz-placeholder          { font-style: normal; color: #8B8B8B; opacity: 1; }
    .input__widget:-ms-input-placeholder      { font-style: normal; color: #8B8B8B; }
    /* stylelint-enable */

    .input__widget[type="password"]:not(:placeholder-shown) {
        font-family: "Tahoma", sans-serif;
    }

    .input__counter {
        position: absolute;
        right: 0;
        bottom: 100%;
        margin-bottom: 22px;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        color: #757575;
    }

    .input__hint {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px 19px;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        color: #757575;
        white-space: nowrap;
        pointer-events: none;
    }

.input--area {

}
    .input--area .input__widget {
        vertical-align: top;
        height: auto; /* user rows="" attribute */
        min-height: 40px;
        white-space: normal;
        resize: vertical;
        font-weight: inherit;
    }

.input--extendable {

}
    .input--extendable .input__widget {
        resize: none;
    }


.input--select {

}
    .input--select .input__widget:hover {
        box-shadow: none;
        background-color: #F2F2F2;
        border-color: #E8E8E8;
    }

    .input--select .input__widget:focus {
        box-shadow: none;
        border-color: #E8E8E8;
        outline: auto; /* for keyboard navigation */
    }


.input--scanner {

}
    .input--scanner .input__widget {

    }


.input--picker {

}
    .input--picker .input__widget {
        padding-right: 40px;
        background-image: url("../vectors/16-select.svg");
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: right 15px center;
        cursor: pointer;
    }

.input--placeholder-is-chosen {

}
    .input--placeholder-is-chosen .input__widget {
        color: #8B8B8B;
    }

@supports (-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none) {

    .input--select {

    }

    .input--select .input__widget {
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        padding-right: 40px;
        background-image: url("../vectors/16-select.svg");
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: right 15px center;
    }

    .input--select:not(.input--disabled) .input__widget {
        cursor: pointer;
    }

    .firefox .input--select .input__widget {
        border-left-width: 15px;
    }
}


.input--rounded {

}
    .input--rounded .input__widget {
        border-radius: 20px;
    }


/* Icon */
    .input__icon {
        position: absolute;
        z-index: 10;
        left: 18px;
        top: 50%;
        margin-top: -8px;
        pointer-events: none;
        fill: #545454;
    }

    .input__icon ~ .input__widget {
        padding-left: 44px;
    }


.input--auth {

}
    .input--auth .input__widget {
        font-weight: 600;
        font-size: 12px;
        border-radius: 8px;
    }

    .input--auth .input__widget:hover {

    }

    .input--auth .input__widget:focus {

    }


.input--semi-bold {

}
    .input--semi-bold .input__widget {
        font-weight: 600;
    }


.input--semi-bold {

}
    .input--semi-bold .input__widget {
        font-weight: 600;
    }


.input--bold {

}
    .input--bold .input__widget {
        font-weight: 600;
    }


.input--alt-border {

}
    .input--alt-border .input__widget {
        border-color: #C1C1C1;
        box-shadow: 0 0 0 1px #C1C1C1;
    }

    .input--alt-border .input__widget:hover {
        border-color: #A0A0A0;
        box-shadow: 0 0 0 1px #A0A0A0;
    }

    .input--alt-border .input__widget:focus {
        border-color: #757575;
        box-shadow: 0 0 0 1px #757575;
    }


.input--larger-font {

}
    .input--larger-font .input__widget {
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
    }

.input--classic-font {

}
    .input--classic-font .input__widget {
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        color: #23282C;
    }


.input--badge-alike {

}
    .input--badge-alike .input__widget {
        padding: 2px 10px;
        height: 26px;
        border-radius: 13px;
        font-weight: 600;
        border-color: #C4C4C4;
    }

    .input--badge-alike.input--select .input__widget {
        padding-right: 26px;
        background-image: url("../vectors/16-select-badge-alike.svg");
        background-position: right 8px center;
    }


.input--adjustable {

}
    .input--adjustable select.input__widget {
        transition: width 0.05s ease;
    }


.merge {

}

.merge .input + .input {
    margin-top: -1px;
}

.merge .input__widget:hover {
    z-index: 100;
}

/* potentional error inptuts */
/*.merge .input--error {*/
/*    z-index: 200;*/
/*}*/

.merge .input__widget:focus {
    z-index: 300; /* more than hover cause case _focus + :hover and hover won */
}

.merge .input:first-child .input__widget {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.merge .input:not(:first-child):not(:last-child) .input__widget {
    border-radius: 0;
}

.merge .input:last-child .input__widget {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}



/* Dropdowns */

.input__dropdown {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    top: 40px; /* not 100% because something can be under input */
    margin-top: 1px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
}

.input--expanded .input__dropdown {
    opacity: 1;
    visibility: visible;
}

/* This dropdown conflicts with scrollbar of .modal-body if inside */
.modal-body .input__dropdown {
    display: none;
}

.input--expanded .input__dropdown {
    display: block;
}



.input--content-width-dropdown .input__dropdown {
    right: auto;
}
    .input__options {
        padding-top: 8px;
        padding-bottom: 8px;
        max-height: 50vh;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .modal .input__options {
        max-height: 40vh; /* because modal is vertically centered there is a less space under input bar */
    }
        .input__suggest {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            background: none;
            border: none;
            padding: 8px 20px;
            font-family: inherit;
            font-weight: 600;
            font-size: 13px;
            line-height: 18px;
            color: #545454;
            text-decoration: none;
            text-align: left;
            cursor: pointer;
        }

        .input__suggest:hover {
            background-color: #F4F4F4;
        }


        .input__suggest--location {
            padding-left: 42px;
            background-image: url("../vectors/input-suggest-location.svg");
            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-position: 20px center;
        }


        .input__suggest--add {
            padding-left: 48px;
            background-image: url("../vectors/input-suggest-add.svg");
            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-position: 20px center;
        }


.input__no-matches {

}

.input__alt-matches {
    background-color: #F2F2F2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
