.invite {

}
    .invite__head {
        padding: 24px 84px 8px !important; /* !important is to override invite--expanded styles that supposed to follow next */
        border-bottom: none;
    }
        .invite__photo {
            left: 20px !important; /* !important is to override invite--expanded styles that supposed to follow next */
            top: 20px !important; /* !important is to override invite--expanded styles that supposed to follow next */
        }
            .invite__photo .avatar__image {
                width: 46px !important; /* !important is to override invite--expanded styles that supposed to follow next */
                height: 46px !important; /* !important is to override invite--expanded styles that supposed to follow next */
            }

        .invite__name {
            display: none;
        }
            .invite__name .link--text-alike {

            }

            .invite__name .link--text-alike:hover {

            }

        .invite__customizing {

        }

        .invite__calling {

        }

        .invite__note {
            margin-top: 31px;
            border-top: 1px solid #E8E8E8;
            margin-left: -84px;
            margin-right: -84px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 17px;
        }

        .invite__hint {
            margin-left: -4px;
        }

    .invite__body {
        padding: 0 20px 26px;
    }
        .invite__field {
            /*margin-top: 4px;*/
        }

        .invite__knowing {
            margin-top: 19px;
            /*font-size: 13px;*/
            /*line-height: 20px;*/
            /*color: #757575;*/
        }




.invite--expanded {

}
    .invite--expanded .invite__head {

    }
        .invite--expanded .invite__photo {

        }
            .invite--expanded .invite__photo .avatar__image {

            }

        .invite--expanded .invite__name {

        }
            .invite--expanded .invite__name .link--text-alike {

            }

            .invite--expanded .invite__name .link--text-alike:hover {

            }

        .invite--expanded .invite__calling {

        }

        .invite--expanded .invite__note {

        }

        .invite--expanded .invite__hint {

        }

    .invite--expanded .invite__body {

    }
        .invite--expanded .invite__field {

        }

        .invite--expanded .invite__knowing {

        }
