.job {

}
    .job__head {

    }

    .job__list {
        margin-top: 28px;
    }
        .job__item {
            margin-top: 40px;
        }

        .job__item:first-child {
            margin-top: 0;
        }

    .job__more {
        margin-top: 7px;
        margin-left: 39px;
        display: inline-block;
        vertical-align: top;
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 13px;
        line-height: 20px;
        color: #757575;
        text-decoration: none;
        transition: background-color var(--transition-hover);
    }

    .job__more:hover {
        background-color: var(--panel-hover);
    }

    .job__more:active {
        background-color: var(--panel-active);
        transition: none;
    }
