.label {
    margin-bottom: 0; /* bootstrap */
    padding: 0; /* bootstrap */
    display: table;
    vertical-align: top;
    border-bottom: 11px solid transparent;
    font-weight: 600;  /* bootstrap */
    font-size: 14px;
    line-height: 20px;
    color: #545454;
}
    .label__note {
        margin-left: 10px;
        font-weight: normal;
        font-size: 11px;
        line-height: 14px;
    }


.label--placeholder-alike {
    color: #8B8B8B;
}


.label--thin {
    font-weight: normal;
    font-size: 16px;
    color: #23282C;
    border-bottom-width: 8px;
}
