.label {
    margin-bottom: 0; /* bootstrap */
    padding: 0; /* bootstrap */
    display: table;
    vertical-align: top;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 11px solid transparent;
    font-weight: 600;  /* bootstrap */
    font-size: 14px;
    line-height: 20px;
    color: #545454;
}
    .label__note {
        margin-left: 14px;
        font-weight: normal;
        font-size: 11px;
        line-height: 14px;
    }
