.label {
    font-weight: inherit; /* bootstrap */
    margin-bottom: 0; /* bootstrap */
    padding: 0; /* bootstrap */
    display: table;
    vertical-align: top;
    border-bottom: 14px solid transparent;
    font-size: 13px;
    line-height: 20px;
    color: #545454;
}

.label--larger {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 11px solid transparent;
}
