.library {

}
    .library__listing {
        margin: -20px -10px 0;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }
        .library__item {
            width: 350px;
            margin-top: 20px;
        }
