.link,
.wysiwyg a {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    display: inline;
    vertical-align: baseline;
    padding: 4px 0 0; /* 4px solves two problems:
                         a) expands clickable area
                         b) solves multi-link case problem when hovering between lines changes from pointer to arrow */
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    font-family: inherit;
    font-weight: 600;
    font-size: inherit;
    line-height: inherit;
    color: #9CB2BE;
    text-decoration: none;
    cursor: pointer;
}

.link:hover,
.wysiwyg a:hover {
    border-bottom-color: currentColor;
}

.link:active,
.wysiwyg a:active {

}


.link--classic,
.wysiwyg .link--classic {
    border-bottom-color: currentColor;
}

.link--classic:hover,
.wysiwyg .link--classic:hover {
    border-bottom-color: transparent;
}


.link--text-color,
.wysiwyg .link--text-color {
    color: inherit;
}


.link--text-alike,
.wysiwyg .link--text-alike {
    border-bottom-color: transparent;
    color: inherit;
}

.link--text-alike:hover,
.wysiwyg .link--text-alike:hover {
    border-bottom-color: transparent;
}




.link--fake,
.link--fake:hover,
.wysiwyg .link--fake,
.wysiwyg .link--fake:hover {
    border-bottom-color: transparent;
    color: inherit;
    cursor: inherit;
}


.link--faded,
.wysiwyg .link--faded {
    font-weight: normal;
    color: #AAAAAA;
}

.link--user-color,
.wysiwyg .link--user-color {
    color: var(--theme-main);
}


.link--fading,
.wysiwyg .link--fading {
    font-weight: inherit;
    color: inherit;
    transition: opacity;
}

.link--fading:hover,
.wysiwyg .link--fading:hover {
    opacity: 0.7;
    border-bottom-color: transparent;
}

.link--inherit,
.wysiwyg .link--inherit {
    font-weight: inherit;
    color: inherit;
}


.link--mention,
.wysiwyg .link--mention {
    font-weight: 600;
    color: #23282C;
    transition: opacity;
}

.link--mention:hover,
.wysiwyg .link--mention:hover {
    opacity: 0.7;
    border-bottom-color: transparent;
}


.link--black,
.wysiwyg .link--black {
    color: #23282C;
    transition: opacity;
}

.link--mention:hover,
.wysiwyg .link--mention:hover {
    opacity: 0.7;
    border-bottom-color: transparent;
}


.link--url,
.wysiwyg .link--url {
    font-weight: 600;
    color: #325F84;
}
