.link {
    display: inline;
    vertical-align: baseline;
    padding: 0;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: #999999;
    text-decoration: underline;
    cursor: pointer;
}

.link:hover {
    text-decoration: none;
}



.link--fake {
    text-decoration: none;
    color: inherit;
}


.link--text-alike {
    text-decoration: none;
    color: inherit;
}

.link--text-alike:hover {
    text-decoration: underline;
}
