.link {
    display: inline;
    vertical-align: baseline;
    padding: 4px 0 0; /* 4px solves two problems:
                         а) expands clickable area
                         б) solves multi-link case problem when hovering between lines changes from pointer to arrow */
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    font-family: inherit;
    font-weight: bold;
    font-size: inherit;
    line-height: inherit;
    color: #9BB2BF;
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    border-bottom-color: currentColor;
}

.link:active {

}


.link--classic {
    border-bottom-color: currentColor;
}

.link--classic:hover {
    border-bottom-color: transparent;
}



.link--text-alike {
    border-bottom-color: transparent;
    color: inherit;
}

.link--text-alike:hover {
    border-bottom-color: currentColor;
}




.link--fake,
.link--fake:hover {
    border-bottom-color: transparent;
    color: inherit;
}

