.line {
    margin-top: 15px;
    width: 100%;
    position: relative;
    text-align: center;
    height: 18px;
}
    .line::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        display: block;
        height: 1px;
        background-color: #DCDCDC;
    }

    .line__heading {
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #FFFFFF;
        font-weight: 600;
        font-size: 11px;
        line-height: 18px;
        color: #AAAAAA;
    }
