.location {

}
    .location__heading {
        font-weight: bold;
        font-size: 12px;
        line-height: 26px;
        letter-spacing: 2.64px;
        color: #545454;
        text-transform: uppercase;
    }
        .location__icon {
            margin-left: -4px;
            margin-right: 8px;
            margin-top: 1px;
            float: left;
            fill: #545454;
        }

    .location__value {
        margin-top: 10px;
        font-weight: bold;
        font-size: 12px;
        line-height: 26px;
        color: #757575;
    }
