.logo {
    display: inline-block;
    vertical-align: top;
    width: 149px;
    height: 40px;
    background-image: url("../images/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}
