.logo {
    display: inline-block;
    vertical-align: top;
    width: 154px;
    height: 40px;
    background-image: url("../images/logo.svg");
    background-size: 154px 40px;
    background-repeat: no-repeat;
    background-position: left center;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}
