.management-suggest {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
}

.management-suggest:hover {
    background-color: var(--panel-hover);
}
    .management-suggest__preview {
        flex-shrink: 0;
        margin-right: 12px;
    }

    .management-suggest__name {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 13px;
        line-height: 20px;
        color: #545454;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .management-suggest__delete {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: none;
        padding: 0;
        margin-left: -1px;
        margin-right: -9px;
        background-color: transparent;
        cursor: pointer;
    }
        .management-suggest__cross {
            vertical-align: top;
            fill: #757575;
        }

        .management-suggest__delete:hover .management-suggest__cross {
            fill: #333333;
        }

.management-suggest--selected {
    display: inline-flex;
    border-radius: 20px;
    background-color: #F4F4F4;
}
    .management-suggest--selected .management-suggest__preview.avatar,
    .management-suggest--selected .management-suggest__preview .avatar {
        box-shadow: none;
    }

.management-suggest--selected:hover {
    background-color: #F4F4F4;
}
