.management {
    position: relative;
    padding: 22px var(--modal-padding) 34px;
}
    .management__heading {
        margin-top: 0;
        margin-bottom: 0;
    }

    .management__limit {
        position: absolute;
        right: var(--modal-padding);
        top: 25px;
        font-size: 12px;
        line-height: 20px;
        color: #757575;
    }

    .management__list {
        margin-top: 24px;
    }

    .management__add {
        margin-top: 24px;
    }
        .management__add.button,
        .management__add .button {
            width: 250px;
        }

    .management__inquiry {
        margin-top: 40px;
    }
