.media {
    display: flex;
    align-items: flex-start;
}
    .media__link {
        flex-shrink: 0;
        margin-left: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
    }

    .media__link:first-child {
        margin-left: 0;
    }
        .media__icon {
            vertical-align: top;
            fill: #C4C4C4;
        }

        .media__link:hover .media__icon {
            fill: #757575;
        }
