.media {
    padding-bottom: 20px;
}
    .media__heading {

    }

    .media__null {

    }

    .media__link {

    }

    .media__link:first-child,
    .media__heading + .media__link {

    }

    .media__link:last-child {

    }
        .media__icon {

        }

        .media__link:hover .media__icon {

        }

    .media__footer {
        display: none;
    }
        .media__edit {

        }


.media--less-airy {

}
    .media--less-airy .media__link {
        margin-left: 8px;
    }

    .media--less-airy .media__link:first-child,
    .media--less-airy .media__heading + .media__link {
        margin-left: -8px;
    }


.media--user-color {

}
    .media--user-color .media__icon {
        fill: var(--theme-main);
    }

    .media--user-color .media__link:hover .media__icon {
        fill: var(--theme-main-hover);
    }

    .media--user-color .media__link:active .media__icon {
        fill: var(--theme-main-press);
    }


.media--share {
    gap: 12px;
}
    .media--share .media__link {
        width: 34px;
        height: 34px;
    }
        .media--share .media__link::before {
            /*content: "";*/
            /*position: absolute;*/
            /*left: 0;*/
            /*top: 0;*/
            /*right: 0;*/
            /*bottom: 0;*/
            /*background-color: #FFFFFF;*/
            /*border-radius: 50%;*/
            /*transition: transform 0.5s var(--ease-out-circ);*/
        }

        .media--share .media__link:hover::before {
            /*transform: scale(1.1);*/
            /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);*/
        }

        .media--share .media__link:active::before {
            /*transform: scale(1.1);*/
            /*background-color: #FBFBFB;*/
            /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);*/
            /*transition: none;*/
        }

    .media--share .media__icon {
        transform: scale(0.9);
        /*position: relative;*/
        /*fill: #23282C !important; !* !important is to cancel hover and active *!*/
    }


    .media--share .media__more {
        /*padding: 6px 12px;*/
        /*border: none;*/
        /*background-color: transparent;*/
        /*border-radius: 5px;*/
        /*font-weight: 600;*/
        font-size: 14px;
        line-height: 24px;
        /*color: #39606C;*/
        /*cursor: pointer;*/
        /*transition: background-color var(--transition-hover);*/
    }

    .media--share .media__more:hover {
        /*background-color: #FFFFFF;*/
        /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);*/
    }

    .media--share .media__more:active {
        /*background-color: #FBFBFB;*/
        /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);*/
        /*transition: none;*/
    }
