.media-toggler {
    display: inline-flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
}

    .media-toggler__icon {
        margin-left: 4px;
        margin-right: 4px;
        fill: #8B8B8B;
    }

    .media-toggler__icon:first-child {
        margin-left: 0;
    }

    .media-toggler__icon:last-child {
        margin-right: 0;
    }

    .media-toggler__label {
        padding-bottom: 2px;
        font-size: 10px;
        line-height: 14px;
        color: #8B8B8B;
    }

    .media-toggler__body {
        position: relative;
        margin-left: 6px;
        margin-right: 6px;
        width: 28px;
        height: 16px;
        background: #F4F4F4;
        border: 1px solid #E8E8E8;
        border-radius: 8px;
    }
        .media-toggler__widget {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            cursor: inherit;
        }

        .media-toggler__knob {
            position: absolute;
            left: 1px;
            top: 1px;
            bottom: 1px;
            display: block;
            width: 12px;
            height: 12px;
            background-color: #C4C4C4;
            border-radius: 50%;
            transition: left 0.3s var(--ease-out-circ);
        }

        .media-toggler__widget:checked ~ .media-toggler__knob {
            left: 13px;
        }

        .media-toggler__widget:focus ~ .media-toggler__knob {
            outline: auto;
            outline-offset: 4px;
        }

    .media-toggler__body:first-child {
        margin-left: 0;
    }

    .media-toggler__body:last-child {
        margin-right: 0;
    }



.media-toggler:hover {

}
    .media-toggler:hover .media-toggler__knob {
        background-color: #333333;
    }
