.media {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
    .media__heading {
        width: 100%;
        margin-bottom: 13px;
    }

    .media__null {
        margin-top: 2px;
    }

    .media__link {
        flex-shrink: 0;
        margin-left: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
    }

    .media__link:first-child,
    .media__heading + .media__link {
        margin-left: -8px;
    }

    .media__link:last-child {
        margin-right: -8px;
    }
        .media__icon {
            vertical-align: top;
            fill: #545454;
            transition: fill var(--transition-hover);
        }

        .media__link:hover .media__icon {
            fill: #7E7E7E;
        }

        .media__link:active .media__icon {
            fill: #333333;
            transition: none;
        }

    .media__footer {
        margin-top: 20px;
        width: 100%;
    }

    .media__footer:first-child {
        margin-top: 0;
    }

        .media__edit {

        }


.media--less-airy {

}
    .media--less-airy .media__link {
        margin-left: 8px;
    }

    .media--less-airy .media__link:first-child,
    .media--less-airy .media__heading + .media__link {
        margin-left: -8px;
    }


.media--user-color {

}
    .media--user-color .media__icon {
        fill: var(--theme-main);
    }

    .media--user-color .media__link:hover .media__icon {
        fill: var(--theme-main-hover);
    }

    .media--user-color .media__link:active .media__icon {
        fill: var(--theme-main-press);
    }


.media--inverted {

}
    .media--inverted .media__icon {
        fill: #EEF0F3;
    }

    .media--inverted .media__link:hover .media__icon {
        fill: #FFFFFF;
    }

    .media--inverted .media__link:active .media__icon {
        fill: #DADCE0;
    }
