.media-consumption {
    position: relative;
    padding: 12px 20px 18px;
    background-color: #F6F6F6;
    border-radius: 4px;
}
    .media-consumption__heading {
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: #545454;
    }

    .media-consumption__add {
        position: absolute;
        right: 9px;
        top: 6px;
        border: none;
        display: block;
        width: 32px;
        height: 32px;
        padding: 8px;
        border-radius: 50%;
        cursor: pointer;
    }

    .media-consumption__add:hover {
        background-color: red;
    }
        .media-consumption__plus {
            vertical-align: top;
            fill: #9CB2BE;
        }

    .media-consumption__widget {
        margin-top: 11px;
    }

    .media-consumption__stats {
        margin-top: 6px;
        font-size: 13px;
        line-height: 20px;
        color: #545454;
    }
        .media-consumption__growth {
            margin-right: 11px;
            margin-top: -1px;
            float: left;
            fill: #9CB2BE;
        }

        .media-consumption__highlight {
            font-weight: 600;
        }
