.member-bubble {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px;
    width: 367px;
}
    .member-bubble__preview {

    }

    .member-bubble__description {
        width: 197px;
        font-size: 13px;
        line-height: 24px;
        color: #545454;
        letter-spacing: normal;
    }
