.membership {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
    .membership__handler {
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #E8E8E8;
        border-radius: 50%;
    }
        .membership__icon {
            vertical-align: top;
        }

        .membership .bubble {
            z-index: 50; /* higher than .vertical-artist::before */
            left: 25px;
            bottom: 25px;
        }


@media (min-width: 639px) {

    body:not(:has(.customize)) .page .non-performer__header .membership .bubble,
    body:not(:has(.vertical-artist__gallery)) .vertical-artist__body .vertical-artist__header .membership .bubble {
        bottom: auto;
        top: 25px;
    }
        body:not(:has(.customize)) .page .non-performer__header .membership .bubble--leaf .bubble__body,
        body:not(:has(.vertical-artist__gallery)) .vertical-artist__body .vertical-artist__header .membership .bubble--leaf .bubble__body {
            border-bottom-left-radius: 20px;
            border-top-left-radius: 0;
        }
}
