.membership {
    /*position: relative;*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
}
    .membership__handler {
        /*width: 26px;*/
        /*height: 26px;*/
        /*display: flex;*/
        /*align-items: center;*/
        /*justify-content: center;*/
        /*border: 1px solid #E8E8E8;*/
        /*border-radius: 50%;*/
    }
        .membership__icon {
            /*vertical-align: top;*/
        }

        .membership .bubble {
            left: 50%;
            transform: translateX(-50%);
            bottom: 40px;
            /*bottom: 25px;*/
        }

            .membership .bubble__body {
                border-radius: 14px;
            }
