.menu {

}
    .menu__link {
        position: relative;
        display: flex;
        align-items: flex-start;
        padding: 11px 32px 11px 23px;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        color: #545454;
        white-space: nowrap;
        text-decoration: none;
        transition: color var(--transition-hover);
    }

    .menu__link:hover {
        background-color: #F6F6F6;
    }
        .menu__icon {
            flex-shrink: 0;
            vertical-align: top;
            margin-right: 23px;
            margin-top: 0;
            margin-bottom: -2px;
            width: 16px;
            height: 16px;
            fill: #C5C5C5;
            transition: fill var(--transition-hover);
        }


.menu__link--disabled {
    pointer-events: none;
    color: #C5C5C5;
}




.menu--checklist {

}
    .menu--checklist .menu__link {
        padding-left: 40px;
    }

    .menu__link--selected {
        background-image: url("../vectors/16-check-grey.svg");
        background-repeat: no-repeat;
        background-position: 14px center;
        background-color: #F6F6F6;
        color: #545454;
    }




.menu--alternate {

}
    .menu--alternate .menu__link {
        font-weight: 600;
        font-size: 10px;
        line-height: 14px;
        color: #8B8B8B;
    }
