.mention {
    width: 154px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    max-height: 159px;
    overflow-y: auto;
}
    .mention__item {
        width: 100%;
        display: flex;
        align-items: flex-start;
        padding: 9px 13px;
        background-color: transparent;
        border: none;
        font-weight: bold;
        font-size: 11px;
        line-height: 23px;
        color: #757575;
        cursor: pointer;
    }

    .mention__item.avatar,
    .mention__item .avatar {
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.11);
    }

    .mention__item:hover {
        background-color: #F4F4F4;
    }

        .mention__preview {
            flex-shrink: 0;
            margin-right: 12px;
        }

        .mention__label {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
