.menu {
    padding-top: 14px;
    padding-bottom: 20px;
}
    .menu__link {
        display: flex;
        align-items: flex-start;
        padding: 15px 28px;
        font-size: 14px;
        line-height: 18px;
        color: #757575;
        text-decoration: none;
    }

    .menu__link:hover {
        background-color: #F6F6F6;
    }
        .menu__icon {
            vertical-align: top;
            margin-right: 17px;
            margin-top: -4px;
            margin-bottom: -2px;
            fill: currentColor;
        }



.menu--smaller {
    padding-top: 12px;
    padding-bottom: 12px;
}
    .menu--smaller .menu__link {
        padding: 10px 18px 11px;
        font-weight: bold;
        font-size: 10px;
        line-height: 16px;
    }
        .menu--smaller .menu__icon {
            margin-left: -1px;
            margin-right: 12px;
            margin-top: 0;
            width: 16px;
            height: 16px;
        }
