.menu {
    padding-top: 14px;
    padding-bottom: 20px;
}
    .menu__link {
        position: relative;
        display: flex;
        align-items: flex-start;
        padding: 15px 28px;
        font-size: 14px;
        line-height: 18px;
        color: #757575;
        text-decoration: none;
    }

    .menu__link:first-child:last-child {
        margin-top: -14px;
        margin-bottom: -20px;
    }

    .menu__link:hover {
        background-color: #F6F6F6;
        color: #545454;
    }
        .menu__icon {
            flex-shrink: 0;
            vertical-align: top;
            margin-right: 17px;
            margin-top: -4px;
            margin-bottom: -2px;
            fill: currentColor;
        }


.menu__link--disabled {
    pointer-events: none;
    color: #C5C5C5;
}



.menu--smaller {
    padding-top: 12px;
    padding-bottom: 12px;
}
    .menu--smaller .menu__link {
        padding: 10px 18px 11px;
        font-weight: bold;
        font-size: 10px;
        line-height: 16px;
    }
        .menu--smaller .menu__icon {
            margin-left: -1px;
            margin-right: 12px;
            margin-top: 0;
            width: 16px;
            height: 16px;
        }


.menu--checklist {

}
    .menu--checklist .menu__link {
        padding-left: 40px;
    }

    .menu__link--selected {
        background-image: url("../vectors/16-check-grey.svg");
        background-repeat: no-repeat;
        background-position: 14px center;
        background-color: #F6F6F6;
        color: #545454;
    }




.menu--alternate {

}
    .menu--alternate .menu__link {
        font-weight: 600;
        font-size: 10px;
        line-height: 14px;
        color: #8B8B8B;
    }
