.mfp-wrap {
    /*width: auto;*/
    /*height: auto;*/
    /*right: 0;*/
    /*bottom: 0;*/
    overflow: visible !important; /* take back horizontal scrollbar */
}

.mfp-container {
    display: block;
    padding-left: 0;      /* horizontal */
    padding-right: 0;     /* padding */
    /*vertical-align: top;*/
    /*width: auto;*/
    height: auto;
    min-width: 0;
    /*position: static;*/
}
    .mfp-container::before {
        display: none;
    }

.mfp-content {
    display: block;
    position: static;
    /*text-align: center;*/
}
    .mfp-content::before, /* vertical */
    .mfp-content::after { /* padding */
        /*content: "";*/
        display: none;
        /*height: 8px;*/
    }

.mfp-window {
    display: block;
    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*text-align: left;*/
}


/* background color */
.mfp-bg {
    display: none;
    /*width: auto;*/
    /*height: auto;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*background: rgba(51, 51, 51, 0.4);*/
}

/* overlay at start */
.mfp-bg {
    /*opacity: 0;*/
    /*transition: opacity 0.2s ease-out;*/
}

/* overlay animate in */
.mfp-bg.mfp-ready {
    /*opacity: 1;*/
}

/* overlay animate out */
.mfp-bg.mfp-removing {
    /*opacity: 0;*/
}

.mfp-wrap {
    position: static;
    overflow: visible !important;
}

/* content at start */
.mfp-wrap .mfp-content {
    /*opacity: 0;*/
    /*transition: opacity 0.2s ease-out;*/
}

/* content animate it */
.mfp-wrap.mfp-ready .mfp-content {
    /*opacity: 1;*/
}

/* content animate out */
.mfp-wrap.mfp-removing .mfp-content {
    /*opacity: 0;*/
}

