.mfp-wrap {
    width: auto;
    height: auto;
    right: 0;
    bottom: 0;
    overflow-x: auto !important; /* take back horizontal scrollbar */
}

.mfp-container {
    display: inline-block;
    padding-left: 8px;      /* horizontal */
    padding-right: 8px;     /* space around */
    vertical-align: top;
    width: auto;
    min-width: 100%;
    position: static;
}

.mfp-content {
    margin-top: 8px;        /* vertical */
    margin-bottom: 8px;     /* space around */
    text-align: center;
}

/* background color */
.mfp-bg {
    width: auto;
    height: auto;
    right: 0;
    bottom: 0;
    background: rgba(48, 48, 48, 0.95);
}

/* overlay at start */
.mfp-bg {
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

/* overlay animate in */
.mfp-bg.mfp-ready {
    opacity: 1;
}

/* overlay animate out */
.mfp-bg.mfp-removing {
    opacity: 0;
}

/* content at start */
.mfp-wrap .mfp-content {
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

/* content animate it */
.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

/* content animate out */
.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

