.modal-active {
    overflow: auto !important; /* override mfp's "overflow: hidden" */
}

.modal-active .header {
    display: none;
}

.modal-active .search {
    display: none;
}

.modal-active .notifications {
    display: none;
}

.modal-active .page {
    display: none;
}
