.modal-body {
    padding: 0; /* bootstrap conflict */
    max-height: calc(100vh - 176px); /* 176 = .modal-head + .modal-foot + top and bottom margins of bootstrap popup */
    overflow-y: auto;
}


@media (min-width: 768px) {

    .modal-body {
        max-height: calc(100vh - 216px); /* 216px = .modal-head + .modal-foot + top and bottom margins of bootstrap popup */
    }
}
