.modal {
    text-align: center;
}
    /* for vertical alignement: */
    .modal::before,
    .modal::after {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }



.modal-skeleton .modal-content {
    box-shadow: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
}


.modal--688px {

}
    .modal--688px .modal-dialog {
        width: 688px;
    }


.modal--500px {

}
    .modal--500px .modal-dialog {
        width: 500px;
    }


.modal--380px {

}
    .modal--380px .modal-dialog {
        width: 380px;
    }


.modal--296px {

}
    .modal--296px .modal-dialog {
        width: 296px;
    }
