.modal-foot {
    display: flex;
    align-items: flex-start;
    padding: 24px 30px;
    border-top: 1px solid #E8E8E8;
}
    .modal-foot__addition {

    }

    .modal-foot__operations {
        margin-left: auto;
    }
        .modal-foot__operations .button {
            min-width: 100px;
        }
