.modal {

}
    .modal::before,
    .modal::after {
        display: none;
    }

    .modal-dialog {
        display: block;
    }
    .modal .modal-dialog { /* override classes such as .modal--688px .modal-dialog */
        width: auto;
    }
        .modal-content {

        }
