.modal {

}
    .modal-dialog {
        /* default width is 600px */
    }

    .modal-dialog--688px {
        width: 688px;
    }
        .modal-content {
            box-shadow: none;
            background-color: transparent;
            border: none;
            border-radius: 0;
        }

@media (min-width: 768px) {

    .modal {
        text-align: center;
    }

    .modal::before,
    .modal::after {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
        .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }
            .modal-content {

            }
}
