.more-cards {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    width: 58px;
    height: 64px;
}
    .more-cards__handler {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: top;
        width: 42px;
        height: 42px;
        box-shadow: inset 0 0 0 1px #E8E8E8;
        border-radius: 6px;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        color: #545454;
        text-decoration: none;
    }
        .more-cards__handler {
            position: relative;
            z-index: 2;
        }

        .more-cards__panel {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 42px;
            height: 42px;
            background-color: #FFFFFF;
            box-shadow: inset 0 0 0 1px #E8E8E8;
            border-radius: 6px;
        }

        .more-cards__panel:nth-child(1) {
            margin-left: -3px;
            margin-top: -3px;
        }

        .more-cards__panel:nth-child(2) {
            margin-left: -1px;
            margin-top: -1px;
        }

        .more-cards__panel:nth-child(3) {
            margin-left: 1px;
            margin-top: 1px;
        }

        .more-cards__value {
            position: relative;
            width: 42px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 16px;
            line-height: 18px;
            color: #545454;
        }

        .more-cards .bubble {
            right: 9px;
        }
            .more-cards .bubble__peak {
                right: 17px;
            }
