.nav {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #B0B0B0;
}
    .nav::before {
        content: "";
        position: absolute;
        left: -60px;
        right: -60px;
        display: block;
        height: 2px;
        background-color: #E3E3E3;
    }

    .nav__link {
        position: relative;
        padding: 20px;
        border: none;
        background-color: transparent;
        font-family: inherit;
        font-weight: inherit;
        color: inherit;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
    }

    .nav__link:hover {
        color: #757575;
    }

    .nav__link--current,
    .nav__link--current:hover {
        color: #757575;
    }
        .nav__link--current::after {
            content: "";
            position: absolute;
            left: 50%;
            top: -2px;
            display: block;
            margin-left: -49px;
            width: 98px;
            height: 6px;
            background-color: #8B8B8B;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.14);
        }

    .nav__link--updates {

    }
        .nav__link--updates::after {
            content: "";
            position: absolute;
            right: 3px;
            top: 16px;
            display: block;
            width: 12px;
            height: 12px;
            background-color: #EA4524;
            border-radius: 50%;
        }
