.nav-link {
    /*position: relative;*/
    /*display: flex;*/
    /*align-items: flex-start;*/
    flex-direction: row-reverse;
    padding: 21px 30px;
    /*font-weight: bold;*/
    font-size: 15px;
    line-height: 24px;
    /*color: #8B8B8B;*/
    /*text-decoration: none;*/
}
    .nav-link__icon {
        /*vertical-align: top;*/
        /*fill: #C5C5C5;*/
        margin-left: 33px;
        margin-right: 0;
        width: 24px;
        height: 24px;
    }

.nav-link:hover {
    /*color: #545454;*/
}
    .nav-link:hover .nav-link__icon {
        /*fill: #545454;*/
    }

    .nav-link__counter {
        /*margin-left: 4px;*/
    }


.nav-link--sidebar-ready {
    /*padding: 13px 20px 13px 37px;*/
}
    .nav-link--sidebar-ready .nav-link__icon {
        /*margin-right: 10px;*/
    }


.nav-link--current {
    /*color: #545454;*/
}
    .nav-link--current .nav-link__icon {
        /*fill: #545454;*/
    }

    .nav-link--current::after {
        /*content: "";*/
        /*position: absolute;*/
        /*right: 0;*/
        /*top: 11px;*/
        /*bottom: 11px;*/
        /*width: 3px;*/
        /*display: block;*/
        /*background-color: #545454;*/
    }

