.network-news {

}
    .network-news__heading {
        margin-top: 0;
        margin-bottom: 26px;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        color: #333333;
        text-align: center;
    }
        .network-news__icon {
            margin: -2px 5px -2px -2px;
            vertical-align: top;
            fill: currentColor;
        }

    .network-news__list {
        margin-top: 2px;
    }
        .network-news__item {

        }
