.network {
    position: relative;
    min-height: 100%;
    padding: 24px 298px 56px 240px;
    background-color: #F2F2F2;
}
    .network__menu {
        position: absolute;
        left: 24px;
        top: 24px;
        width: 194px;
    }

    .network__content {

    }
        .network__section {

        }
            .network__back {

            }

            .network__connections {
                padding-top: 8px;
                padding-bottom: 8px;
            }

    .network__aside {
        position: absolute;
        right: 24px;
        top: 24px;
        width: 250px;
    }
