.network-news {
    position: relative;
    border: 1px solid #E8E8E8;
    max-height: 360px;
    overflow-y: auto;
    border-radius: 2px;
}
    .network-news__heading {
        margin-top: 16px;
        margin-bottom: 16px;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        color: #333333;
        text-align: center;
    }
        .network-news__icon {
            margin: 0 5px 0 -2px;
            vertical-align: top;
            width: 20px;
            height: 20px;
            fill: currentColor;
        }

    .network-news__info,
    .network-news__info.action {
        position: absolute;
        right: 7px;
        top: 6px;
    }

    .network-news__updates {
        position: absolute;
        z-index: 10;
        left: 50%;
        margin-left: -115px;
        top: 30px;
        width: 230px;
    }

    .network-news__updates.button,
    .network-news__updates .button {
        width: 230px;
        font-size: 13px;
    }

    .network-news__list {
        padding-left: 26px;
        padding-right: 26px;
        padding-bottom: 14px;
    }
        .network-news__item {
            margin-top: 9px;
            border-top: 1px solid #E8E8E8;
            padding-top: 9px;
        }

        .network-news__item:first-child {
            margin-top: 0;
            border-top: none;
            padding-top: 0;
        }


    .network-news__more {
        display: none;
    }
