.network {
    position: relative;
    display: flex;
    align-self: stretch;
    min-height: 100%;
    padding: 24px;
    background-color: #F2F2F2;
}
    .network__menu {
        flex-shrink: 0;
        width: 194px;
        align-self: flex-start;
    }

    .network__content {
        margin-left: 24px;
        margin-right: 24px;
        width: calc(100% - 194px - 48px - 274px);
    }
        .network__section {

        }

    .network__aside {
        width: 274px;
        flex-shrink: 0;
    }



@media (min-width: 1240px) {

    .network {
        padding-left: 242px;
    }
        .network__menu {
            position: fixed;
            top: 88px;
            left: 106px;
        }

        .network__content {
            margin-left: 0;
            margin-right: 0;
            width: auto;
        }
            .network__section {
                margin-top: 24px;
            }

            .network__section:first-child {
                margin-top: 0;
            }
                .network__back {

                }

                .following-panel__list {

                }

        .network__aside {
            margin-left: 24px;
        }
}
