.new-users {

}
    .new-users__heading {
        margin-left: 30px;
        margin-right: 30px;
        /*margin-top: 0;*/
        /*margin-bottom: 0;*/
        /*position: relative;*/
        /*padding-left: 29px;*/
        /*font-weight: 600;*/
        /*font-size: 13px;*/
        /*line-height: 20px;*/
        /*color: #23282C;*/
    }

    @media (max-width: 359px) {
        .new-users__heading {
            margin-left: 20px;
            margin-right: 20px;
        }
    }

        .new-users__icon {
            /*position: absolute;*/
            /*left: -1px;*/
            /*top: 0;*/
            /*width: 20px;*/
            /*height: 20px;*/
            /*vertical-align: top;*/
        }

    .new-users__body {
        /*position: relative;*/
        /*margin-top: 21px;*/
        /*padding-right: 101px;*/
        overflow-x: auto;
    }
        .new-users__ribbon {
            display: inline-flex;
            align-items: flex-start;
            padding-left: 30px;
            border-right: 15px solid transparent;
        }

        @media (max-width: 359px) {
            .new-users__ribbon {
                padding-left: 20px;
            }
        }


            .new-users__list {
                /*display: flex;*/
                /*align-items: flex-start;*/
                /*gap: 32px;*/
            }
                .new-users__item {
                    flex-grow: 0;
                    flex-basis: auto;
                    width: 106px;
                    display: block !important;
                }

            .new-users__refresh {
                /*position: absolute;*/
                /*right: 11px;*/
                /*top: calc(((100% - 103px) / 2) - 16px);*/
            }
