.news-features {
    padding-top: 57px;
}
    .news-features__heading {

    }

    .news-features__body {
        margin-top: 30px;
        display: flex;
        align-items: flex-start;
    }
        .news-features__sidebar {
            flex-shrink: 0;
            width: var(--profile-sidebar);
            margin-right: var(--profile-gap);
            margin-top: 2px;
        }
            .news-features__sub-heading {
                margin-top: 0;
                margin-bottom: 0;
            }

        .news-features__content {
            flex-shrink: 0;
            width: calc(100% - var(--profile-gap) - var(--profile-sidebar));
        }
            .news-features__list {

            }
