.new-users {

}
    .new-users__heading {
        margin-top: 0;
        margin-bottom: 0;
        position: relative;
        padding-left: 29px;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        color: #23282C;
    }
        .new-users__icon {
            position: absolute;
            left: -1px;
            top: 0;
            width: 20px;
            height: 20px;
            vertical-align: top;
        }

    .new-users__body {
        margin-top: 21px;
    }
        .new-users__ribbon {
            position: relative;
            padding-right: 101px;
        }
            .new-users__list {
                display: flex;
                align-items: flex-start;
                gap: 32px;
            }
                .new-users__item {
                    flex-grow: 1;
                }


                /* 4 items */
                @media (max-width: 1399px) {

                    .new-users__item:nth-child(n+5) {
                        display: none;
                    }
                }

                /* 5 items */
                @media (min-width: 1400px) and (max-width: 1539px) {
                    .new-users__item:nth-child(n+6) {
                        display: none;
                    }
                }

                /* 6 items */
                @media (min-width: 1540px) {
                    .new-users__item:nth-child(n+7) {
                        display: none;
                    }
                }

            .new-users__refresh {
                position: absolute;
                right: 11px;
                top: calc(((100% - 116px) / 2) - 16px);
            }
