.new {
    /*position: relative;*/
    padding: 40px var(--container-mobile-padding) 60px;
}
    .new__icon {
        /*position: absolute;*/
        /*left: 71px;*/
        /*top: 62px;*/
        display: none;
    }

    .new__prefix {
        /*font-weight: 600;*/
        /*font-size: 15px;*/
        /*line-height: 20px;*/
        /*color: #23282C;*/
        /*text-transform: uppercase;*/
        /*letter-spacing: 2px;*/
    }

    .new__heading {
        /*margin-top: 25px;*/
        /*margin-bottom: 0;*/
        /*font-weight: normal;*/
        /*font-size: 34px;*/
        /*line-height: 34px;*/
        /*color: #23282C;*/
    }

    .new__field {
        margin-top: 40px;
    }

    .new__submit {
        /*margin-top: 24px;*/
    }

    .new__submit.button,
    .new__submit .button {
        width: 100%;
    }
