.new {
    position: relative;
    max-width: 870px;
    padding: 72px 142px 120px;
}
    .new__icon {
        position: absolute;
        left: 71px;
        top: 62px;
        fill: #23282C;
    }

    .new__prefix {
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: #23282C;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .new__heading {
        margin-top: 25px;
        margin-bottom: 0;
        font-weight: normal;
        font-size: 34px;
        line-height: 42px;
        color: #23282C;
    }

    .new__note {
        margin-top: 21px;
        font-size: 14px;
        line-height: 22px;
        color: #23282C;
    }

    .new__field {
        margin-top: 116px;
    }

    .new__submit {
        margin-top: 24px;
    }

    .new__submit.button,
    .new__submit .button {
        width: 287px;
    }
