.news-card {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 234px; /* 226px of aside width + 2×4px of shadow */
    height: 171px;
    padding: 8px 4px; /* because of shadow */
}
    .news-card__org-preview {
        position: absolute;
        left: 24px;
        top: 22px;
    }
    .news-card__org-preview.avatar,
    .news-card__org-preview > .avatar {
        border-radius: 7px;
    }

    .news-card__user-preview {
        position: absolute;
        left: 44px;
        top: 42px;
    }
    .news-card__user-preview.avatar,
    .news-card__user-preview > .avatar {
        border-radius: 7px;
    }

    .news-card__org-name {
        position: absolute;
        left: 24px;
        right: 24px;
        bottom: 55px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .news-card__wrapping-link {
        display: block;
        height: 100%;
        padding: 14px 20px;
        background-color: #F6F6F6;
        border-radius: 15px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.13);
        color: inherit;
        text-decoration: none;
    }
        .news-card__summary {
            margin-left: 74px;
            margin-right: 18px;
            display: flex;
            flex-direction: column;
            height: 66px;
            justify-content: center;
            font-size: 12px;
            line-height: 22px;
            letter-spacing: -0.24px;
        }
            .news-card__user-name {
                font-weight: bold;
                color: #757575;
            }
            .news-card__user-name:hover {
                color: #333333;
            }

            .news-card__type {
                color: #B8B8B8;
            }

        .news-card__note {
            position: absolute;
            left: 20px;
            right: 20px;
            bottom: 26px;
            font-size: 11px;
            line-height: 22px;
            color: #757575;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    .news-card__actions {
        position: absolute;
        right: 4px;
        top: 8px;
    }
        .news-card__actions .operations__icon {
            fill: #AAAAAA;
            transform: translateY(7px);
        }

