.news {
    position: relative;
    padding: 26px 0 23px 74px;
}
    .news__preview {
        position: absolute;
        left: 0;
        top: 23px;
    }

    .news__heading {
        font-size: 12px;
        line-height: 19px;
        color: #707070;
    }
        .news__heading .link {
            font-weight: bold;
        }

        .news__heading .link--text-alike {
            transition: opacity var(--transition-hover);
        }

        .news__heading:hover .link--text-alike {
            opacity: 0.7;
        }

    .news__note {
        margin-top: 2px;
        font-size: 11px;
        line-height: 23px;
        color: #969696;
    }

    .news__organization {
        margin-top: 21px;
    }

    .news__footer {
        margin-top: 7px;
        margin-left: -4px;
        display: flex;
        align-items: flex-start;
    }
        .news__additional-action {
            margin-left: 28px;
        }

        .news__additional-action:first-child {
            margin-left: 0;
        }

    .news__actions {
        position: absolute;
        right: -30px;
        top: 16px;
    }
