.no-opportunities {
    padding: 20px;
    text-align: center;
}
    .no-opportunities__heading {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 24px;
        line-height: 32px;
        color: #23282C;
    }

    .no-opportunities__sub-heading {
        margin-top: 43px;
        margin-bottom: 7px;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #23282C;
    }

    .no-opportunities__line {
        margin-top: 6px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 27px;
    }
        .no-opportunities__line .link {
            font-size: 13px;
            line-height: 20px;
            color: #39606C;
        }
