.non-performer {
    padding-bottom: 47px;
}
    .non-performer::before {
        /*content: "";*/
        /*position: absolute;*/
        /*z-index: 30;*/
        /*left: 0;*/
        /*top: 0;*/
        /*right: 0;*/
        /*height: 20px;*/
        /*background-color: var(--theme-main);*/
        /*box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);*/
    }

    .non-performer__wrap {
        position: relative;
        padding-bottom: 339px;
        padding-top: 20px;
    }
        .non-performer__header {
            display: none;
        }

        .non-performer__page-ownership {
            /*position: absolute !important; !* !important is to override position related if conflicted *!*/
            /*z-index: 100;*/
            /*left: 50%;*/
            top: 36px;
            /*width: 760px;*/
            /*margin-left: -380px;*/
        }

        .non-performer__page-ownership {
            left: 20px;
            right: 20px;
            margin-left: 0;
            width: auto;
        }

        .non-performer__body {
            margin-top: 0;
            display: block;
        }
            .non-performer__sidebar {
                width: auto;
                box-shadow: none;
                padding-right: 0;
            }
                .non-performer__preview {
                    /*position: relative;*/
                    margin: -20px -20px 0;
                    width: auto;
                    height: auto;
                    padding: 0;
                    border-radius: 0;
                }
                    .non-performer__photo {
                        width: 100%;
                        height: 100vh;
                        max-height: var(--artist-photo-mobile-height);
                        object-fit: cover;
                    }

                    .non-performer__upload-photo {
                        /*position: absolute;*/
                        /*right: 0;*/
                        /*bottom: 0;*/
                        /*border-bottom-right-radius: 4px;*/
                    }

                    .non-performer__photo ~ .non-performer__upload-photo {
                        /*right: 3px;*/
                        /*bottom: 3px;*/
                        /*border-bottom-right-radius: 0;*/
                    }


                .non-performer__mobile-bio {
                    display: block;
                    margin-left: -20px;
                    margin-right: -20px;
                }

                .non-performer__mobile-career-heading {
                    display: block;
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-top: 20px;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 20px;
                    color: #333333;
                }

                .non-performer__career {
                    margin: 10px -20px 0 -16px;
                }

                .non-performer__connections {
                    margin-top: 49px;
                    border-top: 0;
                    padding-top: 0;
                }
                    .non-performer__connections .all-connections {
                        /*margin: -10px -13px;*/
                    }

                .non-performer__tags {
                    position: absolute; /* move it to the bottom of the page */
                    left: 0;
                    bottom: 129px;
                    right: 0;
                    padding-bottom: 35px;
                    border-bottom: 1px solid #F2F2F2;
                }

                .non-performer__highlights {
                    /*margin-top: 29px;*/
                    /*border-top: 1px solid var(--theme-light);*/
                    /*padding-top: 21px;*/
                }

                .non-performer__social {
                    position: absolute; /* move it to the bottom of the page */
                    left: 0;
                    bottom: 0;
                    right: 0;
                    margin-top: 0;
                    border-top: none;
                    padding-top: 0;
                }

                .non-performer__add-info {
                    /*margin-bottom: 30px;*/
                }

                .non-performer__add-connections {
                    /*margin-top: 30px;*/
                }

                .non-performer__add-highlight {
                    /*margin-top: 30px;*/
                }

                .non-performer__add-social {
                    /*margin-top: 20px;*/
                }

            .non-performer__content {
                width: auto;
                /*flex-shrink: 0;*/
                box-shadow: none;
                padding-left: 0;
            }
                .non-performer__description {
                    /*margin-top: -4px;*/
                }

                .non-performer__register {
                    /*margin-top: 22px;*/
                }

                .non-performer__summary {
                    /*margin-top: 28px;*/
                    /*border-top: 1px solid var(--theme-light);*/
                    /*padding-top: 25px;*/
                }

                .non-performer__people {
                    /*margin-top: 32px;*/
                }

                .non-performer__employment-history {
                    margin-top: 20px;
                }

                .non-performer__gallery {
                    margin-top: 30px;
                    padding-top: 28px;
                }

                .non-performer__schedule {
                    margin-top: 43px;
                    /*border-top: 1px solid var(--theme-light);*/
                    padding-top: 27px;
                }

                .non-performer__recommendations {
                    display: none;
                }

                .non-performer__activity {
                    display: none;
                }

                .non-performer__null {
                    /*margin-top: 24px;*/
                }

                .non-performer__null:first-child {
                    /*margin-top: 0;*/
                }
