.non-performer {
    position: relative;
    padding-top: 20px;
    padding-bottom: 100px;
}
    .non-performer::before {
        content: "";
        position: absolute;
        z-index: 30;
        left: 0;
        top: 0;
        right: 0;
        height: 20px;
        background-color: #9CB2BE;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
    }

    .non-performer__wrap {
        padding-top: 31px;
    }
        .non-performer__header {

        }

        .non-performer__body {
            margin-top: 14px;
            display: flex;
            align-items: flex-start;
        }
            .non-performer__sidebar {
                width: 330px;
                flex-shrink: 0;
                box-shadow: inset -2px 0 0 #EDF1F3;
                padding-right: 48px;
            }
                .non-performer__photo {
                    border: 3px solid #EDF1F3;
                    background-color: var(--image-fallback);
                    box-sizing: content-box;
                    border-radius: 4px;
                }

                .non-performer__career {
                    margin: 22px -24px 0 -16px;
                }

                .non-performer__connections {
                    margin-top: 17px;
                    border-top: 1px solid #F2F2F2;
                    padding-top: 24px;
                }
                    .non-performer__connections .all-connections {
                        margin: -10px -13px;
                    }

                .non-performer__tags {
                    margin-top: 31px;
                    border-top: 1px solid #F2F2F2;
                    padding-top: 26px;
                }

                .non-performer__highlights {
                    margin-top: 29px;
                    border-top: 1px solid #F2F2F2;
                    padding-top: 21px;
                }

                .non-performer__social {
                    margin-top: 27px;
                    border-top: 1px solid #F2F2F2;
                    padding-top: 20px;
                }


            .non-performer__content {
                width: calc(100% - 330px);
                flex-shrink: 0;
                box-shadow: -2px 0 0 #EDF1F3;
                padding-left: 48px;
            }
                .non-performer__description {
                    margin-top: -4px;
                }

                .non-performer__summary {
                    margin-top: 28px;
                    border-top: 1px solid #F2F2F2;
                    padding-top: 25px;
                }

                .non-performer__people {
                    margin-top: 32px;
                }

                .non-performer__employment-history {
                    margin-top: 31px;
                }

                .non-performer__gallery {
                    margin-top: 43px;
                }

                .non-performer__schedule {
                    margin-top: 43px;
                    border-top: 1px solid #E3EDF3;
                    padding-top: 35px;
                }

                .non-performer__activity {
                    margin-top: 43px;
                    border-top: 1px solid #E3EDF3;
                    padding-top: 35px;
                }

                .non-performer__recommendations {
                    margin-top: 43px;
                    border-top: 1px solid #E3EDF3;
                    padding-top: 35px;
                }
