.notification-bar {
    position: relative;
    padding: 14px 37px 78px 55px;
}
    .notification-bar__preview {
        position: absolute;
        left: 13px;
        top: 13px;
        width: 26px;
        height: 26px;
        padding: 5px;
    }
        .notification-bar__icon {
            width: 16px;
            height: 16px;
        }

    .notification-bar__message {

    }
        .notification-bar__intro {

        }

    .notification-bar__action {

    }

    .notification-bar__action.button,
    .notification-bar__action .button {
        position: absolute;
        left: 55px;
        right: 55px;
        bottom: 26px;
        padding-top: 9px;
        padding-bottom: 9px;
        width: auto;
        font-size: 14px;
    }

    .notification-bar__close {
        position: absolute;
        right: 0;
        top: 5px;
        margin: 0;
    }
        .notification-bar__close::before {

        }

        .notification-bar__close:hover::before {

        }

        .notification-bar__close:active::before {

        }

        .notification-bar__cross {

        }
