.notifications {
    position: static;
    width: auto;
    box-shadow: none;
    border-radius: 0;
    overflow: visible;
    opacity: 1;
    visibility: visible;
    display: none;
}

.notifications-visible .notifications {
    display: block;
}
    .notifications__scroll {
        max-height: none;
        padding-top: calc(var(--header-height) - 1px); /* cut one pixel to hide top border of first notification under the header */
    }
        .notifications__head {
            position: fixed;
            z-index: 200;
            left: 0;
            top: 0;
            right: 0;
            display: block;
            background-color: #FFFFFF;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);
        }

        .notifications__separator {

        }

        .notifications__section {

        }



.notifications-visible {

}
    .notifications-visible .header {
        display: none;
    }

    .notifications-visible .page {
        display: none;
    }

    .notifications-visible .search {
        display: none;
    }
