.notifications {
    position: fixed;
    z-index: 1020;
    right: 91px;
    top: 54px;
    width: 375px;
    background-color: #FFFFFF;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden; /* cut corners (hovers inside for example) */
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition-show),
                visibility var(--transition-show);
}

.notifications-visible .notifications {
    opacity: 1;
    visibility: visible;
}
    .notifications__head {
        display: none;
    }

    .notifications__scroll {
        max-height: 75vh;
    }
        .notifications__separator {
            margin-top: 5px;
        }

        .notifications__section {
            margin-top: 5px;
        }


/* Remove this if you don't want it wide on big screens: */
@media (min-width: 1500px) {
    .notifications {
        width: 780px;
    }
        .notice__action {
            max-width: 104px;
        }
}
