.notification-center {
    position: fixed;
    z-index: 2000;
    left: 0;
    bottom: 0;
    max-height: calc(100vh - var(--header-height));
    overflow-y: auto;
}

.has-player3 .notification-center {
    bottom: calc(var(--player3-height));
    max-height: calc(100vh - var(--header-height) - var(--player3-height));
}
    .notification-center__item {
        margin: 22px;
        max-width: 483px;
    }
