:root {
    --notice-left: 105px;
    --notice-right: 33px;
}

.notice {
    position: relative;
    display: flex; /* flexbug #3 */
    flex-wrap: wrap;
    align-items: center;
    min-height: 80px;
    padding: 10px var(--notice-right) 10px var(--notice-left);
    text-decoration: none;
    transition: background-color var(--transition-hover);
}

.notice:hover {
    background-color: #F5F5F5;
}

.notice:first-child {
    margin-top: 0;
}
    .notice__preview {
        position: absolute;
        z-index: 10;
        left: 32px;
        top: 13px;
    }

    .notice__heart {
        position: absolute;
        z-index: 20;
        pointer-events: none;
        fill: #EB5757;
    }

    .notice__heart--inner {
        left: 76px;
        top: 16px;
        opacity: 0.6;
    }

    .notice__heart--outer {
        left: 82px;
        top: 10px;
        opacity: 0.8;
    }

    .notice__body {
        position: relative;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #696A6B;
        text-decoration: none;
    }
        .notice__body .link--text-alike {
            font-weight: 600;
            color: #23282C;
            transition: opacity var(--transition-hover);
        }
        .notice__body .link--text-alike:hover {
            opacity: 0.6;
        }

            .notice__name {
                font-weight: 600;
                font-size: 13px;
                line-height: 20px;
                color: #23282C;
            }

            .notice__note {
                margin-bottom: 9px;
                font-size: 13px;
                line-height: 20px;
                color: #757575;
            }

            .notice__content {

            }

            .notice__intro {
                margin-top: 8px;
            }

            .notice__time {
                font-size: 12px;
                line-height: 16px;
                color: #A7A8AB;
            }


    .notice__operations {
        margin-top: 16px;
        display: flex;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
    }
        .notice__action {
            flex-grow: 1;
            flex-basis: 0;
        }

        /* in case but is inside (not mixed on the same node) */
        .notice__action .button {
            width: 100%;
        }


    .notice__output {
            padding-top: 4px;
            padding-bottom: 4px;
        }


