.notice {
    position: relative;
    display: flex; /* flexbug #3 */
    flex-wrap: wrap;
    align-items: flex-start;
    transition: background-color var(--transition-hover);
}

.notice {
    margin-top: -1px;
}

.notice:first-child {
    margin-top: 0;
}

.notice:not(.notice--success):not(.notice--cancel):hover {
    background-color: #F5F5F5;
}
    .notice::before {
        content: "";
        position: absolute;
        left: 24px;
        right: 24px;
        top: 0;
        height: 1px;
        background-color: #E8E8E8;
        transition: background-color var(--transition-hover);
    }

    .notice:first-child::before {
        display: none;
    }

    .notice:not(.notice--success):not(.notice--cancel):hover::before {
        background-color: transparent;
    }

    .notice:not(.notice--success):not(.notice--cancel):hover + .notice::before {
        background-color: transparent;
    }

    .notice__preview {
        position: absolute;
        z-index: 10;
        left: 24px;
        top: 21px;
    }

    .notice__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        min-height: 84px; /* 40px without paddings, 2 lines of text */
        padding: 22px 50px 22px 85px;
        font-size: 12px;
        line-height: 20px;
        color: #545454;
        text-decoration: none;
    }
        .notice__body {
            position: relative;
        }
            .notice__body .link--text-alike {
                transition: opacity var(--transition-hover);
            }
            .notice__body .link--text-alike:hover {
                opacity: 0.6;
            }

        .notice__bubble {
            margin: 12px -26px 3px 0;
            position: relative;
            padding: 18px 22px 15px;
            background-color: #F8F8F8;
            border-radius: 11px;
            font-size: 12px;
            line-height: 20px;
            color: #545454;
            transition: background-color var(--transition-hover);
        }

        .notice:hover .notice__bubble {
            background-color: #FFFFFF;
        }

        .notice__time {
            position: absolute;
            right: 24px;
            top: 24px;
            font-size: 12px;
            line-height: 16px;
            color: #AAAAAA;
        }

    .notice__operations {
        margin: -15px 19px 22px 80px;
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-grow: 1;
    }
        .notice__action {
            margin-left: 5px;
            margin-right: 5px;
        }

        .notice__action--50pct {
            width: 50%;
        }

        .notice__action--grow {
            flex-grow: 1;
        }

        /* in case but is inside (not on the same node) */
        .notice__action .button {
            width: 100%;
        }



.notice--success {

}

.notice--success:hover {

}
    .notice--success .notice__wrapper {
        background-color: #F4F4F4;
        border-radius: 8px;
        margin: 22px 24px;
    }
        .notice--success .notice__wrapper::after {
            content: "";
            position: absolute;
            right: 10px;
            bottom: 10px;
            display: block;
            width: 15px;
            height: 15px;
            background-image: url("../vectors/notification-success.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }


    .notice--success .notice__preview {
        margin-left: 24px;
        margin-top: 22px;
    }



.notice--cancel {

}

.notice--cancel:hover {

}
    .notice--cancel .notice__wrapper {

    }
        .notice--cancel .notice__body::after {
            content: "";
            display: inline-block;
            vertical-align: top;
            width: 26px;
            height: 26px;
            margin: -3px 0 -3px 16px;
            background-image: url("../vectors/notification-cancel.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }


    .notice--cancel .notice__preview {

    }


