.notice {
    position: relative;
    display: flex; /* flexbug #3 */
    flex-wrap: wrap;
    align-items: center;
    min-height: 74px;
    padding: 17px 16px 17px 82px;
    background-color: #F8F8F9;
    text-decoration: none;
    transition: background-color var(--transition-hover);
}

.notice:hover {
    background-color: #EEEEEF;
}


.notice--unread {
    background-color: #E8EDF4;
    box-shadow: inset 9px 0 0 #C0CCDE;
}

.notice--unread:hover {
    background-color: #DEE3EA;
    box-shadow: inset 9px 0 0 #B6C2D4;
}

.notice:first-child {
    margin-top: 0;
}

.notice + .notice {
    margin-top: 4px;
}
    .notice__preview {
        position: absolute;
        z-index: 10;
        left: 21px;
        top: 15px;
    }

    .notice__org {
        position: absolute;
        z-index: 10;
        left: 55px;
        top: 40px;
    }

    .notice__heart {
        position: absolute;
        z-index: 20;
        pointer-events: none;
        fill: #EB5757;
    }

    .notice__heart--inner {
        left: 56px;
        top: 16px;
        opacity: 0.6;
    }

    .notice__heart--outer {
        left: 62px;
        top: 10px;
        opacity: 0.8;
    }

    .notice__body {
        padding-right: 40px;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #23282C;
        text-decoration: none;
    }
        .notice__body .link--text-alike {
            font-weight: 600;
            color: #23282C;
            transition: opacity var(--transition-hover);
        }
        .notice__body .link--text-alike:hover {
            opacity: 0.6;
        }
            .notice__name {
                font-weight: 600;
                font-size: 13px;
                line-height: 20px;
                color: #23282C;
            }

            .notice__note {
                margin-bottom: 9px;
                font-size: 13px;
                line-height: 20px;
                color: #757575;
            }

            .notice__content {

            }

            .notice__intro {
                margin-top: 8px;
            }

            .notice__time {
                position: absolute;
                right: 16px;
                top: 10px;
                font-size: 13px;
                line-height: 20px;
                color: #44474A;
            }


    .notice__operations {
        margin-top: 16px;
        display: flex;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
    }
        .notice__action,
        .notice__action.button {
            flex-grow: 1;
            flex-basis: 0;
        }
            /* in case button is inside (not mixed on the same node) */
            .notice__action .button {
                width: 100%;
            }

        .notice__action:only-child,
        .notice__action .button:only-child {
            flex-grow: 0;
            width: auto;
        }


        .notice__output {
            flex-grow: 1;
            flex-basis: 0;
            padding-top: 4px;
            padding-bottom: 4px;
        }
