.notification {
    position: relative;
    display: flex; /* flexbug #3 */
    flex-wrap: wrap;
    align-items: flex-start;
    transition: background-color var(--transition-hover);
}

.notification {
    margin-top: -1px;
}

.notification:first-child {
    margin-top: 0;
}

.notification:not(.notification--success):not(.notification--cancel):hover {
    background-color: #F5F5F5;
}
    .notification::before {
        content: "";
        position: absolute;
        left: 24px;
        right: 24px;
        top: 0;
        height: 1px;
        background-color: #E8E8E8;
        transition: background-color var(--transition-hover);
    }

    .notification:first-child::before {
        display: none;
    }

    .notification:not(.notification--success):not(.notification--cancel):hover::before {
        background-color: transparent;
    }

    .notification:not(.notification--success):not(.notification--cancel):hover + .notification::before {
        background-color: transparent;
    }

    .notification__preview {
        position: absolute;
        z-index: 10;
        left: 24px;
        top: 21px;
    }

    .notification__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        min-height: 84px; /* 40px without paddings, 2 lines of text */
        padding: 22px 50px 22px 85px;
        font-size: 12px;
        line-height: 20px;
        color: #545454;
        text-decoration: none;
    }
        .notification__body {
            position: relative;
        }
            .notification__body .link--text-alike {
                transition: opacity var(--transition-hover);
            }
            .notification__body .link--text-alike:hover {
                opacity: 0.6;
            }

        .notification__bubble {
            margin: 12px -26px 3px 0;
            position: relative;
            padding: 18px 22px 15px;
            background-color: #F8F8F8;
            border-radius: 11px;
            font-size: 12px;
            line-height: 20px;
            color: #545454;
            transition: background-color var(--transition-hover);
        }

        .notification:hover .notification__bubble {
            background-color: #FFFFFF;
        }

        .notification__time {
            position: absolute;
            right: 24px;
            top: 24px;
            font-size: 12px;
            line-height: 16px;
            color: #AAAAAA;
        }

    .notification__operations {
        width: calc(100% - 19px - 80px);
        margin: -15px 19px 22px 80px;
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-grow: 1;
    }
        .notification__action {
            margin-left: 5px;
            margin-right: 5px;
        }

        .notification__action--50pct {
            width: 50%;
        }

        .notification__action--grow {
            flex-grow: 1;
        }

        /* in case but is inside (not on the same node) */
        .notification__action .button {
            width: 100%;
        }



.notification--success {

}

.notification--success:hover {

}
    .notification--success .notification__wrapper {
        background-color: #F4F4F4;
        border-radius: 8px;
        margin: 22px 24px;
    }
        .notification--success .notification__wrapper::after {
            content: "";
            position: absolute;
            right: 10px;
            bottom: 10px;
            display: block;
            width: 15px;
            height: 15px;
            background-image: url("../vectors/notification-success.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }


    .notification--success .notification__preview {
        margin-left: 24px;
        margin-top: 22px;
    }



.notification--cancel {

}

.notification--cancel:hover {

}
    .notification--cancel .notification__wrapper {

    }
        .notification--cancel .notification__body::after {
            content: "";
            display: inline-block;
            vertical-align: top;
            width: 26px;
            height: 26px;
            margin: -3px 0 -3px 16px;
            background-image: url("../vectors/notification-cancel.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }


    .notification--cancel .notification__preview {

    }


