.null {
    display: flex; /* flexbug #3 */
}
    .null__inner {
        min-height: 126px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 33px;
        background-color: #F6F6F6;
        border-radius: 12px;
        font-size: 12px;
        line-height: 21px;
        color: #757575;
        text-align: center;
    }
        .null__heading {
            max-width: 430px;
            margin-left: auto;
            margin-right: auto;
        }

        .null__operations {
            margin-top: 22px;
            padding-bottom: 6px;
        }



.null--larger {

}
    .null--larger .null__inner {
        min-height: 252px;
        font-size: 16px;
        line-height: 28px;
    }
