.operations {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
    .operations__handler {
        display: block;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        padding: 4px 0 5px;
        border: none;
        background-color: transparent;
        font-weight: bold;
        font-size: 8px;
        line-height: 12px;
        text-transform: uppercase;
        letter-spacing: -0.1px;
        color: #C4C4C4;
        text-align: center;
        cursor: pointer;
    }
        .operations__icon {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 7px;
            fill: #C4C4C4;
        }

        .operations__handler:hover .operations__icon {
            fill: #545454;
        }

    .operations__dropdown {
        position: absolute;
        right: 10px;
        top: calc(100% - 20px);
        width: 244px;
        display: none;
        background-color: #FFFFFF;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.06);
        border-radius: 10px;
    }


.operations--expanded {

}
    .operations--expanded .operations__handler {

    }
        .operations--expanded .operations__icon {
            fill: #333333;
        }

    .operations--expanded .operations__dropdown {
        display: block;
    }



.operations--simplified-handler {

}
    .operations--simplified-handler .operations__handler {
        width: 40px;
        height: 40px;
        padding: 0;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
    }
        .operations--simplified-handler .operations__icon {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }

    .operations__dropdown .operations__dropdown {
        top: calc(100% + 11px);
    }
