.opportunity-card {
    position: relative;
    padding: 13px 16px 16px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}
    .opportunity-card::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        display: block;
        height: 43px;
        background-image: linear-gradient(73.88deg, #F3F5F8 20.66%, rgba(242, 242, 242, 0) 100%);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .opportunity-card__preview {

    }

    .opportunity-card__menu {
        position: absolute;
        right: 0;
        top: 0;
    }
        .opportunity-card__menu .operations__icon {
            width: 20px;
            height: 20px;
        }

        .opportunity-card__menu .operations__dropdown {
            top: calc(100% - 4px);
            min-width: 123px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        }

    .opportunity-card__heading {
        margin-top: 8px;
        font-size: 14px;
        line-height: 16px;
        color: #23282C;
    }

    .opportunity-card__location {
        margin-top: 5px;
        font-size: 12px;
        line-height: 16px;
        color: #44474A;
    }

    .opportunity-card__host {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #44474A;
    }

    .opportunity-card__params {
        margin-top: 11px;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }
        .opportunity-card__stat {
            font-weight: 600;
            font-size: 10px;
            line-height: 16px;
            color: #23282C;
            white-space: nowrap;
        }
            .opportunity-card__stat::after {
                content: "|";
                margin-left: 7px;
                margin-right: 7px;
            }

            .opportunity-card__stat:last-child::after {
                display: none;
            }

    .opportunity-card__description {
        margin-top: 19px;
        font-size: 12px;
        line-height: 18px;
        color: #23282C;
    }

    .opportunity-card__summary {
        margin-top: 18px;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 7px;
    }

    .opportunity-card__operations {
        margin-top: 17px;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: minmax(0, 1fr);
        gap: 8px;
    }
        .opportunity-card__operations .button {
            padding-top: 7px;
            padding-bottom: 7px;
        }
