.opportunities {

}
    .opportunities__head {
        display: flex;
        align-items: flex-start;
        gap: 40px;
        padding: 23px 30px 20px;
        background-color: #F3F5F8;
    }
        .opportunities__summary {

        }
            .opportunities__heading {
                position: relative;
                padding-left: 30px;
                margin-top: 0;
                margin-bottom: 0;
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                color: #23282C;
            }
                .opportunities__icon {
                    position: absolute;
                    left: 0;
                    top: 0;
                    vertical-align: top;
                    width: 20px;
                    height: 20px;
                    fill: #44474A;
                }

            .opportunities__note {
                margin-top: 12px;
                font-size: 13px;
                line-height: 21px;
                color: #23282C;
            }

        .opportunities__operations {
            margin-top: 20px;
            margin-left: auto;
            display: flex;
            align-items: flex-start;
            gap: 7px;
        }
            .opportunities__operations .button {
                border-radius: 2px;
                min-width: 68px;
                padding-left: 10px;
                padding-right: 10px;
            }

    .opportunities__list {
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 40px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 20px 40px;
    }
