.opportunities {
    display: flex;
    flex-direction: column;
    height: 100%;
}
    .opportunities__head {
        display: block;
        /*align-items: center;*/
        /*gap: 40px;*/
        /*padding: 18px 30px;*/
        padding: 20px var(--container-mobile-padding);
        min-height: 64px;
        flex-shrink: 0;
        /*background-color: #F3F5F8;*/
    }
        .opportunities__summary {

        }
            .opportunities__heading {
                /*position: relative;*/
                /*padding-left: 30px;*/
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
                /*font-weight: 600;*/
                /*font-size: 18px;*/
                /*line-height: 24px;*/
                /*color: #23282C;*/
            }
                .opportunities__icon {
                    /*position: absolute;*/
                    /*left: 0;*/
                    /*top: 0;*/
                    /*vertical-align: top;*/
                    /*width: 20px;*/
                    /*height: 20px;*/
                    /*fill: #44474A;*/
                }

            .opportunities__note {
                /*margin-top: 12px;*/
                /*font-size: 13px;*/
                /*line-height: 21px;*/
                /*color: #23282C;*/
            }

        .opportunities__operations {
            margin-top: 14px;
            /*margin-left: auto;*/
            /*display: flex;*/
            /*align-items: flex-start;*/
            /*gap: 7px;*/
        }
            .opportunities__operations .button {
                /*border-radius: 2px;*/
                /*min-width: 68px;*/
                /*padding-left: 18px;*/
                /*padding-right: 18px;*/
            }

    .opportunities__body {
        /*padding: 30px 30px 100px;*/
        padding: var(--container-mobile-padding) var(--container-mobile-padding) 40px;
        display: block;
        /*align-items: start;*/
        /*grid-template-columns: 222px 1fr;*/
        /*gap: 20px;*/
    }
        .opportunities__sidebar {
            display: none;
            /*padding: 10px 20px;*/
            /*border: 1px solid #E8E8E8;*/
            /*border-radius: 3px;*/
        }
            .opportunities__side-head {
                display: flex;
                align-items: center;
                gap: 40px;
                padding-right: 6px;
                padding-bottom: 20px;
            }
                .opportunities__filters-hint {
                    font-size: 13px;
                    line-height: 21px;
                    color: #757575;
                }

                .opportunities__top-close {
                    margin-left: auto;
                }

            .opportunities__side-frame {

            }

            .opportunities__side-footer {
                margin-top: 20px;
                display: block;
            }
                .opportunities__bottom-close {

                }

                .opportunities__bottom-close.button,
                .opportunities__bottom-close .button {
                    padding: 8px 20px;
                    border-radius: 4px;
                    box-shadow: none;
                    font-size: 13px;
                    line-height: 24px;
                }

        .opportunities__content {

        }
            .opportunities__search-head {
                display: block;
                /*align-items: flex-start;*/
                /*gap: 16px;*/
            }
                .opportunities__param {
                    width: auto;
                    margin-bottom: 9px;
                }

                .opportunities__search-submit.button,
                .opportunities__search-submit .button {
                    width: 100%;
                }

            .opportunities__results-head {
                /*margin-top: 15px;*/
                display: flex;
                flex-direction: column-reverse;
                /*align-items: flex-start;*/
                gap: 0;
            }

            .opportunities__empty {

            }

                .opportunities__findings {
                    margin-top: 10px;
                    /*margin-bottom: 0;*/
                    font-size: 15px;
                    line-height: 18px;
                    /*color: #23282C;*/
                }

                .opportunities__show-filters {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #FFFFFF;
                    border: 1px solid #E8E8E8;
                    border-radius: 5px;
                    margin-top: -40px;
                    padding: 10px;
                    font-size: 11px;
                    line-height: 20px;
                    color: #545454;
                    cursor: pointer;
                    transition: border-color var(--transition-hover);
                }

                .opportunities__show-filters:hover {
                    border-color: #C4C4C4;
                }
                    .opportunities__filters-icon {
                        vertical-align: top;
                    }

                    .opportunities__applied-filters {
                        margin-left: 8px;
                        margin-top: -1px;
                        font-weight: 600;
                        font-size: 13px;
                        line-height: 20px;
                        color: #545454;
                    }

                .opportunities__sort {
                    /*margin-left: auto;*/
                    /*display: flex;*/
                    /*align-items: flex-start;*/
                }
                    .opportunities__sort-label {
                        /*margin-right: 10px;*/
                        /*margin-top: 11px;*/
                        /*font-size: 12px;*/
                        /*line-height: 18px;*/
                        /*color: #23282C;*/
                    }

                    .opportunities__sort .input {
                        /*width: 115px;*/
                    }


    .opportunities__list {
        margin-top: 13px;
        display: grid;
        /*grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));*/
        grid-gap: 13px;
    }

    .opportunities__footer {
        /*margin-top: 28px;*/
    }

    .opportunities__detailed-item {
        padding: var(--container-mobile-padding) var(--container-mobile-padding) 40px;
        /*max-width: 731px;*/
    }

    .opportunities__form {
        padding: 16px var(--container-mobile-padding) 40px;
    }

    .opportunities__added {
        padding-top: 0;
        padding-bottom: 0;
        flex-grow: 1;
    }


.opportunities--filters-expanded {

}
    .opportunities--filters-expanded .opportunities__head {
        display: none;
    }

    .opportunities--filters-expanded .opportunities__sidebar {
        display: block;
    }

    .opportunities--filters-expanded .opportunities__content {
        display: none;
    }
