.org-head {
    display: flex;
    align-items: flex-start;
}
    .org-head__preview {
        flex-shrink: 0;
        margin-top: 1px;
        margin-right: 16px;
        border: 1px solid #F2F2F2;
        border-radius: 4px;
        padding: 3px;
    }

    .org-head__data {
        margin-right: auto;
    }
        .org-head__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #545454;
        }
            .org-head__heading .link--text-alike {
                font-weight: inherit;
                transition: opacity var(--transition-hover);
            }

            .org-head__heading .link--text-alike:hover {
                opacity: 0.7;
            }

        .org-head__note {
            margin-top: 8px;
            font-size: 13px;
            line-height: 18px;
            color: #757575;
        }

    .org-head__location {
        padding-left: 20px;
        font-weight: bold;
        font-size: 11px;
        line-height: 14px;
        color: #8B8B8B;
        letter-spacing: 2.2px;
        text-transform: uppercase;
    }
