:root {
    /*--org2-left: 334px;*/
    /*--org2-right: 716px;*/
    /*--org2-gap: 70px;*/
}

.org2 {
    /*padding-bottom: 80px;*/
}
    .org2__head {
        overflow-y: auto;
        border-left: none;
        border-right: none;
    }
        .org2__ribbon {
            /*position: relative;*/
            padding-left: 10px;
            padding-right: 20px;
            display: inline-flex;
            align-items: center;
        }
            .org2__nav {
                /*display: flex;*/
                /*align-items: flex-start;*/
                /*padding-top: 14px;*/
                /*padding-bottom: 14px;*/
                margin-left: 0;
            }
                .org2__link {
                    /*position: relative;*/
                    padding: 8px 11px;
                    margin-left: 0;
                    /*font-weight: 600;*/
                    font-size: 12px;
                    line-height: 16px;
                    /*color: #545454;*/
                    /*text-decoration: none;*/
                    /*border-radius: 4px;*/
                    /*transition: background-color var(--transition-hover);*/
                }

                .org2__link:first-child {
                    /*margin-left: 0;*/
                }

                .org2__link:hover {
                    /*background-color: var(--panel-hover);*/
                }

                .org2__link:active {
                    /*background-color: var(--panel-active);*/
                    /*transition: none;*/
                }

                    .org2__link::after {
                        /*content: "";*/
                        /*position: absolute;*/
                        left: 10px;
                        right: 10px;
                        bottom: 1px;
                        /*height: 3px;*/
                        /*border-radius: 2px;*/
                    }

                    .org2__link--current::after {
                        /*background-color: #ACC0D5;*/
                    }

        .org2__institution {
            margin-left: 10px;
            position: static;
            /*right: 0;*/
            /*top: 20px;*/
        }

    .org2__preview {
        /*position: relative;*/
        height: 142px;
    }
        .org2__background {
            /*position: absolute;*/
            /*left: 0;*/
            /*top: 0;*/
            /*right: 0;*/
            /*bottom: 0;*/
            /*background-color: #2E2A29;*/
            /*background-size: cover;*/
            /*background-repeat: no-repeat;*/
            /*background-position: center center;*/
        }
            /* Gradient overlay */
            .org2__background::before {
                /*content: "";*/
                /*position: absolute;*/
                /*left: 0;*/
                /*top: 0;*/
                /*right: 0;*/
                /*bottom: 0;*/
                /*background-image: linear-gradient(64.12deg, rgba(51, 51, 51, 0.8) 34.6%, rgba(255, 255, 255, 0) 100%);*/
                /*background-repeat: no-repeat;*/
                /*background-position: center center;*/
                /*opacity: 0.8;*/
            }

    .org2__body {
        margin-top: -29px;
        /*position: relative;*/
    }
        .org2__first-row {
            display: block;
            /*align-items: flex-start;*/
        }
            .org2__brand {
                padding-left: 0;
                height: auto;
                /*display: flex;*/
                /*align-items: flex-start;*/
                /*flex-grow: 1;*/
                /*margin-left: var(--org2-gap);*/
                width: auto;
            }
                .org2__logo {
                    position: static;
                    display: inline-block;
                    vertical-align: top;
                }
                    .org2__emblem {
                        /*vertical-align: top;*/
                        /*border-radius: 3px;*/
                    }

                .org2__pre-heading {
                    margin-top: 10px;
                }

                .org2__heading {
                    margin-top: 8px;
                    /*margin-bottom: 0;*/
                    /*font-weight: 600;*/
                    font-size: 16px;
                    line-height: 24px;
                    /*color: #23282C;*/
                }

            .org2__search {
                margin-top: 20px;
            }

            .org2__follower {
                margin-top: 10px;
                margin-right: 0;
                /*order: -1;*/
                width: auto;
                /*padding: 9px 16px 15px;*/
                /*background-color: #F3F5F8;*/
                /*border-top: 6px solid #ACC0D5;*/
                /*border-radius: 5px;*/
            }
                .org2__connections {

                }
                    .org2__connections .all-connections__heading {
                        /*color: #44474A;*/
                    }

                    .org2__connections .all-connections__description {
                        /*color: #44474A;*/
                    }

                .org2__operations {
                    /*margin-top: 10px;*/
                    /*display: flex;*/
                    /*gap: 8px;*/
                }
                    .org2__action {
                        /*flex-grow: 1;*/
                        /*flex-basis: 0;*/
                    }

        .org2__second-row {
            margin-top: 56px;
            display: block;
            /*align-items: flex-start;*/
        }
            .org2__about {
                /*margin-top: -30px;*/
                margin-left: 0;
                width: auto;
            }
                .org2__sub-heading {
                    /*font-weight: 600;*/
                    /*font-size: 13px;*/
                    /*line-height: 20px;*/
                    /*color: #23282C;*/
                }
                    .org2__info-icon {
                        /*float: left;*/
                        /*margin: -2px 10px -2px -2px;*/
                        /*vertical-align: top;*/
                        /*fill: currentColor;*/
                    }

                .org2__description {
                    /*margin-top: 17px;*/
                    /*color: #44474A;*/
                }

            .org2__contacts {
                margin-top: 20px;
                /*order: -1;*/
                width: auto;
            }
                .org2__channels {
                    /*background-color: #F3F5F8;*/
                    /*border-radius: 5px;*/
                }

                .org2__social {
                    /*margin-top: 12px;*/
                }


        .org2__section {
            /*margin-top: 40px;*/
            /*margin-left: calc(-1 * var(--container-mobile-padding));*/
            /*margin-right: calc(-1 * var(--container-mobile-padding));*/
        }

    .org2__people {
        margin-top: 30px;
        grid-template-columns: repeat(3, 1fr);
        gap: 27px 20px;
    }

    @media (max-width: 639px) {

        .org2__people {
            grid-template-columns: repeat(2, 1fr);
        }
    }
