.owl-carousel {

}



.owl-carousel--profile-projects.owl-carousel--faded-on-the-right::before,
.owl-carousel--profile-projects.owl-carousel--faded-on-the-right::after {
    display: none;
}



.owl-carousel--profile-media {
    width: auto;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-left: calc(var(--container-mobile-padding) - 4px);
    padding-right: calc(var(--container-mobile-padding) - 4px);
}
    .owl-carousel--profile-media .owl-carousel__item {
        margin-right: 35px;
    }

    .owl-carousel--profile-media .owl-carousel__item:last-child {
        margin-right: 0;
    }

@media (max-width: 374px) {
    .owl-carousel--profile-media .owl-carousel__item {
        margin-right: 20px;
    }
}

@media (max-width: 359px) {
    .owl-carousel--profile-media .owl-carousel__item {
        margin-right: 10px;
    }
}


.owl-carousel--full-profile-media {
    width: auto;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-left: calc(var(--container-mobile-padding) - 4px);
    padding-right: calc(var(--container-mobile-padding) - 4px);
}
    .owl-carousel--full-profile-media .owl-carousel__item {
        margin-right: 35px;
    }

    .owl-carousel--full-profile-media .owl-carousel__item:last-child {
        margin-right: 0;
    }

@media (max-width: 374px) {
    .owl-carousel--full-profile-media .owl-carousel__item {
        margin-right: 20px;
    }
}

@media (max-width: 359px) {
    .owl-carousel--full-profile-media .owl-carousel__item {
        margin-right: 10px;
    }
}




.owl-carousel--profile-projects {
    padding: 0;
    border-radius: 0;
}
