.panel-invite {
    padding: 28px 48px 31px;
    background-color: #EEF0F3;
    border-radius: 4px;
    text-align: center;
}
    .panel-invite__heading {
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        color: #333333;
    }

    .panel-invite__note {
        margin-top: 8px;
        font-size: 12px;
        line-height: 18px;
        color: #545454;
    }

    .panel-invite__search {
        margin-top: 16px;
    }
        .panel-invite__search .input__widget {
            border-radius: 10px;
        }

    .panel-invite__submit {
        margin-top: 16px;
        width: 100%;
    }
        .panel-invite__submit--limited.button,
        .panel-invite__submit--limited .button {
            width: 228px;
        }

        .panel-invite__alternative {
            margin-top: 10px;
            padding: 5px 12px 7px;
            background-color: transparent;
            border: none;
            border-radius: 4px;
            font-weight: 600;
            font-size: 12px;
            line-height: 20px;
            color: #44474A;
            cursor: pointer;
        }

        .panel-invite__alternative:hover {
            background-color: #FAFAFA;
        }

        .panel-invite__alternative:active {
            background-color: #FFFFFF;
        }

            .panel-invite__alternative-icon {
                margin: -1px 8px -3px -2px;
                vertical-align: top;
                fill: currentColor;
            }

