.party {
    display: inline-flex;
    align-items: flex-start;
    background-color: rgba(232, 232, 232, 0.57);
    padding: 8px 15px 8px 11px;
    border-radius: 20px;
}
    .party__icon {
        margin-top: 3px;
        flex-shrink: 0;
        vertical-align: top;
        fill: #BCBCBC;
    }

    .party__list {
        margin-left: 6px;
        flex-shrink: 0;
        display: flex;
        align-items: flex-start;
    }
        .party__item {
            flex-shrink: 0;
            margin-left: 5px;
        }

        .party__item:first-child {
            margin-left: 0;
        }

    .party__more {
        margin-left: 6px;
        font-weight: bold;
        font-size: 9px;
        color: #757575;
        text-decoration: none;
    }


.party--faded {

}
    .party--faded .party__icon {
        fill: #FFFFFF;
    }

    .party--faded .party__list {

    }
        .party--faded .party__item {

        }

        .party--faded .party__item:first-child {

        }

    .party--faded .party__more {
        color: #FFFFFF;
    }
