.parsed-link:not(.parsed-link--smaller) {
    height: auto;
    min-height: 72px;
    padding-left: 90px;
}
    .parsed-link:not(.parsed-link--smaller) .parsed-link__icon {

    }

    .parsed-link:not(.parsed-link--smaller) .parsed-link__heading {
        margin-top: -10px;
        white-space: normal;
    }

    .parsed-link:not(.parsed-link--smaller) .parsed-link__url {
        font-weight: bold;
    }



.parsed-link--smaller {
    min-height: 46px;
}
    .parsed-link--smaller .parsed-link__icon {

    }

    .parsed-link--smaller .parsed-link__heading {

    }

    .parsed-link--smaller .parsed-link__url {

    }
