.parsed-link {
    position: relative;
    display: block;
    padding-left: 104px;
    padding-top: 12px;
    height: 72px;
    text-decoration: none;
}
    .parsed-link__icon {
        position: absolute;
        left: 0;
        top: 0;
    }

    .parsed-link__heading {
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: #757575;
    }

    .parsed-link__url {
        margin-top: 8px;
        font-size: 12px;
        line-height: 18px;
        color: #C4C4C4;
    }
