.people {
    padding-top: var(--org-pages-mobile-top-padding);
    padding-bottom: 80px;
}
    .people__department {
        margin-top: 30px;
    }

    .people__department:first-child {
        margin-top: 0;
    }
