.performance {

}
    .performance__body {
        position: relative;
        padding: 14px 16px 16px;
        background-color: #F2F2F2;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: flex;
        align-items: flex-start;
    }
        .performance__close {
            position: absolute;
            right: 40px;
            top: 36px;
            width: 40px;
            height: 40px;
            padding: 12px;
            border: none;
            background-color: transparent;
            border-radius: 50%;
            cursor: pointer;
        }

        .performance__close:hover {
            background-color: rgba(255, 255, 255, 0.8);
        }

        .performance__close:active {
            background-color: rgba(255, 255, 255, 1);
        }
            .performance__cross {
                vertical-align: top;
                fill: #757575;
            }

        .performance__preview {
            margin-right: 24px;
            flex-shrink: 0;
        }

        .performance__content {

        }
            .performance__sub-heading {
                font-weight: bold;
                font-size: 13px;
                line-height: 20px;
                color: #545454;
            }

            .performance__note {
                margin-top: 9px;
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                color: #545454;
            }

            .performance__note + .performance__note {
                margin-top: 4px;
            }

    .performance__footer {
        display: flex;
        align-items: center;
        border-top: 1px solid #E8E8E8;
        background-color: #F2F2F2;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 12px 16px;
    }
        .performance__dates {
            position: relative;
            padding: 6px 6px 8px 0;
            font-size: 11px;
            line-height: 16px;
            color: #545454;
        }
            .performance__main-date {
                font-weight: 600;
            }

            .performance__dates .bubble {
                left: 0;
                right: auto;
                transform: translate(0);
            }
                .performance__dates .bubble .bubble__peak {
                    left: 17px;
                }

        .performance__add {
            margin-left: auto;
            margin-right: -4px;
            display: inline-flex;
            align-items: flex-start;
            justify-content: center;
            vertical-align: top;
            border: 1px solid #E8E8E8;
            min-width: 94px;
            border-radius: 15px;
            padding: 6px 20px;
            background-color: #FFFFFF;
            font-weight: 600;
            font-size: 11px;
            line-height: 16px;
            color: #545454;
            text-decoration: none;
            transition: background-color var(--transition-hover);
        }

        .performance__add:hover {
            background-color: #FAFAFA;
        }

        .performance__add:active {
            background-color: #F5F5F5;
        }
            .performing__calendar-icon {
                margin-right: 6px;
                margin-left: -4px;
                fill: currentColor;
            }

        .performance__action {
            margin-left: auto;
        }


    .performance__extension {
        background-color: #FFFFFF;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
        .performance__description {

        }

        .performance__types {
            margin-top: 4px;
        }


.performance--full {

}
    .performance--full .performance__body {
        padding: 44px 52px 16px;
    }

    .performance--full .performance__footer {
        border-top-color: transparent;
        padding: 12px 52px 42px;
    }

    .performance--full .performance__extension {
        padding: 36px 52px 48px;
    }
