.performance {
    background-color: #F2F2F2;
    border-radius: 5px;
}
    .performance__body {
        position: relative;
        padding: 14px 16px 16px 104px;
        min-height: 96px;
    }
        .performance__preview {
            position: absolute;
            left: 16px;
            top: 16px;
        }

        .performance__sub-heading {
            font-weight: bold;
            font-size: 13px;
            line-height: 20px;
            color: #545454;
        }

        .performance__note {
            margin-top: 9px;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: #545454;
        }

        .performance__note + .performance__note {
            margin-top: 4px;
        }

    .performance__footer {
        display: flex;
        align-items: center;
        border-top: 1px solid #E8E8E8;
        padding: 12px 16px;
    }
        .performance__dates {
            position: relative;
            padding: 6px 6px 8px 0;
            font-size: 11px;
            line-height: 16px;
            color: #545454;
        }
            .performance__main-date {
                font-weight: 600;
            }

        .performance__add {
            margin-left: auto;
            margin-right: -4px;
            display: inline-flex;
            align-items: flex-start;
            vertical-align: top;
            border: 1px solid #E8E8E8;
            border-radius: 15px;
            padding: 6px 20px;
            background-color: #FFFFFF;
            font-weight: 600;
            font-size: 11px;
            line-height: 16px;
            color: #545454;
            text-decoration: none;
            transition: background-color var(--transition-hover);
        }

        .performance__add:hover {
            background-color: #FAFAFA;
        }

        .performance__add:active {
            background-color: #F5F5F5;
        }
            .performing__calendar-icon {
                margin-right: 6px;
                margin-left: -4px;
                fill: currentColor;
            }


        .performance__action {
            margin-left: auto;
        }
