.pic-link {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 12px 20px 12px 32px;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    color: #545454;
    text-decoration: none;
    transition: background-color var(--transition-hover);
}
    .pic-link__beta {
        margin-left: 5px;
        margin-top: -2px;
        color: #545454;
    }

@media (min-height: 800px) {

    .pic-link {
        padding-top: 14px;
        padding-bottom: 14px;
    }
        .pic-link + .pic-link {
            margin-top: 5px;
        }
}

@media (min-height: 900px) {

    .pic-link {
        padding-top: 14px;
        padding-bottom: 14px;
    }
        .pic-link + .pic-link {
            margin-top: 17px;
        }
}

    .pic-link__icon {
        position: relative;
        vertical-align: top;
        fill: #545454;
        margin: 2px 9px 2px 0;
        flex-shrink: 0;
    }

    .pic-link__icon--photo {
        border-radius: 2px;
    }

    .pic-link__counter {
        position: absolute;
        left: 45px;
        top: 7px;
        box-shadow: 0 0 0 1px #FFFFFF;
    }


.pic-link:hover {
    background-color: var(--panel-hover);
}

.pic-link:active {
    background-color: var(--panel-active);
    transition: none;
}





/*.pic-link--collapsed-sidebar {*/
/*    position: relative;*/
/*    display: block;*/
/*    height: 58px;*/
/*    padding: 0;*/
/*    text-indent: 200%;*/
/*    white-space: nowrap;*/
/*    overflow: hidden;*/
/*    transition: background-color var(--transition-hover);*/
/*}*/

/*.pic-link--collapsed-sidebar:hover {*/
/*    background-color: #F4F4F4;*/
/*    box-shadow: inset -1px 0 0 #E8E8E8;*/
/*}*/
/*    .pic-link--collapsed-sidebar .pic-link__icon {*/
/*        position: absolute;*/
/*        left: 0;*/
/*        top: 0;*/
/*        right: 0;*/
/*        bottom: 0;*/
/*        margin: auto;*/
/*        width: 28px;*/
/*        height: 28px;*/
/*    }*/



.pic-link--current {
    font-weight: bold;
    color: #39606C;
}
    .pic-link--current::after {
        content: "";
        position: absolute;
        right: -2px;
        top: 50%;
        height: 32px;
        margin-top: -16px;
        width: 3px;
        background-color: #39606C;
        border-radius: 4px;
    }

    .pic-link--current .pic-link__icon {
        fill: #545454;
    }
