.player3 {
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    bottom: 0;
    height: 72px;
    background-color: #333333;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.player3__widget {
    position: fixed;
    left: 0;
    top: 0;
}

.player3--loading {

}
    .player3__viewport {
        position: absolute;
        left: 13px;
        bottom: 12px;
    }
        .player3__preview {
            vertical-align: top;
            background-color: var(--image-fallback);
            border-radius: 4px;
        }

        .player3__handler {
            position: absolute;
            z-index: 50;
            top: 0;
            right: 0;
            width: 50px;
            height: 50px;
            background-color: transparent;
            border: none;
            padding: 0;
            text-indent: 200%;
            white-space: nowrap;
            overflow: hidden;
            cursor: pointer;
        }
            /* circle */
            .player3__handler::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 16px;
                height: 16px;
                background-color: #FFFFFF;
                border-radius: 50%;
                transition: background-color var(--transition-hover);
            }

            /* angle icon */
            .player3__angle {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                vertical-align: top;
                fill: #858585;
                transition: fill var(--transition-hover);
            }

        .player3__handler:hover {

        }
            .player3__handler:hover::before {
                background-color: rgba(255, 255, 255, 0.7);
            }

            .player3__handler:hover .player__angle {
                fill: #9CB2BE;
            }


    .player3__data {
        position: absolute;
        left: 202px;
        top: 14px;
        max-width: calc(50% - 360px);
    }
        .player3__song {
            font-weight: bold;
            font-size: 13px;
            line-height: 20px;
            color: #FFFFFF;
        }

        .player3__artist {
            margin-top: 1px;
            font-weight: 600;
            font-size: 12px;
            line-height: 20px;
            color: #C4C4C4;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }


    .player3__controls {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 5px;
    }
        .player3__action {
            position: relative;
            width: 40px;
            height: 40px;
            padding: 8px;
            background-color: transparent;
            border: 0;
            cursor: pointer;
            user-select: none;
        }
            .player3__action::before {
                content: "";
                position: absolute;
                z-index: 10; /* lower than icon */
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 24px;
                height: 24px;
                border-radius: 4px;
                transition: background-color var(--transition-hover);
            }

            .player3__action--play::before {
                width: 28px;
                height: 28px;
                background-color: #5D6162;
                border-radius: 50%;
            }

            .player3__icon {
                position: absolute;
                z-index: 30; /* higher than buttons background */
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                vertical-align: top;
                fill: #FFFFFF;
                transition: fill var(--transition-hover),
                            opacity var(--transition-show),
                            visibility var(--transition-show);
                user-select: none;
            }

        .player3__action:hover {

        }
            .player3__action:hover::before {
                background-color: #5D6162;
            }

            .player3__action--play:hover::before {
                background-color: #6E7375;
            }

        .player3__action--play:active {

        }
            .player3__action--play:active .player3__action--play::before {
                transition: none;
            }

        .player3__action--disabled,
        .player3__action--disabled:hover {
            cursor: default;
        }
            .player3__action--disabled .player3__icon,
            .player3__action--disabled:hover .player3__icon {
                fill: #757575;
            }

            .player3__action--disabled::before,
            .player3__action--disabled:hover::before {
                background-color: transparent;
            }


    .player3__progress {
        position: relative;
        width: 280px;
        height: 20px; /* it is tall so you can easier click on it */
        margin-left: auto;
        margin-right: auto;
        padding-top: 8px;
        padding-bottom: 8px;
        cursor: pointer;
    }
        .player3__progress::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 8px;
            height: 4px;
            background-color: #757575;
            border-radius: 2px;
        }

        .player3__bar {
            position: relative;
            height: 4px;
            background-color: #FFFFFF;
            border-radius: 2px;
        }

    .player3__menu {
        position: absolute;
        right: 20px;
        bottom: 16px;
    }

.player3-collapsed {

}
    .player3-collapsed .player3__preview {
        width: 48px;
        height: 48px;
    }

    .player3-collapsed .player3__handler {
        width: 20px;
        height: 20px;
        right: -10px;
        top: -7px
    }
        .player3-collapsed .player3__angle {
            transform: scaleY(-1);
        }

    .player3-collapsed .player3__data {
        left: 83px;
        max-width: calc(50% - 241px);
    }
