.player2 {
    position: relative;
    background-color: #333333;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
}

.player2__controls {
    display: flex;
    align-items: flex-start;
}

.player2__overflow {
    padding-left: 1px; /* 1px is for .player2__playhead::after */
    padding-right: 1px;
    overflow: hidden; /* cut .player2__playhead::before */
}
    .player2__timeline {
        position: relative;
        height: 23px;
    }
        .player2__timeline::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 10px;
            bottom: 10px;
            background-color: #757575;
            border-radius: 2px;
        }

        .player2__playhead {
            position: absolute;
            top: 0;
            width: 23px;
            height: 23px;
            margin-left: -11px;
        }
            .player2__playhead::before {
                content: "";
                position: absolute;
                right: 11px;
                top: 10px;
                width: 2000px;
                height: 3px;
                background-color: #FFFFFF;
                border-radius: 2px;
            }

            .player2__playhead::after {
                content: "";
                position: absolute;
                left: 10px;
                top: 6px;
                width: 2px;
                height: 11px;
                background-color: #FFFFFF;
                border-radius: 2px;
            }
