.player {
    padding: 15px 26px;
    background-color: #9CB2BE;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.07);
    color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
}
    .player__heading {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: #FFFFFF;
        text-align: center;
    }

    .player__preview {
        margin-top: 15px;
        border-radius: 10px;
        background-color: #ABC0CC;
        vertical-align: top;
    }

    .player__song {
        margin-top: 9px;
        font-weight: bold;
        font-size: 11px;
        line-height: 18px;
    }

    .player__artist {
        font-weight: 600;
        font-size: 10px;
        line-height: 18px;
    }

    .player__progress {
        position: relative;
        margin-top: 9px;
        height: 49px;
        opacity: 0; /* by default hide remains of player */
    }

    .player--init .player__progress {
        opacity: 1;
    }
        /* horizontal line in the middle of a player */
        .player--init .player__progress::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 24px;
            height: 1px;
            background-color: #FFFFFF;
        }

    .player__controls {
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .player__action {
            position: relative;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            padding: 0;
            border: 0;
            cursor: pointer;
        }

        .player__action:hover {
            fill: #C4D1D8;
        }
            .player__icon {
                position: relative;
                vertical-align: top;
                fill: #FFFFFF;
            }


        .player__action--play {

        }
            .player__action--play .player__icon {

            }

            /* play button background */
            .player__action--play::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 32px;
                height: 32px;
                background-color: #ABC0CC;
                border-radius: 8px;
            }

        .player__action--play:hover {

        }
            .player__action--play:hover .player__icon {
                fill: #9CB2BE;
            }

            .player__action--play:hover::before {
                background-color: #E1E8EB;
            }


        /* disabled until song loaded */
        .player__action--play.player__action--disabled {
            cursor: default;
            opacity: 0.1;
        }
            .player__action--play.player__action--disabled .player__icon,
            .player__action--play.player__action--disabled:hover .player__icon {
                background-color: #ABC0CC;
            }

            .player__action--play.player__action--disabled .player__icon,
            .player__action--play.player__action--disabled:hover .player__icon {
                fill: #BDCDD5;
            }

