.playlist {

}
    .playlist__head {
        display: flex;
        align-items: flex-start;
    }

    .playlist__body {
        margin-top: 26px;
        margin-left: -16px;
        margin-right: -16px;
    }
        .playlist__row {
            padding: 13px 16px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: inherit;
            border-radius: 4px;
            transition: background-color var(--transition-hover);
        }

        .playlist__row:first-child {
            margin-top: 0;
        }

        .playlist__row:hover {
            background-color: var(--panel-hover);
        }

            .playlist__cell {
                padding-left: 40px;
                flex-shrink: 0;
            }

            .playlist__cell:first-child {
                padding-left: 0;
            }


            .playlist__cell--person { width: 380px; }
            .playlist__cell--show   { width: 306px; }
            .playlist__cell--length { width: 208px; }
            .playlist__cell--type   { width: 186px; }


            .playlist__head .playlist__cell {
                font-weight: 600;
                font-size: 11px;
                line-height: 18px;
                color: #8B8B8B;
            }

            .playlist__body .playlist__cell--person {  }
            .playlist__body .playlist__cell--show   { font-size: 12px; line-height: 18px; color: #545454; }
            .playlist__body .playlist__cell--length { font-weight: 600; font-size: 12px; line-height: 18px; color: #757575; }
            .playlist__body .playlist__cell--type   { font-size: 11px; line-height: 18px; text-transform: uppercase; color: #8B8B8B; }



        .playlist__card {
            position: relative;
            padding-left: 80px;
            padding-top: 2px;
            padding-bottom: 2px;
        }
            .media-summary__preview {
                position: absolute;
                left: 0;
                top: 0;
            }
                .media-summary__box-art {
                    border-radius: 2px;
                    vertical-align: top;
                }

            .media-summary__performer {
                font-weight: 600;
                font-size: 13px;
                line-height: 20px;
                color: #333333;
            }

            .media-summary__title {
                font-size: 12px;
                line-height: 18px;
                color: #545454;
            }