.play {
    display: inline-block;
    vertical-align: top;
    border: none;
    width: 70px;
    height: 70px;
    padding: 19px;
    background-color: rgba(255, 255, 255, 0.88);
    border-radius: 50%;
}
    .play__icon {
        vertical-align: top;
        fill: #C4C4C4;
    }

    .play:hover,
    .clip:hover .play {
        background-color: rgba(196, 196, 196, 0.88);
    }
        .play:hover .play__icon,
        .clip:hover .play__icon {
            fill: #FFFFFF;
        }
