.player {
    position: relative;
    padding: 15px 26px;
    background-color: #9CB2BE;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.07);
    color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
}
    .player__handler:hover {

    }
        .player__handler:hover::before {
            background-color: rgba(255, 255, 255, 0.7);
        }

        .player__handler:hover .player__angle {
            fill: #9CB2BE;
        }

    .player__heading {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: #FFFFFF;
        text-align: center;
    }

    .player__preview {
        margin-top: 15px;
        border-radius: 10px;
        background-color: #ABC0CC;
        vertical-align: top;
    }

    .player__song {
        margin-top: 9px;
        font-weight: bold;
        font-size: 11px;
        line-height: 18px;
        text-align: center;
    }

    .player__artist {
        font-weight: 600;
        font-size: 10px;
        line-height: 18px;
        text-align: center;
    }

    .player__wave {
        position: relative;
        margin-top: 9px;
        height: 49px;
    }
        .player__indicator {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.1s ease,
                        visibility 0.1s ease;
        }

        .player--loading .player__indicator {
            opacity: 1;
            visibility: visible;
        }

        .player__progress {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            /* don't use transition here because wave will disappear immideately anyway */
            opacity: 0; /* by default hide remains of player */
        }
            /* horizontal line in the middle of a player */
            .player__progress::before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 24px;
                height: 1px;
                background-color: #FFFFFF;
            }

            .player--ready .player__progress {
                opacity: 1;
                transition: opacity 0.1s ease;
            }


    .player__controls {
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .player__action {
            position: relative;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            padding: 0;
            border: 0;
            cursor: pointer;
            user-select: none;
        }
            .player__icon {
                position: relative;
                vertical-align: top;
                fill: #FFFFFF;
                transition: fill var(--transition-hover);
                user-select: none;
            }

            .player__action:hover .player__icon {
                fill: #C4D1D8;
            }

            .player__action:active .player__icon {
                transition: none;
            }

        .player__action--disabled,
        .player__action--disabled:hover {
            cursor: default;
        }
            .player__action--disabled .player__icon,
            .player__action--disabled:hover .player__icon {
                fill: #BDCDD5;
            }


        .player__action--play {
            background-size: 0 0; /* hide background image */
        }
            .player__action--play .player__icon {

            }

            /* play button background */
            .player__action--play::before {
                content: "";
                position: absolute;
                z-index: 10;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 32px;
                height: 32px;
                background-color: #ABC0CC;
                border-radius: 8px;
                transition: background-color var(--transition-hover);
            }

            .player__action--play:active .player__action--play::before {
                transition: none;
            }

            .player__action--play .player__icon {
                z-index: 20;
            }

        .player__action--play:hover {

        }
            .player__action--play:hover .player__icon {
                fill: #9CB2BE;
            }

            .player__action--play:hover::before {
                background-color: #E1E8EB;
            }


        /* disabled until song loaded */
        .player__action--play.player__action--disabled,
        .player__action--play.player__action--disabled:hover {

        }
            .player__action--play.player__action--disabled::before,
            .player__action--play.player__action--disabled:hover::before {
                background-color: #ABC0CC;
            }

            .player__action--play.player__action--disabled .player__icon,
            .player__action--play.player__action--disabled:hover .player__icon {
                fill: #BDCDD5;
            }

    .player__handler {
        position: absolute;
        right: 0;
        top: 0;
        width: 36px;
        height: 44px;
        background-color: transparent;
        border: none;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
    }
        .player__handler::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 16px;
            height: 16px;
            background-color: rgba(221, 234, 241, 0.25);
            border-radius: 50%;
            transition: background-color var(--transition-hover);
        }

        .player__angle {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            vertical-align: top;
            fill: #FFFFFF;
            transform: scaleY(-1);
            transition: fill var(--transition-hover),
                        transform var(--transition-show);
        }



.player--collapsed {
    height: 65px;
    cursor: pointer; /* Clicking on whole player expands it */
}
    .player--collapsed .player__handler {

    }
        .player--collapsed .player__angle {
            transform: scaleY(1);
        }

    .player--collapsed .player__heading {
        visibility: hidden;
    }

    .player--collapsed .player__preview {
        visibility: hidden;
    }

    .player--collapsed .player__song {
        position: absolute;
        left: 65px;
        right: 26px;
        top: 5px;
        text-align: left;
    }

    .player--collapsed .player__artist {
        position: absolute;
        left: 65px;
        right: 26px;
        top: 31px;
        text-align: left;
    }

    .player--collapsed .player__wave {
        visibility: hidden;
    }

    .player--collapsed .player__controls {

    }
        .player--collapsed .player__action {
            visibility: hidden;
        }

        .player--collapsed .player__action--play {
            position: absolute;
            left: 14px;
            top: 12px;
            width: 40px;
            height: 40px;
            background-size: cover; /* show hidden background image */
            visibility: visible;
            border-radius: 5px;
        }
            /* expand clickable area (override ::before) */
            .player--collapsed .player__action--play::before {
                left: -2px;
                right: -2px;
                top: -2px;
                bottom: -2px;
                margin: 0;
                width: auto;
                height: auto;
                background-color: transparent !important;
                cursor: pointer;
            }

            /* play button image background */
            .player--collapsed .player__action--play::after {
                content: "";
                position: absolute;
                z-index: 10;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                background-color: rgba(51, 51, 51, 0.66);
                border-radius: 5px;
                transition: background-color var(--transition-hover);
            }

            .player--collapsed .player__action--play:hover::after {
                background-color: rgba(51, 51, 51, 0.5);
            }
                .player--collapsed .player__action--play .player__icon {
                    fill: #FFFFFF;
                }
