.play {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    border: none;
    width: 72px;
    height: 72px;
    background-color: rgba(255, 255, 255, 0.88);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.12);
    border-radius: 50%;
}
    .play__icon {
        vertical-align: top;
        fill: #C4C4C4;
    }

    .play:hover,
    .clip:hover .play {
        background-color: rgba(196, 196, 196, 0.88);
    }
        .play:hover .play__icon,
        .clip:hover .play__icon {
            fill: #FFFFFF;
        }


.play--larger {
    width: 86px;
    height: 86px;
}
