.post-handler {
    padding-bottom: 77px;
}
    .post-handler__author-photo {
        flex-shrink: 0;
    }

    .post-handler__select-author {
        flex-grow: 1;
        width: auto;
        min-width: 0;
    }

    .post-handler__message {
        position: absolute;
        left: 18px;
        bottom: 22px;
        right: 18px;
        margin-left: 0;
    }

    .post-handler__menu {
        margin-left: 10px;
    }
        .post-handler__item {

        }

        .post-handler__item:first-child {

        }
            .post-handler__item {

            }

            .post-handler__item.action,
            .post-handler__item > .action {
                width: 24px;
                height: 40px;
            }
                .post-handler__item .action__image {
                    width: 24px;
                    height: 40px;
                    background-color: transparent !important;
                }
                    .post-handler__item .action__icon {
                        width: 16px;
                        height: 16px;
                    }


@media (max-width: 359px) {

    .post-handler {
        padding-bottom: 110px;
    }

        .post-handler__message {
            bottom: 50px;
        }

        .post-handler__menu {
            margin-left: 0;
            position: absolute;
            left: 18px;
            right: 18px;
            bottom: 5px;
            justify-content: flex-end;
        }
}




.post-handler--simplified {
    padding-bottom: 25px;
}
.post-handler--simplified .post-handler__message {

}


