.post-form {
    position: relative;
    /*width: 596px;*/
    width: auto;
    /*background-color: #FFFFFF;*/
    box-shadow: none;
    border-radius: 0;
}
    .post-form__header {
        /*position: relative;*/
        /*height: 67px;*/
        /*padding: 20px 70px 20px 28px;*/
        padding-left: 63px;
        /*border-bottom: 1px solid #E8E8E8;*/
    }
        .post-form__heading {
            /*font-size: 22px;*/
            /*line-height: 26px;*/
            /*color: #757575;*/
            /*cursor: default; !* somehow it feels like you can click and start typing in header *!*/
        }

        .post-form__close,
        .post-form__close.mfp-close {
            /*position: absolute;*/
            right: 13px;
            /*top: 13px;*/
        }

    .post-form__body {

    }
        .post-form__screen {
            /*display: none;*/
        }

        .post-form__screen--current {
            /*display: block;*/
        }

    .post-form__footer {
        /*display: flex;*/
        /*align-items: flex-start;*/
        /*border-top: 1px solid #E8E8E8;*/
        /*height: 73px;*/
        /*padding: 16px 28px;*/
        padding-left: 9px;
        padding-right: 20px;
    }
        .post-form__menu {
            /*display: flex;*/
            /*align-items: flex-start;*/
        }
            .post-form__item {
                /*margin-left: 16px;*/
            }

            .post-form__item:first-child {
                /*margin-left: 0;*/
            }

            @media (max-width: 359px) {
                .post-form__item {
                    margin-left: 8px;
                }
            }

        .post-form__operations {
            /*padding-top: 3px;*/
            /*padding-bottom: 3px;*/
            /*display: flex;*/
            /*align-items: flex-start;*/
            /*margin-left: auto;*/
        }
            .post-form__action {
                /*margin-left: 20px;*/
            }

            .post-form__action.button,
            .post-form__action > .button {
                /*width: 86px;*/
            }

            .post-form__action:first-child {
                /*margin-left: 0;*/
            }

            .post-form__action--secondary {
                position: absolute;
                left: 14px;
                top: 15px;
            }

            .post-form__action--secondary.button,
            .post-form__action--secondary > .button {
                width: 40px;
                height: 40px;
                padding: 0;
                border: none;
                box-shadow: none;
                background-color: transparent;
                text-indent: 200%;
                white-space: nowrap;
                overflow: hidden;
                background-image: url("../vectors/post-form-back.svg");
                background-size: 16px 16px;
                background-repeat: no-repeat;
                background-position: center center;
            }

            .post-form__action--primary {

            }
