.preview {

}
    .preview__image {
        vertical-align: top;
        background-color: var(--image-fallback);
        width: 100%;
        height: auto;
        min-height: 200px;
        max-height: 400px;
        object-fit: cover;
        border-radius: 3px;
    }

    .preview__panel {
        position: relative;
        margin-top: -84px;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        padding: 19px 5.291% 16px;
        background-color: #FFFFFF;
        text-align: center;
    }
        .preview__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #23282C;
        }

        .preview__description {
            margin-top: 14px;
            font-size: 13px;
            line-height: 22px;
            color: #333333;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }

        .preview__submit {
            margin-top: 20px;
        }