.progress {
    border: 1px solid var(--theme-light);
    border-radius: 5px;
    overflow: hidden;
    height: auto; /* bootstrap conflict */
    margin-bottom: 0; /* bootstrap conflict */
    box-shadow: none; /* bootstrap conflict */
}
    .progress__panel {
        position: relative;
        height: 8px;
        border-bottom: 1px solid var(--theme-light);
    }
        .progress__panel::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-image: linear-gradient(to right, rgba(29, 68, 81, 0), #1D4451);
        }

        .progress__bar {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: #FFFFFF;
            transition: transform 0.3s var(--easeOutCirc);
        }


    .progress__body {
        position: relative;
    }
        .progress__head {
            display: flex;
            padding: 24px 28px;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: #757575;
        }
            .progress__head strong {
                font-weight: bold;
                color: #545454;
            }

            .progress__percents {
                width: 50px;
                margin: -5px 20px -5px -4px;
                font-weight: normal;
                font-size: 18px;
                line-height: 28px;
                color: #545454;
                text-align: center;
            }

            .progress__status {
                padding-right: 20px;
                font-size: 13px;
            }

            .progress__steps {
                margin-left: auto;
            }

        .progress__content {
            display: flex;
            align-items: flex-start;
            padding: 22px 28px 20px;
            background-color: var(--theme-light);
        }
            .progress__hint {
                padding-right: 20px;
            }

            .progress__media {
                margin-left: auto;
            }

            .progress__media.button,
            .progress__media .button {
                width: 160px;
            }
