.profile {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
    .profile__handler {
        display: inline-block;
        vertical-align: top;
        padding: 6px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .profile__dropdown {
        position: absolute;
        right: 0;
        top: 100%;
        background-color: #FFFFFF;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.11);
        border-radius: 6px;
        opacity: 0;
        visibility: hidden;
        transition: visibility var(--t  ransition-show),
                    opacity var(--transition-show);
    }

    .profile--expanded .profile__dropdown {
        opacity: 1;
        visibility: visible;
    }

        .profile__link {
            padding: 20px 20px 20px 27px;
            border-bottom: 1px solid #E8E8E8;
            margin-bottom: 13px;
            display: flex;
            align-items: flex-start;
            font-weight: bold;
            font-size: 10px;
            line-height: 16px;
            color: #8B8B8B;
            text-decoration: none;
        }

        .profile__link:hover {
            color: #545454;
        }
            .profile__preview {
                margin: -6px 13px -6px -6px;
            }



        .profile__menu {

        }

        .profile__organisation {
            margin-top: 6px;
            margin-left: 21px;
            margin-right: 21px;
        }

        .profile__logout {
            margin-top: 26px;
            box-shadow: 0 -1px 0 #E8E8E8;
        }

        .profile__logout.icon-action,
        .profile__logout > .icon-action {
            border-top: 9px solid transparent; /* expand clickable area */
            border-bottom: 9px solid transparent; /* expand clickable area */
        }
