.progress {
    border: 1px solid var(--theme-light);
    border-radius: 5px;
    overflow: hidden;
}
    .progress__panel {
        position: relative;
        height: 7px;
    }
        .progress__panel::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-image: linear-gradient(to right, rgba(29, 68, 81, 0), #1D4451);
        }

        .progress__bar {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: #FFFFFF;
        }


    .progress__body {
        position: relative;
        padding: 22px 28px 20px;
        background-color: #F2F2F2;
    }
        .progress__head {
            display: flex;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: #757575;
        }
            strong {
                font-weight: bold;
                color: #545454;
            }

            .progress__status {
                padding-right: 20px;
                font-size: 13px;
            }

            .progress__steps {
                margin-left: auto;
            }

        .progress__content {
            margin-top: 29px;
            display: flex;
            align-items: flex-start;
        }
            .progress__hint {
                padding-right: 20px;
            }

            .progress__media {
                margin-left: auto;
            }

            .progress__media.button,
            .progress__media .button {
                width: 160px;
            }
