.profile {
    position: static;
    width: auto;
    box-shadow: none;
    border-radius: 0;
    overflow: visible;
    opacity: 1;
    visibility: visible;
    display: none;
}

.profile-visible .profile {
    display: block;
}
    .profile__head {
        position: fixed;
        z-index: 200;
        left: 0;
        top: 0;
        right: 0;
        display: block;
        background-color: #FFFFFF;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);
    }

    .profile__body {
        padding-top: var(--header-height);
    }
        .profile__link {
            border: none;
        }


        .profile__menu {
            border-top: none;
            padding-top: 0;
        }

        .profile__organisation {
            display: none;
        }

        .profile__logout {
            margin-top: 0;
            box-shadow: none;
        }

        .profile__logout.nav-link,
        .profile__logout > .nav-link {
            border: none;
        }



.profile-visible {

}
    .profile-visible .header {
        display: none;
    }

    .profile-visible .page {
        display: none;
    }

    .profile-visible .search {
        display: none;
    }
