.profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
