.profile {
    position: fixed;
    z-index: 2000;
    right: 20px;
    top: 47px;
    width: 200px;
    background-color: #FFFFFF;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden; /* cut corners (hovers inside for example) */
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition-show),
                visibility var(--transition-show);
}

.profile-visible .profile {
    opacity: 1;
    visibility: visible;
}
    .profile__head {
        display: none;
    }
        .profile__link {
            border-top: 10px solid transparent; /* expand clickable area */
            border-bottom: 10px solid transparent; /* expand clickable area */
        }

        .profile__menu {
            border-top: 1px solid #E8E8E8;
            padding-top: 13px;
        }

        .profile__organisation {
            margin-top: 6px;
            margin-left: 21px;
            margin-right: 21px;
        }

        .profile__logout {
            margin-top: 26px;
            box-shadow: 0 -1px 0 #E8E8E8;
        }

        .profile__logout.nav-link,
        .profile__logout > .nav-link {
            border-top: 9px solid transparent; /* expand clickable area */
            border-bottom: 9px solid transparent; /* expand clickable area */
        }
