.profile-media {
    padding-left: 0; /* disable .mobile-separator margin */
    padding-right: 0; /* disable .mobile-separator margin */
}
    .profile-media__mobile-heading {
        display: block;
        padding: 16px var(--container-mobile-padding);
    }

    .profile-media__edit {
        display: none !important;
    }

    .profile-media__data {

    }
