.publicity {

}

.publicity + .publicity {
    margin-top: 30px;
}

    .publicity__heading {
        display: block;
        margin-bottom: 2px;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
    }

    .publicity__widget {

    }

    .publicity__hint {
        font-style: italic;
        font-size: 12px;
        line-height: 20px;
        color: #757575;
    }
