:root {
    --public-circles-padding: 24px;
}

.public-circles {
    position: relative;
    border: 1px solid #E8E8E8;
    padding: 21px var(--public-circles-padding) 25px;
    border-radius: 3px;
}
    .public-circles__heading {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
    }
        .public-circles__icon {
            vertical-align: top;
            margin-right: 4px;
            margin-top: -2px;
        }

        .public-circles__icon[width="16"] {
            margin-top: 2px;
        }

    .public-circles__more {
        position: absolute;
        right: var(--public-circles-padding);
        top: 15px;
    }
        .public-circles__more.button,
        .public-circles__more .button {
            border-radius: 4px;
        }

    .public-circles__body {
        margin-top: 17px;
    }
        .public-circles__body .carousel__container {
            margin-left: calc(-1 * var(--public-circles-padding));
            margin-right: calc(-1 * var(--public-circles-padding));
        }
            .public-circles__body .carousel__item {
                box-sizing: content-box;
                padding-left: var(--public-circles-padding); /* it's made so complicated because of carousel scroll snapping on the left */
                margin: 0;
            }

            .public-circles__body .carousel__container::after {
                content: "";
                display: block;
                flex-shrink: 0;
                width: var(--public-circles-padding);
                height: 1px;
            }
