.quick-message {
    position: relative;
    width: 380px;
    padding: 30px 38px 28px;
    background-color: #FFFFFF;
    border-radius: 13px;
    text-align: center;
}
    .quick-message__heading {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: bold;
        font-size: 13px;
        line-height: 20px;
        color: #C4C4C4;
    }

    .quick-message__photo {
        margin-top: 20px;
    }

    .quick-message__photo.avatar,
    .quick-message__photo > .avatar {
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    }

    .quick-message__name {
        margin-top: 18px;
        font-size: 19px;
        line-height: 24px;
        color: #9CB2BE;
    }

    .quick-message__fieldset {
        margin-top: 23px;
    }
        .quick-message__subject {

        }

        .quick-message__body {
            margin-top: 17px;
        }

        .quick-message__submit {
            margin-top: 21px;
        }

        .quick-message__submit.button,
        .quick-message__submit > .button {
            width: 100%;
            text-transform: uppercase;
            font-weight: bold;
        }


    .quick-message__cancel {
        position: absolute;
        right: 21px;
        top: 21px !important;
        width: 40px;
        height: 40px;
        opacity: 1 !important;
    }
        .quick-message__cross {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            fill: #AAAAAA;
            pointer-events: none; /* because when click on .mfp-close it doesn't work */
        }

        .quick-message__cancel:hover .quick-message__cross {
            fill: #757575;
        }


    .quick-message__confirmation {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 157px 40px 40px;
        background-color: #FFFFFF;
        border-radius: 13px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.1s ease,
                    visibility 0.1s ease;
    }

    .quick-message__confirmation--visible {
        opacity: 1;
        visibility: visible;
    }

        .quick-message__notification {
            width: 90px;
            margin-left: auto;
            margin-right: auto;
            font-size: 20px;
            line-height: 34px;
            color: #8B8B8B;
            text-align: center;
        }

        .quick-message__profile {
            margin-top: 34px;
        }

        .quick-message__profile.button,
        .quick-message__profile > .button {
            width: 150px;
            font-weight: bold;
            text-transform: uppercase;
        }
