.ref-link {
    padding-top: 32px;
    padding-bottom: 60px;
    margin-left: -34px;
    margin-right: -34px;
    text-align: center;
    display: none;
}

.referral-expanded .ref-link {
    display: block;
}
    .ref-link__heading {
        text-align: center;
    }

    .ref-link__description {

    }

    .ref-link__link {
        margin-top: 31px;
    }
        .ref-link__link.button,
        .ref-link__link > .button {
            padding-top: 12px;
            padding-bottom: 12px;
        }
