.referral {
    padding-top: 30px;
    padding-bottom: 0;
    /*text-align: center;*/
}
.referral-expanded .referral {
    display: none;
}
    .referral__heading {
        /*position: relative;*/
        /*margin-top: 0;*/
        /*margin-bottom: 0;*/
        /*display: flex;*/
        /*align-items: center;*/
        /*justify-content: center;*/
        /*font-weight: inherit;*/
        font-size: 17px;
        line-height: 20px;
        /*color: #757575;*/
    }
        .referral__icon {
            /*margin-top: 1px;*/
            /*vertical-align: top;*/
            /*width: 20px;*/
            /*height: 20px;*/
            /*fill: #8B8B8B;*/
        }

        .referral__sparkle {
            /*margin-left: -10px;*/
            /*margin-top: -17px;*/
            /*margin-right: 10px;*/
            /*width: 22px;*/
            /*height: 22px;*/
            /*fill: #9CB2BE;*/
        }

        .referral__description {
            /*max-width: 474px;*/
            margin-top: 22px;
            /*margin-left: auto;*/
            /*margin-right: auto;*/
            /*font-size: 12px;*/
            /*line-height: 23px;*/
            /*color: #757575;*/
        }

        .referral__start-syncing {
            /*margin-top: 30px;*/
        }

        .referral__account {
            /*margin-top: 24px;*/
        }
            .referral__account.button,
            .referral__account .button {
                width: 294px;
                padding-top: 12px;
                padding-bottom: 12px;
                font-size: 12px;
            }

        .referral__update {
            /*margin-top: 17px;*/
            /*font-weight: bold;*/
            /*font-size: 10px;*/
            /*line-height: 18px;*/
            /*color: #C4C4C4;*/
        }

        .referral__list {
            margin-top: 11px;
            /*text-align: left;*/
        }
            .referral__item {
                /*border-top: 1px solid #E8E8E8;*/
            }

            .referral__item:first-child {
                /*border-top: none;*/
            }
