.ref-link {
    padding-top: 8px;
}
    .ref-link__heading {
        font-size: 18px;
        line-height: 24px;
        color: #757575;
    }

    .ref-link__description {
        margin-top: 22px;
        font-size: 12px;
        line-height: 23px;
        color: #757575;
    }

    .ref-link__link {
        margin-top: 16px;
    }
        .ref-link__link.button,
        .ref-link__link > .button {
            font-weight: inherit;
        }
