.related-media {
    text-align: center;
}
    /* stylelint-disable */
    .related-media__list {
        display: flex;
        align-items: flex-start;
        gap: 24px;
        padding-left: 12px;
        padding-right: 12px;
    }
    /* stylelint-enable */

        .related-media__item {
            width: 25%;
        }

    .related-media__refresh {
        margin-top: 24px;
    }
