.related-media {
    text-align: center;
}
    .related-media__list {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 24px;
    }
        .related-media__item {
            width: calc(50% - 12px);
        }

    .related-media__refresh {
        margin-top: 24px;
    }
