.related-circles {
    width: 1182px;
    margin-left: auto;
    margin-right: auto;
}
    .related-circles__heading {
        margin: 0 auto;
        max-width: 625px;
        font-weight: 600;
        font-size: 26px;
        line-height: 38px;
        text-align: center;
    }

    .related-circles__list {
        margin-top: 41px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
        .related-circles__item {
            position: relative;
            display: block;
            height: 100%;
            overflow: hidden; /* cut long names such as "Konstantinopolsky */
        }

