.related-media {

}
    /* stylelint-disable */
    .related-media__list {
        padding: 10px;
        gap: 10px;
    }
    /* stylelint-enable */

        .related-media__item {
            width: calc(50% - 5px);
        }

    .related-media__refresh {

    }
