.related-circles {
    width: 1182px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
    .related-circles__heading {
        margin: 0 auto;
        max-width: 625px;
        font-weight: 600;
        font-size: 26px;
        line-height: 38px;
        text-align: center;
    }

    .related-circles__list {
        margin-top: 41px;
        display: inline-flex;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 10px;
    }
        .related-circles__item {
            position: relative;
            display: block;
            width: 288px;
            overflow: hidden; /* cut long names such as "Konstantinopolsky */
            text-align: left;
        }

