.related-media {

}
    /* stylelint-disable */
    .related-media__list {
        padding: 0 10px;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 10px;
    }
    /* stylelint-enable */

        .related-media__item {
            width: calc(50% - 5px);
        }

    .related-media__refresh {

    }
