.requests-panel {

}
    .requests-panel__head {
        display: flex;
        align-items: flex-start;
        padding: 14px 24px;
    }
        .requests-panel__back {
            margin: -5px 5px -5px -9px;
        }

        .requests-panel__heading {
            margin-top: 6px;
            margin-bottom: 0;
            font-weight: 600;
            font-size: 15px;
            line-height: 20px;
            color: #757575;
        }

        .requests-panel__details {
            margin-left: auto;
        }

    .requests-panel__options {
        padding: 23px 24px;
        border-top: 1px solid #F3F3F3;
        display: flex;
        align-items: flex-start;
    }
        .requests-panel__filter {
            margin-left: 19px;
        }

        .requests-panel__filter:first-child {
            margin-left: 0;
        }

    .requests-panel__lists {
        border-top: 1px solid #F3F3F3;
    }
        .requests-panel__item {
            border-top: 1px solid #F3F3F3;
        }

        .requests-panel__item:first-child {
            border-top: none;
        }
