.resources {
    padding: 15px 42px 40px;
    height: 100%;
}
    .resources__edit {
        margin: -5px -21px 20px;
    }

    .resources__list {

    }
        .resources__item {
            position: relative;
            margin-top: 38px;
            padding-top: 38px;
        }

        .resources__item::before {
            content: "";
            position: absolute;
            top: 0;
            left: -21px;
            right: -21px;
            height: 1px;
            background-color: #E1E3E6;
        }
