.resources {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
    .resources__inner {
        padding: 0 20px var(--padding-under-chat);
    }
        .resources__edit {
            margin-bottom: 18px;
        }

        .resources__list {

        }
            .resources__item {
                position: relative;
                margin-top: 12px;
                border-top: 1px solid #E1E3E6;
                padding-top: 12px;
            }

            .resources__item:first-child {
                margin-top: 0;
                border-top: none;
                padding-top: 0;
            }

        .resources__form {
            margin-top: -5px;
            margin-bottom: 20px;
        }

