.resources-post {
    position: relative;
    padding: 20px;
    border-radius: 4px;
}
    .resources-post__head {
        position: relative;
        padding: 2px 0 2px 36px;
        font-size: 12px;
        line-height: 18px;
        color: #545454;
    }
        .resources-post__author {
            position: absolute;
            left: 0;
            top: 0;
        }

        .resources-post__head .link {
            font-weight: 600;
            color: #1F1F1F;
        }

    .resources-post__content {
        margin-top: 18px;
        font-size: 13px;
        line-height: 24px;
    }

    .resources-post__footer {
        margin-top: 8px;
        margin-left: -12px;
    }
        .resources-post__attachment {
            margin-top: 12px;
            margin-left: 12px;
        }

    .resources-post__actions {
        position: absolute;
        right: 13px;
        top: -12px;
        opacity: 0;
        transition: opacity var(--transition-hover);
    }



.resources-post--editable {
    transition: background-color var(--transition-hover);
}

.resources-post--editable:hover {

}
    .resources-post--editable:hover {
        background-color: #EEF0F3;
    }

    .resources-post--editable:hover .resources-post__actions {
        opacity: 1;
    }

    .resources-post--editable:focus-within .resources-post__actions {
        opacity: 1;
    }
