:root {
    --user-color: #9CB2BE; /* default value */
    --easeOutCirc: cubic-bezier(0, 0.55, 0.45, 1);
    --org-pages-top-padding: 35px;
    --org-pages-mobile-top-padding: 9px;
    --image-fallback: #C4C4C4;
    --transition-show: 0.1s ease;
    --transition-long-show: 0.3s ease;
    --transition-hover: 0.1s ease;
    --transition-long-hover: 0.2s ease;
    --transition-slide: 0.5s ease;
    --header-height: 64px;
    --sub-header-height: 32px;
    --dialogs-width: 360px;
    --aside-width: 306px;
    --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
    --post-form-screen: 265px;
    --player3-height: 124px;
    --player3-mobile-height: 218px;
    --form-width: 408px;
    --profile-sidebar: 152px;
    --profile-gap: 26px;
    --profile-mobile-border: 10px solid var(--theme-light);
    --user-pane-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    --modal-padding: 34px;
    --container-mobile-padding: 20px;
    --page-sidebar: 196px;
    --page-sidebar-collapsed: 86px;
    --page-sidebar-mobile: 270px;
    --home-aside-shortened: 296px;
    --home-aside-full: 366px;
    --artist-photo-mobile-height: 562px;
    --circles-sidebar-width: 210px;
    --circles-aside-width: 430px;
    --circles-tabs-height: 106px;
    --circles-tabs-mobile-height: 78px;
    --circles-head-height: 106px;
    --collections-head-height: 146px;
    --padding-under-chat: 24px;
    --red: #EB5757;
    --red2: #EA4524;

    --red-20pct: rgba(235, 87, 87, 0.2);
    --red-25pct: rgba(235, 87, 87, 0.25);
    --red-30pct: rgba(235, 87, 87, 0.3);


    --panel-hover: #F2F2F2;
    --panel-active: #EAEAEA;

    --lighter-panel-hover: #FAFAFA;
    --lighter-panel-active: #F6F6F6;

    --grey-panel-hover: #DFDFDF;
    --grey-panel-active: #D4D4D4;

    --light-panel: #F1F1F1;
    --light-panel-hover: #E1E1E1;
    --light-panel-active: #D1D1D1;

    /* default theme: */
    --theme-main: #C6B1A6;
    --theme-main-hover: #E3C5B6;
    --theme-main-press: #B8A79E;
    --theme-light: #F4EEEB;
    --theme-light-rgb: "244, 238, 235";
    --theme-text: #1F1F1F;
}


@keyframes slide {
    from { opacity: 0; transform: translateY(-4px); }
    to { opacity: 1; transform: translateY(0); }
}





