:root {
    --easeOutCirc: cubic-bezier(0, 0.55, 0.45, 1);
    --org-pages-top-padding: 35px;
    --image-fallback: #C4C4C4;
    --transition-show: 0.1s ease;
    --transition-hover: 0.1s ease;
    --header-height: 64px;
    --sub-header-height: 32px;
    --sidebar-width: 192px;
    --sidebar-collapsed-width: 82px;
    --dialogs-width: 360px;
    --aside-width: 290px;
    --user-color: #9CB2BE;
    --org-card-width: 688px;
    --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
    --post-form-screen: 265px;
}

@keyframes slide {
    from { opacity: 0; transform: translateY(-4px); }
    to { opacity: 1; transform: translateY(0); }
}
