.roster {

}
    .roster__head {
        /*display: flex;*/
        /*align-items: flex-start;*/
        /*padding-left: 21px;*/
        /*padding-right: 14px;*/
        /*background-color: var(--theme-light);*/
        margin-left: -20px;
        margin-right: -20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
        .roster__heading {
            /*margin-top: 5px;*/
            /*margin-bottom: 5px;*/
            /*font-weight: 600;*/
            /*font-size: 14px;*/
            /*line-height: 24px;*/
            /*color: #545454;*/
        }

        .roster__operations {
            /*margin-left: auto;*/
        }

    .roster__sub-head {
        /*border-left: 1px solid var(--theme-light);*/
        /*border-right: 1px solid var(--theme-light);*/
        /*border-bottom: 1px solid var(--theme-light);*/
        /*padding: 17px 20px;*/
    }
        .roster__note {
            /*font-size: 13px;*/
            /*line-height: 24px;*/
            /*color: #545454;*/
        }

    .roster__body {
        border: none;
        /*padding: 18px 20px 20px;*/
        padding: 18px 0 0;
        /*border-top: none;*/
        /*border-bottom-left-radius: 5px;*/
        /*border-bottom-right-radius: 5px;*/
        /*text-align: center;*/
    }

    .edit-agency .roster__body {
        /*padding-left: 10px;*/
        /*padding-right: 10px;*/
    }

        .roster__list {
            /*display: flex;*/
            /*align-items: flex-start;*/
            flex-wrap: wrap;
        }
            .roster__item {
                width: 50%;
                /*padding-top: 13px;*/
                /*padding-bottom: 27px;*/
                /*text-align: center;*/
            }

        .roster__more {
            /*margin-top: 5px;*/
            /*margin-bottom: 15px;*/
        }

        .roster__more.button,
        .roster__more .button {
            /*width: 188px;*/
        }
