.search {
    position: relative;
}
    .search__bar {
        position: fixed;
        z-index: 1020;
        left: 202px;
        top: 14px;
        width: 254px;
    }

    .search-centered .search__bar {
        left: 493px;
    }


    @media (min-width: 1240px) {
        .search-centered .search__bar {
            left: 50%;
            margin-left: -127px;
        }
    }
        .search__close {
            display: none;
        }
            .search__arrow {
                fill: #8B8B8B;
            }

        .search__body {
            position: relative;
        }
            .search__widget {
                width: 100%;
                height: 36px;
                vertical-align: top;
                padding: 9px 12px 9px 42px;
                background-color: #F4F4F4;
                border: 1px solid #F4F4F4;
                outline: none;
                background-clip: padding-box; /* reset iOS default shadow */
                border-radius: 18px; /* reset iOS default border-radius */
                font-family: inherit;
                font-weight: bold;
                font-size: 12px;
                line-height: 16px;
                color: #545454;
                transition: background-color var(--transition-hover),
                            border-color var(--transition-hover);
            }

            /* stylelint-disable block-opening-brace-space-before */
            .search__widget::-webkit-input-placeholder { font-style: normal; font-weight: normal; color: #757575; transition: color var(--transition-hover); }
            .search__widget::-moz-placeholder          { font-style: normal; font-weight: normal; color: #757575; transition: color var(--transition-hover); opacity: 1; }
            .search__widget:-ms-input-placeholder      { font-style: normal; font-weight: normal; color: #757575; transition: color var(--transition-hover); }
            /* stylelint-enable */

            .search__widget:hover {
                background-color: #F2F2F2;
                border-color: #E8E8E8;
            }

            /* stylelint-disable block-opening-brace-space-before */
            .search__widget:hover::-webkit-input-placeholder { color: #AAAAAA; }
            .search__widget:hover::-moz-placeholder          { color: #AAAAAA; }
            .search__widget:hover:-ms-input-placeholder      { color: #AAAAAA; }
            /* stylelint-enable */


            .search__widget:focus {
                transition: none;
                background-color: #FFFFFF;
                border-color: #E8E8E8;
            }

            /* stylelint-disable block-opening-brace-space-before */
            .search__widget:focus::-webkit-input-placeholder { color: #AAAAAA; }
            .search__widget:focus::-moz-placeholder          { color: #AAAAAA; }
            .search__widget:focus:-ms-input-placeholder      { color: #AAAAAA; }
            /* stylelint-enable */



            .search__icon {
                position: absolute;
                left: 15px;
                top: 11px;
                fill: #AAAAAA;
                pointer-events: none;
            }

    .search__dropdown {
        position: fixed;
        z-index: 1020;
        top: 52px;
        left: 202px;
        width: 325px;
        background-color: #FFFFFF;
        box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition: opacity var(--transition-show),
                    visibility var(--transition-show);
    }

    .search-centered .search__dropdown {
        left: 493px;
    }

    @media (min-width: 1240px) {
        .search-centered .search__dropdown {
            left: 50%;
            margin-left: -127px;
        }
    }


        .search__scroll {
            max-height: 75vh;
        }
            .search__section {
                margin-top: 18px;
                border-top: 1px solid #E0E0E0;
                padding-top: 6px;
            }

            .search__section:first-child {
                margin-top: 0;
                border-top: none;
            }

            .search__section:last-child {
                padding-bottom: 30px;
            }
                .search__separator {
                    margin-bottom: 3px;
                }

                .search__suggest {
                    display: block;
                    padding: 12px 24px;
                    color: inherit;
                    text-decoration: none;
                }

                .search__suggest:hover {
                    background-color: #F6F6F6;
                }


.search--dark {

}
    .search--dark .search__widget {
        background-color: transparent;
        border-color: #AAAAAA;
        color: #FFFFFF;
    }

    .search--dark .search__widget:hover {
        background-color: #4E4E4E;
    }

    .search--dark .search__widget:focus {
        background-color: transparent;
    }


.search-visible {

}
    .search-visible .search__dropdown {
        opacity: 1;
        visibility: visible;
    }
