.search-bar {
    position: relative;
}
    .search-bar__widget {
        width: 100%;
        height: 32px;
        vertical-align: top;
        padding: 8px 20px 8px 42px;
        background-color: #FFFFFF;
        border: 1px solid #E8E8E8;
        outline: none;
        background-clip: padding-box; /* reset iOS default shadow */
        border-radius: 20px; /* reset iOS default border-radius */
        font-family: inherit;
        font-weight: inherit;
        font-size: 11px;
        line-height: 14px;
        color: #545454;
        transition: background-color var(--transition-hover),
                    border-color var(--transition-hover);
    }


    /* stylelint-disable block-opening-brace-space-before */
    .search-bar__widget::-webkit-input-placeholder { font-style: normal; color: #B0B0B0; }
    .search-bar__widget::-moz-placeholder          { font-style: normal; color: #B0B0B0; opacity: 1; }
    .search-bar__widget:-ms-input-placeholder      { font-style: normal; color: #B0B0B0; }
    /* stylelint-enable */


    .search-bar__widget:hover {
        background-color: #F2F2F2;
    }

    .search-bar__widget:focus {
        background-color: #FFFFFF;
    }

    .search-bar__icon {
        position: absolute;
        left: 15px;
        top: 50%;
        margin-top: -12px;
        fill: #AAAAAA;
        pointer-events: none;
    }



.search-bar--alternate {

}
    .search-bar--alternate .search-bar__icon {
        fill: #AAAAAA;
    }

    .search-bar--alternate .search-bar__widget {
        height: 36px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #F4F4F4;
        border-color: #F4F4F4;
        color: #757575;
    }

    .search-bar--alternate .search-bar__widget:hover {
        background-color: #FFFFFF;
        border: 1px solid #E8E8E8;
    }

    /* stylelint-disable block-opening-brace-space-before */
    .search-bar--alternate .search-bar__widget::-webkit-input-placeholder { font-style: normal; color: #757575; }
    .search-bar--alternate .search-bar__widget::-moz-placeholder          { font-style: normal; color: #757575; opacity: 1; }
    .search-bar--alternate .search-bar__widget:-ms-input-placeholder      { font-style: normal; color: #757575; }
    /* stylelint-enable */



