.search-heading {
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    line-height: 20px;
    color: #757575;
    letter-spacing: -0.2px;
}
    .search-heading__cancel {
        width: 40px;
        height: 40px;
        margin: -11px -10px -9px -2px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
        .search-heading__cross {
            fill: #757575;
        }
