.search {
    position: relative;
}
    .search__bar {
        position: fixed;
        z-index: 1020;
        left: 227px;
        top: 12px;
        width: 287px;
    }
        .search__close {
            display: none;
        }
            .search__arrow {
                fill: #8B8B8B;
            }

        .search__body {
            position: relative;
        }
            .search__widget {
                width: 100%;
                height: 40px;
                vertical-align: top;
                padding: 10px 12px 10px 42px;
                background-color: #F0F0F0;
                border: 1px solid #F0F0F0;
                outline: none;
                background-clip: padding-box; /* reset iOS default shadow */
                border-radius: 5px; /* reset iOS default border-radius */
                font-family: inherit;
                font-size: 13px;
                line-height: 18px;
                color: #333333;
                transition: background-color var(--transition-hover),
                            border-color var(--transition-hover);
            }

            /* stylelint-disable block-opening-brace-space-before */
            .search__widget::-webkit-input-placeholder { font-style: normal; font-weight: normal; color: #757575; transition: color var(--transition-hover); }
            .search__widget::-moz-placeholder          { font-style: normal; font-weight: normal; color: #757575; transition: color var(--transition-hover); opacity: 1; }
            .search__widget:-ms-input-placeholder      { font-style: normal; font-weight: normal; color: #757575; transition: color var(--transition-hover); }
            /* stylelint-enable */

            .search__widget:hover {
                background-color: #F2F2F2;
                border-color: #E8E8E8;
            }

            /* stylelint-disable block-opening-brace-space-before */
            .search__widget:hover::-webkit-input-placeholder { color: #AAAAAA; }
            .search__widget:hover::-moz-placeholder          { color: #AAAAAA; }
            .search__widget:hover:-ms-input-placeholder      { color: #AAAAAA; }
            /* stylelint-enable */


            .search__widget:focus {
                transition: none;
                background-color: #FFFFFF;
                border-color: #E8E8E8;
            }

            /* stylelint-disable block-opening-brace-space-before */
            .search__widget:focus::-webkit-input-placeholder { color: #AAAAAA; }
            .search__widget:focus::-moz-placeholder          { color: #AAAAAA; }
            .search__widget:focus:-ms-input-placeholder      { color: #AAAAAA; }
            /* stylelint-enable */



            .search__icon {
                position: absolute;
                left: 10px;
                top: 8px;
                fill: #AAAAAA;
                pointer-events: none;
            }

    .search__dropdown {
        position: fixed;
        z-index: 1020;
        top: 58px;
        left: 227px;
        width: 448px;
        background-color: #FFFFFF;
        box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition: opacity var(--transition-show),
                    visibility var(--transition-show);
    }
        .search__results {
            padding-top: 6px;
            padding-bottom: 6px;
        }
            .search__suggest {
                display: block;
                padding: 10px 24px;
                color: inherit;
                text-decoration: none;
            }

            .search__suggest:hover {
                background-color: var(--panel-hover);
            }

            .search__suggest:active {
                background-color: var(--panel-active);
            }

            .search__more {
                display: flex;
                align-items: center;
                font-weight: 600;
                font-size: 13px;
                line-height: 16px;
                padding: 10px 20px 10px 22px;
                color: #8B8B8B;
                text-decoration: none;
                transition: background-color var(--transition-hover);
            }

            .search__more:hover {
                background-color: var(--panel-hover);
            }

            .search__more:active {
                background-color: var(--panel-active);
                transition: none;
            }
                .search__more-wrap {
                    width: 40px;
                    height: 40px;
                    padding: 6px;
                    /*margin-top: -3px;*/
                    /*margin-bottom: -3px;*/
                    margin-right: 24px;
                    background-color: #8B8B8B;
                    border-radius: 50%;
                }
                    .search__more-icon {
                        vertical-align: top;
                        width: 28px;
                        height: 28px;
                        fill: #FFFFFF;
                    }

        .search__preview-guesses {
            padding: 12px 0 6px;
        }
            .search__sub-heading {
                margin-left: 24px;
                margin-right: 24px;
                font-weight: 600;
                font-size: 13px;
                line-height: 21px;
                color: #23282C;
            }

            .search__recent {
                margin-top: 10px;
                display: flex;
                align-items: flex-start;
                gap: 20px;
                overflow-x: auto;
                padding-left: 19px;
                padding-right: 19px;
            }
                .search__recent .user-tile {
                    flex-shrink: 0;
                }

        .search__text-guesses {
            padding-top: 12px;
            padding-bottom: 12px;
        }
            .search__guess {
                display: flex;
                align-items: flex-start;
                padding: 7px 24px;
                vertical-align: top;
                font-size: 13px;
                line-height: 21px;
                color: #23282C;
                text-decoration: none;
            }

            .search__guess:hover {
                background-color: var(--panel-hover);
            }

            .search__guess:active {
                background-color: var(--panel-active);
            }
                .search__guess-icon {
                    margin-right: 13px;
                    vertical-align: top;
                    fill: #000000;
                }

            .search__footer {
                border-top: 1px solid #D9D9D9;
                padding: 12px 24px 20px;
            }
                .search__industry-heading {
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 21px;
                    color: #23282C;
                }

                .search__tags {
                    margin-top: 12px;
                    display: flex;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    gap: 10px;
                }

.search-visible {

}
    .search-visible .search__dropdown {
        opacity: 1;
        visibility: visible;
    }
