.search-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 64px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
    .search-button::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        margin: auto;
        width: 30px;
        height: 30px;
        background-color: #E8E8E8;
        border-radius: 50%;
    }

    .search-button__icon {
        position: relative;
        vertical-align: top;
        width: 16px;
        height: 16px;
        fill: #AAAAAA;
    }


.search-button--dark {

}
    .search-button--dark::before {

    }

    .search-button--dark .search-button__icon {
        fill: #333333;
    }
