.search {
    display: none;
}
    .search__bar {
        position: fixed;
        z-index: 200;
        left: 0;
        top: 0;
        right: 0;
        width: auto;
        margin-left: 0;
        height: var(--header-height);
        padding: 12px 20px 12px 60px;
        background-color: #FFFFFF;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);
    }
        .search__close {
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border: none;
            padding: 0;
            width: var(--header-height);
            height: var(--header-height);
            cursor: pointer;
        }

        .search__body {

        }
            .search__widget {

            }

            .search__widget:hover {

            }

            .search__widget:focus {

            }

            .search__icon {

            }

    .search__dropdown {
        position: static;
        width: auto;
        margin-left: 0;
        box-shadow: none;
        border-radius: 0;
        padding-top: var(--header-height);
    }
        .search__separator {

        }

        .search__section {

        }
            .search__suggest {

            }

            .search__suggest:first-child {

            }

            .search__suggest:hover {

            }

        .search__footer {

        }
            .search__industry-heading {

            }

            .search__tags {

            }


.search-visible {

}
    .search-visible .search {
        display: block;
    }

    .search-visible .header {
        display: none;
    }

    .search-visible .sub-header {
        display: none;
    }

    .search-visible .page {
        display: none;
    }

    .search-visible .sidebar {
        display: none;
    }

    .search-visible .player3 {
        display: none;
    }
