.search {
    display: none;
}
    .search__bar {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        width: auto;
        margin-left: 0;
        height: var(--header-height);
        padding: 14px 20px 14px 60px;
        background-color: #FFFFFF;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);
    }
        .search__close {
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            background-color: transparent;
            border: none;
            padding: 0;
            width: var(--header-height);
            height: var(--header-height);
            cursor: pointer;
        }

        .search__body {

        }
            .search__widget {

            }

            .search__widget:hover {

            }

            .search__widget:focus {

            }

            .search__icon {

            }

    .search__dropdown {
        position: static;
        width: auto;
        margin-left: 0;
        box-shadow: none;
        border-radius: 0;
        padding-top: var(--header-height);
    }
        .search__scroll {
            max-height: none;
        }
            .search__section {

            }
                .search__suggest {

                }

                .search__suggest:first-child {

                }

                .search__suggest:hover {

                }

.search--dark {

}
    .search--dark .search__widget {

    }

    .search--dark .search__widget:hover {

    }

    .search--dark .search__widget:focus {

    }


.search-expanded {

}
    .search-expanded .search {
        display: block;
    }

    .search-expanded .header {
        display: none;
    }

    .search-expanded .page {
        display: none;
    }
