.section-separator {
    display: flex;
    align-items: flex-start;
    padding: 10px 24px;
}
    .section-separator__heading {
        padding-top: 3px;
        padding-bottom: 5px;
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
        color: #757575;
    }

    .section-separator__action {
        margin-left: auto;
    }

    .section-separator__action.button,
    .section-separator__action .button {
        border-radius: 4px;
    }
