.select2 {

}
    .selection {

    }
        .select2-selection {
            position: relative;
            /*min-height: 40px;*/
            /*z-index: 1000;*/
            border-radius: 5px !important;
            border-color: #E8E8E8 !important;
        }
        .select2-selection:hover {
            border-color: #C4C4C4 !important;
        }
        .select2-container--focus .select2-selection {
            border-color: #757575 !important;
            box-shadow: 0 0 0 1px #757575 !important;
        }
            .select2-selection__rendered {

            }
                .select2-selection__choice {
                    position: relative;
                    padding: 0 29px 0 10px !important;
                    background-color: #F4F4F4 !important;
                    border: 1px solid #AAAAAA !important;
                    color: #23282C !important;
                    cursor: default;
                }
                    .select2-selection__choice__remove {
                        position: absolute !important;
                        right: -1px !important;
                        top: -1px !important;
                        left: auto !important;
                        width: 28px;
                        height: 28px;
                        border-radius: 3px;
                        cursor: pointer;
                    }

                    .select2-selection__choice__remove:hover {
                        background-color: #E7E7E7 !important;
                    }

                        .select2-selection__choice__remove span {

                        }

                    .select2-selection__choice__display {
                        display: block;
                        padding: 4px 0 !important;
                        vertical-align: top;
                        font-size: 13px;
                        line-height: 18px;
                    }


            .select2-search {

            }
                .select2-search__field {
                    /*margin: 0 !important;*/
                    height: 28px !important;
                    padding-top: 4px !important;
                    /*padding: 9px 19px !important;*/
                    vertical-align: top !important;
                    /*margin-top: 0 !important;*/
                    font-family: inherit !important;
                    font-weight: normal !important;
                    font-size: 13px !important;
                    line-height: 20px !important;
                    color: #545454 !important;
                }

                /* stylelint-disable block-opening-brace-space-before */
                .select2-search__field::-webkit-input-placeholder { font-style: normal; font-weight: 600; color: #8B8B8B; }
                .select2-search__field::-moz-placeholder          { font-style: normal; font-weight: 600; color: #8B8B8B; opacity: 1; }
                .select2-search__field:-ms-input-placeholder      { font-style: normal; font-weight: 600; color: #8B8B8B; }
                /* stylelint-enable */

                .select2-selection__rendered:empty ~ .select2-search .select2-search__field {
                    margin-left: 19px !important;
                }

    .dropdown-wrapper {

    }
        .select2-dropdown {
            border: none;
            margin-top: 1px;
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.11);
            border-radius: 10px;
        }

            .select2-results__options {
                padding-top: 8px;
                padding-bottom: 8px;
            }
                .select2-results__option {
                    padding: 8px 20px;
                    font-family: inherit;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 18px;
                    color: #545454;
                    text-decoration: none;
                    text-align: left;
                    cursor: pointer;
                }

                .select2-results__option--selected {
                    background-color: #F4F4F4 !important;
                }

                .select2-results__option:hover,
                .select2-results__option--highlighted {
                    background-color: #F4F4F4 !important;
                    color: #545454 !important;
                }


                .select2-results__message {
                    background-color: transparent !important;
                }
