.settings {
    padding-top: 19px;
    padding-bottom: 180px;
}
    .settings__heading {
        margin-bottom: 28px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #8B8B8B;
    }

    .settings__section {
        position: relative;
        margin-bottom: 28px;
        border: 1px solid #E8E8E8;
        padding: 36px 40px 38px 106px;
        border-radius: 10px;
    }

    .settings__section:last-child {
        margin-bottom: 0;
    }
        .settings__preview {
            position: absolute;
            left: 39px;
            top: 39px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            background-color: #9CB2BE;
            border-radius: 50%;
        }
            .settings__icon {
                vertical-align: top;
                fill: #FFFFFF;
            }

        .settings__sub-heading {
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 150px;
            font-weight: bold;
            font-size: 20px;
            line-height: 40px;
            color: #545454;
        }
            .settings__note {
                margin-left: 4px;
                font-weight: 600;
                font-size: 16px;
                color: #545454;
            }

        .settings__item {
            position: relative;
            margin-top: 17px;
        }

        .settings__item:first-child {
            margin-top: 0;
        }
            .settings__handler {
                display: inline-block;
                vertical-align: top;
                padding: 10px;
                margin-right: 150px;
                margin-left: -10px;
                border: none;
                background-color: transparent;
                font-family: inherit;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #545454;
                text-align: left;
                text-decoration: none;
                cursor: pointer;
            }

                .settings__edit {
                position: absolute;
                right: 0;
                top: 2px;
                transition: opacity var(--transition-show),
                            visibility var(--transition-show);
            }

            .settings__edit.button,
            .settings__edit .button {
                width: 120px;
            }

            .settings__dropdown {
                margin-right: 150px;
                border-top: 20px solid transparent; /* instead of padding because padding is buggy when dropdown is being animated */
                border-bottom: 2px solid transparent;
                display: none;
            }
                .settings__close {
                    position: absolute;
                    right: 0;
                    top: 0;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity var(--transition-show),
                                visibility var(--transition-show);
                }

                .settings__hint {
                    margin-top: -8px;
                    padding-bottom: 20px;
                    font-size: 13px;
                    line-height: 27px;
                    color: #545454;
                }


        .settings__item--expanded {

        }
            .settings__item--expanded .settings__edit {
                opacity: 0;
                visibility: hidden;
            }
            .settings__item--expanded .settings__close {
                opacity: 1;
                visibility: visible;
            }


