.sharing-crowd {
    display: flex;
    padding: 10px 16px 10px 14px;
    border-radius: 6px;
    align-items: center;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: background-color var(--transition-hover);
}

.sharing-crowd:hover {
    background-color: var(--panel-hover);
}

.sharing-crowd:active {
    background-color: var(--panel-active);
    transition: none;
}

    .sharing-crowd__item.avatar {
        border: 1px solid #FFFFFF;
        margin-left: -4px;
    }

    .sharing-crowd__item:first-child {
        margin-left: 0;
    }

    .sharing-crowd__item:nth-child(1) { z-index: 9; }
    .sharing-crowd__item:nth-child(2) { z-index: 8; }
    .sharing-crowd__item:nth-child(3) { z-index: 7; }
    .sharing-crowd__item:nth-child(4) { z-index: 6; }
    .sharing-crowd__item:nth-child(5) { z-index: 5; }
    .sharing-crowd__item:nth-child(6) { z-index: 4; }
    .sharing-crowd__item:nth-child(7) { z-index: 3; }
    .sharing-crowd__item:nth-child(8) { z-index: 2; }
    .sharing-crowd__item:nth-child(9) { z-index: 1; }

    .sharing-crowd__label {
        margin-left: 14px;
        font-weight: bold;
        font-size: 11px;
        line-height: 20px;
        color: #6C6C6C;
    }
