.shortcut {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 170px;
    padding: 9px;
    background-color: #F8F8F8;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color var(--transition-hover),
                border-radius var(--transition-show),
                box-shadow var(--transition-show),
                width var(--transition-show),
                padding var(--transition-show);
}


.shortcut--highlight {

}
    .shortcut__background {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 4px;
        opacity: 0; /* will be visible when collapsed */
        transition: border-radius var(--transition-show),
                    opacity var(--transition-show);
    }

    .shortcut__preview {
        margin-bottom: 11px;
        position: relative;
        width: 152px;
        height: 152px;
        overflow: hidden;
        transition: height var(--transition-show),
                    margin-bottom var(--transition-show),
                    opacity var(--transition-show);
    }
        .shortcut__image {
            vertical-align: top;
            background-color: var(--image-fallback);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.07);
            border-radius: 2px;
        }

        .shortcut__overlay {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            display: block;
            border-radius: 2px;
        }

    .shortcut__icon {
        position: absolute;
        right: 23px;
        top: 19px;
        width: 28px;
        height: 28px;
        fill: #FFFFFF;
    }

    .shortcut__heading {
        margin-left: 9px;
        position: relative;
        font-weight: bold;
        font-size: 15px;
        line-height: 19px;
        color: #545454;
        transition: color var(--transition-hover),
                    font-size  var(--transition-show);
    }
        .shortcut__your {

        }

    .shortcut__note {
        margin-top: 4px;
        margin-left: 9px;
        height: 32px;
        font-size: 11px;
        line-height: 16px;
        color: #757575;
        transition: color var(--transition-hover),
                    height var(--transition-show),
                    opacity var(--transition-show);
    }


.shortcut:hover {
    background-color: #C4C4C4;
}
    .shortcut:hover .shortcut__heading {
        color: #FFFFFF;
    }
    .shortcut:hover .shortcut__note {
        color: #FFFFFF;
    }



.shortcut--for-you {

}
    .shortcut--for-you .shortcut__body {
        background-color: #DDEAF1;
        color: #545454;
    }


.shortcut--your-area {

}
    .shortcut--your-area .shortcut__body {
        background-color: #9CB2BE;
        color: #FFFFFF;
    }


.shortcut--your-watchlist {

}
    .shortcut--your-watchlist .shortcut__body {
        background-color: #F1F4F6;
        color: #545454;
    }


.shortcut--favorites {

}
    .shortcut--favorites .shortcut__body {
        background-color: #545454;
        color: #FFFFFF;
    }





.explore-collapsed .shortcut {
    /*position: relative;*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
    width: 127px;
    padding: 5px 10px 6px;
    /*background-color: #F8F8F8;*/
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    /*text-decoration: none;*/
    /*transition: background-color var(--transition-hover);*/
}


.explore-collapsed .shortcut--highlight {

}
    .explore-collapsed .shortcut__background {
        opacity: 1;
        border-radius: 15px;
    }

    .explore-collapsed .shortcut__preview {
        margin-bottom: 0;
        /*position: relative;*/
        width: 152px;
        height: 0;
        opacity: 0;
    }
        .explore-collapsed .shortcut__image {
            /*vertical-align: top;*/
            /*background-color: var(--image-fallback);*/
            /*box-shadow: 0 4px 4px rgba(0, 0, 0, 0.07);*/
            /*border-radius: 2px;*/
        }

        .explore-collapsed .shortcut__overlay {
            /*content: "";*/
            /*position: absolute;*/
            /*left: 0;*/
            /*top: 0;*/
            /*right: 0;*/
            /*bottom: 0;*/
            /*display: block;*/
            /*border-radius: 2px;*/
        }

    .explore-collapsed .shortcut__icon {
        /*position: absolute;*/
        right: 90px;
        top: 6px;
        width: 16px;
        height: 16px;
        /*fill: #FFFFFF;*/
    }

    .explore-collapsed .shortcut__heading {
        margin-left: 26px;
        font-weight: 600;
        font-size: 13px;
        /*line-height: 19px;*/
        color: #FFFFFF;
        text-align: center;
        /*transition: color var(--transition-hover);*/
    }
        .explore-collapsed .shortcut__your {
            display: none;
        }

    .explore-collapsed .shortcut__note {
        margin-top: 0;
        height: 0;
        opacity: 0;
        /*margin-left: 9px;*/
        /*font-size: 11px;*/
        /*line-height: 16px;*/
        /*color: #757575;*/
        /*transition: color var(--transition-hover);*/
    }


.explore-collapsed .shortcut:hover {
    /*background-color: #C4C4C4;*/
}
    .explore-collapsed .shortcut:hover .shortcut__heading {
        /*color: #FFFFFF;*/
    }
    .explore-collapsed .shortcut:hover .shortcut__note {
        /*color: #FFFFFF;*/
    }



/*.shortcut--for-you {*/

/*}*/
/*    .shortcut--for-you .shortcut__body {*/
/*        background-color: #DDEAF1;*/
/*        color: #545454;*/
/*    }*/


/*.shortcut--your-area {*/

/*}*/
/*    .shortcut--your-area .shortcut__body {*/
/*        background-color: #9CB2BE;*/
/*        color: #FFFFFF;*/
/*    }*/


/*.shortcut--your-watchlist {*/

/*}*/
/*    .shortcut--your-watchlist .shortcut__body {*/
/*        background-color: #F1F4F6;*/
/*        color: #545454;*/
/*    }*/


/*.shortcut--favorites {*/

/*}*/
/*    .shortcut--favorites .shortcut__body {*/
/*        background-color: #545454;*/
/*        color: #FFFFFF;*/
/*    }*/





/*.explore-collapsed .shortcut {*/
/*    width: 127px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    padding: 4px 10px 6px;*/
/*    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.07);*/
/*    border-radius: 15px;*/
/*}*/
/*    .explore-collapsed .shortcut__overlay {*/
/*        border-radius: 15px;*/
/*    }*/

/*    .explore-collapsed .shortcut__icon {*/
/*        position: relative;*/
/*        right: auto;*/
/*        top: auto;*/
/*        width: 16px;*/
/*        height: 16px;*/
/*    }*/

/*    .explore-collapsed .shortcut__heading {*/
/*        position: relative;*/
/*        font-weight: 600;*/
/*        font-size: 13px;*/
/*        line-height: 20px;*/
/*        color: #FFFFFF;*/
/*        white-space: nowrap;*/
/*    }*/
