.shortened-experience {
    padding-top: 40px;
}
    .shortened-experience__heading {
        display: none;
    }

    .shortened-experience__body {
        margin-top: 0;
        margin-left: 0;
    }
