.sidebar {
    position: fixed;
    left: 0;
    top: var(--header-height);
    bottom: 0;
    width: var(--sidebar-width);
    border-right: 1px solid #F2F2F2;
    overflow-y: auto;
}
    .sidebar__section {
        padding-top: 11px;
        padding-bottom: 32px;
    }
        .sidebar__sub-heading {
            padding: 10px 20px 13px 37px;
            font-weight: bold;
            font-size: 10px;
            line-height: 18px;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #AAAAAA;
        }

        .sidebar__menu {

        }
