.sidebar {
    position: fixed;
    top: var(--header-height);
    bottom: 0;
    left: auto;
    right: calc(-1 * var(--page-sidebar-mobile));
    width: var(--page-sidebar-mobile);
}

.sidebar-visible .sidebar {
    right: 0; /* slide */
    transition: right 0.3s var(--ease-out-circ);
}


.has-sub-header .sidebar {
    top: calc(100% - var(--header-height) - var(--sub-header-height));
}

.has-player3 .sidebar {
    bottom: 0; /* over the player */
}
    .sidebar__overlay {
        display: block;
        position: absolute;
        right: 100%;
        top: 0;
        bottom: 0;
        width: 1000px;
        border: none;
        padding: 0;
        background-color: rgba(255, 255, 255, 0.8);
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        transition: opacity var(--transition-show),
                    visibility var(--transition-show);
    }

    .sidebar-visible .sidebar__overlay {
        opacity: 1;
        visibility: visible;
    }

    .sidebar__scroll {
        height: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
        .sidebar__inner {
            height: 100%;
            border-right: none;
            border-left: 2px solid #E8E8E8;
        }

.sidebar-collapsed .sidebar {
    width: var(--page-sidebar-mobile);
}

.sidebar-collapsed .sidebar:hover {
    width: var(--page-sidebar-mobile);
}



.sidebar-hidden .sidebar {
    width: var(--page-sidebar-mobile);
    opacity: 1;
}

.sidebar-hidden .sidebar:hover {
    width: var(--page-sidebar-mobile);
}
