.sidebar {
    position: absolute;
    z-index: 950; /* .header is 1000, .sidebar is 950, .player3 is 900
                     It make sense only on smartphones when .sidebar is under the header (shadow) but over the .player3 */
                  /* Also higher than .home__aside on smartphone */
    left: 0;
    top: var(--header-height);
    width: var(--page-sidebar);
    background-color: #FFFFFF;
    transition: width var(--transition-long-show);
}
    .sidebar__scroll {

    }
        .sidebar__inner {
            border-right: 2px solid #E8E8E8;
        }

@media (min-width: 1240px) {
    .sidebar {
        position: fixed;
        top: var(--header-height);
        bottom: 0;
    }

    .has-sub-header .sidebar {
        top: calc(100% - var(--header-height) - var(--sub-header-height));
    }

    .has-player3 .sidebar {
        bottom: var(--player3-height);
    }
        .sidebar__scroll {
            height: 100%;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }
            .sidebar__inner {
                height: 100%;
            }
}


.sidebar-collapsed .sidebar {
    width: var(--page-sidebar-collapsed);
}

.sidebar-collapsed .sidebar:hover {
    width: var(--page-sidebar);
}

