.simpler-null {
    height: 361px;
    padding: 40px 40px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #76797C;
    text-align: center;
}

.simpler-null--fixed-height {

}

.simpler-null--full-height {
    height: 100%;
    padding-bottom: 140px;
}
    .simpler-null__action {
        margin-top: 25px;
    }

    .simpler-null__action.button,
    .simpler-null__action > .button {
        border-radius: 2px;
        font-size: 13px;
        box-shadow: none;
    }
