.simpler-location {
    display: flex;
    align-items: flex-start;
    font-size: 11px;
    line-height: 18px;
    color: #757575;
}
    .simpler-location__icon {
        width: 26px;
        height: 26px;
        margin-right: 8px;
        fill: #C5C5C5;
    }

    .simpler-location__label {
        margin-top: 5px;
    }
        .simpler-location__value {
            font-weight: bold;
            color: #545454;
        }
