.squared-person {
    width: 188px;
    padding-top: 20px;
    padding-bottom: 13px;
    font-weight: 600;
    font-size: 19px;
    line-height: 22px;
    color: #757575;
    text-align: center;
}
    .squared-person__photo {
        padding-left: 21px;
        padding-right: 21px;
    }
        .squared-person__preview-link {
            display: inline-block;
            vertical-align: top;
            box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.15);
            border-radius: 11px;
            overflow: hidden;
        }
            .squared-person__image {
                vertical-align: top;
                background-color: #C4C4C4;
                transition: transform 0.3s cubic-bezier(0, 0.55, 0.45, 1);
            }

            .squared-person__preview-link:hover .squared-person__image {
                transform: scale(1.05);
            }

    .squared-person__data {
        margin-top: 18px;
        padding-left: 10px;
        padding-right: 10px;
        min-height: 67px; /* two lines of .squared-person__name plus one line of .squared-person__note */
    }
        .squared-person__name {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: inherit;
        }
            .squared-person__link {
                padding-top: 8px; /* expand clickable area */
                padding-bottom: 8px;
                color: inherit;
                text-decoration: none;
            }
            
            .squared-person__link:hover {
                color: #C4C4C4;
            }

        .squared-person__note {
            margin-top: 5px;
            font-weight: 600;
            font-size: 11px;
            line-height: 18px;
        }
