.staple {
    display: inline-block;
    vertical-align: top;
    border: none;
    width: 70px;
    height: 70px;
    padding: 19px;
    background-color: rgba(51, 51, 51, 0.58);
    border-radius: 50%;
    cursor: pointer;
}
    .staple__icon {
        vertical-align: top;
        fill: #FFFFFF;
    }


.staple:hover,
.clip:hover .staple {
    background-color: rgba(196, 196, 196, 0.88);
}
.play:hover .staple__icon,
.clip:hover .staple__icon {
    fill: #FFFFFF;
}



.staple--alternate {
    width: 86px;
    height: 86px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.19);
    border-radius: 11px;
}
    .staple--alternate::before {
        content: "";
        display: block;
        width: 46px;
        height: 46px;
        border: 2px solid #757575;
        border-radius: 7px;
    }

    .staple--alternate .staple__icon {
        margin-top: -33px;
        margin-left: 13px;
        fill: #757575;
    }
