.stat {
    position: relative;
    padding: 12px 20px 18px;
    background-color: #F6F6F6;
    border-radius: 4px;
}
    .stat__heading {
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: #545454;
    }

    .stat__icon {
        position: absolute;
        right: 18px;
        top: 13px;
    }

    .stat__value {
        margin-top: 7px;
        font-size: 41px;
        line-height: 41px;
        color: #333333;
    }
        .stat__period {
            font-size: 12px;
            line-height: 15px;
            color: #545454;
        }

    .stat__total {
        margin-top: 9px;
        font-size: 13px;
        line-height: 20px;
        color: #545454;
    }
        .stat__growth {
            margin-right: 11px;
            margin-top: -1px;
            float: left;
        }
