.sub-header {

}
    .sub-header__detachable-panel {

    }
        .sub-header__desktop-content {
            display: none;
        }
            .sub-header__icon {
                margin-right: 16px;
            }

        .sub-header__smartphone-content {
            display: block;
        }
