.summary {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 467px;
    padding-bottom: 62px;
    color: #FFFFFF;
}
    .summary__background {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #2E2A29;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
        /* Gradient overlay */
        .summary__background::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-image: linear-gradient(64.12deg, rgba(51, 51, 51, 0.8) 34.6%, rgba(255, 255, 255, 0) 100%);
            background-repeat: no-repeat;
            background-position: center center;
            opacity: 0.8;
        }

    .summary__wrap {
        position: relative;
    }
        .summary__edit {
            position: absolute;
            left: -6px;
            top: -51px;
        }

        .summary__brand {
            display: flex;
            align-items: center;
        }
            .summary__logo {
                flex-shrink: 0;
                margin-right: 40px;
                margin-top: 9px;
                margin-bottom: 10px;
                width: 113px;  /* 109px of image + 2px of border */
                height: 113px;  /* 109px of image + 2px of border */
                padding: 2px; /* border */
                background-color: #CACACA;
                box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
                border-radius: 8px;
            }
                .summary__emblem {
                    vertical-align: top;
                    width: 100%;
                    height: 100%;
                    border-radius: 6px;
                    background-color: var(--image-fallback);
                }

            .summary__title {
                width: 600px;
                margin-top: 0;
                margin-bottom: 0;
                font-weight: 300;
                font-size: 50px;
                line-height: 66px;
                letter-spacing: -1.36px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

        .summary__operations {
            display: none;
        }
            .summary__contacts {

            }
                .summary__channel {

                }

            .summary__addition {

            }
