.summary {
    /*position: relative;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    justify-content: flex-end;
    height: 238px;
    /*padding-top: 22px;*/
    /*color: #FFFFFF;*/
}
    .summary__background {
        /*position: absolute;*/
        /*left: 0;*/
        /*top: 0;*/
        /*right: 0;*/
        /*bottom: 0;*/
        /*background-color: #2E2A29;*/
        /*background-size: cover;*/
        /*background-repeat: no-repeat;*/
        /*background-position: center center;*/
    }
        /* Gradient overlay */
        .summary__background::before {
            /*content: "";*/
            /*position: absolute;*/
            /*left: 0;*/
            /*top: 0;*/
            /*right: 0;*/
            /*bottom: 0;*/
            /*background-image: linear-gradient(64.12deg, rgba(51, 51, 51, 0.8) 34.6%, rgba(255, 255, 255, 0) 100%);*/
            /*background-repeat: no-repeat;*/
            /*background-position: center center;*/
        }

    .summary__wrap {

    }
        .summary__brand {
            /*display: flex;*/
            /*align-items: flex-end;*/
        }
            .summary__logo {
                width: 74px;
                height: 74px;
                border-radius: 2px;
                padding: 1px;
                margin: 0 17px 0 0;
            }
                .summary__emblem {
                    width: 72px;
                    height: 72px;
                    /*flex-shrink: 0;*/
                    /*margin-top: 9px;*/
                    /*margin-bottom: 10px;*/
                    border-radius: 2px;
                    /*box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);*/
                }

            .summary__title {
                width: auto;
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
                /*font-weight: 300;*/
                font-size: 30px;
                line-height: 36px;
                /*letter-spacing: -1.36px;*/
            }

        .summary__location {
            display: none;
            /*margin-top: 38px;*/
            /*position: relative;*/
            /*font-weight: bold;*/
            /*padding-left: 41px;*/
            /*font-size: 12px;*/
            /*line-height: 24px;*/
            /*letter-spacing: 3px;*/
            /*text-transform: uppercase;*/
        }
            .summary__map-pin {
                /*position: absolute;*/
                /*left: -1px;*/
                /*top: 0;*/
                /*fill: currentColor;*/
                /*vertical-align: top;*/
            }

        .summary__actions {

        }
            .summary__contacts {
                display: flex;
                align-items: flex-end;
            }


.summary--as-card {
    /*position: relative;*/
    /*display: block;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    width: auto;
    height: auto;
    padding-top: 0;
    /*padding-bottom: 0;*/
    /*color: #FFFFFF;*/
}
    .summary--as-card .summary__background {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        /*overflow: hidden; !* cut angles *!*/
        /*position: absolute;*/
        /*left: 0;*/
        /*top: 0;*/
        /*right: 0;*/
        /*bottom: 0;*/
        /*background-size: cover;*/
        /*background-repeat: no-repeat;*/
        /*background-position: center center;*/
    }
        /* Gradient overlay */
        .summary--as-card .summary__background::before {
            /*content: "";*/
            /*position: absolute;*/
            /*left: 0;*/
            /*top: 0;*/
            /*right: 0;*/
            /*bottom: 0;*/
            /*background-image: linear-gradient(64.12deg, rgba(51, 51, 51, 0.8) 34.6%, rgba(255, 255, 255, 0) 100%);*/
            /*background-repeat: no-repeat;*/
            /*background-position: center center;*/
        }

    .summary--as-card .summary__wrap {
        /*position: relative;*/
        padding: 87px 20px 24px 21px;
    }
        .summary--as-card .summary__brand {
            /*display: flex;*/
            /*align-items: flex-end;*/
        }
            .summary--as-card .summary__logo {
                position: static;
                width: 74px;
                height: 74px;
                /*right: 40px;*/
                /*top: 122px;*/
                /*flex-shrink: 0;*/
                margin-right: 15px;
                margin-top: 0;
                /*margin-bottom: 0;*/
                /*border-radius: 8px;*/
                /*box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);*/
            }
                .summary--as-card .summary__emblem {

                }

            .summary--as-card .summary__title {
                width: auto;
                max-width: 240px;
                margin-bottom: -4px;
                /*margin-bottom: 0;*/
                /*font-weight: 300;*/
                font-size: 35px;
                line-height: 43px;
                /*letter-spacing: -1.2px;*/
            }

        .summary--as-card .summary__location {
            /*margin-top: 18px;*/
            /*position: relative;*/
            /*font-weight: bold;*/
            /*padding-left: 41px;*/
            /*font-size: 11px;*/
            /*line-height: 24px;*/
            /*letter-spacing: 3px;*/
            /*text-transform: uppercase;*/
        }
            .summary--as-card .summary__map-pin {
                /*position: absolute;*/
                /*left: -1px;*/
                /*top: 0;*/
                /*fill: currentColor;*/
                /*vertical-align: top;*/
            }

        .summary--as-card .summary__actions {
            /*position: absolute;*/
            /*z-index: 50;*/
            right: auto;
            top: 19px;
            left: 5px;
            /*display: flex;*/
            /*align-items: flex-start;*/
        }
            .summary--as-card .summary__actions .operations__dropdown {
                right: auto;
                left: 10px;
            }
