.switch {
    display: flex;
    align-items: flex-start;
}

.switch:focus-within {
    outline: auto;
    outline-offset: 4px;
}
    .switch__heading {
        display: inline-block;
        vertical-align: top;
        margin-top: 11px;
        font-weight: bold;
        font-size: 10px;
        line-height: 14px;
        color: #B0B0B0;
        text-transform: uppercase;
    }

    .switch__body {
        display: flex;
        align-items: flex-start;
        margin-left: 13px;
    }

    .switch__body:first-child {
        margin-left: 0;
    }
        .switch__option {
            margin-left: 12px;
            position: relative;
            display: inline-block;
            vertical-align: top;
        }

        .switch__option:first-child {
            margin-left: 0;
        }
            .switch__widget {
                position: absolute;
                left: 50%;
                top: 50%;
                opacity: 0;
                pointer-events: none;
            }

            .switch__label {
                display: block;
                padding: 10px 15px;
                min-width: 100px;
                background-color: var(--light-panel);
                border-radius: 20px;
                font-weight: 600;
                font-size: 10px;
                line-height: 14px;
                color: #757575;
                text-align: center;
                letter-spacing: -0.1px;
                cursor: pointer;
                transition: background-color var(--transition-hover),
                            color var(--transition-hover);
            }

            .switch__label:hover {
                background-color: var(--light-panel-hover);
                color: #757575;
            }

            .switch__label:active {
                background-color: var(--light-panel-active);
                color: #757575;
            }

            .switch__widget:checked ~ .switch__label {
                background-color: #757575;
                color: #FFFFFF;
                cursor: default;
            }

