.synopsis {
    margin-top: -42px;
    position: relative;
    display: flex;
    align-items: stretch;
    padding: 29px 40px;
    background-color: #FFFFFF;
    border-radius: 15px;
}
    .synopsis__about {
        flex-shrink: 0;
        width: 220px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
        .synopsis__description {
            padding-bottom: 20px;
            color: #757575;
        }

        .synopsis__more {
            margin-top: auto;
            margin-bottom: 8px;
        }

        .synopsis__more.button,
        .synopsis__more > .button {
            width: 170px;
        }

    .synopsis__people {
        flex-shrink: 0;
        width: 342px;
        margin-left: 46px;
    }
        .synopsis__group {
            margin-top: 11px;
        }

        .synopsis__group:first-child {
            margin-top: 0;
        }
            .synopsis__sub-heading {
                position: relative;
                display: flex;
                align-items: flex-start;
                margin-left: 5px;
                font-weight: bold;
                font-size: 14px;
                line-height: 24px;
                color: #757575;
            }
                .synopsis__sub-heading::after {
                    content: "";
                    flex-grow: 1;
                    display: block;
                    height: 1px;
                    margin-left: 14px;
                    margin-top: 16px;
                    background-color: #E8E8E8;
                }

            .synopsis__sub-heading--name {
                width: 100%; /* in case of another flex context */
                padding-bottom: 16px;
                margin-left: 0;
                margin-bottom: 14px;
            }
                .synopsis__sub-heading--name::after {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    margin-left: 0;
                    width: 50px;
                }

            .synopsis__listing {
                margin-top: 9px;
            }

