/*
  In this components we will see selectors such as:
  .tabs--skin-default > .tabs__nav .tabs__tag
  It has to be done to avoid case of when tabs placed inside of tabs
*/


.tabs {

}
    .tabs__nav {

    }
        .tabs__ribbon {

        }
            .tabs__tag {
                color: inherit;
                text-decoration: none;
                cursor: pointer;
            }

            .tabs__tag--current {
                cursor: default;
            }

    .tabs__bodies {

    }
        .tabs__item {
            display: none;
        }

        .tabs__item--current {
            display: block;
        }





.tabs--skin-default {

}
    .tabs--skin-default > .tabs__nav {
        text-align: center;
        font-weight: bold;
        overflow-y: auto;
    }
        .tabs--skin-default > .tabs__nav .tabs__ribbon {
            display: inline-flex;
            align-items: flex-start;
            margin-left: var(--container-mobile-padding);
            margin-right: var(--container-mobile-padding);
            box-shadow: inset 0 0 0 1px #E8E8E8;
            border-radius: 20px;
        }
            .tabs--skin-default > .tabs__nav .tabs__tag {
                flex-shrink: 0;
                display: inline-flex;
                align-items: flex-start;
                border: none;
                background-color: transparent;
                border-radius: 20px;
                padding: 10px 20px;
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                white-space: nowrap;
                color: #545454;
                cursor: pointer;
            }

            .tabs--skin-default > .tabs__nav .tabs__tag:hover {
                background-color: var(--panel-hover);
            }

            .tabs--skin-default > .tabs__nav .tabs__tag:active {
                background-color: var(--panel-active);
            }

            .tabs--skin-default > .tabs__nav .tabs__tag:first-child {

            }

            .tabs--skin-default > .tabs__nav .tabs__tag:hover {

            }

            .tabs--skin-default > .tabs__nav .tabs__tag--current,
            .tabs--skin-default > .tabs__nav .tabs__tag--current:hover {
                background-color: #333333;
                color: #FFFFFF;
                cursor: default;
            }


    .tabs--skin-default > .tabs__bodies {
        margin-top: 24px;
    }
        .tabs--skin-default > .tabs__bodies > .tabs__item {

        }

        .tabs--skin-default > .tabs__bodies > .tabs__item--current {

        }




.tabs--skin-channels {

}
    .tabs--skin-channels > .tabs__nav {
        border-bottom: 1px solid #E8E8E8;
    }
        .tabs--skin-channels > .tabs__nav .tabs__ribbon {
            display: flex;
        }
            .tabs--skin-channels > .tabs__nav .tabs__tag {
                position: relative;
                flex-grow: 1;
                flex-basis: 0;
                background-color: transparent;
                border: none;
                padding: 11px 4px 8px;
                font-family: inherit;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                color: #808386;
                text-align: center;
            }

                .tabs--skin-channels > .tabs__nav .tabs__tag::before {
                    content: "";
                    position: absolute;
                    left: 6px;
                    top: 6px;
                    right: 6px;
                    bottom: 6px;
                    border-radius: 3px;
                    transition: background-color var(--transition-hover);
                }

                .tabs--skin-channels > .tabs__nav .tabs__tag:hover::before {
                    background-color: rgba(255, 255, 255, 0.7);
                }

                .tabs--skin-channels > .tabs__nav .tabs__tag:active::before {
                    background-color: #FFFFFF;
                }

                .tabs--skin-channels > .tabs__nav .tabs__icon {
                    position: relative;
                    display: block;
                    margin-bottom: 1px;
                    width: 20px;
                    height: 20px;
                    margin-left: auto;
                    margin-right: auto;
                    fill: #000000;
                }

                .tabs__label {
                    position: relative;
                }

                .tabs--skin-channels > .tabs__nav .tabs__tag::after {
                    content: "";
                    position: absolute;
                    left: 4px;
                    right: 4px;
                    bottom: -3px;
                    height: 4px;
                    border-radius: 2px;
                    transition: background-color;
                }

            .tabs--skin-channels > .tabs__nav .tabs__tag:hover {

            }

            .tabs--skin-channels > .tabs__nav .tabs__tag:active {

            }

            .tabs--skin-channels > .tabs__nav .tabs__tag:first-child {

            }

            .tabs--skin-channels > .tabs__nav .tabs__tag:hover {

            }

            .tabs--skin-channels > .tabs__nav .tabs__tag--current,
            .tabs--skin-channels > .tabs__nav .tabs__tag--current:hover {
                color: #24282C;
                cursor: default;
            }

            .tabs--skin-channels > .tabs__nav .tabs__tag--current::before {
                display: none;
            }

            .tabs--skin-channels > .tabs__nav .tabs__tag--current::after {
                background-color: #23282C;
            }

            .tabs--skin-channels > .tabs__nav .tabs__tag--current:only-child::after {
                display: none;
            }


    .tabs--skin-channels > .tabs__bodies {

    }
        .tabs--skin-channels > .tabs__bodies > .tabs__item {
            padding: 18px 23px;
        }

        .tabs--skin-channels > .tabs__bodies > .tabs__item--current {

        }

