.tag-page {
    padding-bottom: 120px;
}
    .tag-page__head {
        padding: 46px 50px 27px;
        display: flex;
        align-items: center;
    }
        .tag-page__back {
            margin-left: -18px;
            margin-right: 20px;
            font-size: 40px;
            line-height: 40px;
        }

        .tag-page__heading {

        }

        .tag-page__hint {
            margin-left: 30px;
            font-size: 14px;
            line-height: 20px;
        }

        .tag-page__body {
            padding-left: 10px;
            padding-right: 10px;
        }
            .tag-page__list {
                padding-left: 25px;
                padding-right: 25px;
                display: grid;
                gap: 24px;
            }

            .tag-page__list--opportunities {
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            }

            @media (min-width: 1300px) {
                .tag-page__list--opportunities {
                    grid-template-columns: repeat(auto-fill, minmax(327px, 1fr));
                }
            }


            .tag-page__list--circles {
                grid-template-columns: repeat(auto-fill, minmax(276px, 1fr));
            }


            .tag-page__list--members {
                grid-template-columns: repeat(auto-fill, minmax(266px, 1fr));
            }

