.tag {
    padding: 6px 18px;
    display: inline-block;
    vertical-align: top;
    background-color: var(--theme-light);
    border-radius: 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: var(--theme-text);
    text-decoration: none;
    transition: background-color var(--transition-hover);
}

.tag:hover {
    background-color: var(--theme-main-hover);
}


.tag:active {
    background-color: var(--theme-main-press);
}
