.tag-people {
    padding-top: 22px;
    padding-bottom: 22px;
}
    .tag-people__header {
        padding-left: 28px;
        padding-right: 28px;
    }
        .tag-people__search {
            margin-right: 14px;
        }

        .tag-people__selection {
            margin-top: 20px;
            margin-right: 12px;
        }


    .tag-people__content {
        margin-top: 10px;
        max-height: calc(100vh - 340px);
        overflow-y: auto;
    }
        .tag-people__content {
            display: block;
            color: inherit;
            text-decoration: none;
        }
            .tag-people__suggest {
                display: block;
                padding: 12px 28px;
                color: inherit;
                text-decoration: none;
            }

            .tag-people__suggest:hover {
                background-color: #F6F6F6;
            }
