.team-members {

}
    .team-members__heading {
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: #333333;
    }

    .team-members__list {
        margin-top: 13px;
    }
        .team-members__item {
            margin-top: 18px;
            display: flex;
            align-items: flex-start;
        }

        .team-members__item:first-child {
            margin-top: 0;
        }
            .team-members__person {
                flex-shrink: 0;
                position: relative;
                padding: 2px;
                background-color: #F2F2F2;
                border-radius: 50%;
            }
                .team-members__preview {

                }

                .team-members__delete {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.7);
                    border-radius: 50%;
                    border: none;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    opacity: 0;
                    transition: opacity var(--transition-hover),
                                visibility var(--transition-hover);
                }

                .team-members__delete:hover,
                .team-members__delete:focus {
                    opacity: 1;
                }
                    .team-members__bin {
                        width: 24px;
                        height: 24px;
                        fill: #757575;
                    }

            .team-members__body {
                margin-left: 18px;
                margin-top: 2px;
            }
                .team-members__name {
                    font-weight: bold;
                    font-size: 11px;
                    line-height: 18px;
                    color: #757575;
                }
                    .team-members__name:hover .link--text-alike {
                        transition: opacity var(--transition-hover);
                    }

                    .team-members__name:hover .link--text-alike {
                        opacity: 0.7;
                    }

                .team-members__note {
                    margin-top: 2px;
                    font-size: 11px;
                    line-height: 18px;
                    color: #757575;
                }

            .team-members__status {
                margin-left: auto;
                margin-top: 2px;
                padding-left: 20px;
                font-weight: bold;
                font-size: 12px;
                line-height: 18px;
                color: #333333;
            }
