.teaser {
    display: block;
    border: 1px solid #E8E8E8;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-decoration: none;
}
    .teaser__preview {
        position: relative;
        height: 130px;
        background-color: #E8E8E8;
        border-bottom: 1px solid #E8E8E8;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
        text-align: center;
    }
        .teaser__photo {
            vertical-align: top;
            border-top-left-radius: 9px;
            border-top-right-radius: 9px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .teaser__document {
            vertical-align: top;
            margin-left: 21px;
            margin-right: 21px;
            margin-top: 15px;
            width: calc(100% - 42px);
            height: calc(100% - 15px);
            object-fit: cover;
        }

        .teaser__illustration {
            margin-top: 43px;
        }


        .teaser__delete {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 83px;
            height: 83px;
            border: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 12px 0 8px;
            background-color: rgba(0, 0, 0, 0.53);
            border-top-left-radius: 6px;
            border-bottom-right-radius: 6px;
            font-weight: 600;
            font-size: 13px;
            line-height: 13px;
            color: #FFFFFF;
            text-align: center;
            cursor: pointer;
        }
            .teaser__delete:hover {
                background-color: rgba(0, 0, 0, 0.4);
            }

            .teaser__delete:active {
                background-color: rgba(0, 0, 0, 0.6);
            }

            .teaser__bin {
                margin-bottom: 6px;
                vertical-align: top;
                fill: #FFFFFF;
            }


    .teaser__body {
        padding: 16px 18px 18px;
    }
        .teaser__heading {
            display: flex;
            align-items: flex-start;
            height: 54px;
            font-weight: bold;
            font-size: 13px;
            line-height: 18px;
            color: #545454;
        }
            .teaser__icon {
                flex-shrink: 0;
                width: 24px;
                height: 24px;
                margin-left: -2px;
                margin-right: 14px;
                vertical-align: top;
                fill: #333333;
            }

            .teaser__text {
                display: flex;
                align-items: center;
                min-height: 24px;
            }




.teaser--editing {
    /*display: block;*/
    /*box-shadow: inset 0 0 0 1px #E8E8E8;*/
    /*border-radius: 9px;*/
    /*text-decoration: none;*/
}
    .teaser--editing .teaser__preview {
        /*height: 130px;*/
        /*background-color: #E8E8E8;*/
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;
        /*text-align: center;*/
    }
        .teaser--editing .teaser__photo {
            border-bottom-left-radius: 9px;
            border-bottom-right-radius: 9px;
            /*width: 100%;*/
            /*height: 100%;*/
            /*object-fit: cover;*/
        }

        .teaser--editing .teaser__document {
            /*margin-left: 21px;*/
            /*margin-right: 21px;*/
            /*margin-top: 15px;*/
            /*width: calc(100% - 42px);*/
            /*height: calc(100% - 15px);*/
            /*object-fit: cover;*/
        }

        .teaser--editing .teaser__illustration {
            /*margin-top: 43px;*/
        }


.teaser--horizontal {
    display: flex;
    min-height: 62px;
    align-items: center;
    /*border: 1px solid #E8E8E8;*/
    border-radius: 7px;
    /*text-decoration: none;*/
}
    .teaser--horizontal .teaser__preview {
        align-self: stretch;
        flex-shrink: 0;
        /*position: relative;*/
        width: 114px;
        height: auto;
        /*background-color: #E8E8E8;*/
        border-bottom: none;
        border-radius: 6px 0 0 6px;
        /*text-align: center;*/
    }
        .teaser--horizontal .teaser__photo {
            border-radius: 6px 0 0 6px;
            width: 100%;
            height: 100%;
            /*object-fit: cover;*/
        }

        .teaser--horizontal .teaser__document {
            margin: 0;
            border-radius: 6px 0 0 6px;
            width: 100%;
            height: 100%;
            /*object-fit: cover;*/
        }
            .teaser--horizontal .teaser__illustration {
                margin-top: 0;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 24px;
                height: 24px;
            }


    .teaser--horizontal .teaser__body {
        flex-grow: 1;
        padding: 12px 30px 12px 18px;
    }

        .teaser--horizontal .teaser__heading {
            /*display: flex;*/
            /*align-items: flex-start;*/
            height: auto;
            /*font-weight: bold;*/
            /*font-size: 13px;*/
            /*line-height: 18px;*/
            /*color: #545454;*/
        }
            .teaser--horizontal .teaser__icon {
                /*width: 24px;*/
                /*height: 24px;*/
                /*margin-left: -2px;*/
                /*margin-right: 14px;*/
                /*vertical-align: top;*/
                /*fill: #333333;*/
            }

            .teaser--horizontal .teaser__text {
                /*width: calc(100% - 36px);*/
                /*overflow: hidden;*/
                /*text-overflow: ellipsis;*/
                /*display: -webkit-box;*/
                /*-webkit-line-clamp: 3;*/
                /*-webkit-box-orient: vertical;*/
            }


