.thead {
    display: flex;
    align-items: flex-start;
    border: none;
    padding: 12px 16px;
    border-bottom: 1px solid #E8E8E8;
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #757575;
    white-space: nowrap;
    transition: background-color var(--transition-hover),
                color var(--transition-hover);
}

.thead--clickable {
    cursor: pointer;
}

.thead--clickable:hover {
    background-color: #8B8B8B;
    color: #F4F4F4;
}
