.toggler {
    display: inline-flex;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
}
    .toggler__label {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #545454;
    }

    .toggler__body {
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
        width: 44px;
        height: 24px;
        background-color: #F4F4F4;
        border: 1px solid #E8E8E8;
        border-radius: 12px;
    }

    .toggler__body:first-child {
        margin-left: 0;
    }

    .toggler__body:last-child {
        margin-right: 0;
    }
        .toggler__widget {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            cursor: inherit;
        }

        .toggler__knob {
            position: absolute;
            left: 2px;
            top: 2px;
            bottom: 2px;
            display: block;
            width: 18px;
            height: 18px;
            background-color: #C4C4C4;
            border-radius: 50%;
            transition: left 0.3s var(--ease-out-circ),
                        background-color var(--transition-hover);
        }

        .toggler__widget:checked ~ .toggler__knob {
            left: 20px;
        }

        .toggler__widget:focus ~ .toggler__knob {
            outline: auto;
            outline-offset: 4px;
        }


.toggler:hover {

}
    .toggler:hover .toggler__knob {
        background-color: #333333;
    }
