.top-bar {
    position: relative;
    height: var(--header-height);
    padding: 22px 60px 22px 20px;
}
    .top-bar__heading {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #23282C;
    }

    .top-bar__close {
        position: absolute;
        right: 12px;
        top: 12px;
    }
        .top-bar__cross {

        }
