.top-bar {
    position: relative;
    height: var(--header-height);
    padding: 17px 60px 17px 20px;
}
    .top-bar__heading {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 22px;
        line-height: 26px;
        color: #757575;
    }

    .top-bar__close {
        position: absolute;
        right: 0;
        top: 0;
        width: 60px;
        height: 60px;
        background-color: transparent;
        padding: 0;
        border: none;
        cursor: pointer;
    }
