.type-handler {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.77);
    border-radius: 8px;
    cursor: pointer;
}
    .type-handler__icon {
        fill: #545454;
    }

.clip:hover .type-handler,
.type-handler:hover {
    background-color: rgba(196, 196, 196, 0.88);
}
