.underlined-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.8px;
    color: var(--blue-primary);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 30px, #E3EDF3 30px, #E3EDF3 31px, rgba(0, 0, 0, 0) 31px, rgba(0, 0, 0, 0));
    background-repeat: no-repeat;
    background-position: top center;
}
    .underlined-title__inner {
        display: inline-block;
        vertical-align: top;
        background-color: #FFFFFF;
        padding-right: 39px;
    }
