.up-next {
    position: relative;
    padding-top: 51px;
    padding-bottom: 20px;
}
    .up-next__heading {
        position: absolute;
        left: 20px;
        top: 19px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: bold;
        font-size: 11px;
        line-height: 18px;
        color: #757575;
    }

    .up-next__sub-heading {
        position: absolute;
        right: 20px;
        top: 19px;
        display: flex;
        align-items: flex-start;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: bold;
        font-size: 11px;
        line-height: 18px;
        color: #9CB2BE;
    }
        .up-next__now {
            display: none;
        }

        .up-next__you {
            margin-left: 12px;
            margin-top: -2px;
        }

    .up-next__list {
        height: 100%;
    }

        .up-next__list .null__inner {
            margin-left: 20px;
            margin-right: 20px;
        }

        .null__inner {
            height: 100%;
        }

        .up-next__item {
            position: relative;
            margin-top: -1px;
        }
            .up-next__item::before {
                content: "";
                position: absolute;
                left: 20px;
                right: 20px;
                top: 0;
                height: 1px;
                background-color: #F2F2F2;
            }

            .up-next__item:first-child::before {
                display: none;
            }

            .up-next__item:hover ~ .up-next__item::before {
                background-color: #F6F6F6;
            }

        .up-next__item:first-child {
            border-top: none;
        }
