.updates {
    position: relative;
    user-select: none; /* because clicking on switch often toggles selection */
}
    .updates__switch {
        position: absolute;
        z-index: 50;
        right: 0;
        top: -2px;
        display: flex;
        align-items: flex-start;
        padding: 5px 11px;
        min-width: 107px; /* so it won't jump on label change */
        background-color: #B8B8B8;
        border-radius: 14px;
        cursor: pointer;
    }
        .updates__swap-icon {
            margin-right: 3px;
            fill: #FFFFFF;
        }

        .updates__checkbox {
            margin-top: -12px;
            margin-bottom: -12px;
            margin-right: 7px;
        }

        .updates__label {
            padding-top: 1px;
            font-weight: bold;
            font-size: 10px;
            line-height: 14px;
            color: #FFFFFF;
            cursor: pointer;
        }

        .updates__label--media {
            display: block;
        }

        .updates__label--news {
            display: none;
        }

    .updates__body {
        position: relative;
        height: 232px; /* default height for media */
        transition: height var(--transition-show);
    }
        .updates__section {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transition: visibility var(--transition-show),
                        opacity var(--transition-show);
        }

        .updates__section--media {

        }

        .updates__section--news {
            visibility: hidden;
            opacity: 0;
        }



.updates--switched-to-news {

}
    .updates--switched-to-news .updates__switch {

    }
        .updates--switched-to-news .updates__label--media {
            display: none;
        }

        .updates--switched-to-news .updates__label--news {
            display: block;
        }

    .updates--switched-to-news .updates__body {
        height: 214px; /* default height for news */
    }
        .updates--switched-to-news .updates__section--media {
            visibility: hidden;
            opacity: 0;
        }

        .updates--switched-to-news .updates__section--news {
            visibility: visible;
            opacity: 1;
        }




.updates--sidebar {
    width: 226px;
    margin-left: auto;
    margin-right: auto;
}
    .updates--sidebar .updates__body {
        height: 220px; /* height of media plus arrows */
    }

    .updates--sidebar.updates--switched-to-news .updates__body {
        height: 247px; /* height of news plus arrows */
    }
