.updates-line {
    margin: 8px 36px;
    padding: 13px 18px;
    background-color: #EEF0F3;
    border-radius: 4px;
    font-size: 13px;
    line-height: 18px;
    color: #757575;
}


.full-line + .updates-line {
    margin-top: 27px;
}

    .updates-line__heading {
        font-weight: 600;
        color: #23282C;
    }
