.profile .user-link {
    justify-content: flex-end;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
}
    .profile .user-link__preview {
        margin: -2px -4px -2px 30px;
        order: 1;
    }
