.user-link {
    display: flex;
    align-items: flex-start;
    padding: 11px 32px 11px 23px;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #545454;
    text-decoration: none;
    /*transition: background-image var(--transition-hover);*/
    /*background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0) 4px, #F6F6F6 4px, #F6F6F6 54px, rgba(0,0,0,0) 54px, rgba(0,0,0,0));*/

}

.user-link:hover {
    background-color: #F6F6F6;
}
    .user-link__preview {
        margin: -6px 15px -6px -6px;
    }



.user-link--sidebar-ready {
    padding: 13px 22px 13px 28px;
    font-size: 12px;
    line-height: 20px;
    transition: background-color var(--transition-hover);
}

.user-link--sidebar-ready:hover {
    background-color: #F4F4F4;
    box-shadow: inset -1px 0 0 #E8E8E8;
}

    .user-link--sidebar-ready .user-link__preview {
        margin: 2px 14px 2px 2px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    }



.user-link--user-color {
    color: var(--user-color);
}




.user-link--collapsed-sidebar {
    position: relative;
    display: block;
    height: 58px;
    padding: 0;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}

.user-link--collapsed-sidebar:hover {
    background-color: #F4F4F4;
    box-shadow: inset -1px 0 0 #E8E8E8;
}
    .user-link--collapsed-sidebar .user-link__preview {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 20px;
        height: 20px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    }
