.user-bar {
    position: relative;
    padding: 22px 22px 82px;
}
    .user-bar__preview {

    }
        .user-bar__preview.avatar,
        .user-bar__preview .avatar,
        .user-bar__preview.dummy,
        .user-bar__preview .dummy {

        }

    .user-bar__body {

    }
        .user-bar__name {

        }
            .user-bar__name .link {

            }

            .user-bar__name .link:hover {

            }

        .user-bar__note {

        }

        .user-bar__output {

        }

    .user-bar__action {
        position: absolute;
        left: 0;
        bottom: 22px;
    }
        .user-bar__action.button,
        .user-bar__action .button,
        .user-bar__action.sent,
        .user-bar__action .sent {
            width: calc(100% - 44px);
        }
