.user-line {
    padding-top: 9px;
    padding-bottom: 2px; /* 2px is needed for hover effect of link */
    font-size: 12px;
    line-height: 16px;
    color: #757575;
}
    .user-line__photo {
        margin-top: -9px;
        margin-right: 9px;
        float: left;
    }

    .user-line__text {

    }

    .user-line .link {
        font-weight: bold;
    }
