.user-card {
    width: 188px;
    padding-top: 20px;
    padding-bottom: 13px;
    font-weight: 600;
    font-size: 19px;
    line-height: 22px;
    color: #757575;
    text-align: center;
    cursor: pointer;
}

    .user-card__preview {
        box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.15);
    }

    .user-card__data {
        margin-top: 18px;
        padding-left: 10px;
        padding-right: 10px;
        min-height: 67px; /* two lines of .user-card__name plus one line of .user-card__note */
    }
        .user-card__name {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: inherit;
        }
            .user-card__link {
                padding-top: 8px; /* expand clickable area */
                padding-bottom: 8px;
                color: inherit;
                text-decoration: none;
            }

            .user-card:hover .user-card__link,
            .user-card__link:hover {
                color: #C4C4C4;
            }

        .user-card__note {
            margin-top: 5px;
            font-weight: 600;
            font-size: 11px;
            line-height: 18px;
        }



.user-card--smaller {
    width: 98px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 10px;
    line-height: 15px;
}
    .user-card--smaller .user-card__preview {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.13);
    }

    .user-card--smaller .user-card__data {
        margin-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        min-height: 0; /* clear value */
    }
        .user-card--smaller .user-card__name {
            font-weight: bold;
        }
            .user-card--smaller .user-card__link {

            }

            .user-card--smaller .user-card:hover .user-card__link,
            .user-card--smaller .user-card__link:hover {

            }

        .user-card--smaller .user-card__note {
            margin-top: 0;
            font-size: inherit;
            line-height: inherit;
        }
