.user-card {
    width: 188px;
    padding-top: 20px;
    padding-bottom: 13px;
    text-align: center; /* align photo to center (card itself is larger than photo) */
    cursor: pointer;
}
    .user-card__preview.avatar,
    .user-card__preview .avatar {
        box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.15);
    }

    .user-card__data {
        margin-top: 18px;
        padding-left: 10px;
        padding-right: 10px;
        min-height: 67px; /* two lines of .user-card__name plus one line of .user-card__note */
    }
        .user-card__name {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 600;
            font-size: 19px;
            line-height: 22px;
            color: #757575;
        }
            .user-card__link {
                padding-top: 8px; /* expand clickable area */
                padding-bottom: 8px;
                color: inherit;
                text-decoration: none;
                transition: color var(--transition-hover);
            }

            .user-card:hover .user-card__link,
            .user-card__link:hover {
                color: #C4C4C4;
            }

        .user-card__note {
            margin-top: 5px;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: #757575;
        }



.user-card--side {
    width: 104px;
    padding: 0;
    font-size: 10px;
    line-height: 15px;
}
    .user-card--side .user-card__preview.avatar,
    .user-card--side .user-card__preview .avatar {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.13);
    }

    .user-card--side .user-card__data {
        margin-top: 8px;
        padding: 0;
        min-height: 0; /* clear value */
    }
        .user-card--side .user-card__name {
            font-weight: bold;
            color: #545454;
        }
            .user-card--side .user-card__link {
                font-size: 12px;
                line-height: 16px;
            }

            .user-card--side .user-card:hover .user-card__link,
            .user-card--side .user-card__link:hover {

            }

        .user-card--side .user-card__note {
            margin-top: 0;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: #757575;
        }


.user-card--org-card {
    width: 98px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 10px;
    line-height: 15px;
}
    .user-card--org-card .user-card__preview.avatar,
    .user-card--org-card .user-card__preview .avatar {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.13);
    }

    .user-card--org-card .user-card__data {
        margin-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        min-height: 0; /* clear value */
    }
        .user-card--org-card .user-card__name {
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            color: #757575;
        }
            .user-card--org-card .user-card__link {

            }

            .user-card--org-card .user-card:hover .user-card__link,
            .user-card--org-card .user-card__link:hover {

            }

        .user-card--org-card .user-card__note {
            margin-top: 0;
            font-weight: normal;
            font-size: 11px;
            line-height: 15px;
            color: #AAAAAA;
        }



.user-card--collection {
    width: 98px;
    padding-top: 5px;
    padding-bottom: 10px;
}
    .user-card--collection .user-card__preview.avatar,
    .user-card--collection .user-card__preview .avatar {
        box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.15);
    }

    .user-card--collection .user-card__data {
        margin-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        min-height: 0; /* clear value */
    }
        .user-card--collection .user-card__name {
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            color: #545454;
        }
            .user-card--collection .user-card__link {

            }

            .user-card--collection .user-card:hover .user-card__link,
            .user-card--collection .user-card__link:hover {

            }

        .user-card--collection .user-card__note {
            margin-top: 0;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: #757575;
        }



.user-card--roster {
    width: auto;
    padding: 0 20px;
}
    .user-card--roster .user-card__preview.avatar,
    .user-card--roster .user-card__preview .avatar {
        box-shadow: none;
    }

    .user-card--roster .user-card__data {
        margin-top: 14px;
        padding-left: 0;
        padding-right: 0;
        min-height: 0; /* clear value */
    }
        .user-card--roster .user-card__name {
            font-weight: 600;
            font-size: 15px;
            line-height: 24px;
            color: #545454;
        }
            .user-card--roster .user-card__link {

            }

            .user-card--roster .user-card:hover .user-card__link,
            .user-card--roster .user-card__link:hover {

            }

        .user-card--roster .user-card__note {
            margin-top: 4px;
            font-weight: 600;
            font-size: 11px;
            line-height: 16px;
            text-transform: uppercase;
            color: #9CB2BE;
        }
