.user-link {
    /*display: flex;*/
    /*align-items: flex-start;*/
    flex-direction: row-reverse;
    padding: 21px 30px 22px;
    /*font-weight: bold;*/
    font-size: 15px;
    line-height: 24px;
    /*color: #8B8B8B;*/
    /*text-decoration: none;*/
}

.user-link:hover {
    /*color: #545454;*/
}
    .user-link__preview {
        margin: -5px -7px -5px 30px;
    }
        .user-link__preview .avatar__image {
            width: 32px;
            height: 32px;
        }

.user-link--sidebar-ready {
    /*padding-top: 13px;*/
    /*padding-bottom: 13px;*/
    /*padding-left: 36px;*/
}
    .user-link--sidebar-ready .user-link__preview {
        /*margin: 0 9px 0 -1px;*/
        /*box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);*/
    }

.user-link--user-color {
    /*color: var(--user-color);*/
}
