.user-badge {
    position: relative;
    display: block;
    padding-left: 76px;
    padding-top: 6px;
    padding-bottom: 12px;
    min-height: 56px;
    color: inherit;
    text-decoration: none;
}
    .user-badge__preview {
        position: absolute;
        left: 0;
        top: 0;
    }

    .user-badge__heading {
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        color: #757575;
    }
        .icon {
            margin-top: -1px;
            margin-right: 2px;
            fill: #C5C5C5;
        }

    .user-badge__note {
        margin-top: 6px;
        font-size: 12px;
        line-height: 16px;
        color: #AFAFAF;
    }
