.user-link {
    display: flex;
    align-items: flex-start;
    padding: 10px 20px 10px 27px;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    color: #8B8B8B;
    text-decoration: none;
}

.user-link:hover {
    color: #545454;
}
    .user-link__preview {
        margin: -6px 13px -6px -6px;
    }

.user-link--sidebar-ready {
    padding: 13px 22px 13px 28px;
    font-size: 12px;
    line-height: 20px;
}
    .user-link--sidebar-ready .user-link__preview {
        margin: 2px 14px 2px 2px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    }

.user-link--user-color {
    color: var(--user-color);
}
