.user-badge {
    position: relative;
    display: block;
    padding-left: 76px;
    padding-top: 9px;
    padding-bottom: 9px;
    min-height: 56px;
    color: inherit;
    text-decoration: none;
}
    .user-badge__preview {
        position: absolute;
        left: 0;
        top: 0;
    }

    .user-badge__heading {
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        color: #757575;
    }
        .user-badge__heading .link:hover {
            transition: opacity var(--transition-hover);
        }

        .user-badge__heading .link:hover {
            opacity: 0.6;
        }

        .user-badge__heading .icon {
            margin-top: -1px;
            margin-right: 2px;
            fill: #C5C5C5;
        }

    .user-badge__note {
        margin-top: 6px;
        font-size: 12px;
        line-height: 16px;
        color: #AFAFAF;
    }



.user-badge--search {
    padding-left: 56px;
    min-height: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
}
    .user-badge--search .avatar__image {
        width: 40px;
        height: 40px;
    }

    .user-badge--search .user-badge__heading {
        color: #545454;
    }

    .user-badge--search .user-badge__note {
        color: #AAAAAA;
    }
