.user-notifications {
    position: static;
    /*z-index: 2000;*/
    /*right: 91px;*/
    /*top: 47px;*/
    width: auto;
    /*background-color: #FFFFFF;*/
    box-shadow: none;
    border-radius: 0;
    overflow: visible; /* cut corners (hovers inside for example) */
    opacity: 1;
    visibility: visible;
    /*transition: opacity var(--transition-show),*/
    /*            visibility var(--transition-show);*/
}

/*.notifications-visible .user-notifications {*/
/*    opacity: 1;*/
/*    visibility: visible;*/
/*}*/
    .user-notifications__scroll {
        max-height: none;
    }
