.user-bar {
    display: flex;
    align-items: flex-start;
    padding: 22px 34px 22px 42px;
}
    .user-bar__preview {
        flex-shrink: 0;
        margin-right: 22px;
    }
        .user-bar__preview.avatar,
        .user-bar__preview .avatar,
        .user-bar__preview.dummy,
        .user-bar__preview .dummy {
            box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.15);
        }

    .user-bar__body {
        flex-grow: 1;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
        .user-bar__name {
            padding-top: 3px;
            font-weight: normal;
            font-size: 15px;
            line-height: 22px;
            color: #545454;
        }
            .user-bar__name .link {
                font-weight: inherit;
                transition: opacity var(--transition-hover);
            }

            .user-bar__name .link:hover {
                opacity: 0.6;
            }

        .user-bar__note {
            margin-top: 5px;
            padding-bottom: 2px;
            font-size: 12px;
            line-height: 18px;
            color: #AFAFAF;
            letter-spacing: -0.1px;
        }

        .user-bar__output {
            font-weight: bold;
            font-size: 12px;
            line-height: 23px;
            color: #757575;
        }

    .user-bar__action {
        flex-shrink: 0;
        margin-top: 18px;
        margin-left: 20px;
    }
        .user-bar__action.button,
        .user-bar__action .button,
        .user-bar__action.sent,
        .user-bar__action .sent {
            width: 114px;
            padding-top: 10px;
            padding-bottom: 10px;
            font-weight: normal;
            font-size: 14px;
            border-radius: 18px;
        }
