.user-side {

}
    .user-side__data {
        margin-bottom: 25px;
    }
        .user-side__photo {
            vertical-align: top;
            width: 246px;
            height: 210px;
            object-fit: cover;
            background-color: var(--image-fallback);
            border-radius: 4px;
        }

        @media (min-width: 1240px) {
            .user-side__photo {
                width: 316px;
                height: 270px;
            }
        }

        .user-side__body {
            margin-top: 20px;
        }
            .user-side__heading {
                margin-top: 0;
                margin-bottom: 0;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #333333;
                text-align: center;
            }

            .user-side__features {
                margin-top: 16px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
            }
                .user-side__stat {
                    margin-left: 12px;
                    margin-right: 12px;
                    vertical-align: top;
                    fill: #757575;
                }

    .user-side__profile-completeness {
        margin-top: 15px;
    }

    .user-side__share {
        margin-top: 15px;
    }

    .user-side__invite {
        margin-top: 24px;
    }
