.venue {
    position: relative;
    padding: 15px 12px 0 112px;
    height: 100px;
    background-color: #F8F8F8;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}
    .venue__background {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        vertical-align: top;
        background-color: #E8E8E8;
    }

    .venue__logo {
        position: absolute;
        left: 20px;
        top: 20px;
        border-radius: 6px;
    }

    .venue__heading {
        font-weight: bold;
        font-size: 10px;
        line-height: 17px;
        color: #757575;
    }

    .venue__note {
        font-size: 10px;
        line-height: 17px;
        color: #757575;
    }

    .venue__follow {
        margin-top: 8px;
    }
        .venue__follow .button__icon {
            margin-left: -4px;
        }
