.vertical-artist {
    /*position: relative;*/
    display: block;
    /*align-items: stretch;*/
    /*padding-top: 20px;*/
    border-bottom: none;
}
    .vertical-artist::before {
        /*content: "";*/
        /*position: absolute;*/
        /*z-index: 30;*/
        /*left: 0;*/
        /*top: 0;*/
        /*right: 0;*/
        /*height: 20px;*/
        /*background-color: var(--theme-main);*/
        /*box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);*/
    }

    .vertical-artist__left {
        width: auto;
        /*flex-shrink: 0;*/
    }

    .vertical-artist__mobile-bio {
        display: block;
        position: relative;
        margin-top: -117px;
    }

    .vertical-artist__right {
        width: auto;
        position: static;
        padding-top: 0;
    }
        .vertical-artist__body {
            padding: 0 var(--container-mobile-padding);
        }
            .vertical-artist__header {
                display: none;
            }

            .vertical-artist__gallery {
                position: static;
            }

            .vertical-artist__gallery.carousel--for-profile-projects,
            .vertical-artist__gallery .carousel--for-profile-projects {
                /*border-radius: 0;*/
            }

            .vertical-artist__content {
                display: flex;
                flex-direction: column;
                align-items: stretch;
            }
                .vertical-artist__primary {
                    /*flex-basis: 48.44%;*/
                    /*flex-shrink: 0;*/
                    margin-right: 0;
                    padding-top: 0;
                }
                    .vertical-artist__description {
                        display: none;
                    }

                    .vertical-artist__management {
                        /*margin-top: 32px;*/
                        /*padding-top: 25px;*/
                    }

                    .vertical-artist__social {
                        /*margin-top: 32px;*/
                        /*padding-top: 25px;*/
                    }

                    .vertical-artist__register {
                        /*margin-top: 30px;*/
                        /*border-top: 1px solid #F2F2F2;*/
                        /*padding-top: 30px;*/
                    }

                .vertical-artist__secondary {
                    order: -1;
                    /*flex-grow: 1;*/
                    /*flex-basis: 0;*/
                    overflow: visible;
                    margin-left: 0;
                    margin-right: 0;
                    padding-left: 0;
                    padding-right: 0;
                    padding-top: 0;
                }
                    .vertical-artist__connections {
                        /*margin: -10px -13px;*/
                        margin-top: 0;
                        padding-top: 10px;
                    }

                    .vertical-artist__secondary .find-connections:not(.find-connections--horizontal) {
                        /*margin-top: 10px;*/
                    }

                    .vertical-artist__performing {
                        /*margin-top: 31px;*/
                        /*padding-top: 21px;*/
                    }

                    .vertical-artist__highlights {

                    }

            .vertical-artist__edits {
                /*margin-top: 24px;*/
                /*display: flex;*/
                /*flex-direction: column;*/
                /*align-items: flex-start;*/
            }
                .vertical-artist__editing-handler {
                    /*margin-top: 24px;*/
                }

                .vertical-artist__editing-handler:first-child {
                    /*margin-top: 0;*/
                }

                .vertical-artist__edits.button,
                .vertical-artist__edits .button {
                    /*padding-left: 40px;*/
                    /*padding-right: 40px;*/
                }
