.vertical-artist {
    display: block;
    border-bottom: none;
}
    .vertical-artist::before {

    }

    .vertical-artist__stripe {

    }
        .vertical-artist__jumbotron {
            display: block;
        }

            .vertical-artist__left {
                width: auto;
            }

            .vertical-artist__mobile-bio {
                display: block;
            }

            .vertical-artist__right {
                width: auto;
                position: static;
                padding-top: 0;
            }
                .vertical-artist__body {
                    padding: 0 var(--container-mobile-padding) var(--profile-gap);
                }
                    .vertical-artist__header {
                        display: none;
                    }

                    .vertical-artist__gallery {
                        position: static;
                    }

                    .vertical-artist__description {
                        display: none;
                    }

                    .vertical-artist__currently {
                        display: block;
                    }
                        .vertical-artist__position {

                        }

                        .vertical-artist__connections {
                            margin-top: 16px;
                        }

                        .vertical-artist__connections .find-connections {
                            margin: 0;
                        }

                    .vertical-artist__summary {
                        display: block;
                    }
                        .vertical-artist__management {
                            width: auto;
                        }

                        .vertical-artist__social {
                            width: auto;
                        }

                        .vertical-artist__register {
                            width: auto;
                        }

                        .vertical-artist__performing {
                            width: auto;
                        }

                        .vertical-artist__highlights {
                            width: auto;
                        }

                    .vertical-artist__edits {
                        padding-bottom: 30px;
                    }
                        .vertical-artist__editing-handler {

                        }

                        .vertical-artist__editing-handler:first-child {

                        }

                        .vertical-artist__edits.button,
                        .vertical-artist__edits .button {

                        }
