.vertical-artist {
    position: relative;
    padding-top: 20px;
    border-bottom: 26px solid var(--theme-light);
}
    .vertical-artist::before {
        content: "";
        position: absolute;
        z-index: 30;
        left: 0;
        top: 0;
        right: 0;
        height: 20px;
        background-color: var(--theme-main);
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
    }

    .vertical-artist__stripe {
        position: relative;
    }
        .vertical-artist__stripe::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: var(--theme-light);
            opacity: 0.5;
        }

        .vertical-artist__jumbotron {
            position: relative;
            display: flex;
            align-items: stretch;
            max-width: 1600px;
            margin-left: auto;
            margin-right: auto;
            background-color: #FFFFFF;
        }
            .vertical-artist__left {
                width: 50%;
                flex-shrink: 0;
            }
                .vertical-artist__left .artist-card {
                    height: 920px;
                }

            .vertical-artist__mobile-bio {
                display: none;
            }

            .vertical-artist__right {
                position: relative;
                width: 50%;
                flex-shrink: 0;
            }
                .vertical-artist__gallery {

                }
                    .vertical-artist__gallery.carousel--for-profile-projects,
                    .vertical-artist__gallery .carousel--for-profile-projects {
                        border-radius: 0;
                    }

                    /* empty case */
                    .vertical-artist__gallery.icon-bar--framed,
                    .vertical-artist__gallery .icon-bar--framed {
                        margin: 27px 36px 0;
                    }

                .vertical-artist__body {
                    padding: 27px 36px 29px;
                }
                    .vertical-artist__header {

                    }



                    .vertical-artist__description {
                        margin-top: 20px;
                    }

                    .vertical-artist__currently {
                        margin-top: 28px;
                        display: flex;
                        align-items: flex-start;
                        gap: var(--talent-gap);
                    }
                        .vertical-artist__position {
                            flex-grow: 1;
                            flex-basis: 0;
                        }

                        .vertical-artist__connections {
                            flex-grow: 1;
                            flex-basis: 0;
                        }
                            .vertical-artist__connections.find-connections,
                            .vertical-artist__connections .find-connections {
                                margin-top: var(--profile-gap);
                            }

                    .vertical-artist__summary {
                        margin-top: -12px;
                        display: flex;
                        flex-wrap: wrap;
                        column-gap: var(--talent-gap);
                    }
                        .vertical-artist__management {
                            width: calc(50% - calc(var(--talent-gap) / 2));
                            margin-top: var(--talent-gap);
                            border-top: 1px solid var(--theme-light);
                            padding-top: 24px;
                        }

                        .vertical-artist__social {
                            width: calc(50% - calc(var(--talent-gap) / 2));
                            margin-top: var(--talent-gap);
                            border-top: 1px solid var(--theme-light);
                            padding-top: 24px;
                        }

                        .vertical-artist__register {
                            width: calc(50% - calc(var(--talent-gap) / 2));
                            margin-top: var(--talent-gap);
                            border-top: 1px solid var(--theme-light);
                            padding-top: 24px;
                        }


                        /*.vertical-artist__secondary .find-connections {*/
                        /*    margin-top: 10px;*/
                        /*}*/

                        .vertical-artist__performing {
                            width: calc(50% - calc(var(--talent-gap) / 2));
                            margin-top: var(--talent-gap);
                            border-top: 1px solid var(--theme-light);
                            padding-top: 24px;
                        }

                        .vertical-artist__highlights {
                            width: calc(50% - calc(var(--talent-gap) / 2));
                            margin-top: var(--talent-gap);
                            border-top: 1px solid var(--theme-light);
                            padding-top: 24px;
                        }

                    .vertical-artist__edits {
                        margin-top: 24px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }
                        .vertical-artist__editing-handler {
                            margin-top: 24px;
                        }

                        .vertical-artist__editing-handler:first-child {
                            margin-top: 0;
                        }

                        .vertical-artist__edits.button,
                        .vertical-artist__edits .button {
                            padding-left: 40px;
                            padding-right: 40px;
                        }

                    .vertical-artist__menu {
                        margin-top: var(--profile-gap);
                    }

