:root {
    --wysiwyg-font: 12px;
    --wysiwyg-line: 24px;
}

.wysiwyg {
    font-size: var(--wysiwyg-font);
    line-height: var(--wysiwyg-line);
    word-wrap: break-word;
}

/* stylelint-disable function-parentheses-space-inside */
.wysiwyg p,
.wysiwyg ul,
.wysiwyg ol,
.wysiwyg hr,
.wysiwyg figure,
.wysiwyg blockquote {
    margin-top: var(--wysiwyg-line);
    margin-bottom: var(--wysiwyg-line);
}
/* stylelint-enable */

.wysiwyg p:first-child,
.wysiwyg ul:first-child,
.wysiwyg ol:first-child,
.wysiwyg hr:first-child,
.wysiwyg figure:first-child,
.wysiwyg blockquote:first-child {
    margin-top: 0;
}

.wysiwyg p:last-child,
.wysiwyg ul:last-child,
.wysiwyg ol:last-child,
.wysiwyg hr:last-child,
.wysiwyg figure:last-child,
.wysiwyg blockquote:last-child {
    margin-bottom: 0;
}


.wysiwyg ul {
    padding-left: 40px;
    list-style: none;
}
    .wysiwyg ul li {
        position: relative;
    }
        .wysiwyg ul li::before {
            position: absolute;
            right: 100%;
            margin-right: 5px;
            top: 0;
            content: "—";
        }

.wysiwyg ol {
    counter-reset: wysiwyg-ordered-list;
    padding-left: 40px;
    list-style: none;
}
    .wysiwyg ol li {
        counter-increment: wysiwyg-ordered-list;
        position: relative;
    }
        .wysiwyg ol li::before {
            content: counter(wysiwyg-ordered-list) ") ";
            position: absolute;
            right: 100%;
            margin-right: 5px;
            top: 0;
        }


.wysiwyg blockquote {
    margin-left: 40px;
    margin-right: 40px;
    font-style: italic;
}

.wysiwyg hr {
    height: 0;
    border-top: 1px solid;
}

.wysiwyg img {
    vertical-align: top;
    background-color: var(--image-fallback);
    max-width: 100%;
    height: auto;
}

.wysiwyg figure {
    margin-left: 0;
    margin-right: 0;
}
    .wysiwyg figcaption {
        margin-top: 4px;
        text-align: center;
    }



.wysiwyg h2 {

}

.wysiwyg h3 {

}

.wysiwyg h4 {

}

.wysiwyg h2:first-child,
.wysiwyg h3:first-child,
.wysiwyg h4:first-child {
    margin-top: 0;
}

.wysiwyg h2:last-child,
.wysiwyg h3:last-child,
.wysiwyg h4:last-child {
    margin-bottom: 0;
}



.wysiwyg a {
    /* see .link component */
}



.wysiwyg b,
.wysiwyg strong {

}
