:root {
    --wysiwyg-larger-font: 13px;
    --wysiwyg-larger-line: 24px;
}

.wysiwyg {
    word-wrap: break-word; /* for long links inside */
}




/* Larger */
.wysiwyg--larger {
    font-size: 13px;
    line-height: 24px;
}

.wysiwyg--larger p,
.wysiwyg--larger ul,
.wysiwyg--larger ol,
.wysiwyg--larger hr,
.wysiwyg--larger figure,
.wysiwyg--larger blockquote {
    margin-top: 26px;
    margin-bottom: 26px;
}
/* /Larger */



/* Larger */
.wysiwyg--smaller {
    font-size: 13px;
    line-height: 21px;
}

.wysiwyg--smaller p,
.wysiwyg--smaller ul,
.wysiwyg--smaller ol,
.wysiwyg--smaller hr,
.wysiwyg--smaller figure,
.wysiwyg--smaller blockquote {
    margin-top: 21px;
    margin-bottom: 21px;
}
/* /Larger */




/* Larger */
.wysiwyg--for-bubbles {
    font-size: 13px;
    line-height: 18px;
}

.wysiwyg--for-bubbles p,
.wysiwyg--for-bubbles ul,
.wysiwyg--for-bubbles ol,
.wysiwyg--for-bubbles hr,
.wysiwyg--for-bubbles figure,
.wysiwyg--for-bubbles blockquote {
    margin-top: 10px;
    margin-bottom: 10px;
}
/* /Larger */


/* Classic */
.wysiwyg--classic {
    font-size: 12px;
    line-height: 26px;
}

.wysiwyg--classic p,
.wysiwyg--classic ul,
.wysiwyg--classic ol,
.wysiwyg--classic hr,
.wysiwyg--classic figure,
.wysiwyg--classic blockquote {
    margin-top: 26px;
    margin-bottom: 26px;
}
/* /Classic */



.wysiwyg p:first-child,
.wysiwyg ul:first-child,
.wysiwyg ol:first-child,
.wysiwyg hr:first-child,
.wysiwyg figure:first-child,
.wysiwyg blockquote:first-child {
    margin-top: 0;
}

.wysiwyg p:last-child,
.wysiwyg ul:last-child,
.wysiwyg ol:last-child,
.wysiwyg hr:last-child,
.wysiwyg figure:last-child,
.wysiwyg blockquote:last-child {
    margin-bottom: 0;
}


.wysiwyg h2:first-child,
.wysiwyg h3:first-child,
.wysiwyg h4:first-child {
    margin-top: 0;
}

.wysiwyg h2:last-child,
.wysiwyg h3:last-child,
.wysiwyg h4:last-child {
    margin-bottom: 0;
}



.wysiwyg ul {
    padding-left: 40px;
}


.wysiwyg ol {
    counter-reset: wysiwyg-ordered-list;
    padding-left: 40px;
    list-style: none;
}
    .wysiwyg ol li {
        counter-increment: wysiwyg-ordered-list;
        position: relative;
    }
        .wysiwyg ol li::before {
            content: counter(wysiwyg-ordered-list) ") ";
            position: absolute;
            right: 100%;
            margin-right: 5px;
            top: 0;
        }


.wysiwyg blockquote {
    margin-left: 40px;
    margin-right: 40px;
    font-style: italic;
}

.wysiwyg hr {
    height: 0;
    border-top: 1px solid;
}

.wysiwyg img {
    vertical-align: top;
    background-color: var(--image-fallback);
    max-width: 100%;
    height: auto;
}

.wysiwyg figure {
    margin-left: 0;
    margin-right: 0;
}
    .wysiwyg figcaption {
        margin-top: 4px;
        text-align: center;
    }





.wysiwyg--side {

}
    .wysiwyg--side ul,
    .wysiwyg--side ol {
        padding-left: 20px;
    }
