<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Auth</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="../styles/style.css?1625775858">
        <link rel="stylesheet" href="../styles/responsiveness.css?1625775858" media="(max-width: 767px)">
    </head>
    <body>

        <!-- 1/3: .header -->
        <header class="header">
            <div class="header__detachable-panel">
                <div class="header__top-bar">
                    <a class="header__branding logo" href="#">
                        STAGETIME
                    </a>
                    <div class="header__auth">
                        <a class="header__login" href="#">Log In</a>
                        <a class="header__join" href="#">Join <span class="hide hide--hide-on-smartphone">Stagetime</span></a>
                    </div>
                </div>
            </div>
        </header>

        <!-- 2/3: .page -->
        <div class="page">
            <div class="gate gate--simpler">
                <div class="gate__cell">
                    <div class="gate__wrap container container--welcome">
                        <div class="start">
                            <h1 class="start__heading">
                                Where would you like to start, Allen?
                            </h1>
                            <div class="start__list">
                                <a class="start__link" href="#">
                                    <div class="start__preview">
                                        <svg class="start__icon" width="32" height="32">
                                            <use xlink:href="../symbols/symbols.svg?1625775858#32-pencil"></use>
                                        </svg>
                                    </div>
                                    <div class="start__label">
                                        Edit Profile
                                    </div>
                                </a>
                                <a class="start__link" href="#">
                                    <div class="start__preview">
                                        <svg class="start__icon" width="32" height="32">
                                            <use xlink:href="../symbols/symbols.svg?1625775858#32-crowd-full"></use>
                                        </svg>
                                    </div>
                                    <div class="start__label">
                                        Connect to Your Network
                                    </div>
                                </a>
                                <a class="start__link" href="#">
                                    <div class="start__preview">
                                        <svg class="start__icon" width="32" height="32">
                                            <use xlink:href="../symbols/symbols.svg?1625775858#32-house"></use>
                                        </svg>
                                    </div>
                                    <div class="start__label">
                                        Home
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- 3/3 Modals: -->
        <!-- No modal windows on this page -->



        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.6.0.min.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/wavesurfer/wavesurfer.js"></script>
        <script src="../vendors/expanding-textareas/dist/expanding.jquery.js"></script>
        <script src="../vendors/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script src="../scripts/_global.js?1625775858"></script>
        <script src="../scripts/_operations.js?1625775858"></script>
        <script src="../scripts/_profile.js?1625775858"></script>
        <script src="../scripts/_mfp.js?1625775858"></script>
        <script src="../scripts/_search.js?1625775858"></script>
        <script src="../scripts/_carousel.js?1625775858"></script>
        <script src="../scripts/_player.js?1625775858"></script>
        <script src="../scripts/_updates.js?1625775858"></script>
        <script src="../scripts/_dash-side.js?1625775858"></script>
        <script src="../scripts/_happening.js?1625775858"></script>
        <script src="../scripts/_input.js?1625775858"></script>
        <script src="../scripts/_edit-post.js?1625775858"></script>
        <script src="../scripts/_post-form.js?1625775858"></script>
        <script src="../scripts/_button.js?1625775858"></script>
        <script src="../scripts/_quick-message.js?1625775858"></script>
        <script src="../scripts/_dash-tiles.js?1625775858"></script>
        <script src="../scripts/_shortcut.js?1625775858"></script>
        <script src="../scripts/_scrollbar.js?1625775858"></script>
        <script src="../scripts/_referral.js?1625775858"></script>
        <script src="../scripts/_overlay.js?1625775858"></script>
        <script src="../scripts/_header--responsiveness.js?1625775858"></script>


    </body>
</html>



