<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Auth</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="../styles/style.css?1625847784">
        <link rel="stylesheet" href="../styles/responsiveness.css?1625847784" media="(max-width: 767px)">
    </head>
    <body>

        <!-- 1/3: .header -->
        <header class="header">
            <div class="header__detachable-panel">
                <div class="header__top-bar">
                    <a class="header__branding logo" href="#">
                        STAGETIME
                    </a>
                    <div class="header__auth">
                        <a class="header__login" href="#">Log In</a>
                        <a class="header__join" href="#">Join <span class="hide hide--hide-on-smartphone">Stagetime</span></a>
                    </div>
                </div>
            </div>
        </header>

        <!-- 2/3: .page -->
        <div class="page">
            <div class="gate">
                <div class="gate__cell">
                    <div class="gate__wrap container container--auth">
                        <div class="gate__intro">
                            <div class="gate__branding auth-logo">
                                STAGETIME
                            </div>
                            <div class="gate__slogan">
                                the <strong class="gate__highlight">professional network</strong> for the performing arts
                            </div>
                            <div class="gate__mobile-slogan">
                                Sign up for Stagetime
                            </div>
                        </div>
                        <form class="gate__form auth">
                            <div class="auth__heading">
                                Sign up for Stagetime
                            </div>
                            <div class="auth__fieldset">
                                <div class="auth__field input input--bold input--auth">
                                    <input class="input__widget" type="email" placeholder="Email">
                                </div>
                                <div class="auth__field input input--bold input--auth">
                                    <input class="input__widget" type="password" placeholder="Password">
                                </div>
                                <div class="auth__field input input--bold input--auth">
                                    <input class="input__widget" type="password" placeholder="Confirm Password">
                                </div>
                            </div>
                            <div class="auth__note">
                                Passwords must be at least 8 characters and contain at least one uppercase letter and one number.
                            </div>
                            <button class="auth__submit button button--auth-primary" type="submit">
                                Sign Up
                            </button>
                            <div class="auth__separator bar">
                                <div class="bar__label">or</div>
                            </div>
                            <div class="auth__social-networks">
                                <a class="auth__net button button--auth-secondary" href="#">
                                    Sign up with Google
                                    <svg class="button__icon button__icon--right" width="20" height="20">
                                        <use xlink:href="../symbols/symbols.svg?1625847784#google-auth"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="auth__agreement">
                                By signing up, you are agreeing to Stagetime’s <a class="link link--classic" href="#">Privacy Policy and Terms of Use</a>.
                            </div>
                            <div class="auth__alternative">
                                Already have an account? <a class="link link--text-alike" href="#">Log in</a>.
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- 3/3 Modals: -->
        <!-- No modal windows on this page -->



        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.6.0.min.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/wavesurfer/wavesurfer.js"></script>
        <script src="../vendors/expanding-textareas/dist/expanding.jquery.js"></script>
        <script src="../vendors/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script src="../scripts/_global.js?1625847784"></script>
        <script src="../scripts/_operations.js?1625847784"></script>
        <script src="../scripts/_profile.js?1625847784"></script>
        <script src="../scripts/_mfp.js?1625847784"></script>
        <script src="../scripts/_search.js?1625847784"></script>
        <script src="../scripts/_carousel.js?1625847784"></script>
        <script src="../scripts/_player.js?1625847784"></script>
        <script src="../scripts/_updates.js?1625847784"></script>
        <script src="../scripts/_dash-side.js?1625847784"></script>
        <script src="../scripts/_happening.js?1625847784"></script>
        <script src="../scripts/_input.js?1625847784"></script>
        <script src="../scripts/_edit-post.js?1625847784"></script>
        <script src="../scripts/_post-form.js?1625847784"></script>
        <script src="../scripts/_button.js?1625847784"></script>
        <script src="../scripts/_quick-message.js?1625847784"></script>
        <script src="../scripts/_dash-tiles.js?1625847784"></script>
        <script src="../scripts/_shortcut.js?1625847784"></script>
        <script src="../scripts/_scrollbar.js?1625847784"></script>
        <script src="../scripts/_referral.js?1625847784"></script>
        <script src="../scripts/_overlay.js?1625847784"></script>
        <script src="../scripts/_header--responsiveness.js?1625847784"></script>


    </body>
</html>



