<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Welcome</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="../vendors/bootstrap/bootstrap-modal-only.css?1681245806">
        <link rel="stylesheet" href="../styles/style.css?1681245806">
        <link rel="stylesheet" href="../styles/responsiveness.css?1681245806" media="(max-width: 767px)">
    </head>
    <body>

        <div class="wizard wizard--career">
            <div class="wizard__header">
                <a class="wizard__branding logo" href="#">
                    STAGETIME
                </a>
                <div class="wizard__progress">
                    <a class="wizard__bar wizard__bar--passed" href="#"></a>
                    <a class="wizard__bar wizard__bar--passed" href="#"></a>
                    <a class="wizard__bar wizard__bar--passed" href="#"></a>
                    <a class="wizard__bar wizard__bar--passed" href="#"></a>
                    <div class="wizard__bar"></div>
                    <div class="wizard__bar"></div>
                </div>
            </div>
            <div class="wizard__body">
                <div class="career">
                    <h1 class="career__heading">
                        Where have you worked and learned?
                    </h1>
                    <div class="career__description">
                        Workplace, educational institutions, resident artist and training programs, and houses where you’ve performed.
                    </div>
                    <div class="career__form">
                        <div class="employment">
                            <div class="employment__row">
                                <div class="input input--larger-font input--scanner">
                                    <input class="input__widget" type="text" placeholder="Organization">
                                    <div class="input__dropdown">
                                        <div class="input__options">
                                            <a class="input__suggest" href="#">Lyric Opera of Chicago</a>
                                            <a class="input__suggest" href="#">The Dallas Opera</a>
                                            <a class="input__suggest" href="#">Opera Theatre of Saint Louis</a>
                                            <a class="input__suggest input__suggest--add" href="#">Create “<span class="dark">Oper Zurich</span>”</a>
                                        </div>
                                    </div>
                                </div>
                                when selected:
                                <div class="management-suggest management-suggest--selected">
                                    <div class="management-suggest__preview avatar avatar--a-bit-squared avatar--non-clickable">
                                        <img class="avatar__image"
                                             srcset="../temp/organization-a-44x44@2x.jpg 2x"
                                             src="../temp/organization-a-44x44.jpg"
                                             width="44"
                                             height="44"
                                             alt="Mark Zuckerberg"
                                        >
                                    </div>
                                    <div class="management-suggest__name">
                                        <strong>The Metropolitan Opera</strong>, Chicago, IL, 13 people on Stagetime
                                    </div>
                                    <button class="management-suggest__delete action action--flipped" type="button">
                                            <span class="action__image">
                                                <svg class="action__icon" width="16" height="16">
                                                    <use xlink:href="../symbols/symbols.svg?1681245806#16-cross"></use>
                                                </svg>
                                            </span>
                                    </button>
                                </div>
                                creating new organization:
                                <div class="management-suggest management-suggest--selected">
                                    <div class="management-suggest__preview avatar avatar--a-bit-squared avatar--non-clickable">
                                        <svg class="avatar__image" width="44" height="44">
                                            <use xlink:href="../symbols/symbols.svg?1681245806#org-placeholder"></use>
                                        </svg>
                                    </div>
                                    <div class="management-suggest__name">
                                        <strong>My New Organization Name</strong>
                                    </div>
                                    <button class="management-suggest__delete action action--flipped" type="button">
                                        <span class="action__image">
                                            <svg class="action__icon" width="16" height="16">
                                                <use xlink:href="../symbols/symbols.svg?1681245806#16-cross"></use>
                                            </svg>
                                        </span>
                                    </button>
                                </div>
                                onboarding with organization:
                                <div class="management-suggest management-suggest--selected">
                                    <div class="management-suggest__preview avatar avatar--a-bit-squared avatar--non-clickable">
                                        <img class="avatar__image"
                                             srcset="../temp/organization-a-44x44@2x.jpg 2x"
                                             src="../temp/organization-a-44x44.jpg"
                                             width="44"
                                             height="44"
                                             alt="Mark Zuckerberg"
                                        >
                                    </div>
                                    <div class="management-suggest__name">
                                        <strong>The Metropolitan Opera</strong>, Chicago, IL, 13 people on Stagetime
                                    </div>
                                </div>
                            </div>
                            <div class="employment__row employment__row--has-columns employment__row--has-checkboxes">
                                <div class="employment__col employment__col--narrow">
                                    <label class="employment__option choice choice--radio choice--larger-font choice--full-width">
                                        <input class="choice__widget" type="radio" name="career-or-education">
                                        <i class="choice__icon" role="presentation"></i>
                                        <span class="choice__label">Career Highlight</span>
                                    </label>
                                </div>
                                <div class="employment__col employment__col--narrow">
                                    <label class="employment__option choice choice--radio choice--larger-font choice--full-width">
                                        <input class="choice__widget" type="radio" name="career-or-education">
                                        <i class="choice__icon" role="presentation"></i>
                                        <span class="choice__label">Education</span>
                                    </label>
                                </div>
                            </div>
                            <div class="employment__row">
                                <select class="select2--init select2--tagging" multiple="multiple" style="width: 100%;">
                                    <option value="1">Bass</option>
                                    <option value="2">Bass-baritone</option>
                                    <option value="3">Bass Guitar</option>
                                    <option value="4">Bass 101</option>
                                    <option value="5">Bass-baritone lorem</option>
                                    <option value="6">More bass Bass Guitar effect</option>
                                    <option value="7">Even more Bass</option>
                                    <option value="8">Another Bass-baritone</option>
                                    <option value="9">Just Bass Guitar 2</option>
                                    <option value="10">Yet another bass</option>
                                </select>
                            </div>
                            <div class="employment__row">
                                <div class="input input--larger-font">
                                    <input class="input__widget" type="text" placeholder="Production, Show, or Work">
                                </div>
                            </div>
                            <div class="employment__row employment__row--has-checkboxes">
                                <label class="choice choice--checkbox choice--larger-font">
                                    <input class="choice__widget" type="checkbox">
                                    <i class="choice__icon" role="presentation"></i>
                                    <span class="choice__label">I am currently affiliated with this organization</span>
                                </label>
                            </div>
                            <div class="employment__row employment__row--has-columns">
                                <div class="employment__col input input--select input--larger-font input--placeholder-is-chosen">
                                    <select class="input__widget">
                                        <option value="placeholder">Start month</option>
                                        <option>January</option>
                                        <option>February</option>
                                        <option>...</option>
                                        <option>December</option>
                                    </select>
                                </div>
                                <div class="employment__col input input--select input--larger-font input--placeholder-is-chosen">
                                    <select class="input__widget" required>
                                        <option value="placeholder">Start year *</option>
                                        <option>1950</option>
                                        <option>1951</option>
                                        <option>...</option>
                                        <option>2021</option>
                                    </select>
                                </div>
                            </div>
                            <div class="employment__row employment__row--has-columns">
                                <div class="employment__col input input--select input--larger-font input--placeholder-is-chosen">
                                    <select class="input__widget">
                                        <option value="placeholder">End month (or expected)</option>
                                        <option>January</option>
                                        <option>February</option>
                                        <option>...</option>
                                        <option>December</option>
                                    </select>
                                </div>
                                <div class="employment__col input input--select input--larger-font input--placeholder-is-chosen">
                                    <select class="input__widget" required>
                                        <option value="placeholder">Start year *</option>
                                        <option>1950</option>
                                        <option>1951</option>
                                        <option>...</option>
                                        <option>2021</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wizard__footer">
                <div class="wizard__navigation">
                    <a class="wizard__continue button button--side-submit button--black" href="#">Continue Building</a>
                    <a class="wizard__skip button button--side-submit button--transparent-black" href="#">Skip</a>
                </div>
            </div>
        </div>


        <!-- 3/3 Modals: -->
        <!-- No modal windows on this page -->




        <div class="size-checker" role="presentation" aria-hidden="true"></div>

        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.6.0.min.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/wavesurfer/wavesurfer.js"></script>
        <script src="../vendors/expanding-textareas/dist/expanding.jquery.js"></script>
        <script src="../vendors/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script src="../vendors/sortable/Sortable.min.js"></script>
        <script src="../vendors/bootstrap/bootstrap-modal-only.js"></script>
        <script src="../vendors/jquery-mousewheel/jquery.mousewheel.min.js"></script>
        <script src="../vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="../vendors/select2/js/select2.min.js"></script>
        <script src="../scripts/_global.js?1681245806"></script>
        <script src="../scripts/_operations.js?1681245806"></script>
        <script src="../scripts/_profile.js?1681245806"></script>
        <script src="../scripts/_sidebar.js?1681245806"></script>
        <script src="../scripts/_mfp.js?1681245806"></script>
        <script src="../scripts/_search.js?1681245806"></script>
        <script src="../scripts/_carousel.js?1681245806"></script>
        <script src="../scripts/_player3.js?1681245806"></script>
        <script src="../scripts/_updates.js?1681245806"></script>
        <script src="../scripts/_side.js?1681245806"></script>
        <script src="../scripts/_happening.js?1681245806"></script>
        <script src="../scripts/_input.js?1681245806"></script>
        <script src="../scripts/_edit-post.js?1681245806"></script>
        <script src="../scripts/_post-form.js?1681245806"></script>
        <script src="../scripts/_button.js?1681245806"></script>
        <script src="../scripts/_quick-message.js?1681245806"></script>
        <script src="../scripts/_explore.js?1681245806"></script>
        <script src="../scripts/_shortcut.js?1681245806"></script>
        <script src="../scripts/_scrollbar.js?1681245806"></script>
        <script src="../scripts/_overlay.js?1681245806"></script>
        <script src="../scripts/_notifications.js?1681245806"></script>
        <script src="../scripts/_enter.js?1681245806"></script>
        <script src="../scripts/_suggesting.js?1681245806"></script>
        <script src="../scripts/_chat.js?1681245806"></script>
        <script src="../scripts/_badge.js?1681245806"></script>
        <script src="../scripts/_media-bar.js?1681245806"></script>
        <script src="../scripts/_settings.js?1681245806"></script>
        <script src="../scripts/_slideshow.js?1681245806"></script>
        <script src="../scripts/_expandable-bio.js?1681245806"></script>
        <script src="../scripts/_parallax.js?1681245806"></script>
        <script src="../scripts/_simple-parallax.js?1681245806"></script>
        <script src="../scripts/_anchor.js?1681245806"></script>
        <script src="../scripts/_modal.js?1681245806"></script>
        <script src="../scripts/_full-media-card.js?1681245806"></script>
        <script src="../scripts/_color-selection.js?1681245806"></script>
        <script src="../scripts/_layout-type.js?1681245806"></script>
        <script src="../scripts/_sortable.js?1681245806"></script>
        <script src="../scripts/_biography.js?1681245806"></script>
        <script src="../scripts/_full-biography.js?1681245806"></script>
        <script src="../scripts/_media-clip.js?1681245806"></script>
        <script src="../scripts/_typing.js?1681245806"></script>
        <script src="../scripts/_circles.js?1681245806"></script>
        <script src="../scripts/_brief.js?1681245806"></script>
        <script src="../scripts/_non-performer.js?1681245806"></script>
        <script src="../scripts/_classic.js?1681245806"></script>
        <script src="../scripts/_owl-carousel.js?1681245806"></script>
        <script src="../scripts/_add-filter.js?1681245806"></script>
        <script src="../scripts/_select2.js?1681245806"></script>
        <script src="../scripts/_multiline.js?1681245806"></script>
        <script src="../scripts/_network-news.js?1681245806"></script>
        <script src="../scripts/_vertical-artist.js?1681245806"></script>
        <script src="../scripts/_tabs.js?1681245806"></script>
        <script src="../scripts/_picking.js?1681245806"></script>
        <script src="../scripts/_copying.js?1681245806"></script>
        <script src="../scripts/_spotlight.js?1681245806"></script>
        <script src="../scripts/_flyover.js?1681245806"></script>
        <script src="../scripts/_org3.js?1681245806"></script>


    </body>
</html>



