<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Welcome</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="../vendors/bootstrap/bootstrap-modal-only.css?1661616036">
        <link rel="stylesheet" href="../styles/style.css?1661616036">
        <link rel="stylesheet" href="../styles/responsiveness.css?1661616036" media="(max-width: 767px)">
    </head>
    <body>

        <div class="wizard wizard--match">
            <div class="wizard__header">
                <a class="wizard__branding logo" href="#">
                    STAGETIME
                </a>
                <div class="wizard__progress">
                    <a class="wizard__bar wizard__bar--passed" href="#"></a>
                    <a class="wizard__bar wizard__bar--passed" href="#"></a>
                    <div class="wizard__bar"></div>
                    <div class="wizard__bar"></div>
                </div>
            </div>
            <div class="wizard__body">
                <div class="match">
                    <h1 class="match__heading">
                        We may have found a match
                    </h1>
                    <div class="match__description">
                        Some records in our database match your profile. Are any of these you? If so, your profile has already been added to our database by a mutual data point on the platform, like a colleague’s show or event, and you can claim it below.
                    </div>
                    <div class="match__list">
                        <label class="match__item profile-suggest">
                            <input class="profile-suggest__widget" type="checkbox">
                            <span class="profile-suggest__body">
                                <span class="profile-suggest__photo avatar avatar--non-clickable">
                                    <img class="avatar__image"
                                         srcset="../temp/person-a-48x48@2x.jpg 2x"
                                         src="../temp/person-a-48x48.jpg"
                                         width="48"
                                         height="48"
                                         alt="Mark Zuckerberg"
                                    >
                                </span>
                                <span class="profile-suggest__name ellipsis">
                                    Brandon Bell
                                </span>
                                <span class="profile-suggest__note ellipsis">
                                    Baritone
                                </span>
                            </span>
                        </label>
                        <label class="match__item profile-suggest">
                            <input class="profile-suggest__widget" type="checkbox">
                            <span class="profile-suggest__body">
                                <span class="profile-suggest__photo avatar avatar--non-clickable">
                                    <img class="avatar__image"
                                         srcset="../temp/person-a-48x48@2x.jpg 2x"
                                         src="../temp/person-a-48x48.jpg"
                                         width="48"
                                         height="48"
                                         alt="Mark Zuckerberg"
                                    >
                                </span>
                                <span class="profile-suggest__name ellipsis">
                                    Brandon Bell
                                </span>
                                <span class="profile-suggest__note ellipsis">
                                    Baritone
                                </span>
                            </span>
                        </label>
                        <label class="match__item profile-suggest">
                            <input class="profile-suggest__widget" type="checkbox">
                            <span class="profile-suggest__body">
                                <span class="profile-suggest__photo avatar avatar--non-clickable">
                                    <img class="avatar__image"
                                         srcset="../temp/person-a-48x48@2x.jpg 2x"
                                         src="../temp/person-a-48x48.jpg"
                                         width="48"
                                         height="48"
                                         alt="Mark Zuckerberg"
                                    >
                                </span>
                                <span class="profile-suggest__name ellipsis">
                                    Brandon Bellkai Brandon Bellkai Brandon Bellkai
                                </span>
                                <span class="profile-suggest__note ellipsis">
                                    Baritone
                                </span>
                            </span>
                        </label>
                    </div>
                    <div class="match__submit button button--side-submit button--black" type="button">
                        Claim Profile
                    </div>
                </div>
            </div>
            <div class="wizard__footer">
                <div class="wizard__navigation">
                    <div class="wizard__question">None of these are you?</div>
                    <a class="wizard__continue button button--side-submit button--black" href="#">Continue Building</a>
                </div>
            </div>
        </div>


        <!-- 3/3 Modals: -->
        <!-- No modal windows on this page -->




        <div class="size-checker" role="presentation" aria-hidden="true"></div>

        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.6.0.min.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/wavesurfer/wavesurfer.js"></script>
        <script src="../vendors/expanding-textareas/dist/expanding.jquery.js"></script>
        <script src="../vendors/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script src="../vendors/sortable/Sortable.min.js"></script>
        <script src="../vendors/bootstrap/bootstrap-modal-only.js"></script>
        <script src="../vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="../vendors/select2/js/select2.min.js"></script>
        <script src="../scripts/_global.js?1661616036"></script>
        <script src="../scripts/_operations.js?1661616036"></script>
        <script src="../scripts/_profile.js?1661616036"></script>
        <script src="../scripts/_sidebar.js?1661616036"></script>
        <script src="../scripts/_mfp.js?1661616036"></script>
        <script src="../scripts/_search.js?1661616036"></script>
        <script src="../scripts/_carousel.js?1661616036"></script>
        <script src="../scripts/_player3.js?1661616036"></script>
        <script src="../scripts/_updates.js?1661616036"></script>
        <script src="../scripts/_side.js?1661616036"></script>
        <script src="../scripts/_happening.js?1661616036"></script>
        <script src="../scripts/_input.js?1661616036"></script>
        <script src="../scripts/_edit-post.js?1661616036"></script>
        <script src="../scripts/_post-form.js?1661616036"></script>
        <script src="../scripts/_button.js?1661616036"></script>
        <script src="../scripts/_quick-message.js?1661616036"></script>
        <script src="../scripts/_explore.js?1661616036"></script>
        <script src="../scripts/_shortcut.js?1661616036"></script>
        <script src="../scripts/_scrollbar.js?1661616036"></script>
        <script src="../scripts/_overlay.js?1661616036"></script>
        <script src="../scripts/_notifications.js?1661616036"></script>
        <script src="../scripts/_enter.js?1661616036"></script>
        <script src="../scripts/_suggesting.js?1661616036"></script>
        <script src="../scripts/_chat.js?1661616036"></script>
        <script src="../scripts/_badge.js?1661616036"></script>
        <script src="../scripts/_media-bar.js?1661616036"></script>
        <script src="../scripts/_settings.js?1661616036"></script>
        <script src="../scripts/_slideshow.js?1661616036"></script>
        <script src="../scripts/_expandable-bio.js?1661616036"></script>
        <script src="../scripts/_parallax.js?1661616036"></script>
        <script src="../scripts/_simple-parallax.js?1661616036"></script>
        <script src="../scripts/_anchor.js?1661616036"></script>
        <script src="../scripts/_modal.js?1661616036"></script>
        <script src="../scripts/_full-media-card.js?1661616036"></script>
        <script src="../scripts/_color-selection.js?1661616036"></script>
        <script src="../scripts/_layout-type.js?1661616036"></script>
        <script src="../scripts/_sortable.js?1661616036"></script>
        <script src="../scripts/_biography.js?1661616036"></script>
        <script src="../scripts/_media-clip.js?1661616036"></script>
        <script src="../scripts/_typing.js?1661616036"></script>
        <script src="../scripts/_circles.js?1661616036"></script>
        <script src="../scripts/_brief.js?1661616036"></script>
        <script src="../scripts/_non-performer.js?1661616036"></script>
        <script src="../scripts/_owl-carousel.js?1661616036"></script>
        <script src="../scripts/_add-filter.js?1661616036"></script>
        <script src="../scripts/_select2.js?1661616036"></script>
        <script src="../scripts/_multiline.js?1661616036"></script>


    </body>
</html>



