<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Welcome</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="../vendors/bootstrap/bootstrap-modal-only.css?1678299205">
        <link rel="stylesheet" href="../styles/style.css?1678299205">
        <link rel="stylesheet" href="../styles/responsiveness.css?1678299205" media="(max-width: 767px)">
    </head>
    <body>

        <div class="wizard wizard--org-set">
            <div class="wizard__header">
                <a class="wizard__branding logo" href="#">
                    STAGETIME
                </a>
            </div>
            <div class="wizard__body">
                <div class="all-set">
                    <div class="all-set__backgrounds" aria-hidden="true" role="presentation"></div>
                    <div class="all-set__wrap container">
                        <div class="all-set__preview">
                            <div class="spot" style="background-color: #65758A;">
                                <div class="spot__members">
                                    <img class="spot__logo"
                                         srcset="../temp/organization-a-44x44@2x.jpg 2x"
                                         src="../temp/organization-a-44x44.jpg"
                                         width="44"
                                         height="44"
                                         alt=""
                                    >
                                </div>
                                <div class="spot__data" style="color: #FFFFFF;">
                                    <div class="spot__year">2023</div>
                                    <div class="spot__class">AMFS Class</div>
                                </div>
                            </div>
                        </div>
                        <h1 class="all-set__heading">
                            You’re all set!
                        </h1>
                        <div class="all-set__description">
                            Get started by visiting AMFS on Stagetime to connect with colleagues.
                        </div>
                        <a class="all-set__action button button--dropdown-submit" href="#">
                            View AMFS on Stagetime
                        </a>
                        <div class="all-set__table">
                            <h3 class="all-set__sub-heading">
                                As a member of the AMFS 2023 Community you get access to:
                            </h3>
                            <div class="all-set__list">
                                <div class="all-set__item">
                                    <b class="all-set__index">
                                        1
                                    </b>
                                    <div class="all-set__title">
                                        Priority support
                                    </div>
                                    <div class="all-set__note">
                                        Get help from Team Stagetime, anytime.
                                    </div>
                                </div>
                                <div class="all-set__item">
                                    <b class="all-set__index">
                                        2
                                    </b>
                                    <div class="all-set__title">
                                        Exclusive access to AMFS Community
                                    </div>
                                    <div class="all-set__note">
                                        Get help from Team Stagetime, anytime.
                                    </div>
                                </div>
                                <div class="all-set__item">
                                    <b class="all-set__index">
                                        3
                                    </b>
                                    <div class="all-set__title">
                                        Profile badge
                                    </div>
                                    <div class="all-set__note">
                                        Get help from Team Stagetime, anytime.
                                    </div>
                                </div>
                                <div class="all-set__item">
                                    <b class="all-set__index">
                                        4
                                    </b>
                                    <div class="all-set__title">
                                        Early access to premium features
                                    </div>
                                    <div class="all-set__note">
                                        Get help from Team Stagetime, anytime.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- 3/3 Modals: -->
        <!-- No modal windows on this page -->




        <div class="size-checker" role="presentation" aria-hidden="true"></div>

        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.6.0.min.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/wavesurfer/wavesurfer.js"></script>
        <script src="../vendors/expanding-textareas/dist/expanding.jquery.js"></script>
        <script src="../vendors/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script src="../vendors/sortable/Sortable.min.js"></script>
        <script src="../vendors/bootstrap/bootstrap-modal-only.js"></script>
        <script src="../vendors/jquery-mousewheel/jquery.mousewheel.min.js"></script>
        <script src="../vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="../vendors/select2/js/select2.min.js"></script>
        <script src="../scripts/_global.js?1678299205"></script>
        <script src="../scripts/_operations.js?1678299205"></script>
        <script src="../scripts/_profile.js?1678299205"></script>
        <script src="../scripts/_sidebar.js?1678299205"></script>
        <script src="../scripts/_mfp.js?1678299205"></script>
        <script src="../scripts/_search.js?1678299205"></script>
        <script src="../scripts/_carousel.js?1678299205"></script>
        <script src="../scripts/_player3.js?1678299205"></script>
        <script src="../scripts/_updates.js?1678299205"></script>
        <script src="../scripts/_side.js?1678299205"></script>
        <script src="../scripts/_happening.js?1678299205"></script>
        <script src="../scripts/_input.js?1678299205"></script>
        <script src="../scripts/_edit-post.js?1678299205"></script>
        <script src="../scripts/_post-form.js?1678299205"></script>
        <script src="../scripts/_button.js?1678299205"></script>
        <script src="../scripts/_quick-message.js?1678299205"></script>
        <script src="../scripts/_explore.js?1678299205"></script>
        <script src="../scripts/_shortcut.js?1678299205"></script>
        <script src="../scripts/_scrollbar.js?1678299205"></script>
        <script src="../scripts/_overlay.js?1678299205"></script>
        <script src="../scripts/_notifications.js?1678299205"></script>
        <script src="../scripts/_enter.js?1678299205"></script>
        <script src="../scripts/_suggesting.js?1678299205"></script>
        <script src="../scripts/_chat.js?1678299205"></script>
        <script src="../scripts/_badge.js?1678299205"></script>
        <script src="../scripts/_media-bar.js?1678299205"></script>
        <script src="../scripts/_settings.js?1678299205"></script>
        <script src="../scripts/_slideshow.js?1678299205"></script>
        <script src="../scripts/_expandable-bio.js?1678299205"></script>
        <script src="../scripts/_parallax.js?1678299205"></script>
        <script src="../scripts/_simple-parallax.js?1678299205"></script>
        <script src="../scripts/_anchor.js?1678299205"></script>
        <script src="../scripts/_modal.js?1678299205"></script>
        <script src="../scripts/_full-media-card.js?1678299205"></script>
        <script src="../scripts/_color-selection.js?1678299205"></script>
        <script src="../scripts/_layout-type.js?1678299205"></script>
        <script src="../scripts/_sortable.js?1678299205"></script>
        <script src="../scripts/_biography.js?1678299205"></script>
        <script src="../scripts/_full-biography.js?1678299205"></script>
        <script src="../scripts/_media-clip.js?1678299205"></script>
        <script src="../scripts/_typing.js?1678299205"></script>
        <script src="../scripts/_circles.js?1678299205"></script>
        <script src="../scripts/_brief.js?1678299205"></script>
        <script src="../scripts/_non-performer.js?1678299205"></script>
        <script src="../scripts/_classic.js?1678299205"></script>
        <script src="../scripts/_owl-carousel.js?1678299205"></script>
        <script src="../scripts/_add-filter.js?1678299205"></script>
        <script src="../scripts/_select2.js?1678299205"></script>
        <script src="../scripts/_multiline.js?1678299205"></script>
        <script src="../scripts/_network-news.js?1678299205"></script>
        <script src="../scripts/_vertical-artist.js?1678299205"></script>
        <script src="../scripts/_tabs.js?1678299205"></script>
        <script src="../scripts/_picking.js?1678299205"></script>
        <script src="../scripts/_copying.js?1678299205"></script>
        <script src="../scripts/_spotlight.js?1678299205"></script>


    </body>
</html>



