<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">-->
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="container container--organization">


            <section class="group">
                <h3 class="group__heading title title--heading-1">
                    Artists
                </h3>
                <div class="group__control-panel">
                    1
                </div>
                <div class="group__listing">
                    <div class="squared-person">
                        <a class="squared-person__preview-link" href="#">
                            <img class="squared-person__image"
                                 srcset="../temp/person-c-146x146@2x.jpg 2x"
                                 src="../temp/person-c-146x146.jpg"
                                 width="146"
                                 height="146"
                                 alt=""
                            >
                        </a>
                        <div class="squared-person__data">
                            <div class="squared-person__name">
                                <a class="squared-person__link" href="#">
                                    Zoey Preston
                                </a>
                            </div>
                            <div class="squared-person__note">
                                Soprano
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>


    </body>
</html>
