.team {

}
    .team__head {
        position: relative;
        padding-top: 32px;
    }
        .team__head::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 43px;
            display: block;
            height: 1px;
            background-color: #DCDCDC;
        }

        .team__heading {
            margin-top: 0;
            margin-bottom: 0;
            position: relative;
            display: inline-block;
            vertical-align: top;
            padding-right: 32px;
            background-color: #FFFFFF;
        }

        .team__add {
            width: 102px;
            position: absolute;
            right: -26px;
            top: 1px;
            background-color: #FFFFFF;
            display: flex;
            justify-content: flex-end;
        }

    .team__lineup {
        overflow-x: auto;
        margin-left: 52px;
    }
        .team__ribbon {
            display: inline-flex;
            align-items: flex-start;
            vertical-align: top;
        }
            .team__item {
                flex-shrink: 0;
            }
